Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.0.3'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.20.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v18.1.8
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: mkninja
    name: create build system
    entry: lua tools/mkninja.lua
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: ninja -v
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

runner: fix event stubs
  wowless/runner.lua
Due: luacheck

refactor wowapi.loader into apiloader module
  CMakeLists.txt
  data/modules.yaml
  wowapi/loader.lua
  wowless/env.lua
  wowless/modules/apiloader.lua
Due: luacheck, yamlfmt

refactor wowapi.uiobjects into uiobjectloader module
  CMakeLists.txt
  data/modules.yaml
  wowapi/uiobjects.lua
  wowless/modules/uiobjectloader.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

runner passes modules around, fixes #447
  spec/wowless/addon_spec.lua
  wowless.lua
  wowless/env.lua
  wowless/runner.lua
Due: luacheck

prep: all uiobject methods have a datalua table
  data/modules.yaml
  tools/prep.lua
  wowless/modules/uiobjectloader.lua
Due: luacheck, yamlfmt

align on quotes for project headers
  wowless/bubblewrap.c
  wowless/ext.c
Due: none

prep: apis have all the info
  data/modules.yaml
  tools/prep.lua
  wowless/modules/apiloader.lua
Due: luacheck, yamlfmt

align method loaders impl and src fields
  tools/prep.lua
  wowless/modules/apiloader.lua
  wowless/modules/uiobjectloader.lua
Due: luacheck

factor GetAtlasInfo logic into atlas module
  CMakeLists.txt
  data/impl.yaml
  data/impl/C_Texture.GetAtlasInfo.lua
  data/impl/C_Texture.GetAtlasInfo_11_1_5.lua
  data/modules.yaml
  wowless/modules/atlas.lua
Due: luacheck, yamlfmt

schema: better error messages on taggedunion
  spec/wowapi/schema_spec.lua
  wowapi/schema.lua
Due: luacheck

bump wow to 11.2.0.62493
  data/products/wow/build.yaml
Due: yamlfmt

bump wow_classic to 5.5.0.62518
  data/products/wow_classic/build.yaml
Due: yamlfmt

atlas: support returning multiple functions
  data/impl/C_Texture.GetAtlasInfo.lua
  data/impl/C_Texture.GetAtlasInfo_11_1_5.lua
  wowless/modules/atlas.lua
Due: luacheck

replace lsqlite3 with custom bindings
  CMakeLists.txt
  tools/dblist.lua
  tools/sqlite.lua
  wowless/sqlite.c
Due: luacheck

progress
  CMakeLists.txt
  tools/dblist.lua
  tools/sqlite.lua
  wowless/sqlite.c
Due: luacheck

just call this thing lsqlit3 for now
  CMakeLists.txt
Due: none

opens files
  wowless/sqlite.c
Due: none

rearrange
  wowless/sqlite.c
Due: none

consolidate open methods
  wowless/sqlite.c
Due: none

stmt reset
  wowless/sqlite.c
Due: none

passes tests now
  wowless/sqlite.c
Due: none

introduce a test
  spec/wowless/sqlite_spec.lua
  tools/mkninja.lua
  wowless/sqlite.c
Due: luacheck

implement stmt urows
  spec/wowless/sqlite_spec.lua
  wowless/sqlite.c
Due: luacheck

dburows delegates to dbprepare and stmturowsaux
  wowless/sqlite.c
Due: none

pre-commit
  spec/wowless/sqlite_spec.lua
Due: luacheck

stmt rows
  spec/wowless/sqlite_spec.lua
  wowless/sqlite.c
Due: luacheck

bind values
  spec/wowless/sqlite_spec.lua
  wowless/sqlite.c
Due: luacheck

clean up stmtbindvalues a bit
  wowless/sqlite.c
Due: none

stepaux
  wowless/sqlite.c
Due: none

nrows
  spec/wowless/sqlite_spec.lua
  wowless/sqlite.c
Due: luacheck

bind nils
  wowless/sqlite.c
Due: none

replace lsqlite3 with custom bindings (#450)
  CMakeLists.txt
  spec/wowless/sqlite_spec.lua
  tools/mkninja.lua
  wowless/sqlite.c
Due: luacheck

rename lsqlite3 to wowless.sqlite everywhere
  CMakeLists.txt
  spec/wowless/sqlite_spec.lua
  tools/dblist.lua
  tools/sqlite.lua
  wowless/modules/sqlitedb.lua
  wowless/runner.lua
  wowless/sqlite.c
Due: luacheck

runner: wowless.sqlite is not special
  wowless/runner.lua
Due: luacheck

remove never-used --debug flag
  wowless.lua
  wowless/runner.lua
Due: luacheck

stop exposing env and secureenv from api module
  data/impl.yaml
  data/impl/C_UI.GetUIParent.lua
  data/impl/C_UI.GetWorldFrame.lua
  data/impl/C_UIColor.GetColors.lua
  data/impl/GetChatWindowMessages.lua
  data/impl/GetClickFrame.lua
  data/modules.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/Region/SetPoint.lua
  spec/wowless/addon_spec.lua
  spec/wowless/modules/typecheck_spec.lua
  wowless/env.lua
  wowless/modules/api.lua
  wowless/modules/env.lua
  wowless/modules/loader.lua
  wowless/modules/scripts.lua
  wowless/modules/typecheck.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

start messing with emmylua a bit
  .emmyrc.json
  .luacheckrc
  meta.lua
  wowless/modules/api.lua
  wowless/modules/calendar.lua
Due: luacheck

clean up some emmylua hints
  wowless/env.lua
  wowless/render.lua
Due: luacheck

bump wow_classic to 5.5.0.62655
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow to 11.2.0.62680
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
Due: yamlfmt
