Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: build/cmake/yamlfmt
  language: system

bump wow to 12.0.1.65527
  data/products/wow/build.yaml
Due: yamlfmt

add isBound return to mainline GetTradePlayerItemInfo
  data/products/wow/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

bump wowt to 12.0.5.65529
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

data/test: simplify string.trim no-arg error test
  data/test/string.trim.lua
Due: luacheck

data/test: add impl tests for string.trim (#568)
  data/test.yaml
  data/test/string.trim.lua
Due: luacheck, yamlfmt

mainloop: forward elapsed to OnUpdate handlers and require callers to pass it
  wowless/modules/mainloop.lua
  wowless/modules/time.lua
  wowless/runner.lua
Due: luacheck

typecheck: add nil as a first-class type with stub/impl/output checks
  spec/wowless/modules/typecheck_align_spec.lua
  tools/prep.lua
  wowless/modules/ctypecheck.c
  wowless/modules/typecheck.lua
  wowless/typecheck.h
Due: luacheck

typecheck: remove impl check/output functions for unknown type
  spec/wowless/modules/typecheck_align_spec.lua
  tools/prep.lua
  wowless/modules/ctypecheck.c
  wowless/typecheck.h
Due: luacheck

typecheck: use output-specific error helpers instead of luaL_typerror
  wowless/stubs.c
  wowless/stubs.h
  wowless/typecheck.h
Due: none

data/test: add impl test for C_SpecializationInfo.GetSpecializationInfo
  data/test.yaml
  data/test/C_SpecializationInfo.GetSpecializationInfo.lua
Due: luacheck, yamlfmt

build: work around egress proxy blocking gnu.org/kernel.org/gitlab.freedesktop.org
  vcpkg.json
Due: none

drop unused addon/WowlessTracker
  addon/WowlessTracker/WowlessTracker.toc
  addon/WowlessTracker/tracker.lua
  tools/gentest.lua
Due: luacheck

typecheck: add imploutputdefaultnumber; use it for number outputs with defaults
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

typecheck: generalize imploutputdefault to boolean and string; inline into generated code
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

wowless: load default addons unless -a is specified
  CMakeLists.txt
  wowless.lua
Due: luacheck

typecheck/prep: add implcheck/imploutput support for enum, delegating to number
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

build: move binaryDir from build/cmake to build
  .gitignore
  .pre-commit-config.yaml
  .vscode/c_cpp_properties.json
  .vscode/tasks.json
  CLAUDE.md
  CMakePresets.json
  bin/run.sh
  spec/wowless/addon_spec.lua
  tools/db2dump.lua
  tools/docs.lua
  tools/gentest.lua
  tools/rewrite.lua
  wowless.lua
  wowless/modules/sqlitedb.lua
Due: luacheck

build: use repo-relative filenames in lua2c/file2c output
  CMakeLists.txt
  tools/file2c.lua
Due: luacheck

prep: support nowrap in moduledelegate, use it for base64 functions
  data/impl.yaml
  data/schemas/impl.yaml
  tools/prep.lua
Due: luacheck, yamlfmt

typecheck/prep: add uiaddon C stub and impl support
  data/modules.yaml
  spec/wowless/modules/typecheck_align_spec.lua
  tools/prep.lua
  wowless/modules/cgencode.lua
  wowless/modules/ctypecheck.c
  wowless/modules/typecheck.lua
  wowless/typecheck.h
Due: luacheck, yamlfmt

bump wow_classic_era to 1.15.8.66564
  CMakeLists.txt
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow_classic to 5.5.3.66565
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow_anniversary to 2.5.5.66567
  data/products/wow_anniversary/apis.yaml
  data/products/wow_anniversary/build.yaml
  data/products/wow_anniversary/events.yaml
Due: yamlfmt

prep: rename simple_input/output_types to impl_input/output_types
  tools/prep.lua
Due: luacheck

cmake: fix duplicate source, add missing deps, add debug preset
  CMakeLists.txt
  CMakePresets.json
Due: none

cmake: revert unnecessary bootstraplua DEPENDS additions
  CMakeLists.txt
Due: none

cmake: switch to Ninja Multi-Config generator
  .pre-commit-config.yaml
  CMakePresets.json
  bin/run.sh
Due: none

cmake: drop debug build preset, use explicit Release configuration
  CMakePresets.json
Due: none

cmake: fix JSON key ordering for pretty-format-json
  CMakePresets.json
Due: none

ci: use presets in build jobs, add Debug builds
  .github/workflows/test.yml
Due: none

ci: revert test.yml changes
  .github/workflows/test.yml
Due: none

gha: add buildpreset job with Windows DLL path fix
  .github/workflows/test.yml
Due: none

build: copy runtime DLLs next to runtests on Windows
  CMakeLists.txt
Due: none

gha: fix vcpkg DLL path for manifest mode
  .github/workflows/test.yml
Due: none

build: revert runtime DLL copy for runtests
  CMakeLists.txt
Due: none

util: fix readfile filesystem cache on Windows
  wowless/util.lua
Due: luacheck

util: also normalize backslashes in readfile path resolve
  wowless/util.lua
Due: luacheck

typecheck/prep: add unit C impl input/output support
  data/modules.yaml
  spec/wowless/modules/typecheck_align_spec.lua
  tools/prep.lua
  wowless/modules/cgencode.lua
  wowless/modules/ctypecheck.c
  wowless/typecheck.h
Due: luacheck, yamlfmt

bump wow to 12.0.1.66562
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/globals.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

ci: drop name from build matrix
  .github/workflows/test.yml
Due: none

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
