Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
  language: system

InsertMode stringenum
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
  data/stringenums.yaml
Due: yamlfmt

docs: allow prototypes on apis with stdlib impls
  data/products/wow_classic_beta/apis.yaml
  data/products/wowt/apis.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

docs: enforce no redundancy among uiobjects and methods
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  spec/data/docs_spec.lua
Due: luacheck, yamlfmt

docs: process all of AnimationGroup
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

docs: process all of Cooldown
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.7.60663
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

ClassicExpansionAtLeast: always true in standard
  data/impl/ClassicExpansionAtLeast.lua
  data/test/ClassicExpansionAtLeast.lua
Due: luacheck

bump wowt to 11.1.7.60799
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
Due: yamlfmt

bump wow to 11.1.5.60822
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
Due: yamlfmt

docs: process all methods when uiobject is specified in config
  tools/docs.lua
Due: luacheck

docs: process all of EditBox
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

sql: isolate cursor/lookup distinction to loading
  tools/prep.lua
  wowapi/loader.lua
Due: luacheck

fix fallout from lukka/get-cmake#193
  .github/workflows/test.yml
Due: none

sql: move index cfg to yaml, fixes #393
  data/schemas/sql.yaml
  data/sql.yaml
  tools/dbdefs.lua
  tools/dblist.lua
  tools/fetch.lua
  tools/mkninja.lua
  tools/sqlite.lua
Due: luacheck, yamlfmt

bump wow_classic_beta to 5.5.0.60802
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/cvars.yaml
Due: yamlfmt

align debugprofilestart/stop prototypes
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

clean up impl schema
  data/schemas/impl.yaml
Due: yamlfmt

import unused instride from docs
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/function.yaml
  data/schemas/uiobjects.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

use one-arg table.concat where appropriate
  addon/Wowless/uiobjects.lua
  spec/wowless/png_spec.lua
  tools/docs.lua
  tools/prep.lua
  wowless/blp.lua
  wowless/loader.lua
  wowless/png.lua
Due: luacheck, addon-chmod

bump wow_classic to 4.4.2.60895
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wowt to 11.1.7.60915
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/globals.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.7.60932
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

uiobject prep: move return to gencode
  tools/prep.lua
  wowapi/uiobjects.lua
Due: luacheck

uiobject prep: setter typespecs in gencode
  tools/prep.lua
  wowapi/uiobjects.lua
Due: luacheck

bump wowt to 11.1.7.61048
  data/products/wowt/build.yaml
Due: yamlfmt

uiobject stub input checks
  tools/prep.lua
Due: luacheck

SHOW_LFG_EXPAND_SEARCH_PROMPT does not fire in classic
  data/products/wow_classic/config.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_ptr/config.yaml
  tools/prep.lua
Due: luacheck, yamlfmt

fire UPDATE_BINDINGS after loading bindings
  wowless/loader.lua
Due: luacheck

keyvalue type tests and fixes
  addon/Wowless/test.xml
  data/uiobjects/Region/SetScale.lua
  wowless/loader.lua
Due: luacheck, addon-chmod

bump wow_classic_beta to 5.5.0.61051
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/structures.yaml
  data/products/wow_classic_beta/uiobjects.yaml
Due: yamlfmt

xml scale origin uses zero offsets
  addon/Wowless/uiobjects.lua
  tools/prep.lua
  wowless/loader.lua
Due: luacheck, addon-chmod

scale origin getter/setter
  addon/Wowless/uiobjects.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: luacheck, addon-chmod, yamlfmt

scale origin xml tests
  addon/Wowless/test.xml
  wowless/loader.lua
Due: luacheck, addon-chmod

animation settarget changes
  addon/Wowless/uiobjects.lua
  data/products/wow/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_beta/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  tools/prep.lua
Due: luacheck, addon-chmod, yamlfmt

prep: replace skipchecks with instride filter, fixes #413
  tools/prep.lua
Due: luacheck

prep: clean instride check nit
  tools/prep.lua
Due: luacheck

docs: initial support for uiobject method lies
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

prep: support instride in uiobject stubs, fixes #414
  tools/prep.lua
Due: luacheck

bubblewrap tests
  spec/wowless/bubblewrap_spec.lua
  tools/mkninja.lua
Due: luacheck

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
