Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.0.3'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.20.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v18.1.8
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: mkninja
    name: create build system
    entry: lua tools/mkninja.lua
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: ninja -v
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

disable CRAFT_SHOW
  data/products/wow_classic_beta/config.yaml
Due: yamlfmt

bump wow to 11.1.5.60568
  data/products/wow/build.yaml
Due: yamlfmt

toc: filters can end in a colon
  wowless/toc.lua
Due: luacheck

never send INVENTORY_SEARCH_UPDATE
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
Due: yamlfmt

TransmogLocation structure
  data/products/wow_classic_beta/structures.yaml
Due: yamlfmt

stub for IsRangedSlotShown
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

bump wow_classic_beta to 5.5.0.60481 (#408)
  CMakeLists.txt
  bin/install-addons.sh
  data/gametypes.yaml
  data/products.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/structures.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_beta/xml.yaml
  spec/wowless/toc_spec.lua
  tools/mkninja.lua
Due: luacheck, yamlfmt

bump wow_classic_beta to 5.5.0.60548
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/uiobjects.yaml
Due: yamlfmt

bump wowt to 11.1.7.60520
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

UpdateUIParentPosition is hooked
  data/products/wow/apis.yaml
  data/products/wow/config.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/config.yaml
Due: yamlfmt

fix hooked globals in mists
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/config.yaml
Due: yamlfmt

refactor impl schema
  data/schemas/impl.yaml
Due: yamlfmt

replace nowrap:true with elune api checks
  addon/Wowless/generated.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  tools/gentest.lua
  wowapi/loader.lua
Due: luacheck, addon-chmod, yamlfmt

replace nowrap:false with loader hacks
  data/products/wow/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/schemas/apis.yaml
  data/schemas/function.yaml
  wowapi/loader.lua
Due: luacheck, yamlfmt

nuke aliases provided by Compat.lua in modern builds
  addon/Wowless/generated.lua
  addon/Wowless/test.lua
  addon/Wowless/test.xml
  addon/Wowless/util.lua
  data/products/wow/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: luacheck, addon-chmod, yamlfmt

stdlib uniqueness
  data/impl.yaml
  data/impl/string.join.lua
  data/impl/string.split.lua
  data/impl/string.trim.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  spec/data/apis_spec.lua
  wowapi/loader.lua
Due: luacheck, yamlfmt

stdlibs are now impls
  data/impl.yaml
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/schemas/apis.yaml
  data/schemas/impl.yaml
  spec/data/apis_spec.lua
  spec/data/impl_spec.lua
  tools/docs.lua
  tools/gentest.lua
  tools/mkninja.lua
  tools/prep.lua
Due: luacheck, yamlfmt

migrate issecure test to data/test
  addon/Wowless/api.lua
  data/test.yaml
  data/test/issecure.lua
Due: luacheck, addon-chmod, yamlfmt

issecurevariable impl test
  addon/Wowless/api.lua
  addon/Wowless/generated.lua
  data/test.yaml
  data/test/issecurevariable.lua
Due: luacheck, addon-chmod, yamlfmt

error impl test
  addon/Wowless/api.lua
  data/test.yaml
  data/test/error.lua
Due: luacheck, addon-chmod, yamlfmt

table.wipe impl test
  addon/Wowless/api.lua
  data/test.yaml
  data/test/table.wipe.lua
Due: luacheck, addon-chmod, yamlfmt

string.format impl test
  addon/Wowless/test.lua
  data/test.yaml
  data/test/string.format.lua
Due: luacheck, addon-chmod, yamlfmt

issecurevariable table test fixes
  data/test/issecurevariable.lua
Due: luacheck

issecurevariable error tests
  data/test/issecurevariable.lua
Due: luacheck

string.format error tests
  data/test/string.format.lua
Due: luacheck

bump wowt to 11.1.7.60672
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/globals.yaml
Due: yamlfmt

hooksecurefunc impl test
  addon/Wowless/api.lua
  addon/Wowless/generated.lua
  data/test.yaml
  data/test/hooksecurefunc.lua
Due: luacheck, addon-chmod, yamlfmt

secureexecuterange impl test
  addon/Wowless/api.lua
  data/test.yaml
  data/test/secureexecuterange.lua
Due: luacheck, addon-chmod, yamlfmt

uiobjectimpl load test
  spec/data/uiobjectimpl_spec.lua
Due: luacheck

loadstring impl test
  addon/Wowless/api.lua
  data/test.yaml
  data/test/loadstring.lua
Due: luacheck, addon-chmod, yamlfmt

implementation and test for IsGMClient
  addon/Wowless/api.lua
  data/impl.yaml
  data/impl/IsGMClient.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/test.yaml
  data/test/IsGMClient.lua
Due: luacheck, addon-chmod, yamlfmt

retire now-useless addon api.lua
  addon/Wowless/Wowless.toc
  addon/Wowless/api.lua
  tools/mkninja.lua
Due: luacheck, addon-chmod

implementation and test for IsPublicBuild
  addon/Wowless/generated.lua
  data/impl.yaml
  data/impl/IsPublicBuild.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/test.yaml
  data/test/IsPublicBuild.lua
Due: luacheck, addon-chmod, yamlfmt

implementation and test for IsDebugBuild
  addon/Wowless/generated.lua
  data/impl.yaml
  data/impl/IsDebugBuild.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/test.yaml
  data/test/IsDebugBuild.lua
Due: luacheck, addon-chmod, yamlfmt

gametypes.yaml values are records
  data/gametypes.yaml
  data/schemas/gametypes.yaml
  spec/data/families_spec.lua
  spec/wowless/toc_spec.lua
  wowless/loader.lua
  wowless/toc.lua
Due: luacheck, yamlfmt

ClassicExpansionAtLeast
  data/gametypes.yaml
  data/impl.yaml
  data/impl/ClassicExpansionAtLeast.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/schemas/gametypes.yaml
  data/test.yaml
  data/test/ClassicExpansionAtLeast.lua
Due: luacheck, yamlfmt

bump wow_classic_beta to 5.5.0.60700
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/structures.yaml
Due: yamlfmt

spelled ConsoleGetAllCommands
  addon/Wowless/generated.lua
  data/impl.yaml
  data/impl/ConsoleGetAllCommands.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: luacheck, addon-chmod, yamlfmt

docs ScriptRegion typedefs to Region, stub nil
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/structures.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
  tools/prep.lua
Due: luacheck, yamlfmt

docs SimpleAnimatableObjectAPI are Regions not Animations
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt
