Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

omg the test passes
  addon/Wowless/uiobjects.lua
  wowless/modules/points.lua
  wowless/modules/region.lua
Due: luacheck

stubs to avoid StaticPopups on PEW
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

fix render wrt points format changes
  wowless/render.lua
Due: luacheck

stubs to avoid StaticPopups on PEW
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

bump wow_classic to 5.5.1.63421
  data/products/wow_classic/build.yaml
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

frame rect state machine test
  .luacheckrc
  addon/Wowless/uiobjects.lua
Due: luacheck

FontString test
  addon/Wowless/uiobjects.lua
Due: luacheck

now it passes in the client
  addon/Wowless/statemachine.lua
  addon/Wowless/uiobjects.lua
Due: luacheck

working better
  addon/Wowless/uiobjects.lua
Due: luacheck

statemachine: better path error reporting
  addon/Wowless/statemachine.lua
Due: luacheck

11size
  addon/Wowless/uiobjects.lua
Due: luacheck

more stuff
  addon/Wowless/uiobjects.lua
Due: luacheck

s/point/blpoint
  addon/Wowless/uiobjects.lua
Due: luacheck

emscripten
  CMakeLists.txt
  CMakePresets.json
Due: none

start some font object tests
  addon/Wowless/uiobjects.lua
Due: luacheck

GetFontObject/SetFontObject as getter/setter
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/FontInstance/GetFontObject.lua
Due: luacheck, yamlfmt

prevent font object loops
  CMakeLists.txt
  addon/Wowless/uiobjects.lua
  data/modules.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjectimpl.yaml
  wowless/modules/fontinstance.lua
Due: luacheck, yamlfmt

SimpleHTML does not inherit FontInstance
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

EditBox/MessageFrame non-nil font objects test
  addon/Wowless/uiobjects.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjectimpl.yaml
  wowless/modules/fontinstance.lua
Due: luacheck, yamlfmt

bump wow_classic to 5.5.1.63449
  data/products/wow_classic/build.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/globals.yaml
Due: yamlfmt

usage msg config; font creation tests
  addon/Wowless/uiobjects.lua
  data/impl/CreateFont.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/schemas/function.yaml
  tools/prep.lua
  wowless/modules/funcheck.lua
Due: luacheck, yamlfmt

implement GetFileIDFromPath
  data/impl.yaml
  data/impl/GetFileIDFromPath.lua
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
  data/sql.yaml
  data/sql/GetFileIDFromPath.sql
  data/test.yaml
  data/test/GetFileIDFromPath.lua
Due: luacheck, yamlfmt

fiddle with TextureCoordTranslation factory
  addon/Wowless/generated.lua
  addon/Wowless/test.xml
  addon/Wowless/uiobjects.lua
Due: luacheck

hack in allocated font objects for editbox and messageframe
  addon/Wowless/generated.lua
  data/modules.yaml
  tools/gentest.lua
  tools/prep.lua
  wowless/modules/gencode.lua
  wowless/modules/uiobjectloader.lua
Due: luacheck, yamlfmt

bump wowt to 11.2.5.63506
  data/products/wowt/build.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
Due: yamlfmt

bump wow_classic to 5.5.1.63538
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

bump wowt to 11.2.5.63660
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/events.yaml
  data/products/wowt/structures.yaml
Due: yamlfmt

CreateFrame errors with no wheretext
  addon/Wowless/generated.lua
  wowless/modules/api.lua
Due: luacheck

simplify uiobject test harness
  addon/Wowless/generated.lua
Due: luacheck

tests: replace Minimap special case with singleton logic
  addon/Wowless/generated.lua
  tools/gentest.lua
Due: luacheck

addon: refactor EditBox factory
  addon/Wowless/generated.lua
Due: luacheck

gentest: small objtype simplification
  tools/gentest.lua
Due: luacheck

uiobject tests: replace frametype with isa table
  addon/Wowless/generated.lua
  tools/gentest.lua
Due: luacheck

getter/setter for ControlPoint/Translation offset
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

TextureCoordTranslation is not a Translation
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

uiobject isa client tests
  addon/Wowless/generated.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  tools/gentest.lua
Due: luacheck, yamlfmt

ParentedObjectBase objectType is Object
  addon/Wowless/generated.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: luacheck, yamlfmt

move IsObjectType/GetObjectType into uiobjecttypes module
  data/uiobjectimpl.yaml
  data/uiobjects/UIObject/GetObjectType.lua
  data/uiobjects/UIObject/IsObjectType.lua
  wowless/modules/uiobjecttypes.lua
Due: luacheck, yamlfmt

addon: lowercase isa tests
  addon/Wowless/generated.lua
Due: luacheck

a little tool to summarize LUA_WARNING error diffs
  CMakeLists.txt
  tools/warnings.lua
Due: luacheck
