Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.0.3'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.20.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v18.1.8
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: mkninja
    name: create build system
    entry: lua tools/mkninja.lua
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: ninja -v
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

support SDL on linux
  .github/workflows/test.yml
  CMakeLists.txt
  vcpkg.json
Due: none

fix test.yml
  .github/workflows/test.yml
Due: none

try again
  .github/workflows/test.yml
Due: none

jinja2 in devcontainer
  .devcontainer/Dockerfile
Due: none

use pip
  .devcontainer/Dockerfile
Due: none

support SDL on linux (#468)
  .devcontainer/Dockerfile
  .github/workflows/test.yml
  CMakeLists.txt
  vcpkg.json
Due: none

bump wow to 11.2.0.63003
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
Due: yamlfmt

sdlrender: write png, like wowlessrender
  CMakeLists.txt
  tools/sdl.c
  tools/sdlrender.lua
Due: luacheck

so long, imagemagick
  CMakeLists.txt
  vcpkg.json
  wowless/render.lua
Due: luacheck

bump wow_classic_ptr to 5.5.1.63014
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
Due: yamlfmt

render: use sdl3-image to write pngs
  CMakeLists.txt
  tools/sdl.c
  tools/sdlrender.lua
  vcpkg.json
Due: luacheck

gha: enable vcpkg cache on devcontainer path
  .github/workflows/test.yml
Due: none

render: use sdl3-image to write pngs (#469)
  CMakeLists.txt
  tools/sdl.c
  tools/sdlrender.lua
  vcpkg.json
Due: luacheck

farewell to bespoke png code
  CMakeLists.txt
  spec/wowless/blp_spec.lua
Due: luacheck

fix up
  .github/workflows/test.yml
Due: none

gha: attempt vcpkg caching with devcontainer
  .github/workflows/test.yml
Due: none

actually remove the dead png stuff
  spec/wowless/green.png
  spec/wowless/png_spec.lua
  spec/wowless/temp.png
  tools/render.lua
  wowless/png.lua
Due: luacheck

gha: another attempt at devcontainer vcpkg cache
  .github/workflows/test.yml
Due: none

gha: another attempt at devcontainer vcpkg cache (#471)
  .github/workflows/test.yml
Due: none

remove setglobaltable from runtests
  tools/runtests.lua
  wowless/runner.lua
Due: luacheck

bubblewrap: always restore incoming taint
  spec/wowless/bubblewrap_spec.lua
  wowless/bubblewrap.c
Due: luacheck

TextureBase:SetGradient resets vertex color #467
  addon/Wowless/uiobjects.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/Texture/SetGradient.lua
Due: luacheck, addon-chmod, yamlfmt

fix linux for sdl
  .github/workflows/test.yml
Due: none

normalize getfiles on unix path separators
  spec/data/impl_spec.lua
  spec/data/sql_spec.lua
  spec/data/test_spec.lua
  spec/data/uiobjectimpl_spec.lua
  wowless/util.lua
Due: luacheck

confirm that parenting back does not restore special field
  addon/Wowless/test.lua
Due: luacheck, addon-chmod

separate test for reparent and back
  addon/Wowless/test.lua
Due: luacheck, addon-chmod

never mind, this exact test existed already
  addon/Wowless/test.lua
Due: luacheck, addon-chmod

live rect
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

fix left and bottom return order on GetRect
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/Region/GetScaledRect.lua
Due: luacheck, yamlfmt

bump wowt to 11.2.5.63092
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
Due: yamlfmt

initial state test
  addon/Wowless/uiobjects.lua
Due: luacheck, addon-chmod

move region sizing methods into region module
  CMakeLists.txt
  data/modules.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/Region/GetCenter.lua
  data/uiobjects/Region/GetRight.lua
  data/uiobjects/Region/GetTop.lua
  wowless/modules/region.lua
Due: luacheck, yamlfmt

import docs for region rect methods
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

docs: remove skip_uiobject_methods facility
  data/schemas/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

bump wow_classic_ptr to 5.5.1.63111
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
Due: yamlfmt

go back to state machine test
  addon/Wowless/statemachine.lua
  addon/Wowless/uiobjects.lua
Due: luacheck, addon-chmod

addon: stop trimming state machine errors
  addon/Wowless/statemachine.lua
Due: luacheck, addon-chmod

more elaborate test
  addon/Wowless/uiobjects.lua
Due: luacheck, addon-chmod

GetNumPoints does not validate
  addon/Wowless/uiobjects.lua
Due: luacheck, addon-chmod
