Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

support "any" stubs
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

progress on count apis
  data/impl.yaml
  data/impl/table.count.single.lua
  data/impl/table.getcountinfo.lua
  data/products/wowxptr/apis.yaml
  data/test.yaml
  data/test/table.count.single.lua
  data/test/table.getcountinfo.lua
Due: luacheck, yamlfmt

fixed table methods
  addon/Wowless/generated.lua
  data/impl/table.count.single.lua
  data/impl/table.getcountinfo.lua
  data/products/wowxptr/apis.yaml
  data/schemas/function.yaml
  data/test/table.count.single.lua
  data/test/table.getcountinfo.lua
  tools/gentest.lua
  tools/prep.lua
Due: luacheck, yamlfmt

wowxptr: fix RadialProgress inheritance and add missing luaobject factories
  addon/Wowless/luaobjects.lua
  data/products/wowxptr/uiobjects.yaml
Due: luacheck, yamlfmt

bump wowxptr to 12.1.5.69848
  addon/Wowless/generated.lua
  addon/Wowless/luaobjects.lua
  data/impl.yaml
  data/impl/table.count.single.lua
  data/impl/table.getcountinfo.lua
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/enums.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/luaobjects.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/doctable.yaml
  data/schemas/function.yaml
  data/test.yaml
  data/test/table.count.single.lua
  data/test/table.getcountinfo.lua
  tools/gentest.lua
  tools/prep.lua
Due: luacheck, yamlfmt

wowxptr: errsv progress
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/enums.yaml
  data/products/wowxptr/globals.yaml
  data/schemas/doctable.yaml
  tools/autodocs.lua
  tools/docs.lua
  tools/errsv.lua
Due: luacheck, yamlfmt

wowxptr: test build and proper date
  data/products/wowxptr/build.yaml
Due: yamlfmt

wowxptr uses rawset for parentkeys
  data/products/wowxptr/config.yaml
Due: yamlfmt

errsv: propagate enum removals and detect framexml-set enums
  data/products/wowxptr/config.yaml
  data/products/wowxptr/enums.yaml
  tools/errsv.lua
Due: luacheck, yamlfmt

wowxptr: enummetafix
  data/products/wowxptr/config.yaml
Due: yamlfmt

wowxptr: barescriptwarning
  data/products/wowxptr/config.yaml
Due: yamlfmt

wowxptr: fix multiple true name issues
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

wowxptr: clean up deprecations
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/structures.yaml
Due: yamlfmt

wowxptr: createframetaint
  addon/Wowless/generated.lua
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
  wowless/modules/api.lua
Due: luacheck, yamlfmt

wowxptr: VectorGraphics fixes
  data/products/wowxptr/config.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

wowxptr: clean up event config
  data/products/wowxptr/events.yaml
Due: yamlfmt

wowxptr: renamed TimedSignalMap
  addon/Wowless/luaobjects.lua
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/luaobjects.yaml
Due: luacheck, yamlfmt

wowxptr: implicit god frames
  data/products/wowxptr/config.yaml
Due: yamlfmt

wowxptr: GetTextureMetatable, update xml
  data/impl.yaml
  data/impl/GetTextureMetatable.lua
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/xml.yaml
Due: luacheck, yamlfmt

vendor elune: trim to sources we actually build
  .mdl-style.rb
  .mdlrc
  CLAUDE.md
  README.md
  vendor/elune/.git-blame-ignore-revs
  vendor/elune/.gitattributes
  vendor/elune/.github/workflows/build.yaml
  vendor/elune/.gitignore
  vendor/elune/CHANGELOG.md
  vendor/elune/CMakeLists.txt
  vendor/elune/CMakePresets.json
  vendor/elune/README.md
  vendor/elune/cmake/CMakeUserPresets.json
  vendor/elune/cmake/Findacutest.cmake
  vendor/elune/cmake/Findreadline.cmake
  vendor/elune/cmake/Findutf8h.cmake
  vendor/elune/cmake/elune-config.cmake.in
  vendor/elune/cmake/elune-configure-target.cmake
  vendor/elune/cmake/elune-fetch-acutest.cmake
  vendor/elune/cmake/elune-fetch-utf8h.cmake
  vendor/elune/cmake/elune-target-copy-file.cmake
  vendor/elune/liblua/CMakeLists.txt
  vendor/elune/liblua/include/lua.hpp
  vendor/elune/lua/CMakeLists.txt
  vendor/elune/luac/CMakeLists.txt
  vendor/elune/luac/luac.c
  vendor/elune/tests/CMakeLists.txt
  vendor/elune/tests/luatest.c
  vendor/elune/tests/luatest_coroutine.lua
  vendor/elune/tests/luatest_profiling.lua
Due: luacheck

liblua: fix windows.h/bcrypt.h include order broken by clang-format
  vendor/elune/liblua/lauxlib.c
Due: none

wowxptr: implement table.keys in elune
  data/impl.yaml
  data/products/wowxptr/apis.yaml
  vendor/elune/liblua/ltablib.c
Due: yamlfmt

elune: collapse LUALIB_STANDARD/LUALIB_ELUNE into one library set
  elune/liblua/include/lualib.h
  elune/liblua/lbaselib.c
  elune/liblua/lbitlib.c
  elune/liblua/lcorolib.c
  elune/liblua/ldblib.c
  elune/liblua/linit.c
  elune/liblua/lmathlib.c
  elune/liblua/loadlib.c
  elune/liblua/loslib.c
  elune/liblua/lstrlib.c
  elune/liblua/ltablib.c
  elune/lua/lua.c
  tools/luamain.c
Due: none

elune: remove legacy compat.lua library
  .luacheckrc
  CMakeLists.txt
  elune/liblua/include/lualib.h
  elune/liblua/lcompatlib.c
  elune/liblua/linit.c
  meta.lua
Due: luacheck

apis: require data/test for stdlib impls with input/output specs
  data/test.yaml
  data/test/debugprofilestop.lua
  data/test/scrub.lua
  spec/data/apis_spec.lua
Due: luacheck, yamlfmt

wowxptr: implement table.keys in elune
  data/impl.yaml
  data/products/wowxptr/apis.yaml
  data/test.yaml
  data/test/table.keys.lua
  elune/liblua/ltablib.c
Due: luacheck, yamlfmt

elune: implement table.contains
  data/impl.yaml
  data/products/wowxptr/apis.yaml
  data/test.yaml
  data/test/table.contains.lua
  elune/liblua/ltablib.c
Due: luacheck, yamlfmt

reintroduce wow_classic_beta product
  data/gametypes.yaml
  data/products.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/enums.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/luaobjects.yaml
  data/products/wow_classic_beta/scripttypes.yaml
  data/products/wow_classic_beta/stringenums.yaml
  data/products/wow_classic_beta/structures.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_beta/xml.yaml
  spec/wowless/toc_spec.lua
  wowless/toc.lua
Due: luacheck, yamlfmt

add a native C impl style, and use it for table.removevalue
  CMakeLists.txt
  addon/Wowless/generated.lua
  addon/Wowless/util.lua
  data/impl.yaml
  data/products/wowxptr/apis.yaml
  data/schemas/impl.yaml
  data/test.yaml
  data/test/table.removevalue.lua
  spec/data/impl_spec.lua
  tools/gentest.lua
  tools/prep.lua
  wowless/native.c
  wowless/typecheck.h
Due: luacheck, yamlfmt

elune: remove unused luaL_newlib/luaL_newlibtable macros
  elune/liblua/include/lauxlib.h
Due: none

tablib: convert table.contains/table.keys to native impl style
  data/impl.yaml
  data/products/wowxptr/apis.yaml
  elune/liblua/ltablib.c
  wowless/native.c
Due: yamlfmt

templates: compute real template size instead of hardcoding 1x1
  wowless/modules/templates.lua
Due: luacheck

wow_classic_beta: reconcile data model against real-client and docs output
  data/impl.yaml
  data/impl/require.lua
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/enums.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
Due: luacheck, yamlfmt

wow_classic_beta: drop deprecated C_TransmogOutfitInfo weapon aliases
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/structures.yaml
Due: yamlfmt
