Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: build/cmake/yamlfmt
  language: system

stubs: warn on too many arguments in C stubs
  data/modules.yaml
  tools/prep.lua
  wowless/modules/cgencode.lua
  wowless/stubs.c
  wowless/stubs.h
  wowless/typecheck.h
Due: luacheck, yamlfmt

bump wow_classic_era to 1.15.8.66129
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow, wowxptr, and wow_beta to 12.0.1.66198
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/events.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/structures.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

stubs: handle nobubblewrap delegates via coutput
  tools/prep.lua
  wowless/stubs.c
Due: luacheck

stubs: separate nowrap from nobubblewrap
  data/impl.yaml
  data/schemas/impl.yaml
  spec/data/impl_spec.lua
  tools/prep.lua
  wowless/modules/apiloader.lua
  wowless/stubs.c
  wowless/stubs.h
Due: luacheck, yamlfmt

stubs: move impl stubs and cstub enter/exit to stubs.c/bubblewrap.c
  tools/prep.lua
  wowless/bubblewrap.c
  wowless/bubblewrap.h
  wowless/stubs.c
  wowless/stubs.h
Due: luacheck

stubs: generate per-impl implstub wrapper functions in coutput
  tools/prep.lua
Due: luacheck

stubs: add coutput support for impls with empty or undeclared inputs/outputs
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

typecheck: use uiobjecttypes.IsObjectType instead of method on object
  data/modules.yaml
  spec/wowless/modules/typecheck_spec.lua
  wowless/modules/typecheck.lua
Due: luacheck, yamlfmt

docs: document custom YAML parser behaviors in CLAUDE.md
  CLAUDE.md
Due: none

types: declarative type spec in data/types.yaml
  CMakeLists.txt
  data/types.yaml
  tools/gentypes.lua
  tools/prep.lua
  wowless/modules/typecheck.lua
  wowless/typecheck.h
Due: luacheck, yamlfmt

types: make implicitly_nilable a flag type
  data/types.yaml
Due: yamlfmt

types: unify lua_default and c_output into default field
  data/types.yaml
  tools/prep.lua
Due: luacheck, yamlfmt

build: generate typecheck.h into build dir instead of source tree
  CMakeLists.txt
  tools/gentypes.lua
  wowless/typecheck.h
Due: luacheck

types: add schema and yaml_spec enforcement
  CMakeLists.txt
  data/schemas/types.yaml
  spec/data/yaml_spec.lua
Due: luacheck, yamlfmt

types: remove c_output field
  CLAUDE.md
  data/schemas/types.yaml
  data/types.yaml
  tools/prep.lua
Due: luacheck, yamlfmt

bump wow_classic and wow_classic_ptr to 5.5.3.66128
  data/products/wow_classic/build.yaml
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

bump wow_anniversary to 2.5.5.66150
  data/products/wow_anniversary/build.yaml
Due: yamlfmt

bump wow, wowxptr, and wow_beta to 12.0.1.66220
  data/products/wow/build.yaml
  data/products/wow_beta/build.yaml
  data/products/wowxptr/build.yaml
Due: yamlfmt

cmake: fix wrong outs dependencies
  CMakeLists.txt
Due: none

cmake: fix toolsdocenv lua2c call dropping spurious library args
  CMakeLists.txt
Due: none

spec: add schema coverage test for record fields and taggedunion members
  CMakeLists.txt
  spec/data/schema_coverage_spec.lua
Due: luacheck

test: add uncovered field to gametypes schema to trigger coverage failure
  data/schemas/gametypes.yaml
Due: yamlfmt

schema: remove dead fields and fix schema coverage test setup
  data/schemas/docs.yaml
  data/schemas/function.yaml
  data/schemas/impl.yaml
  data/schemas/luaobjects.yaml
  data/schemas/type.yaml
  data/schemas/uiobjects.yaml
  data/schemas/xml.yaml
  spec/data/schema_coverage_spec.lua
  spec/data/uiobjects_spec.lua
  spec/wowless/modules/funcheck_spec.lua
  tools/docs.lua
  wowapi/data.lua
  wowless/modules/typecheck.lua
Due: luacheck, yamlfmt

data: declare global/product file lists in datafiles.yaml
  CMakeLists.txt
  data/datafiles.yaml
  data/schemas/datafiles.yaml
  spec/data/schema_coverage_spec.lua
  wowapi/data.lua
Due: luacheck, yamlfmt

data: refactor datafiles.yaml to mapof tagged union
  data/datafiles.yaml
  data/schemas/datafiles.yaml
  spec/data/schema_coverage_spec.lua
  wowapi/data.lua
Due: luacheck, yamlfmt

gitignore: add .beads, .claude, .runtime polecat runtime dirs
  .gitignore
Due: none

tests: introduce captureWarnings and migrate WorldFrame test
  addon/Wowless/test.lua
  addon/Wowless/util.lua
Due: luacheck

xml: RelDimension, clean up Scale/Origin
  addon/Wowless/test.xml
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_beta/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_beta/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

bump wow_anniversary to 2.5.5.66265
  data/products/wow_anniversary/build.yaml
Due: yamlfmt

bump wow_classic and wow_classic_ptr to 5.5.3.66290
  data/products/wow_classic/build.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/structures.yaml
Due: yamlfmt

bump wow to 12.0.1.66337
  data/products/wow/build.yaml
Due: yamlfmt

clog: implement C_Log methods delegating to log
  CMakeLists.txt
  data/impl.yaml
  data/modules.yaml
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  wowless/modules/clog.lua
Due: luacheck, yamlfmt

impl: add ProcessExceptionClient
  data/impl.yaml
  data/impl/ProcessExceptionClient.lua
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: luacheck, yamlfmt

debug: add wowless.debug C module with debugstack impl
  CMakeLists.txt
  data/impl.yaml
  wowless/debug.c
  wowless/env.lua
  wowless/ext.c
  wowless/modules/api.lua
  wowless/modules/security.lua
Due: luacheck, yamlfmt

mark C_AddOnProfiler.CheckForPerformanceMessage as stubnothing
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

config: remove runner.skip_events.AUCTION_HOUSE_SHOW from classic products
  data/products/wow_anniversary/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
Due: yamlfmt

remove vestigial bin/install-addons.sh
  bin/install-addons.sh
Due: none

cmake: derive products list from data/products.yaml
  CMakeLists.txt
Due: none

docs: replace explicit product list in CLAUDE.md with pointer to products.yaml
  CLAUDE.md
Due: none

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
