Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

xmleval: refuse to instantiate an intrinsic of an intrinsic via XML
  CMakeLists.txt
  addon/Wowless/evenmoreintrinsic.xml
  addon/Wowless/evenmoreintrinsic2.xml
  wowless/modules/intrinsics.lua
  wowless/modules/xml.lua
  wowless/modules/xmleval.lua
Due: luacheck

intrinsics: take the intrinsic's declared name and lowercase it internally
  wowless/modules/intrinsics.lua
  wowless/modules/xml.lua
  wowless/modules/xmleval.lua
Due: luacheck

xmleval: queue the nested-intrinsic warning instead of sending it inline
  addon/Wowless/evenmoreintrinsic2.xml
  wowless/modules/xmleval.lua
Due: luacheck

xmleval: refuse to instantiate an intrinsic of an intrinsic via XML (#871)
  CMakeLists.txt
  addon/Wowless/evenmoreintrinsic.xml
  addon/Wowless/evenmoreintrinsic2.xml
  wowless/modules/intrinsics.lua
  wowless/modules/xmleval.lua
Due: luacheck

api: fail CreateFrame on an intrinsic of an intrinsic
  addon/Wowless/test.xml
  wowless/modules/api.lua
Due: luacheck

api: fail CreateFrame on an intrinsic of an intrinsic (#872)
  addon/Wowless/test.xml
  wowless/modules/api.lua
Due: luacheck

yaml_spec: test round trip
  spec/wowapi/yaml_spec.lua
Due: luacheck

cyaml: quote string literal true/false
  spec/wowapi/yaml_spec.lua
  wowapi/cyaml.c
Due: luacheck

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

bump wow_classic_era_ptr to 2.5.6.69110
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/globals.yaml
Due: yamlfmt

bump wowt to 12.1.0.69273
  addon/Wowless/util.lua
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/globals.yaml
  tools/errsv.lua
Due: luacheck, yamlfmt

bump wow to 12.1.0.69283
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/config.yaml
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow/enums.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/luaobjects.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow/xml.yaml
Due: yamlfmt

bump wow and wowt to 12.1.0.69299
  data/products/wow/build.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/structures.yaml
Due: yamlfmt

xml,xmleval,gentest,data: warn Unknown frame type for unknowntype XML tags
  CMakeLists.txt
  addon/Wowless/Wowless.toc
  addon/Wowless/archaeologydigsiteframe.xml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/schemas/xml.yaml
  tools/gentest.lua
  wowless/modules/xml.lua
  wowless/modules/xmleval.lua
Due: luacheck, yamlfmt

xml,xmleval: rename rawtype to name
  wowless/modules/xml.lua
  wowless/modules/xmleval.lua
Due: luacheck

xmleval: always warn Unknown frame type for unknowntype XML tags
  wowless/modules/xmleval.lua
Due: luacheck

data: define ArchaeologyDigSiteFrame's XML tag on mainline products
  data/products/wow/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
Due: yamlfmt

xml,xmleval,gentest,data: warn Unknown frame type for unknowntype XML tags (#874)
  CMakeLists.txt
  addon/Wowless/Wowless.toc
  addon/Wowless/archaeologydigsiteframe.xml
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  tools/gentest.lua
  wowless/modules/xml.lua
  wowless/modules/xmleval.lua
Due: luacheck, yamlfmt

gentest,data: generate the unknowntype XML test per product
  CMakeLists.txt
  addon/Wowless/Wowless.toc
  addon/Wowless/archaeologydigsiteframe.xml
  addon/Wowless/test.xml
  tools/gentest.lua
Due: luacheck

gentest: fold unknowntype tags into templates.xml instead of a new file
  CMakeLists.txt
  addon/Wowless/test.xml
  tools/gentest.lua
Due: luacheck

gentest,addon: simplify unknowntype tag collection
  addon/Wowless/test.xml
  tools/gentest.lua
Due: luacheck

gentest: use sorted's value directly instead of re-dereferencing
  tools/gentest.lua
Due: luacheck

gentest,data: generate the unknowntype XML test per product (#875)
  CMakeLists.txt
  addon/Wowless/Wowless.toc
  addon/Wowless/archaeologydigsiteframe.xml
  addon/Wowless/test.xml
  tools/gentest.lua
Due: luacheck

bump wow and wowt to 12.1.0.69382
  data/products/wow/build.yaml
  data/products/wowt/build.yaml
Due: yamlfmt

tools: make xmlcontainment_spec table-driven
  spec/tools/xmlcontainment_spec.lua
Due: luacheck

tools: make xmlcontainment_spec table-driven (#878)
  spec/tools/xmlcontainment_spec.lua
Due: luacheck

xml: delete dead virtual-tag check in run()
  wowless/modules/xml.lua
Due: luacheck

prep: exclude virtual tags from xmlflat entirely
  tools/prep.lua
Due: luacheck

prep: trim explanatory comment on the virtual-tag exclusion
  tools/prep.lua
Due: luacheck

xml: virtual tags get no xmlflat entry and no dead check (#880)
  tools/prep.lua
  wowless/modules/xml.lua
Due: luacheck

xml: derive document-root tags from data instead of hardcoding
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  spec/data/xml_spec.lua
  spec/tools/xmlcontainment_spec.lua
  tools/prep.lua
  tools/xmlcontainment.lua
  wowless/modules/xml.lua
Due: luacheck, yamlfmt

tools: fold xmlcontainment_spec's roots cases into the table-driven cases
  spec/tools/xmlcontainment_spec.lua
Due: luacheck

tools: give xmlcontainment_spec's roots cases their own table
  spec/tools/xmlcontainment_spec.lua
Due: luacheck

tools: nest xmlcontainment_spec's chains tests under their own describe
  spec/tools/xmlcontainment_spec.lua
Due: luacheck

xml: derive document-root tags from data instead of hardcoding (#881)
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  spec/data/xml_spec.lua
  spec/tools/xmlcontainment_spec.lua
  tools/prep.lua
  tools/xmlcontainment.lua
  wowless/modules/xml.lua
Due: luacheck, yamlfmt

addon: make util_spec assertRecursivelyEqual tests table-driven
  spec/addon/util_spec.lua
Due: luacheck

tools: name prettywrite_spec case fields instead of using indices
  spec/tools/prettywrite_spec.lua
Due: luacheck

wowapi: make schema_spec validate tests table-driven
  spec/wowapi/schema_spec.lua
Due: luacheck

wowless: make util_spec readfile tests table-driven
  spec/wowless/util_spec.lua
Due: luacheck

wowless: make modules/xml_spec containment-warning tests table-driven
  spec/wowless/modules/xml_spec.lua
Due: luacheck
