Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: env/bin/lua tools/yamlfmt.lua
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

texture type in api specs
  data/products/wow/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/schemas/type.yaml
  tools/docs.lua
  wowless/typecheck.lua
Due: yamlfmt

resolve SimpleFrame
  data/products/wow/apis.yaml
  data/products/wow/structures.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/structures.yaml
  data/schemas/type.yaml
  tools/docs.lua
  wowless/typecheck.lua
Due: yamlfmt

typecheck FrameStrata
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/type.yaml
  data/schemas/uiobjects.yaml
  data/stringenums.yaml
  spec/wowless/typecheck_spec.lua
  tools/docs.lua
  tools/mkninja.lua
  wowless/typecheck.lua
Due: yamlfmt

stringenums schema
  data/schemas/stringenums.yaml
  data/stringenums.yaml
  spec/data/yaml_spec.lua
  tools/mkninja.lua
  wowapi/data.lua
Due: yamlfmt

schema: stringenum ref
  data/schemas/schematype.yaml
  data/schemas/type.yaml
  data/schemas/uiobjects.yaml
  wowapi/schema.lua
Due: yamlfmt

DrawLayer; uppercase stringenum values
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/stringenums.yaml
  spec/wowless/typecheck_spec.lua
  tools/docs.lua
  wowless/typecheck.lua
Due: yamlfmt

BlendMode stringenum
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/stringenums.yaml
  tools/docs.lua
Due: yamlfmt

docs: stringenums are known types
  tools/docs.lua
Due: none

Orientation type; use on Slider
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/stringenums.yaml
  tools/docs.lua
Due: yamlfmt

uiobject singleton bit
  data/products/wow/config.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/config.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/config.yaml
  data/schemas/uiobjects.yaml
  tools/gentest.lua
  tools/mkninja.lua
  tools/prep.lua
  wowapi/uiobjects.lua
Due: yamlfmt

introduce flipbook
  data/products/wow/config.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow/xml.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wowt/config.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowt/xml.yaml
Due: yamlfmt

bump addon versions
  tools/addons.yaml
Due: none

gentest: use yaml2lua
  tools/gentest.lua
  tools/mkninja.lua
Due: none

gender type
  data/products/wow/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/schemas/type.yaml
  wowless/typecheck.lua
Due: yamlfmt

stop skipping FlipBook eval
  addon/Wowless/generated.lua
  data/products/wow/config.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wowt/config.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt, addon-chmod

bump wow/wowt to 10.1.0.49570
  data/products/wow/build.yaml
  data/products/wowt/build.yaml
Due: yamlfmt

implement GetParentKey/SetParentKey
  addon/Wowless/test.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/ParentedObjectBase/GetParentKey.lua
  data/uiobjects/ParentedObjectBase/SetParentKey.lua
Due: yamlfmt, addon-chmod

GetResizeBounds/SetResizeBounds
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/Frame/SetResizeBounds.lua
Due: yamlfmt

GetClassInfo may return nothing
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
Due: yamlfmt

loader: move a comment to the right place
  wowless/loader.lua
Due: none

hacked up profiling
  .luacheckrc
  wowless.lua
Due: none

clang-format pre-commit
  .pre-commit-config.yaml
  main.c
  wowless/ext.c
Due: none

clang-format dotfile, better array init
  .clang-format
  .pre-commit-config.yaml
  main.c
  wowless/ext.c
Due: none

add lualua to cmake
  CMakeLists.txt
  main.c
Due: none

remove lualua from rockspec
  wowless-scm-0.rockspec
Due: none

more sandbox hacking
  sandbox.lua
Due: none

CreateFrame/GetName
  sandbox.lua
Due: none

CreateFrame: nil name
  sandbox.lua
Due: none

toobject
  sandbox.lua
Due: none

parent;ref
  sandbox.lua
Due: none

globalfns
  sandbox.lua
Due: none

bump wow_classic_era_ptr to 10.1.5.49595
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

use datalua
  sandbox.lua
Due: none

load stubs
  sandbox.lua
Due: none

hack up MixinForStubs
  sandbox.lua
Due: none

fix ns apis and mixin
  sandbox.lua
Due: none

add nullary input spec to some apis
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
Due: yamlfmt

prototype for C_CVar.GetCVarDefault
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
Due: yamlfmt

input prototype for GetNumTalentTabs
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

input spec for GetTalentInfo_Vanilla
  data/impl/GetTalentInfo_Vanilla.lua
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  addon-chmod: any of: ^addon/
