Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, luacheck, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: lua tools/yamlfmt.lua
  language: system

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

pre-commit autoupdate (#327)
  .pre-commit-config.yaml
Due: none

format
  .editorconfig
  testdeps.json
Due: none

more deps
  testdeps.json
Due: none

checkpoint
  testdeps.json
Due: none

bump wow to 10.2.6.53840
  data/products/wow/build.yaml
Due: yamlfmt

docs fixes
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow/globals.yaml
Due: yamlfmt

checkpoint
  data/products/wow/apis.yaml
  data/products/wow/config.yaml
  data/products/wow/cvars.yaml
  data/products/wow/globals.yaml
  data/products/wow/structures.yaml
Due: yamlfmt

clean in client
  data/products/wow/build.yaml
Due: yamlfmt

skip ArenaTeam docs
  data/products/wow/docs.yaml
Due: yamlfmt

C_Debug.FrameXMLDebug
  data/products/wow/apis.yaml
Due: yamlfmt

implement GetLootSpecialization
  data/impl.yaml
  data/products/wow/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  wowless/modules/units.lua
Due: yamlfmt, luacheck

stuboutstrides on GetNetStats
  data/products/wow/apis.yaml
Due: yamlfmt

skip_apis StartAttack, first arg nilable
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
Due: yamlfmt

bump wow_classic to 3.4.3.53788
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow_classic_beta to 4.4.0.53863
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
Due: yamlfmt

flesh out C_Debug
  data/products/wow/apis.yaml
Due: yamlfmt

skip_apis more stuff
  data/products/wow/docs.yaml
  data/schemas/docs.yaml
Due: yamlfmt

docs: let skip_apis just be anything
  data/schemas/docs.yaml
Due: yamlfmt

apply Vector3DMixin to TransformCameraSpaceToModelSpace
  data/uiobjects/Model/TransformCameraSpaceToModelSpace.lua
Due: luacheck

skip GUILD_INVITE and GUILD_UNINVITE
  data/products/wow/config.yaml
Due: yamlfmt

reenable EDITMODE
  data/products/wow/config.yaml
Due: yamlfmt

C_GameEnvironmentManager
  data/products/wow/apis.yaml
Due: yamlfmt

stub some C_Item stuff
  data/products/wow/apis.yaml
Due: yamlfmt

C_TalkingHead.GetCurrentLineInfo cameraID is number
  data/products/wow/apis.yaml
Due: yamlfmt

C_TalkingHead.GetCurrentLineInfo cameraID is number
  data/products/wow/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

bump wow to 10.2.6.53840 (#328)
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/config.yaml
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow/globals.yaml
  data/products/wow/structures.yaml
Due: yamlfmt

bump wow to 10.2.6.53877
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
Due: yamlfmt

C_Map.GetMapInfo may return nothing
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

bump questie
  tools/addons.yaml
Due: none

bump BtWLoadouts
  tools/addons.yaml
Due: none

bump Ferronnizer
  tools/addons.yaml
Due: none

tools/addons: add another dir to make hermetic
  bin/downloadaddon.sh
  tools/mkninja.lua
Due: luacheck

bump wow to 10.2.6.53913
  data/products/wow/build.yaml
Due: yamlfmt

bump wow to 10.2.6.54205
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
  data/products/wow/globals.yaml
Due: yamlfmt

bump wow_classic to 3.4.3.54261
  data/products/wow_classic/build.yaml
Due: yamlfmt

update lsqlite3 hash
  CMakeLists.txt
Due: none

bump wow_classic_beta to 4.4.0.54339
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/structures.yaml
Due: yamlfmt

font justify types, methods, etc
  data/products/wow/uiobjects.yaml
  data/products/wow/xml.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_beta/xml.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/uiobjects.yaml
  data/products/wowxptr/xml.yaml
  data/stringenums.yaml
Due: yamlfmt

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
