Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: env/bin/lua tools/yamlfmt.lua
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

first cut at CreateFrame prototype
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
Due: yamlfmt

no stubs for elune provided apis
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  spec/data/apis_spec.lua
Due: yamlfmt

explicitly "unimplement" forceinsecure
  data/impl.yaml
  data/impl/forceinsecure.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  spec/data/apis_spec.lua
Due: yamlfmt

use elune debugprofilestop
  data/impl.yaml
  data/impl/debugprofilestop.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
Due: yamlfmt

elune debugstack, remove wowless.ext
  .luacheckrc
  CMakeLists.txt
  data/impl.yaml
  data/impl/debugstack.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  main.c
  tools/mkninja.lua
  wowless/api.lua
  wowless/ext.c
Due: yamlfmt

api loader: only pass declared args
  wowapi/loader.lua
Due: none

bump wow_classic_ptr to 3.4.2.49658
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

GetCorpseRecoveryDelay prototype
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
Due: yamlfmt

wowless.ext traceback is better for debugging
  .luacheckrc
  CMakeLists.txt
  main.c
  tools/mkninja.lua
  wowless/api.lua
  wowless/ext.c
Due: none

bump wow_classic_ptr to 3.4.2.49705
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

bump wow to 10.1.0.49679
  data/products/wow/build.yaml
Due: yamlfmt

cmake: eliminate intermediate lyaml library
  CMakeLists.txt
Due: none

cmake: scope zlib includes to lzlib
  CMakeLists.txt
Due: none

tostring type for CreateFrame name
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/schemas/type.yaml
  wowless/typecheck.lua
Due: yamlfmt

CreateFrame parent arg is frame type
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  wowless/api.lua
Due: yamlfmt

api: CreateUIObject returns hostrep
  data/impl/CreateFont.lua
  data/impl/CreateForbiddenFrame.lua
  data/impl/CreateFrame.lua
  data/uiobjects/AnimationGroup/CreateAnimation.lua
  data/uiobjects/Frame/CreateFontString.lua
  data/uiobjects/Frame/CreateLine.lua
  data/uiobjects/Frame/CreateMaskTexture.lua
  data/uiobjects/Frame/CreateTexture.lua
  data/uiobjects/ModelScene/CreateActor.lua
  data/uiobjects/Path/CreateControlPoint.lua
  data/uiobjects/Region/CreateAnimationGroup.lua
  data/uiobjects/Region/GetAnimationGroups.lua
  spec/data/impl/EnumerateFrames_spec.lua
  wowless/api.lua
  wowless/loader.lua
Due: none

remove input specs from APIs with multiple
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
Due: yamlfmt

api input spec is a single list
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/schemas/apis.yaml
  spec/data/structures_spec.lua
  tools/docs.lua
  tools/rewrite.lua
  wowapi/loader.lua
Due: yamlfmt

api loader: proper impl chunknames
  wowapi/loader.lua
Due: none

enforce uiobject field init
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  spec/data/uiobjects_spec.lua
Due: yamlfmt

SmoothingType stringenum
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/stringenums.yaml
  tools/docs.lua
Due: yamlfmt

typecheck uiobject field inits
  spec/data/uiobjects_spec.lua
Due: none

uiobjects: texture not implied init nil
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  spec/data/uiobjects_spec.lua
Due: yamlfmt

uiobjects: stricter init assert
  spec/data/uiobjects_spec.lua
Due: none

uiobjects: simplify init typecheck
  spec/data/uiobjects_spec.lua
Due: none

typecheck api defaults and stubs
  spec/data/apis_spec.lua
Due: none

api loader: skip output checking on stubs
  wowapi/loader.lua
Due: none

api loader: allow output coercions
  wowapi/loader.lua
Due: none

frame output type hack
  data/impl/CreateForbiddenFrame.lua
  data/impl/CreateFrame.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  wowapi/loader.lua
  wowless/typecheck.lua
Due: yamlfmt

use wrapped impl in EnumerateFrames test
  spec/data/impl/EnumerateFrames_spec.lua
Due: none

EnumerateFrames types are frames
  data/impl/EnumerateFrames.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
Due: yamlfmt

CreateFont returns a font
  data/impl/CreateFont.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/schemas/type.yaml
  wowless/typecheck.lua
Due: yamlfmt

GetClickFrame returns a frame
  addon/Wowless/api.lua
  data/impl.yaml
  data/impl/GetClickFrame.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
Due: yamlfmt, addon-chmod

SetPortraitTexture accepts a texture
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
Due: yamlfmt

GetSpecializationInfo inspectTarget is string
  data/products/wow/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wowt/apis.yaml
Due: yamlfmt

implemented apis must not have unknown types
  spec/data/apis_spec.lua
Due: none

typecheck: generalize uiobject support
  spec/wowless/typecheck_spec.lua
  wowless/typecheck.lua
Due: none

ref uiobjects in uiobject field types
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/uiobjects.yaml
  tools/prep.lua
  wowapi/uiobjects.lua
Due: yamlfmt

tools/rewrite: specs, not types
  tools/rewrite.lua
Due: none

ref uiobjects in api types
  data/products/wow/apis.yaml
  data/products/wow/structures.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/structures.yaml
  data/schemas/type.yaml
Due: yamlfmt

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  addon-chmod: any of: ^addon/
