Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, luacheck, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: lua tools/yamlfmt.lua
  language: system

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

support storage type 4
  wowless/db2.lua
Due: luacheck

move wowless.db2 to tools.db2
  CMakeLists.txt
  tools/db2.lua
  tools/db2compare.lua
  tools/db2dump.lua
Due: luacheck

use db2 everywhere
  CMakeLists.txt
  tools/fetch.lua
  tools/sqlite.lua
Due: luacheck

remove db2compare
  CMakeLists.txt
  tools/db2compare.lua
Due: luacheck

retire dbc
  CMakeLists.txt
  tools/db2dump.lua
Due: luacheck

remove tools/dbc
  tools/dbc.lua
Due: luacheck

db2 (#311)
  CMakeLists.txt
  tools/db2.lua
  tools/db2dump.lua
  tools/dbc.lua
  tools/fetch.lua
  tools/sqlite.lua
Due: luacheck

easy peasy wdc5 support
  tools/db2.lua
Due: luacheck

bump wow to 10.2.5.53040
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
  data/products/wowt/build.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

fix UnitName
  data/products/wow/apis.yaml
Due: yamlfmt

docs: hack for nilable returns on UnitName
  tools/docs.lua
Due: luacheck

docs: disable DebugToggle
  data/products/wow/apis.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

docs: even more elaborate unit hack
  data/products/wow/apis.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

docs: UnitRace hack
  data/products/wow/apis.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

UnitPowerType may return nothing
  data/impl/UnitPowerType.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt, luacheck

UnitPowerType: always return a color for now
  data/sql/lookup/UnitPowerType.sql
Due: none

strip trailing addondir dirsep, fixes #235
  spec/wowless/addon_spec.lua
  wowless/runner.lua
Due: luacheck

more bumps
  data/products/wow/build.yaml
  data/products/wowt/build.yaml
Due: yamlfmt

GetAuraDataBySlot stub
  data/products/wow/apis.yaml
  data/products/wow/structures.yaml
Due: yamlfmt

AuraData spellId for debuff frame
  data/products/wow/apis.yaml
  data/products/wow/structures.yaml
Due: yamlfmt

stubnothing for UnitPowerBarTimerInfo
  data/products/wow/apis.yaml
  data/schemas/apis.yaml
  spec/data/apis_spec.lua
  tools/prep.lua
Due: yamlfmt, luacheck

stubnothing facility
  data/schemas/apis.yaml
  spec/data/apis_spec.lua
  tools/prep.lua
Due: yamlfmt, luacheck

stub return for GetSpellPowerCost
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

combat rating stubs
  data/products/wow/apis.yaml
Due: yamlfmt

wowt as well
  data/impl.yaml
  data/impl/UnitName_10_2_5.lua
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/test.yaml
  data/test/UnitName_10_2_5.lua
Due: yamlfmt, luacheck

bump wow/wowt to 10.2.5.53162
  data/impl.yaml
  data/impl/UnitName_10_2_5.lua
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/test.yaml
  data/test/UnitName_10_2_5.lua
  tools/docs.lua
Due: yamlfmt, luacheck

docs: propagate stubnothing
  tools/docs.lua
Due: luacheck

bump wow_classic_era_ptr to 1.15.1.53181
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_era_ptr/structures.yaml
Due: yamlfmt

fix uiobjects
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 1.15.1.53181 (#315)
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

dodge trigraph warning
  tools/docs.lua
Due: luacheck

add QuestPOIFrame
  tools/docs.lua
Due: luacheck

docs: remove knownMixinStructs
  tools/docs.lua
Due: luacheck

docs: check mixin on struct
  data/products/wow/structures.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wowt/structures.yaml
  data/products/wowxptr/structures.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

addon: validate capsuled namespaces
  addon/Wowless/generated.lua
Due: luacheck, addon-chmod

addon: remove references to capsuleEnv
  addon/Wowless/generated.lua
  data/schemas/config.yaml
Due: yamlfmt, luacheck, addon-chmod

Revert "gha fix, per actions/runner-images#8160 (#273)"
  .devcontainer/Dockerfile
Due: none

Revert "gha fix, per actions/runner-images#8160 (#273)" (#316)
  .devcontainer/Dockerfile
Due: none

addon: unify global and ns api testing
  addon/Wowless/generated.lua
Due: luacheck, addon-chmod

addon: SetMacroExecuteLineCallback normal capsule
  addon/Wowless/generated.lua
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
Due: yamlfmt, luacheck, addon-chmod

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
