Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: env/bin/lua tools/yamlfmt.lua
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

start scalar array input support
  tools/apis2c.lua
Due: none

checks header
  CMakeLists.txt
  tools/apis2c.lua
  wowless/checks.h
Due: none

assertpresent
  tools/apis2c.lua
  wowless/checks.h
Due: none

apis spec: typecheck isout
  spec/data/apis_spec.lua
Due: none

uiobjects spec: typecheck isout
  spec/data/uiobjects_spec.lua
Due: none

uiobjects spec: fix typecheck isout
  spec/data/uiobjects_spec.lua
Due: none

structures spec: typecheck stubs
  spec/data/structures_spec.lua
Due: none

typecheck: strict isout array check
  wowless/typecheck.lua
Due: none

structures spec: typecheck defaults
  spec/data/structures_spec.lua
Due: none

move more code to checks.h
  tools/apis2c.lua
  wowless/checks.h
Due: none

use luaL_checktype in asserttype
  wowless/checks.h
Due: none

first hacked up assertarray
  tools/apis2c.lua
  wowless/checks.h
Due: none

bump wow and wowt to 10.1.7.51754
  data/products/wow/build.yaml
  data/products/wowt/build.yaml
Due: yamlfmt

bump wowxptr to 10.2.0.51790
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
Due: yamlfmt

bump wowxptr to 10.2.0.51825
  data/products/wowxptr/build.yaml
Due: yamlfmt

bump wow_classic_era to 1.14.4.51829
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

give 10.2 its own GetTemplateInfo
  data/impl.yaml
  data/impl/C_XMLUtil.GetTemplateInfo_10_2.lua
  data/products/wowxptr/apis.yaml
Due: yamlfmt

test: predicate new parent key behavior on ClearParentKey
  addon/Wowless/test.lua
Due: addon-chmod

copy wowt from wowxptr 10.2.0.51825
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

bump wowxptr to 10.2.0.51851
  data/products/wowt/build.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
Due: yamlfmt

pre-commit: luacheck .luacheckrc
  .pre-commit-config.yaml
Due: none

remove zombie uiobject support
  addon/Wowless/generated.lua
  data/schemas/uiobjects.yaml
  tools/gentest.lua
  tools/prep.lua
  wowapi/uiobjects.lua
  wowless/api.lua
Due: yamlfmt, addon-chmod

lua2c: format char arrays
  tools/lua2c.lua
Due: none

mega hack
  data/impl/getfenv.lua
  wowapi/loader.lua
  wowapi/uiobjects.lua
  wowless/runner.lua
Due: none

lua2c: format char arrays (#294)
  tools/lua2c.lua
Due: none

setfenv loadstring
  addon/Wowless/api.lua
  data/impl.yaml
  data/impl/loadstring.lua
  data/impl/loadstring_untainted.lua
  data/products/wow/apis.yaml
  data/products/wow/config.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/config.yaml
Due: yamlfmt, addon-chmod

bump wow_classic_ptr to 3.4.3.51831
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/events.yaml
  wowless/runner.lua
Due: yamlfmt

setfenv loadstring (#295)
  addon/Wowless/api.lua
  data/impl.yaml
  data/impl/loadstring.lua
  data/impl/loadstring_untainted.lua
  data/products/wow/apis.yaml
  data/products/wow/config.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/config.yaml
Due: yamlfmt, addon-chmod

holy cow it almost works
  data/impl.yaml
  data/impl/getfenv.lua
  wowless/runner.lua
Due: yamlfmt

fix luacheck
  wowless/runner.lua
Due: none

fix tests
  tools/runtests.lua
Due: none

lfs and lsqlite3 leak into _G
  wowless/runner.lua
Due: none

use api.env as global table
  data/impl.yaml
  data/impl/getfenv.lua
  wowless/runner.lua
Due: yamlfmt

hooksecurefunc stdlib
  data/impl.yaml
  data/impl/hooksecurefunc.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  spec/data/impl/hooksecurefunc_spec.lua
  tools/mkninja.lua
Due: yamlfmt

forceissecure stdlib
  data/impl.yaml
  data/impl/forceinsecure.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

loadstring and securecall stdlib
  data/impl.yaml
  data/impl/loadstring.lua
  data/impl/loadstring_untainted.lua
  data/impl/securecall.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

Revert "forceissecure stdlib"
  data/impl.yaml
  data/impl/forceinsecure.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

big old comment
  wowless/runner.lua
Due: none

replace lua state global table with api.env (#296)
  data/impl.yaml
  data/impl/hooksecurefunc.lua
  data/impl/loadstring.lua
  data/impl/loadstring_untainted.lua
  data/impl/securecall.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  spec/data/impl/hooksecurefunc_spec.lua
  tools/mkninja.lua
  tools/runtests.lua
  wowapi/loader.lua
  wowapi/uiobjects.lua
  wowless/ext.c
  wowless/runner.lua
Due: yamlfmt

getfenv(1) is _G in framework
  wowapi/loader.lua
  wowapi/uiobjects.lua
Due: none

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  addon-chmod: any of: ^addon/
