Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: env/bin/lua tools/yamlfmt.lua
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

elune_spec
  BUILD.bazel
Due: none

wowless lua in lib
  BUILD.bazel
Due: none

wowapi/yaml test
  BUILD.bazel
  bazel/lyaml.bazel
Due: none

another test, more lua deps
  BUILD.bazel
  WORKSPACE.bazel
  bazel/luadate.bazel
  bazel/luapath.bazel
Due: none

bump wow_clasic_era_ptr to 1.14.4.51001
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
Due: yamlfmt

add more data/impl tests
  BUILD.bazel
Due: none

clean up lua.bzl again
  bazel/lua.bzl
Due: none

replace listfile with dbdefs manifest
  .gitmodules
  tools/listfile.lua
  tools/mkninja.lua
  wowless-scm-0.rockspec
Due: none

bump zlib to 1.3 and use fossil url
  CMakeLists.txt
Due: none

replace listfile with dbdefs manifest (#261)
  .gitmodules
  tools/listfile.lua
  tools/mkninja.lua
  wowless-scm-0.rockspec
Due: none

Load .env file from DevContainer (#260)
  .devcontainer/devcontainer.json
Due: none

bumpaddons: enable just bumping one
  tools/bumpaddons.lua
Due: none

era ptr hooked_global fixes
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/config.yaml
Due: yamlfmt

bump wow_classic_era to 1.14.4.51001
  addon/Wowless/test.lua
  addon/Wowless/test.xml
  data/impl.yaml
  data/impl/GetBuildInfo.lua
  data/impl/GetTalentTabInfo_Vanilla.lua
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/uiobjects/ScrollFrame/SetScrollChild.lua
Due: yamlfmt, addon-chmod

bump wowt to 10.1.7.51059
  data/impl.yaml
  data/impl/C_UI.GetUIParent.lua
  data/impl/C_UI.GetWorldFrame.lua
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  tools/prep.lua
Due: yamlfmt

remove _ReturnNothing
  data/impl.yaml
  data/impl/_ReturnNothing.lua
Due: yamlfmt

remove stale event
  data/products/wowt/config.yaml
Due: yamlfmt

bump wowt to 10.1.7.51059 (#262)
  data/impl.yaml
  data/impl/C_UI.GetUIParent.lua
  data/impl/C_UI.GetWorldFrame.lua
  data/impl/_ReturnNothing.lua
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  tools/prep.lua
Due: yamlfmt

require luacasc >= 1.15
  wowless-scm-0.rockspec
Due: none

dockerfile: remove safe directory stuff
  .devcontainer/Dockerfile
Due: none

gha: ping actions/checkout to v3.5.3
  .github/workflows/test.yml
Due: none

try dumping info about hooks
  .devcontainer/devcontainer.json
Due: none

bump era to 1.14.4.51056
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
Due: yamlfmt

use package.preload for baked-in modules
  main.c
Due: none

completely disable cpath loading
  CMakeLists.txt
  main.c
Due: none

lua path config from cmake to c
  CMakeLists.txt
  main.c
Due: none

remove postCreateCommand
  .devcontainer/devcontainer.json
Due: none

just run ninja -v
  .github/workflows/test.yml
Due: none

whoops, need to mkninja first
  .github/workflows/test.yml
Due: none

try removing env file
  .devcontainer/devcontainer.json
Due: none

bump devcontainers/ci to 0.3
  .github/workflows/test.yml
Due: none

try bumping docker/login-action too
  .github/workflows/test.yml
Due: none

compile rocks into wowless
  CMakeLists.txt
  main.c
  tools/lua2c.lua
  tools/mkninja.lua
Due: none

output parameter to lua2c
  CMakeLists.txt
  tools/lua2c.lua
Due: none

break docker cache
  .devcontainer/Dockerfile
Due: none

wowless binary is fully static
  CMakeLists.txt
Due: none

disable loadlib in elune
  CMakeLists.txt
Due: none

simplify devcontainer.jsonn
  .devcontainer/devcontainer.json
Due: none

devcontainers/ci nocache
  .github/workflows/test.yml
Due: none

drop remoteUser
  .devcontainer/devcontainer.json
Due: none

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  addon-chmod: any of: ^addon/
