Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: build/cmake/yamlfmt
  language: system

remove wow_classic_beta product
  data/products.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/luaobjects.yaml
  data/products/wow_classic_beta/structures.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_beta/xml.yaml
Due: yamlfmt

addons: inline GetAddOnInfo_noUpdateAvailable behavior
  data/modules.yaml
  data/products/wow/config.yaml
  data/products/wow_anniversary/config.yaml
  data/products/wow_beta/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
  wowless/modules/addons.lua
Due: luacheck, yamlfmt

data: add prototype to C_PetJournal.GetNumPetTypes
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

data: add prototype to C_TradeSkillUI.GetAllFilterableInventorySlotsCount
  data/products/wow/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

docs: add Co-Authored-By trailer instruction to commit style guide
  CLAUDE.md
Due: none

data: implement securecallmethod via wowless/secure.c #559
  CMakeLists.txt
  data/impl.yaml
  data/products/wow/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  wowless/secure.c
Due: yamlfmt

secure: drop ELUNE_VERSION guard
  wowless/secure.c
Due: none

docs: add securecallmethod lie to convert unknowns to any #559
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

data: implement securecallmethod via wowless/secure.c (#560)
  CMakeLists.txt
  data/impl.yaml
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
  wowless/secure.c
Due: yamlfmt

data: stubnotnil GetFontInfo to fix FriendsFrame nil index errors
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

data: stubnotnil C_QuestOffer.GetQuestRewardCurrencyInfo to fix nil currencyID errors
  data/products/wow/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

errors: extract ErrorHandler from security into new errors module
  CMakeLists.txt
  data/impl.yaml
  data/impl/ProcessExceptionClient.lua
  data/modules.yaml
  spec/wowless/addon_spec.lua
  wowless/modules/errors.lua
  wowless/modules/security.lua
Due: luacheck, yamlfmt

Revert "gitignore: add .beads, .claude, .runtime polecat runtime dirs"
  .gitignore
Due: none

bump wowt to 12.0.5.66407
  addon/Wowless/luaobjects.lua
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/luaobjects.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/doctable.yaml
  data/schemas/luaobjects.yaml
  wowless/toc.lua
Due: luacheck, yamlfmt

propagate nameplate lie to wowt
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
Due: yamlfmt

propagate nameplate stub to wowt
  data/products/wowt/apis.yaml
Due: yamlfmt

bump wowt to 12.0.5.66407 (#561)
  addon/Wowless/luaobjects.lua
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/luaobjects.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/doctable.yaml
  data/schemas/luaobjects.yaml
  wowless/toc.lua
Due: luacheck, yamlfmt

spec: add luaobjects_spec
  CMakeLists.txt
  spec/data/luaobjects_spec.lua
Due: luacheck

modules: generate modules_factory.lua at build time
  CMakeLists.txt
  spec/wowless/modules/funcheck_spec.lua
  spec/wowless/modules/typecheck_spec.lua
  tools/genmodules.lua
  wowless/modules.lua
Due: luacheck

Revert "modules: generate modules_factory.lua at build time" (#562)
  CMakeLists.txt
  spec/wowless/modules/funcheck_spec.lua
  spec/wowless/modules/typecheck_spec.lua
  tools/genmodules.lua
  wowless/modules.lua
Due: luacheck

loader: add some high-level logging for framexml addons
  wowless/modules/loader.lua
Due: luacheck

bump wow_classic and wow_classic_ptr to 5.5.3.66382
  data/products/wow_classic/build.yaml
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

bump wow_anniversary to 2.5.5.63383
  data/products/wow_anniversary/build.yaml
Due: yamlfmt

bump wow to 12.0.1.66384
  data/products/wow/build.yaml
Due: yamlfmt

stubs: output type checking for string/number impl stubs #554
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

loader: more addon load logging
  wowless/modules/loader.lua
Due: luacheck

bump wow to 12.0.1.66431
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/globals.yaml
Due: yamlfmt

secure: fix securecallfunction to typecheck arg 1 and add tests
  data/impl.yaml
  data/test.yaml
  data/test/securecallfunction.lua
  wowless/secure.c
Due: luacheck, yamlfmt

addon/Wowless: move async tests to asynctests.lua
  CMakeLists.txt
  addon/Wowless/Wowless.toc
  addon/Wowless/asynctests.lua
  addon/Wowless/test.lua
Due: luacheck

secure: route securecallfunction arg errors to error handler via proxy
  data/test/securecallfunction.lua
  wowless/secure.c
Due: luacheck

addon/Wowless: add async test for securecallfunction error handler
  addon/Wowless/asynctests.lua
Due: luacheck

errorhandler: shim seterrorhandler to queue LUA_WARNING when handler throws
  CMakeLists.txt
  addon/Wowless/asynctests.lua
  data/impl.yaml
  data/modules.yaml
  wowless/modules/errorhandler.lua
  wowless/modules/mainloop.lua
Due: luacheck, yamlfmt

errorhandler: clean up seterrorhandler shim
  wowless/modules/errorhandler.lua
Due: luacheck

errorhandler: refactor to set real handler once, move typecheck to api spec
  data/impl.yaml
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  wowless/modules/errorhandler.lua
Due: luacheck, yamlfmt

addon/Wowless: add tget util, load test string once per impl
  addon/Wowless/generated.lua
  addon/Wowless/util.lua
Due: luacheck

data/test: declare impl dependencies as sets, pass in sorted order
  addon/Wowless/generated.lua
  data/schemas/test.yaml
  data/test.yaml
  data/test/EnumerateFrames.lua
  data/test/GetClickFrame.lua
  data/test/getfenv.lua
  data/test/loadstring.lua
  data/test/securecallfunction.lua
  spec/data/test_spec.lua
  tools/gentest.lua
Due: luacheck, yamlfmt

addon/Wowless: factor impltest combinatorics into util.combinations
  addon/Wowless/generated.lua
  addon/Wowless/util.lua
Due: luacheck

addon/Wowless: scope impltests combos under impl name
  addon/Wowless/generated.lua
Due: luacheck

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
