Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

checkpoint
  data/products/wow_classic_era/globals.yaml
  tools/errsv.lua
Due: luacheck, yamlfmt

checkpoint
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/structures.yaml
  tools/errsv.lua
Due: luacheck, yamlfmt

checkpoint
  data/products/wow_classic_era/docs.yaml
Due: yamlfmt

checkpoint
  tools/errsv.lua
Due: luacheck

checkpoint
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/docs.yaml
  tools/errsv.lua
Due: luacheck, yamlfmt

checkpoint
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt

checkpoint
  data/products/wow_classic_era/apis.yaml
  tools/errsv.lua
Due: luacheck, yamlfmt

checkpoint
  data/products/wow_classic_era/apis.yaml
Due: yamlfmt

checkpoint
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/globals.yaml
Due: yamlfmt

checkpoint
  data/products/wow_classic_era/luaobjects.yaml
  tools/errsv.lua
Due: luacheck, yamlfmt

checkpoint
  data/products/wow_classic_era/uiobjects.yaml
  tools/errsv.lua
Due: luacheck, yamlfmt

checkpoint
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt

checkpoint
  tools/autodocs.lua
Due: luacheck

checkpoint
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt

checkpoint
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/structures.yaml
Due: yamlfmt

checkpoint
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
Due: yamlfmt

checkpoint
  data/impl.yaml
  data/products/wow_classic_era/apis.yaml
Due: yamlfmt

checkpoint
  data/products/wow_classic_era/luaobjects.yaml
  data/products/wow_classic_era/stringenums.yaml
Due: yamlfmt

checkpoint
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt

clean
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
Due: yamlfmt

restricted lies
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/events.yaml
Due: yamlfmt

checkpoint
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/events.yaml
Due: yamlfmt

client clean
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/events.yaml
Due: yamlfmt

checkpoint
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/structures.yaml
Due: yamlfmt

checkpoint
  data/products/wow_classic_era/config.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.9.68808
  CMakeLists.txt
  data/impl.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era/luaobjects.yaml
  data/products/wow_classic_era/stringenums.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era/uiobjects.yaml
  tools/autodocs.lua
  tools/errsv.lua
Due: luacheck, yamlfmt

impl: rename DoEmote to C_ChatInfo.PerformEmote, use on all products
  data/impl.yaml
  data/impl/C_ChatInfo.PerformEmote.lua
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/sql.yaml
  data/sql/C_ChatInfo.PerformEmote.sql
Due: luacheck, yamlfmt

impl: rename DoEmote to C_ChatInfo.PerformEmote, use on all products (#816)
  data/impl.yaml
  data/impl/C_ChatInfo.PerformEmote.lua
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/sql.yaml
  data/sql/C_ChatInfo.PerformEmote.sql
Due: luacheck, yamlfmt
