Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, luacheck, addon-chmod

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '2.7.3'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.20.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v18.1.1
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: yamlfmt
    name: wowless yamlfmt
    entry: lua tools/yamlfmt.lua
    language: system
    types: [yaml]
    files: ^data/
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: local-test
    name: build and test
    entry: sh -c "lua tools/mkninja.lua && ninja -v"
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

enum values
  data/products/wow_beta/globals.yaml
Due: yamlfmt

wow_beta build date
  data/products/wow_beta/build.yaml
Due: yamlfmt

parse more account flags
  data/products/wow_beta/globals.yaml
  tools/errsv.lua
Due: yamlfmt, luacheck

process negative globals
  data/products/wow_beta/globals.yaml
  tools/errsv.lua
Due: yamlfmt, luacheck

start fixing hook/overwrite config
  data/products/wow_beta/config.yaml
Due: yamlfmt

errsv for apis and events
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/structures.yaml
Due: yamlfmt

errsv uiobjects
  data/products/wow_beta/uiobjects.yaml
Due: yamlfmt

db2 order, LoadFirst before GuardedAddOn
  wowless/loader.lua
Due: luacheck

_Standard toc suffix
  tools/fetch.lua
  wowless/loader.lua
Due: luacheck

sigh, font colors
  wowless/loader.lua
Due: luacheck

loader: dodge wowlabs game mode
  wowless/loader.lua
Due: luacheck

C_SpectatingUI, stub C_ZoneAbility
  data/products/wow_beta/apis.yaml
Due: yamlfmt

timer fixes
  data/products/wow_beta/apis.yaml
Due: yamlfmt

remaining fixes
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/config.yaml
Due: yamlfmt

errsv: relax number/0x parsing
  tools/errsv.lua
Due: luacheck

standard, LoadFirst, in order
  tools/fetch.lua
  wowless/loader.lua
Due: luacheck

runner: don't die on failed addon load
  wowless/runner.lua
Due: luacheck

bump wow_beta to 11.0.0.54311 (#334)
  CMakeLists.txt
  data/products.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/config.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/structures.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wow_beta/xml.yaml
  tools/mkninja.lua
Due: yamlfmt, luacheck

runner: always write frame1 when --frame0
  wowless/runner.lua
Due: luacheck

bump wow_classic_era to 1.15.2.54332
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow to 10.2.6.54358
  data/products/wow/build.yaml
  data/products/wow/events.yaml
Due: yamlfmt

bump wow_classic_beta to 4.4.0.54377
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/structures.yaml
Due: yamlfmt

era ptr
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

apply uiobject fixes to all other products
  data/products/wow/uiobjects.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

uiobject getter tests (#335)
  addon/Wowless/generated.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/uiobjects.yaml
  tools/gentest.lua
  tools/prep.lua
Due: yamlfmt, luacheck, addon-chmod

lazy font test
  addon/Wowless/test.xml
  wowless/loader.lua
Due: luacheck, addon-chmod

bump wowt to 10.2.7.54366
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

bump wow_classic_ptr to 4.4.0.54377
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
Due: yamlfmt

bump wow_classic_beta to 4.4.0.54427
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
Due: yamlfmt

retire wow_classic_beta 4.4.0
  CMakeLists.txt
  bin/install-addons.sh
  data/products.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/structures.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_beta/xml.yaml
  tools/mkninja.lua
Due: yamlfmt, luacheck

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

disable markdownlint pre-commit
  .pre-commit-config.yaml
Due: none

start getting wowless back on track
  .devcontainer/Dockerfile
  .github/workflows/test.yml
  README.md
Due: none

start getting wowless back on track (#340)
  .devcontainer/Dockerfile
  .github/workflows/test.yml
  README.md
Due: none

bump wow_classic_era to 1.15.3.55917
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/globals.yaml
Due: yamlfmt

some uiobject fixes
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt

clean in client
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt

update via docs
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/structures.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

docs: keep going if loadfile fails
  tools/docs.lua
Due: luacheck
