Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.0.3'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.20.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v18.1.8
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: mkninja
    name: create build system
    entry: lua tools/mkninja.lua
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: ninja -v
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

turn off tls verification for lpeg
  CMakeLists.txt
Due: none

turn off tls verification for lpeg (#368)
  CMakeLists.txt
Due: none

remove always-false capsulearg config
  addon/Wowless/test.lua
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
  wowless/loader.lua
Due: luacheck, addon-chmod, yamlfmt

digging out of a hole, again
  .github/workflows/test.yml
  README.md
Due: none

digging out of a hole, again (#373)
  .github/workflows/test.yml
  README.md
Due: none

bump wow_classic to 4.4.1.58158
  data/products/wow_classic/build.yaml
  data/products/wow_classic/cvars.yaml
Due: yamlfmt

bump wow_classic_ptr to 4.4.1.57141 (best effort)
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

bump wowt to 11.0.7.58187
  addon/Wowless/generated.lua
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/config.yaml
Due: luacheck, addon-chmod, yamlfmt

bump wow to 11.0.7.58238
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/config.yaml
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

pre-commit yamlfmt in a separate step
  .pre-commit-config.yaml
Due: none

bump wow_classic_era to 1.15.5.57979
  addon/Wowless/generated.lua
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era/uiobjects.yaml
Due: luacheck, addon-chmod, yamlfmt

bump wow_classic_era_ptr to 1.15.6.58185
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

Revert "digging out of a hole, again (#373)"
  .github/workflows/test.yml
  README.md
Due: none

Revert "digging out of a hole, again (#373)" (#375)
  .github/workflows/test.yml
  README.md
Due: none

remove always-false capsulearg config (#370)
  addon/Wowless/test.lua
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
  wowless/loader.lua
Due: luacheck, addon-chmod, yamlfmt

ctactless submodule
  .gitmodules
Due: none

harness
  CMakeLists.txt
  tools/fetch.lua
  tools/tactless.c
  vcpkg.json
Due: luacheck

flesh out lua
  tools/fetch.lua
  tools/tactless.c
Due: luacheck

collect garbage
  tools/tactless.c
Due: none

use tactless in fetch
  CMakeLists.txt
  tools/fetch.lua
Due: luacheck

open specific build hash
  tools/fetch.lua
  tools/tactless.c
Due: luacheck

fetch: use ctactless instead
  .gitmodules
  CMakeLists.txt
  tools/fetch.lua
  tools/tactless.c
  vcpkg.json
Due: luacheck

render: replace luacasc with tactless
  CMakeLists.txt
  tools/render.lua
  wowless/render.lua
Due: luacheck

remove unused tactkeys
  CMakeLists.txt
  tools/tactkeys.lua
Due: luacheck

add ws2_32 to imagemagick link libs on windows
  CMakeLists.txt
Due: none

add ws2_32 to imagemagick link libs on windows (#377)
  CMakeLists.txt
Due: none

bump on tactless, farewell luacasc
  CMakeLists.txt
  tools/bump.lua
  tools/tactless.c
Due: luacheck

bump wow_classic_era to 1.15.5.58555
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow_classic to 4.4.1.58558
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wowxptr to 11.1.0.58626
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
  wowapi/loader.lua
Due: luacheck, yamlfmt

bump wow to 11.0.7.58630
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
  data/products/wow/events.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 1.15.6.58658
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
Due: yamlfmt

remove unused tactkeys from .gitmodules
  .gitmodules
Due: none

cmakeify tools/rewrite
  CMakeLists.txt
  tools/rewrite.lua
Due: luacheck

docs fix for era ptr
  data/products/wow_classic_era_ptr/events.yaml
Due: yamlfmt

factor doCheckOutputs into funcheck.lua
  CMakeLists.txt
  wowapi/loader.lua
  wowapi/uiobjects.lua
  wowless/funcheck.lua
Due: luacheck

typecheck outstride, apply to GetAnimations
  .luacheckrc
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/AnimationGroup/GetAnimations.lua
  tools/prep.lua
  wowless/funcheck.lua
Due: luacheck, yamlfmt

uiobject docs for button click/disable/enable
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/Button/Click.lua
Due: luacheck, yamlfmt
