Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.0.3'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.20.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v18.1.8
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: mkninja
    name: create build system
    entry: lua tools/mkninja.lua
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: ninja -v
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

stop exposing UserData from api module
  data/impl.yaml
  data/impl/GetClickFrame.lua
  data/modules.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/Button/SetDisabledAtlas.lua
  data/uiobjects/Button/SetHighlightAtlas.lua
  data/uiobjects/Button/SetNormalAtlas.lua
  data/uiobjects/Button/SetPushedAtlas.lua
  data/uiobjects/Button/SetText.lua
  data/uiobjects/Region/SetPoint.lua
  wowless/env.lua
  wowless/modules/api.lua
  wowless/modules/loader.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

fix assert message in time.Advance
  wowless/modules/time.lua
Due: luacheck

move api.NextFrame to mainloop module
  CMakeLists.txt
  data/modules.yaml
  wowless/modules/api.lua
  wowless/modules/mainloop.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

decouple render from api
  wowless/render.lua
  wowless/runner.lua
Due: luacheck

bump wow to 11.2.0.62706
  data/products/wow/build.yaml
  data/products/wowxptr/build.yaml
Due: yamlfmt

introduce script types, fixes #145
  CMakeLists.txt
  addon/Wowless/generated.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/schematype.yaml
  data/schemas/scripttypes.yaml
  data/schemas/uiobjects.yaml
  data/scripttypes.yaml
  data/uiobjectimpl.yaml
  tools/gentest.lua
  tools/mkninja.lua
  wowapi/data.lua
  wowapi/schema.lua
  wowless/modules/scripts.lua
Due: luacheck, addon-chmod, yamlfmt

gentest, OnHide/OnShow
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  tools/gentest.lua
Due: luacheck, yamlfmt

everybody gets OnLoad
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

OnAnimStarted/Finished
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

frame OnEvent
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

more RegionBase coverage
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

animation scripts
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

general frame events
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

button scripts
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

missing model script
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

OnDressModel
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

OnValueChanged
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

AnimationGroup scripts
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

GameTooltip scripts
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

works for era
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

works for retail too
  data/products/wow/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

prep it
  data/modules.yaml
  tools/prep.lua
  wowless/modules/scripts.lua
  wowless/modules/uiobjectloader.lua
  wowless/modules/uiobjecttypes.lua
Due: luacheck, yamlfmt

introduce script types, fixes #145 (#451)
  CMakeLists.txt
  addon/Wowless/generated.lua
  data/modules.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/schematype.yaml
  data/schemas/scripttypes.yaml
  data/schemas/uiobjects.yaml
  data/scripttypes.yaml
  data/uiobjectimpl.yaml
  tools/gentest.lua
  tools/mkninja.lua
  tools/prep.lua
  wowapi/data.lua
  wowapi/schema.lua
  wowless/modules/scripts.lua
  wowless/modules/uiobjectloader.lua
  wowless/modules/uiobjecttypes.lua
Due: luacheck, addon-chmod, yamlfmt

comprehensive actor xml script test
  addon/Wowless/test.xml
Due: addon-chmod

actor also supports OnModelLoading
  addon/Wowless/test.xml
Due: addon-chmod

actor script types
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/scripttypes.yaml
Due: yamlfmt

assert HasScript in SetScript
  tools/prep.lua
  wowless/modules/loader.lua
  wowless/modules/scripts.lua
Due: luacheck

bump wowxptr to 11.2.0.62748
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
Due: yamlfmt

bump wowt to 11.2.5.62687
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

remove dead impl
  data/impl.yaml
  data/impl/GetSpecializationInfo.lua
Due: luacheck, yamlfmt

doctable bit
  data/schemas/doctable.yaml
Due: yamlfmt

doc import
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

fixes
  data/products/wowt/config.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

just use the nasty line init
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

fix alldocs task now that docstart yaml is implicit
  .vscode/tasks.json
Due: none

docs: replace some skip_docfiles with extra_apis
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

docs: lies.extra_script_objects
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

replace skip_docfiles with extras on mainline
  data/products/wow/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

mists has C_AuctionHouse, who knew
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/structures.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wow_classic_ptr/structures.yaml
Due: yamlfmt

edit mode extras for mists
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/schemas/docs.yaml
  spec/data/docs_spec.lua
  tools/docs.lua
Due: luacheck, yamlfmt
