Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, luacheck, addon-chmod

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '2.6.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: 32c433a29b17466d18ec5cef2b1a59af1389d7e6
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.13
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.11.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v16.0.3
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.8.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: yamlfmt
    name: wowless yamlfmt
    entry: lua tools/yamlfmt.lua
    language: system
    types: [yaml]
    files: ^data/
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: local-test
    name: build and test
    entry: sh -c "lua tools/mkninja.lua && ninja -v"
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

checkpoint more uiobject methods
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

client clean
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

restore cvar impl
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

tests pass
  addon/Wowless/generated.lua
Due: luacheck, addon-chmod

progress
  data/products/wow_classic_era_ptr/apis.yaml
  wowless/loader.lua
Due: yamlfmt, luacheck

a few api fixes
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

RunMacroText_Callback
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

skip some events
  data/products/wow_classic_era_ptr/config.yaml
Due: yamlfmt

skip a few more events
  data/products/wow_classic_era_ptr/config.yaml
Due: yamlfmt

GetLFDChoiceOrder api
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 1.15.0.52124 (#304)
  addon/Wowless/generated.lua
  data/impl.yaml
  data/impl/GetBuildInfo_1_15_0.lua
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  wowless/loader.lua
Due: yamlfmt, luacheck, addon-chmod

bump wow and wowxptr to 10.2.0.52129
  data/products/wow/build.yaml
  data/products/wowxptr/build.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 1.15.0.52146
  data/products/wow_classic_era_ptr/build.yaml
Due: yamlfmt

bump wow and wowxptr to 10.2.0.52148
  data/products/wow/build.yaml
  data/products/wowxptr/build.yaml
Due: yamlfmt

bump wowxptr to 10.2.0.52188
  data/products/wowxptr/build.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.0.52186
  data/impl.yaml
  data/impl/RunMacroText.lua
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era/uiobjects.yaml
  wowless/loader.lua
Due: yamlfmt, luacheck

bump wow to 10.2.0.52188
  data/products/wow/build.yaml
Due: yamlfmt

UnitClassification return named "result"
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

bump wowt to 10.2.5.52206
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

introduce impltests
  addon/Wowless/generated.lua
  data/test/GetBuildInfo_10_1.lua
  data/test/GetBuildInfo_1_15_0.lua
  data/test/GetBuildInfo_3_4_2.lua
  spec/data/test_spec.lua
  tools/gentest.lua
  tools/mkninja.lua
Due: luacheck, addon-chmod

add missing dep
  tools/mkninja.lua
Due: luacheck

implicit deps
  CMakeLists.txt
  tools/gentest.lua
  tools/mkninja.lua
Due: luacheck

introduce impltests (#305)
  CMakeLists.txt
  addon/Wowless/generated.lua
  data/test/GetBuildInfo_10_1.lua
  data/test/GetBuildInfo_1_15_0.lua
  data/test/GetBuildInfo_3_4_2.lua
  spec/data/test_spec.lua
  tools/gentest.lua
  tools/mkninja.lua
Due: luacheck, addon-chmod

fix test deps, add UnitName test
  CMakeLists.txt
  addon/Wowless/generated.lua
  data/schemas/test.yaml
  data/test.yaml
  data/test/UnitName.lua
  spec/data/test_spec.lua
  spec/data/yaml_spec.lua
  tools/mkninja.lua
  wowapi/data.lua
Due: yamlfmt, luacheck, addon-chmod

bump wow_classic_era and wow_classic_era_ptr to 1.15.0.52212
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era_ptr/build.yaml
Due: yamlfmt

fix UnitName
  data/impl.yaml
  data/impl/UnitName_10_2_5.lua
  data/products/wowt/apis.yaml
  data/test.yaml
  data/test/UnitName_10_2_5.lua
Due: yamlfmt, luacheck

stub GetCombatRating* functions for paper doll frame
  data/products/wowt/apis.yaml
Due: yamlfmt

denylist broken /ev
  data/products/wowt/config.yaml
Due: yamlfmt

bump wowt to 10.2.5.52206 (#306)
  data/impl.yaml
  data/impl/UnitName_10_2_5.lua
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/test.yaml
  data/test/UnitName_10_2_5.lua
Due: yamlfmt, luacheck

migrate some api impl tests to new framework
  addon/Wowless/api.lua
  addon/Wowless/generated.lua
  data/test.yaml
  data/test/C_CovenantSanctumUI.GetRenownLevels.lua
  data/test/C_Timer.NewTimer.lua
  data/test/GetClickFrame.lua
  data/test/IsLinuxClient.lua
  data/test/IsMacClient.lua
  data/test/IsWindowsClient.lua
  spec/data/test_spec.lua
Due: yamlfmt, luacheck, addon-chmod

IsTestBuild test, clean up luacheckrc
  .luacheckrc
  addon/Wowless/generated.lua
  addon/Wowless/uiobjects.lua
  data/test.yaml
  data/test/IsTestBuild.lua
Due: yamlfmt, luacheck, addon-chmod

assert three addon args
  addon/Wowless/test.lua
Due: luacheck, addon-chmod

bump wow_classic and wow_classic_ptr to 3.4.3.52237
  data/products/wow_classic/build.yaml
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

clarify frame strata xml test
  addon/Wowless/test.xml
Due: addon-chmod

no more add_strict
  CMakeLists.txt
Due: none

log outfile
  tools/cascmap.lua
Due: luacheck

write case, md5 checks
  CMakeLists.txt
  tools/cascmap.lua
  tools/fetch.lua
Due: luacheck

bump wow_classic_era_ptr to 1.15.0.52302
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
Due: yamlfmt
