Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: build/cmake/yamlfmt
  language: system

gentest: use sets for impl_to_apis, sorted for iteration
  tools/gentest.lua
Due: luacheck

data/test: declare impl dependencies as sets, pass in sorted order (#564)
  addon/Wowless/generated.lua
  addon/Wowless/util.lua
  data/schemas/test.yaml
  data/test.yaml
  data/test/EnumerateFrames.lua
  data/test/GetClickFrame.lua
  data/test/getfenv.lua
  data/test/loadstring.lua
  data/test/securecallfunction.lua
  spec/data/test_spec.lua
  tools/gentest.lua
Due: luacheck, yamlfmt

data/test: add errorhandler impl tests
  data/test.yaml
  data/test/errorhandler.lua
Due: luacheck, yamlfmt

securecallfunction: simplify impl, rewrite tests
  data/test/securecallfunction.lua
  wowless/secure.c
Due: luacheck

errorhandler: simplify seterrorhandler inner function
  wowless/modules/errorhandler.lua
Due: luacheck

prep: support impl-eligible apis with simple inputs and no outputs
  tools/prep.lua
Due: luacheck

prep: support number inputs in impl-eligible apis
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

prep: use implcheck prefix uniformly in impl stubs
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

prep: support string inputs in impl-eligible apis
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

stubs: output type checking for basic lua types in impl stubs #554
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

prep: support mayreturnnothing in impl stubs
  tools/prep.lua
Due: luacheck

prep: replace simple_outputs with check_outputs
  tools/prep.lua
Due: luacheck

prep: replace simple_inputs with check_inputs
  tools/prep.lua
Due: luacheck

prep: simplify mayreturnnothing handling with early return
  tools/prep.lua
Due: luacheck

encodingutil: implement C_EncodingUtil.EncodeBase64 and DecodeBase64
  CMakeLists.txt
  data/impl.yaml
  data/modules.yaml
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/test.yaml
  data/test/C_EncodingUtil.Base64.lua
  wowless/modules/encodingutil.c
Due: luacheck, yamlfmt

funcheck: propagate value on warn path #566
  data/test/C_EncodingUtil.Base64.lua
  spec/wowless/modules/funcheck_spec.lua
  wowless/modules/funcheck.lua
Due: luacheck

typecheck: delegate enum checks to number checkers
  wowless/typecheck.h
Due: none

cgencode: error on unknown string enum in CheckStringEnum
  wowless/modules/cgencode.lua
Due: luacheck

typecheck: reject nil in imploutputunknown to match lua behavior
  wowless/typecheck.h
Due: none

typecheck: guard non-table values in uiobject and luaobject isout paths
  spec/wowless/modules/typecheck_spec.lua
  wowless/modules/typecheck.lua
Due: luacheck

typecheck_align: factor out shared all_values
  spec/wowless/modules/typecheck_align_spec.lua
Due: luacheck

typecheck_align: simplify run_aligned, move all_values before use
  spec/wowless/modules/typecheck_align_spec.lua
Due: luacheck

stubs: move ctypecheck to modules/ctypecheck.c following module API
  CMakeLists.txt
  spec/wowless/modules/typecheck_align_spec.lua
  wowless/modules/ctypecheck.c
  wowless/modules/ctypecheck.lua
Due: luacheck

stubs: make typecheck alignment tests data-driven
  spec/wowless/modules/typecheck_align_spec.lua
Due: luacheck

typecheck_align: update for enum delegation to number checkers
  spec/wowless/modules/typecheck_align_spec.lua
Due: luacheck

typecheck_align: unify tparam_c into tparam
  spec/wowless/modules/typecheck_align_spec.lua
Due: luacheck

stubs: add ctypecheck module and typecheck alignment tests
  CMakeLists.txt
  data/modules.yaml
  spec/wowless/modules/typecheck_align_spec.lua
  wowless/ctypecheck.c
  wowless/modules/ctypecheck.lua
Due: luacheck, yamlfmt

typecheck_align: run lua coverage in not-implemented branch
  spec/wowless/modules/typecheck_align_spec.lua
Due: luacheck

typecheck_align: add all typecheck.lua types to type_matrix
  spec/wowless/modules/typecheck_align_spec.lua
Due: luacheck

typecheck_align: derive not-yet-implemented assertions from type_matrix
  spec/wowless/modules/typecheck_align_spec.lua
Due: luacheck

cmake: reformat target_sources arguments
  CMakeLists.txt
Due: none

stubs: add ctypecheck module and typecheck alignment tests (#565)
  CMakeLists.txt
  data/modules.yaml
  spec/wowless/modules/typecheck_align_spec.lua
  wowless/modules/ctypecheck.c
Due: luacheck, yamlfmt

typecheck align spec: refactor tables to use string keys
  spec/wowless/modules/typecheck_align_spec.lua
Due: luacheck

typecheck: add FileAsset C functions for stub/impl check and output
  spec/wowless/modules/typecheck_align_spec.lua
  tools/prep.lua
  wowless/modules/ctypecheck.c
  wowless/typecheck.h
Due: luacheck

typecheck: add boolean implcheck C functions
  spec/wowless/modules/typecheck_align_spec.lua
  wowless/modules/ctypecheck.c
  wowless/typecheck.h
Due: luacheck

cmake: alphabetize order-insensitive lists
  CMakeLists.txt
Due: none

cmake: alphabetize order-insensitive lists (#567)
  CMakeLists.txt
Due: none

bump wow_classic to 5.5.3.66509
  data/products/wow_classic/build.yaml
Due: yamlfmt

data/test: add impl tests for string.trim
  data/test.yaml
  data/test/string.trim.lua
Due: luacheck, yamlfmt

data/test: address review feedback on string.trim tests
  data/test/string.trim.lua
Due: luacheck

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
