Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, luacheck, addon-chmod

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '2.7.3'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.18.2
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.4
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v17.0.4
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.6
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: yamlfmt
    name: wowless yamlfmt
    entry: lua tools/yamlfmt.lua
    language: system
    types: [yaml]
    files: ^data/
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: local-test
    name: build and test
    entry: sh -c "lua tools/mkninja.lua && ninja -v"
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

addon: more precise capsulens test
  addon/Wowless/generated.lua
Due: luacheck, addon-chmod

bump sqlfluff version
  .pre-commit-config.yaml
Due: none

vcpkg utf8h
  CMakeLists.txt
  vcpkg.json
Due: none

need find_path
  CMakeLists.txt
Due: none

vcpkg utf8h (#318)
  CMakeLists.txt
  vcpkg.json
Due: none

utf8h not needed at top level
  vcpkg.json
Due: none

try WINDOWS_USE_MSBUILD
  ports/elune/portfile.cmake
Due: none

bump wow_classic_era/ptr to 1.15.1.53247
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/build.yaml
Due: yamlfmt

bump wow to 10.2.5.53212
  data/products/wow/build.yaml
Due: yamlfmt

bump wowt to 10.2.5.53262
  data/products/wowt/build.yaml
Due: yamlfmt

bump wow to 10.2.5.53262
  data/products/wow/build.yaml
Due: yamlfmt

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

pre-commit autoupdate (#319)
  .pre-commit-config.yaml
Due: none

use tools.db2 instead
  tools/cascmap.lua
Due: luacheck

bump version and clean up
  ports/elune/portfile.cmake
Due: none

force static via vcpkg_check_linkage
  ports/elune/portfile.cmake
Due: none

remove bad dep
  CMakeLists.txt
Due: none

setup msbuild on windows always
  .github/workflows/test.yml
Due: none

bump wow/wowt to 10.2.5.53441
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
Due: yamlfmt

bump wow_classic_era/ptr to 1.15.1.53495
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
Due: yamlfmt

introduce VertexColor animation type
  addon/Wowless/generated.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt, luacheck, addon-chmod

VertexColor
  tools/docs.lua
Due: luacheck

warn on missing doc type instead of assert
  tools/docs.lua
Due: luacheck

remove skipped_uiobjects from config
  data/schemas/config.yaml
  tools/gentest.lua
Due: yamlfmt, luacheck

mkninja: remove gentest uiobjects dep on config
  tools/mkninja.lua
Due: luacheck

addon: remove ungenerated uiobject false case
  addon/Wowless/generated.lua
Due: luacheck, addon-chmod

addon: check uiobject space across products
  tools/gentest.lua
  tools/mkninja.lua
Due: luacheck

unsupported uiobject tests
  addon/Wowless/generated.lua
Due: luacheck, addon-chmod

era has flipbook
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

fix lint warning
  tools/mkninja.lua
Due: luacheck

addon: test CreateFrame with nonsense type
  data/test.yaml
  data/test/CreateFrame.lua
  wowless/api.lua
Due: yamlfmt, luacheck

uiobject fields/inherits/methods are required
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/uiobjects.yaml
  spec/data/uiobjects_spec.lua
  tools/prep.lua
Due: yamlfmt, luacheck

known unknown uiobjects
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/uiobjects.yaml
  tools/gentest.lua
  tools/prep.lua
Due: yamlfmt, luacheck

Revert "known unknown uiobjects"
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/uiobjects.yaml
  tools/gentest.lua
  tools/prep.lua
Due: yamlfmt, luacheck

move uiobject warners to config.yaml
  addon/Wowless/generated.lua
  data/products/wow/config.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/config.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/config.yaml
  data/schemas/uiobjects.yaml
  tools/gentest.lua
  tools/prep.lua
  wowapi/uiobjects.lua
  wowless/api.lua
Due: yamlfmt, luacheck, addon-chmod

fix flipbook
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

unsupported in generated
  addon/Wowless/generated.lua
  data/products/wow_classic/config.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
Due: yamlfmt, luacheck, addon-chmod

negative uiobject test, fixes #293
  addon/Wowless/generated.lua
  data/products/wow_classic/config.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  tools/gentest.lua
  tools/mkninja.lua
Due: yamlfmt, luacheck, addon-chmod

uiobject skip config
  data/products/wow_classic_era/config.yaml
  data/schemas/config.yaml
Due: yamlfmt

use new uiobject skip config
  data/products/wow_classic_era_ptr/config.yaml
  tools/docs.lua
Due: yamlfmt, luacheck
