Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, luacheck, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: lua tools/yamlfmt.lua
  language: system

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

cvars module
  CMakeLists.txt
  data/impl.yaml
  data/impl/C_CVar.GetCVar.lua
  data/impl/C_CVar.GetCVarBool.lua
  data/impl/C_CVar.GetCVarDefault.lua
  data/impl/C_CVar.RegisterCVar.lua
  data/impl/C_CVar.SetCVar.lua
  data/state/CVars.yaml
  tools/mkninja.lua
  wowless/api.lua
  wowless/modules/cvars.lua
Due: yamlfmt, luacheck

migrate calendar to module
  CMakeLists.txt
  data/impl.yaml
  data/impl/C_Calendar.GetMonthInfo.lua
  data/impl/C_Calendar.SetAbsMonth.lua
  data/impl/C_Calendar.SetMonth.lua
  data/state/Calendar.yaml
  tools/mkninja.lua
  wowless/api.lua
  wowless/modules/calendar.lua
Due: yamlfmt, luacheck

remove write-only ModifiedClicks state for now
  CMakeLists.txt
  data/state/ModifiedClicks.yaml
  tools/mkninja.lua
  tools/prep.lua
  wowless/loader.lua
Due: yamlfmt, luacheck

bump wow to 10.2.5.53584
  data/products/wow/build.yaml
Due: yamlfmt

bump wow_classic to 3.4.3.53622
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow_classic_era/ptr to 1.15.1.53623
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
Due: yamlfmt

gentest globalapis build dep on per-product config
  tools/mkninja.lua
Due: luacheck

system module
  CMakeLists.txt
  data/impl.yaml
  data/impl/GetScreenHeight.lua
  data/impl/GetScreenWidth.lua
  data/impl/IsLoggedIn.lua
  data/state/System.yaml
  tools/mkninja.lua
  wowless/api.lua
  wowless/modules/system.lua
  wowless/runner.lua
Due: yamlfmt, luacheck

runner: use pl.tablex.sort
  wowless/runner.lua
Due: luacheck

just have bindings hang off loader for now
  CMakeLists.txt
  data/state/Bindings.yaml
  tools/mkninja.lua
  tools/prep.lua
  wowless/loader.lua
  wowless/runner.lua
Due: yamlfmt, luacheck

sqlite: cleanup index creation a bit
  tools/sqlite.lua
Due: luacheck

index SpellMisc.SpellID, huge performance win
  tools/sqlite.lua
Due: luacheck

hang addon state directly off api
  CMakeLists.txt
  data/impl.yaml
  data/impl/GetNumAddOns.lua
  data/state/Addons.yaml
  tools/mkninja.lua
  wowless/api.lua
  wowless/loader.lua
  wowless/typecheck.lua
Due: yamlfmt, luacheck

units module
  CMakeLists.txt
  data/impl.yaml
  data/impl/C_Traits.GetConfigInfo.lua
  data/impl/C_Traits.GetNodeInfo.lua
  data/impl/GetNumTalentTabs.lua
  data/impl/GetNumTalents.lua
  data/impl/GetSpecializationInfo.lua
  data/impl/GetSpecializationInfoForClassID.lua
  data/impl/GetSpecializationInfoForSpecID.lua
  data/impl/GetTalentInfo_Vanilla.lua
  data/impl/GetTalentPrereqs_Vanilla.lua
  data/impl/GetTalentPrereqs_Wrath.lua
  data/impl/GetTalentTabInfo_Wrath.lua
  data/impl/SendSystemMessage.lua
  data/state/Units.yaml
  spec/wowless/typecheck_spec.lua
  tools/mkninja.lua
  wowless/api.lua
  wowless/modules/units.lua
  wowless/typecheck.lua
Due: yamlfmt, luacheck

talents module
  CMakeLists.txt
  data/impl.yaml
  data/impl/C_ClassTalents.GetActiveConfigID.lua
  data/impl/C_ClassTalents.InitializeViewLoadout.lua
  data/impl/C_ClassTalents.ViewLoadout.lua
  data/impl/C_Traits.GetConfigInfo.lua
  data/impl/C_Traits.GetNodeInfo.lua
  data/state/Talents.yaml
  data/state/tmp.yaml
  tools/mkninja.lua
  wowless/api.lua
  wowless/modules/talents.lua
Due: yamlfmt, luacheck

bye bye state
  CMakeLists.txt
  data/schemas/impl.yaml
  data/schemas/schematype.yaml
  data/schemas/state.yaml
  data/state/tmp.yaml
  spec/data/yaml_spec.lua
  tools/mkninja.lua
  tools/prep.lua
  wowapi/data.lua
  wowapi/loader.lua
  wowapi/schema.lua
  wowless/api.lua
Due: yamlfmt, luacheck

reintroduce wow_classic_beta for cataclysm
  CMakeLists.txt
  bin/install-addons.sh
  data/products.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/structures.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_beta/xml.yaml
  tools/mkninja.lua
Due: yamlfmt, luacheck

bump build
  data/products/wow_classic_beta/build.yaml
Due: yamlfmt

fixup uiobjects
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
Due: yamlfmt

docs: only propagate stubs on named outputs
  tools/docs.lua
Due: luacheck

checkpoint
  data/products/wow_classic_beta/docs.yaml
Due: yamlfmt

errsv fixes
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/structures.yaml
Due: yamlfmt

client is clear
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/uiobjects.yaml
Due: yamlfmt

fetch: pull xsd from cata build spot too
  tools/fetch.lua
Due: luacheck

docs
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/structures.yaml
Due: yamlfmt

assert all flavors are referenced
  data/flavors.yaml
  spec/data/flavors_spec.lua
  tools/mkninja.lua
Due: yamlfmt, luacheck

flavor alternates is now a list
  data/flavors.yaml
  data/schemas/flavors.yaml
  wowless/loader.lua
Due: yamlfmt, luacheck

fetch: drive toc resolution from flavor alternatives
  tools/fetch.lua
  tools/mkninja.lua
Due: luacheck

cata flavor, skip top level loading
  data/flavors.yaml
  data/products/wow_classic_beta/build.yaml
  wowless/loader.lua
Due: yamlfmt, luacheck

loader: LoadFirst/GuardedAddOn support
  wowless/loader.lua
Due: luacheck

loader: optional toplevel, support LoadFirst
  wowless/loader.lua
Due: luacheck

loader: clean up #303 workaround
  wowless/loader.lua
Due: luacheck

loader: SuppressLocalTableRef support
  wowless/loader.lua
Due: luacheck

checkpoint: GetAtlasInfo
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

loader: OptionalDeps support
  wowless/loader.lua
Due: luacheck

loader: LoadWith support
  wowless/loader.lua
Due: luacheck

checkpoint: GetTemplateInfo
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

loader: prevent recursively loading yourself
  wowless/loader.lua
Due: luacheck

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
