Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, addon-chmod

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '2.6.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.17.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.13
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.11.0
  hooks:
  - id: markdownlint
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.8.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: yamlfmt
    name: wowless yamlfmt
    entry: env/bin/lua tools/yamlfmt.lua
    language: system
    types: [yaml]
    files: ^data/
  - id: luacheck
    name: luacheck
    entry: env/bin/luacheck
    language: system
    types: [lua]
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: local-test
    name: build and test
    entry: sh -c "env/bin/lua tools/mkninja.lua && ninja"
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

start sandbox
  sandbox.lua
Due: none

bump wow to 10.0.7.49267
  data/products/wow/build.yaml
Due: yamlfmt

checkstack
  sandbox.lua
Due: none

remove setfenv from api stubs
  tools/prep.lua
  wowapi/loader.lua
Due: none

move structure fields to subfield
  data/products/wow/structures.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wowt/structures.yaml
  data/schemas/structures.yaml
  spec/data/structures_spec.lua
  tools/docs.lua
  tools/prep.lua
  tools/rewrite.lua
Due: yamlfmt

mixin belongs to structure
  data/products/wow/apis.yaml
  data/products/wow/events.yaml
  data/products/wow/structures.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/events.yaml
  data/products/wowt/structures.yaml
  data/schemas/structures.yaml
  data/schemas/type.yaml
  tools/docs.lua
  tools/prep.lua
  wowapi/loader.lua
Due: yamlfmt

use elune global trig
  addon/Wowless/generated.lua
  data/impl.yaml
  data/impl/acos.lua
  data/impl/asin.lua
  data/impl/atan.lua
  data/impl/atan2.lua
  data/impl/cos.lua
  data/impl/sin.lua
  data/impl/tan.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/schemas/apis.yaml
  spec/data/impl_spec.lua
Due: yamlfmt, addon-chmod

bump wow_classic to 3.4.1.49345
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow to 10.0.7.49343
  data/products/wow/build.yaml
Due: yamlfmt

bump wowt to 10.1.0.49318
  data/products/wowt/build.yaml
Due: yamlfmt

build.flavors -> build.data.flavors
  tools/mkninja.lua
  wowless/loader.lua
Due: none

fetch: depend on generated build.lua
  tools/fetch.lua
  tools/mkninja.lua
Due: none

remove unnecessary loadstring hack
  wowless/runner.lua
Due: none

proper UnitSpellHaste stub
  data/products/wow/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wowt/apis.yaml
Due: yamlfmt

add GSE to addon list
  tools/addons.yaml
Due: none

bump wowt to 10.1.0.49365
  data/products/wowt/build.yaml
Due: yamlfmt

drive from C
  CMakeLists.txt
  bin/run.sh
  tools/mkninja.lua
  wowless.c
  wowless/ext.c
Due: none

Revert "drive from C"
  CMakeLists.txt
  bin/run.sh
  tools/mkninja.lua
  wowless.c
  wowless/ext.c
Due: none

bump wowt to 10.1.0.49407
  data/products/wowt/build.yaml
Due: yamlfmt

remove unused coverage support
  .gitignore
  bin/coverage.sh
  tools/mkninja.lua
  tools/precov.lua
  wowless-scm-0.rockspec
Due: none

bump wow to 10.1.0.49407
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/config.yaml
  data/products/wow/cvars.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

remove another remnant of coverage
  .luacov
Due: none

move elune to cmake external project
  .gitmodules
  CMakeLists.txt
  bin/run.sh
  tools/mkninja.lua
  wowless/ext.c
Due: none

eliminate subninja
  tools/mkninja.lua
Due: none

move elune to cmake external project (#244)
  .gitmodules
  CMakeLists.txt
  bin/run.sh
  tools/mkninja.lua
  wowless/ext.c
Due: none

build luarocks against elune
  CMakeLists.txt
  tools/mkninja.lua
Due: none

update vscode c compile commands
  .vscode/c_cpp_properties.json
Due: none

hack to support 3.4.2.49442 GetBuildInfo
  addon/Wowless/generated.lua
  addon/Wowless/util.lua
Due: addon-chmod

implement C_EventUtils.IsEventValid
  data/impl.yaml
  data/impl/C_EventUtils.IsEventValid.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
Due: yamlfmt

bump wow_classic_ptr to 3.4.2.49442
  data/impl.yaml
  data/impl/GetBuildInfo_3_4_2.lua
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
Due: yamlfmt

remove ptr field from builds
  data/products/wow/build.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wowt/build.yaml
  data/schemas/build.yaml
  wowless/loader.lua
Due: yamlfmt

elune LUA_PATH is build/rocks, not /usr/local
  CMakeLists.txt
Due: none

cmaked artifacts all under build/cmake
  CMakeLists.txt
  tools/mkninja.lua
Due: none

install our own sqlite3
  CMakeLists.txt
  tools/mkninja.lua
Due: none

saner cmake elune directories
  CMakeLists.txt
  bin/run.sh
  tools/mkninja.lua
Due: none

loader: message on parseTypedValue errors
  wowless/loader.lua
Due: none

bump wow and wowt to 10.1.0.49444
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
Due: yamlfmt

install our own expat
  CMakeLists.txt
  tools/mkninja.lua
Due: none
