Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.0.3'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.20.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v18.1.8
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: mkninja
    name: create build system
    entry: lua tools/mkninja.lua
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: ninja -v
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

use it in loader
  wowless/loader.lua
  wowless/toc.lua
Due: luacheck

use in fetch
  tools/fetch.lua
Due: luacheck

toc: shared parse function
  tools/fetch.lua
  wowless/loader.lua
  wowless/toc.lua
Due: luacheck

toc: parse tests
  spec/wowless/toc_spec.lua
Due: luacheck

toc: [Family] substitution
  spec/wowless/toc_spec.lua
  tools/fetch.lua
  wowless/loader.lua
  wowless/toc.lua
Due: luacheck

bump wowt to 11.1.5.60008 (client verified, broken locally)
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 1.15.7.60000
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/globals.yaml
Due: yamlfmt

toc: allowload filters
  spec/wowless/toc_spec.lua
  wowless/toc.lua
Due: luacheck

bump wow_classic to 4.4.2.59962
  data/products/wow_classic/build.yaml
Due: yamlfmt

GetCurrentEnvironment
  data/impl.yaml
  data/impl/GetCurrentEnvironment.lua
  data/products/wowt/apis.yaml
  data/test.yaml
  data/test/GetCurrentEnvironment.lua
Due: luacheck, yamlfmt

rename GetAtlasInfo_10_2 to GetAtlasInfo
  data/impl.yaml
  data/impl/C_Texture.GetAtlasInfo.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/sql/lookup/C_Texture.GetAtlasInfo.sql
Due: luacheck, yamlfmt

stop using UiTextureAtlasMember.CommittedName
  data/sql/lookup/C_Texture.GetAtlasInfo.sql
  tools/sqlite.lua
Due: luacheck

elementName in GetAtlasInfo 11.1.5
  data/impl.yaml
  data/impl/C_Texture.GetAtlasInfo_11_1_5.lua
  data/products/wowt/apis.yaml
  data/sql/lookup/C_Texture.GetAtlasInfo_11_1_5.sql
Due: luacheck, yamlfmt

introduce env module, improve GetCurrentEnvironment
  CMakeLists.txt
  data/impl.yaml
  data/impl/GetCurrentEnvironment.lua
  data/test/GetCurrentEnvironment.lua
  wowless/api.lua
  wowless/modules/env.lua
Due: luacheck, yamlfmt

GetGlobalEnvironment and IsInGlobalEnvironment
  data/impl.yaml
  data/products/wowt/apis.yaml
  data/test.yaml
  data/test/GetGlobalEnvironment.lua
  data/test/IsInGlobalEnvironment.lua
  wowless/modules/env.lua
Due: luacheck, yamlfmt

TextureBase:GetAtlas
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/Texture/SetAtlas.lua
  data/uiobjects/Texture/SetColorTexture.lua
  data/uiobjects/Texture/SetTexture.lua
Due: luacheck, yamlfmt

SwapToGlobalEnvironment
  data/impl.yaml
  data/products/wowt/apis.yaml
  data/test.yaml
  data/test/SwapToGlobalEnvironment.lua
  wowless/modules/env.lua
Due: luacheck, yamlfmt

bump wow to 11.1.0.60037
  data/products/wow/build.yaml
Due: yamlfmt

gha: dodge cmake 4, libyaml is broken
  .github/workflows/test.yml
Due: none

gha: dodge cmake 4, libyaml is broken (#396)
  .github/workflows/test.yml
Due: none

bump wow_classic_era_ptr to 1.15.7.60013
  data/products/wow_classic_era_ptr/build.yaml
Due: yamlfmt

file2c: designated initializer
  tools/file2c.lua
Due: luacheck

file2c: designated initializer (#397)
  tools/file2c.lua
Due: luacheck

file2c: factor struct out to separate header
  CMakeLists.txt
  tools/file2c.h
  tools/file2c.lua
  tools/lua2c.lua
Due: luacheck

factor preload C code out of lua2c.lua
  CMakeLists.txt
  tools/lua2c.c
  tools/lua2c.h
  tools/lua2c.lua
  tools/luamain.lua
Due: luacheck

do not write empty arrays
  tools/lua2c.lua
Due: luacheck

factor preload C code out of lua2c.lua (#398)
  CMakeLists.txt
  tools/lua2c.c
  tools/lua2c.h
  tools/lua2c.lua
  tools/luamain.lua
Due: luacheck

refactor luamain
  CMakeLists.txt
  tools/luamain.c
  tools/luamain.h
  tools/luamain.lua
Due: luacheck

refactor luamain (#399)
  CMakeLists.txt
  tools/luamain.c
  tools/luamain.h
  tools/luamain.lua
Due: luacheck

move preload into luamain
  CMakeLists.txt
  tools/lua2c.c
  tools/lua2c.h
  tools/luamain.c
Due: none

update lsqlite3 url
  CMakeLists.txt
Due: none

bump wowt to 11.1.5.60067
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/globals.yaml
Due: yamlfmt

bump wow_classic to 4.4.2.60142
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 1.15.7.60141
  data/products/wow_classic_era_ptr/build.yaml
Due: yamlfmt

bump versions
  .pre-commit-config.yaml
  .sqlfluff
Due: none

catchup fixes
  CMakeLists.txt
  sandbox.lua
Due: luacheck

env index fixes
  data/impl/getfenv.lua
  wowless/modules/env.lua
Due: luacheck

getfenv tests
  data/test.yaml
  data/test/getfenv.lua
Due: luacheck, yamlfmt

move getfenv impl to env module
  data/impl.yaml
  data/impl/getfenv.lua
  wowless/modules/env.lua
Due: luacheck, yamlfmt

fix getfenv(fn)
  data/test/getfenv.lua
Due: luacheck
