Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: build/cmake/yamlfmt
  language: system

prep: remove none case, assert uiobject method C-stub eligibility
  tools/prep.lua
Due: luacheck

prep: convert getter uiobject methods to C impl stubs
  tools/prep.lua
Due: luacheck

prep: convert getter uiobject methods to C impl stubs (#676)
  tools/prep.lua
Due: luacheck

docs: update CLAUDE.md api loading description to reflect all-C stubs
  CLAUDE.md
Due: none

uiobjectloader: use factories in sandboxindex to avoid bubblewrap on cstubs
  wowless/modules/uiobjectloader.lua
  wowless/stubs.cpp
Due: luacheck

build: convert C++ to C
  CMakeLists.txt
  tools/prep.lua
  wowless/stubs.c
  wowless/stubs.h
  wowless/typecheck.h
Due: luacheck

stubs: handle stringenums entirely in C with static registry
  tools/prep.lua
  wowless/modules/cgencode.lua
  wowless/typecheck.h
Due: luacheck

prep: use lua_setvaluetaint instead of cstub_enter/exit for setters
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

prep: convert setter uiobject methods to C impl stubs
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

prep: use implchecks for setter inputs to coerce primitives
  tools/prep.lua
Due: luacheck

prep: remove stringenum implcheck verb hack
  tools/prep.lua
Due: luacheck

prep: handle Font string-name coercion in setter stubs
  tools/prep.lua
Due: luacheck

prep: convert setter uiobject methods to C impl stubs (#678)
  tools/prep.lua
Due: luacheck

uiobjectloader: remove sandboximpl, let settexture use funcheck path
  tools/prep.lua
  wowless/modules/uiobjectloader.lua
Due: luacheck

uiobjectloader: remove sandboximpl
  tools/prep.lua
  wowless/modules/uiobjectloader.lua
Due: luacheck

prep: move font input special case from setter generator to the font implcheck
  tools/prep.lua
Due: luacheck

prep: uiobjectimpl dispatch returns only new data, loop injects mv fields
  tools/prep.lua
Due: luacheck

prep: uiobjectimpl dispatch returns only new data, loop injects mv fields (#682)
  tools/prep.lua
Due: luacheck

prep: coutput flag is required
  tools/prep.lua
Due: luacheck

prep: clean up d.cstub branching so there's only one branch point
  tools/prep.lua
Due: luacheck

prep: prepend self uiobject spec to inputs, eliminating arg_offset in emit_stub_body
  tools/prep.lua
Due: luacheck

prep: extract emit_implstub_body from global api impl stub loop
  tools/prep.lua
Due: luacheck

uiobjectloader: convert uiobjectimpl lua methods to C impl stubs
  tools/prep.lua
  wowless/modules/uiobjectloader.lua
  wowless/stubs.cpp
  wowless/stubs.h
Due: luacheck

prep: extract emit_implstub_body from global api impl stub loop (#683)
  tools/prep.lua
Due: luacheck

prep: lua value emitters should return strings that the caller emits
  tools/prep.lua
Due: luacheck

prep: coutpushers should return strings that the caller emits
  tools/prep.lua
Due: luacheck

prep: add ins() helper for table.insert+string.format
  tools/prep.lua
Due: luacheck

bump wow_classic_era_ptr to 2.5.5.67323 (unverified)
  data/products/wow_classic_era_ptr/build.yaml
Due: yamlfmt

bump wow_anniversary to 2.5.5.67852
  data/products/wow_anniversary/build.yaml
Due: yamlfmt

GetSpecializationInfoByID gender arg is very permissive
  data/test.yaml
  data/test/GetSpecializationInfoByID.lua
  wowless/typecheck.h
Due: luacheck, yamlfmt

bump wowt to 12.0.5.67602
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

midnight beta is no more
  data/products.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/config.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/luaobjects.yaml
  data/products/wow_beta/structures.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wow_beta/xml.yaml
Due: yamlfmt

bump wow to 12.0.5.67823
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/config.yaml
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/luaobjects.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

toc: handle filters on directives
  spec/wowless/toc_spec.lua
  wowless/toc.lua
Due: luacheck

bump wowxptr to 12.0.7.67808
  addon/Wowless/luaobjects.lua
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/luaobjects.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/docs.yaml
  data/schemas/doctable.yaml
  spec/data/luaobjects_spec.lua
Due: luacheck, yamlfmt

fix LuaCurveObjectBase typedef
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow/luaobjects.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/luaobjects.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/luaobjects.yaml
Due: yamlfmt

bump wow_classic to 5.5.4.67969
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic/luaobjects.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic/uiobjects.yaml
Due: yamlfmt

bump wow_classic_ptr to 5.5.4.67849 (unverified)
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wow_classic_ptr/luaobjects.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
Due: yamlfmt

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
