Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

generatexmltest: pull Layers tag out of the FontString IIFE
  tools/generatexmltest.lua
Due: luacheck

generatexmltest: fontString takes point directly, hoist stringenums
  tools/generatexmltest.lua
Due: luacheck

generatexmltest: fontString takes justify and point as separate args
  tools/generatexmltest.lua
Due: luacheck

testaddon: generate FontString justifyH test from stringenums.yaml (#730)
  addon/Wowless/test.xml
  tools/generatexmltest.lua
Due: luacheck

loader: xmlcode is a module with capability deps
  CMakeLists.txt
  data/modules.yaml
  tools/prep.lua
  wowless/modules/bindings.lua
  wowless/modules/chunks.lua
  wowless/modules/loader.lua
  wowless/modules/xmlcode.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

loader: extract the keybinding registry into a bindings module
  CMakeLists.txt
  data/modules.yaml
  wowless/modules/bindings.lua
  wowless/modules/loader.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

runner: rename allBindings to bindings
  wowless/runner.lua
Due: luacheck

loader: extract keybinding registry into a bindings module (#734)
  CMakeLists.txt
  data/modules.yaml
  wowless/modules/bindings.lua
  wowless/modules/loader.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

loader: extract Lua chunk compilation into a chunks module
  CMakeLists.txt
  data/modules.yaml
  wowless/modules/chunks.lua
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

chunks: caller-supplied taint, invoke the loaded chunk via CallSandbox
  data/modules.yaml
  wowless/modules/chunks.lua
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

Revert "chunks: caller-supplied taint, invoke the loaded chunk via CallSandbox"
  data/modules.yaml
  wowless/modules/chunks.lua
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

chunks: caller supplies the taint string
  wowless/modules/chunks.lua
  wowless/modules/loader.lua
Due: luacheck

loader: taint by actual addon identity, not a filename substring match
  wowless/modules/loader.lua
Due: luacheck

loader: generate the Bindings XML element handlers
  CMakeLists.txt
  data/modules.yaml
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  tools/prep.lua
  wowless/modules/loader.lua
  wowless/modules/xmlcode.lua
Due: luacheck, yamlfmt

bump wow_anniversary to 2.5.6.68575
  data/products/wow_anniversary/build.yaml
  data/products/wow_anniversary/globals.yaml
Due: yamlfmt

bump wow_classic to 5.5.4.68571
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wowt to 12.1.0.68569
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

generatexmltest: factor out script hack logic
  tools/generatexmltest.lua
Due: luacheck

data: move stringenums from a global file to per-product config
  CMakeLists.txt
  data/datafiles.yaml
  data/modules.yaml
  data/products/wow/stringenums.yaml
  data/products/wow_anniversary/stringenums.yaml
  data/products/wow_classic/stringenums.yaml
  data/products/wow_classic_era/stringenums.yaml
  data/products/wow_classic_era_ptr/stringenums.yaml
  data/products/wow_classic_ptr/stringenums.yaml
  data/products/wowt/stringenums.yaml
  data/products/wowxptr/stringenums.yaml
  spec/data/yaml_spec.lua
  tools/docs.lua
  tools/prep.lua
  wowapi/schema.lua
  wowless/modules/points.lua
  wowless/xml.lua
Due: luacheck, yamlfmt

generatexmltest: point at data/products/wow/stringenums.yaml
  tools/generatexmltest.lua
Due: luacheck

data: move stringenums from a global file to per-product config (#737)
  CMakeLists.txt
  data/datafiles.yaml
  data/modules.yaml
  data/products/wow/stringenums.yaml
  data/products/wow_anniversary/stringenums.yaml
  data/products/wow_classic/stringenums.yaml
  data/products/wow_classic_era/stringenums.yaml
  data/products/wow_classic_era_ptr/stringenums.yaml
  data/products/wow_classic_ptr/stringenums.yaml
  data/products/wowt/stringenums.yaml
  data/products/wowxptr/stringenums.yaml
  spec/data/yaml_spec.lua
  tools/docs.lua
  tools/generatexmltest.lua
  tools/prep.lua
  wowapi/schema.lua
  wowless/modules/points.lua
  wowless/xml.lua
Due: luacheck, yamlfmt

testaddon: generate KeyValue type-coercion test from data
  addon/Wowless/test.xml
  tools/generatexmltest.lua
Due: luacheck

testaddon: generate KeyValue type-coercion test from data (#739)
  addon/Wowless/test.xml
  tools/generatexmltest.lua
Due: luacheck

spec: assert every stringenum is actually referenced somewhere
  CMakeLists.txt
  data/products/wow/stringenums.yaml
  data/products/wow_anniversary/stringenums.yaml
  data/products/wow_classic/stringenums.yaml
  data/products/wow_classic_era_ptr/stringenums.yaml
  data/products/wow_classic_ptr/stringenums.yaml
  data/products/wowt/stringenums.yaml
  data/products/wowxptr/stringenums.yaml
  spec/data/stringenums_spec.lua
Due: luacheck, yamlfmt

spec: assert every stringenum is actually referenced somewhere (#738)
  CMakeLists.txt
  data/products/wow/stringenums.yaml
  data/products/wow_anniversary/stringenums.yaml
  data/products/wow_classic/stringenums.yaml
  data/products/wow_classic_era_ptr/stringenums.yaml
  data/products/wow_classic_ptr/stringenums.yaml
  data/products/wowt/stringenums.yaml
  data/products/wowxptr/stringenums.yaml
  spec/data/stringenums_spec.lua
Due: luacheck, yamlfmt

docs: source stringenum values from Blizzard_SharedXML/UI.xsd
  CMakeLists.txt
  data/products/wow/docs.yaml
  data/products/wow_anniversary/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

bump wowt to 12.1.0.68629
  data/products/wowt/build.yaml
Due: yamlfmt

spec: check that every stringenum is nonempty and fully uppercase
  spec/data/stringenums_spec.lua
Due: luacheck

spec: check that every stringenum is nonempty and fully uppercase (#743)
  spec/data/stringenums_spec.lua
Due: luacheck

xml: migrate to module system
  CMakeLists.txt
  data/modules.yaml
  wowless/modules/loader.lua
  wowless/modules/xml.lua
  wowless/xml.lua
Due: luacheck, yamlfmt

xml: migrate to module system (#744)
  CMakeLists.txt
  data/modules.yaml
  wowless/modules/loader.lua
  wowless/modules/xml.lua
  wowless/xml.lua
Due: luacheck, yamlfmt

xml: dispatch attribute types by tag instead of a fused name table
  tools/prep.lua
  wowless/modules/xml.lua
Due: luacheck

xml: inline attributeTypes into a single table literal
  wowless/modules/xml.lua
Due: luacheck

xml: dispatch attribute types by tag instead of a fused name table (#746)
  tools/prep.lua
  wowless/modules/xml.lua
Due: luacheck

xml: match stringenum attribute values case-insensitively
  tools/generatexmltest.lua
  wowless/modules/xml.lua
Due: luacheck

generatexmltest: cover every JustifyHorizontal value's case-insensitivity
  tools/generatexmltest.lua
Due: luacheck

xml: match stringenum attribute values case-insensitively (#742)
  tools/generatexmltest.lua
  wowless/modules/xml.lua
Due: luacheck

xml: wire up StatusBar's fillStyle attribute
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  tools/generatexmltest.lua
  wowless/modules/xml.lua
Due: luacheck, yamlfmt

generatexmltest: fix fillStyle test to actually run, scope its reads
  tools/generatexmltest.lua
Due: luacheck

generatexmltest: make fillStyle test product-agnostic
  tools/generatexmltest.lua
Due: luacheck
