Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
  language: system

uiobject method outputs are named
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/uiobjects.yaml
  spec/data/uiobjects_spec.lua
Due: luacheck, yamlfmt

ClearParentKey is everywhere
  addon/Wowless/uiobjects.lua
  data/uiobjects/ParentedObjectBase/SetParentKey.lua
Due: luacheck, addon-chmod

gentest: remove bignum workaround
  tools/gentest.lua
Due: luacheck

autogenerate a bunch of number getters #439
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

bump wow_classic to 5.5.0.62258
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
Due: yamlfmt

getter/setter for hyperlink format
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

getter/setter for stringenum fields
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

getters/setters for boolean fields
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

getter/setter for simple enum fields
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

docs for Get/SetFontObject
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

onplaytest
  addon/Wowless/uiobjects.lua
Due: luacheck, addon-chmod

test that SetParentKey respects __newindex
  addon/Wowless/uiobjects.lua
Due: luacheck, addon-chmod

yaml: emit null as nothing
  data/schemas/config.yaml
  data/schemas/docs.yaml
  data/schemas/families.yaml
  data/schemas/stringenums.yaml
  data/schemas/test.yaml
  data/schemas/uiobjectimpl.yaml
  data/schemas/uiobjects.yaml
  data/schemas/xml.yaml
  wowapi/yaml.lua
Due: luacheck, yamlfmt

schematype null, use for stringenums
  data/schemas/schematype.yaml
  data/schemas/stringenums.yaml
  data/stringenums.yaml
  wowapi/schema.lua
Due: luacheck, yamlfmt

none-ify docs.yamls
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/docs.yaml
  wowapi/schema.lua
Due: luacheck, yamlfmt

Revert "none-ify docs.yamls"
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/docs.yaml
  wowapi/schema.lua
Due: luacheck, yamlfmt

Revert "schematype null, use for stringenums"
  data/schemas/schematype.yaml
  data/schemas/stringenums.yaml
  data/stringenums.yaml
  wowapi/schema.lua
Due: luacheck, yamlfmt

Revert "yaml: emit null as nothing"
  data/schemas/config.yaml
  data/schemas/docs.yaml
  data/schemas/families.yaml
  data/schemas/stringenums.yaml
  data/schemas/test.yaml
  data/schemas/uiobjectimpl.yaml
  data/schemas/uiobjects.yaml
  data/schemas/xml.yaml
  wowapi/yaml.lua
Due: luacheck, yamlfmt

yaml: disallow lyaml.null
  data/schemas/config.yaml
  data/schemas/docs.yaml
  data/schemas/families.yaml
  data/schemas/stringenums.yaml
  data/schemas/test.yaml
  data/schemas/uiobjectimpl.yaml
  data/schemas/uiobjects.yaml
  data/schemas/xml.yaml
  wowapi/yaml.lua
Due: luacheck, yamlfmt

yaml: simplify mapping emit
  wowapi/yaml.lua
Due: luacheck

bad yaml
  CMakeLists.txt
  wowapi/yaml.c
Due: none

dynamicinit bit on uiobject fields, fixes #442
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/uiobjects.yaml
  tools/gentest.lua
Due: luacheck, yamlfmt

fix casting issues
  wowapi/yaml.c
Due: none

progress
  wowapi/yaml.c
Due: none

formatting fixes
  wowapi/yaml.c
Due: none

real progress
  wowapi/yaml.c
Due: none

emits nulls
  wowapi/yaml.c
Due: none

formatting fixes again
  wowapi/yaml.c
Due: none

full parse
  wowapi/yaml.c
Due: none

format
  wowapi/yaml.c
Due: none

do yaml parsing in C
  CMakeLists.txt
  spec/wowapi/yaml_spec.lua
  wowapi/cyaml.c
  wowapi/yaml.lua
Due: luacheck

cyaml: fix yaml linkage
  CMakeLists.txt
Due: none

cyaml: fix yaml linkage (#445)
  CMakeLists.txt
Due: none

cyaml: use strtod for number parsing
  wowapi/cyaml.c
Due: none

emit booleans
  wowapi/cyaml.c
Due: none

isarray, sequences
  wowapi/cyaml.c
Due: none

yaml: order keys as strings, case-insensitive
  wowapi/yaml.lua
Due: luacheck

parse: do not bother passing str across upvalue func
  wowapi/cyaml.c
Due: none

use a lua table to accumulate output instead
  wowapi/cyaml.c
Due: none

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
