Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

errsv: auto-fix build date from GetBuildInfo impltest mismatches
  data/products/wow_classic_beta/build.yaml
  tools/errsv.lua
Due: luacheck, yamlfmt

errsv: auto-remove events unknown to the real client
  data/products/wow_classic_beta/events.yaml
  tools/errsv.lua
Due: luacheck, yamlfmt

wow_classic_beta: drop stray MINIMAP_PING restricted lie
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
Due: yamlfmt

data: drop families.yaml, declare family per product
  CMakeLists.txt
  data/datafiles.yaml
  data/families.yaml
  data/gametypes.yaml
  data/products/wow/build.yaml
  data/products/wow_anniversary/build.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wowt/build.yaml
  data/products/wowxptr/build.yaml
  data/schemas/build.yaml
  data/schemas/families.yaml
  data/schemas/gametypes.yaml
  spec/data/families_spec.lua
  spec/data/yaml_spec.lua
  spec/wowless/toc_spec.lua
  tools/fetch.lua
  wowless/modules/loader.lua
  wowless/toc.lua
Due: luacheck, yamlfmt

data: move expansion_level from gametypes to per-product config
  data/gametypes.yaml
  data/impl/ClassicExpansionAtLeast.lua
  data/products/wow/config.yaml
  data/products/wow_anniversary/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
  data/schemas/gametypes.yaml
Due: luacheck, yamlfmt

data: drop families.yaml and gametypes.yaml, declare per product
  CMakeLists.txt
  data/datafiles.yaml
  data/families.yaml
  data/gametypes.yaml
  data/products/wow/build.yaml
  data/products/wow_anniversary/build.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wowt/build.yaml
  data/products/wowxptr/build.yaml
  data/schemas/build.yaml
  data/schemas/families.yaml
  data/schemas/gametypes.yaml
  spec/data/families_spec.lua
  spec/data/gametypes_spec.lua
  spec/data/yaml_spec.lua
  spec/wowless/toc_spec.lua
  tools/fetch.lua
  wowless/modules/loader.lua
  wowless/toc.lua
Due: luacheck, yamlfmt

bump wow to 12.1.0.69933
  data/products/wow/build.yaml
  data/products/wow/enums.yaml
Due: yamlfmt

addon: validate gametype/family assignment via real TOC gating
  CMakeLists.txt
  addon/Wowless/generated.lua
  addon/Wowless/init.lua
  tools/gentoc.lua
Due: luacheck

addon: validate gametype/family assignment via real TOC gating (#899)
  CMakeLists.txt
  addon/Wowless/generated.lua
  addon/Wowless/init.lua
  tools/gentoc.lua
Due: luacheck

bump wow_classic_beta to 1.60.1.69977
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/cvars.yaml
Due: yamlfmt

replace gametype=='Standard' checks with family=='Mainline'
  data/impl/ClassicExpansionAtLeast.lua
  data/test/C_DateAndTime.AdjustTimeByDays.lua
  data/test/C_DateAndTime.AdjustTimeByMinutes.lua
  data/test/ClassicExpansionAtLeast.lua
  wowless/modules/datetime.lua
Due: luacheck

wow_classic_beta: fix family to Mainline
  data/products/wow_classic_beta/build.yaml
Due: yamlfmt

covenants: give GetCovenantIDs a real impl, fix GetRenownLevels test
  data/impl.yaml
  data/impl/C_Covenants.GetCovenantIDs.lua
  data/products/wow/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/sql.yaml
  data/sql/C_Covenants.GetCovenantIDs.sql
  data/test.yaml
  data/test/C_CovenantSanctumUI.GetRenownLevels.lua
  spec/data/test_spec.lua
Due: luacheck, yamlfmt

toc: validate [Family]/[Game] substitution via GetAddOnMetadata
  data/test/GetAddOnMetadata.lua
  spec/wowless/toc_spec.lua
  tools/gentoc.lua
Due: luacheck

toc: implement confirmed AllowLoadGameType/ExcludeLoadGameType semantics
  CMakeLists.txt
  addon/Wowless/generated.lua
  addon/Wowless/init.lua
  data/datafiles.yaml
  data/products/wow/excludedgametypes.yaml
  data/products/wow_anniversary/excludedgametypes.yaml
  data/products/wow_classic/excludedgametypes.yaml
  data/products/wow_classic_beta/excludedgametypes.yaml
  data/products/wow_classic_era/excludedgametypes.yaml
  data/products/wow_classic_era_ptr/excludedgametypes.yaml
  data/products/wow_classic_ptr/excludedgametypes.yaml
  data/products/wowt/excludedgametypes.yaml
  data/products/wowxptr/excludedgametypes.yaml
  data/schemas/excludedgametypes.yaml
  spec/data/yaml_spec.lua
  spec/wowless/toc_spec.lua
  tools/fetch.lua
  tools/gentest.lua
  tools/gentoc.lua
  tools/prep.lua
  wowless/modules/loader.lua
  wowless/toc.lua
Due: luacheck, yamlfmt

toc: real-client verify bcc/wowlabs across all 9 products
  data/products/wow/excludedgametypes.yaml
  data/products/wow_classic/excludedgametypes.yaml
  data/products/wow_classic_beta/excludedgametypes.yaml
  data/products/wow_classic_era/excludedgametypes.yaml
  data/products/wow_classic_era_ptr/excludedgametypes.yaml
  data/products/wow_classic_ptr/excludedgametypes.yaml
  data/products/wowt/excludedgametypes.yaml
  data/products/wowxptr/excludedgametypes.yaml
  tools/errsv.lua
Due: luacheck, yamlfmt

toc: implement confirmed AllowLoadGameType/ExcludeLoadGameType semantics (#902)
  CMakeLists.txt
  addon/Wowless/generated.lua
  addon/Wowless/init.lua
  data/datafiles.yaml
  data/products/wow/excludedgametypes.yaml
  data/products/wow_anniversary/excludedgametypes.yaml
  data/products/wow_classic/excludedgametypes.yaml
  data/products/wow_classic_beta/excludedgametypes.yaml
  data/products/wow_classic_era/excludedgametypes.yaml
  data/products/wow_classic_era_ptr/excludedgametypes.yaml
  data/products/wow_classic_ptr/excludedgametypes.yaml
  data/products/wowt/excludedgametypes.yaml
  data/products/wowxptr/excludedgametypes.yaml
  data/schemas/excludedgametypes.yaml
  spec/data/yaml_spec.lua
  spec/wowless/toc_spec.lua
  tools/errsv.lua
  tools/fetch.lua
  tools/gentest.lua
  tools/gentoc.lua
  tools/prep.lua
  wowless/modules/loader.lua
  wowless/toc.lua
Due: luacheck, yamlfmt

bump wow_classic to 5.5.4.69934
  data/products/wow_classic/build.yaml
  data/products/wow_classic/cvars.yaml
Due: yamlfmt

bump wowxptr to 12.1.5.69952
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/enums.yaml
Due: yamlfmt

bump wow_classic_beta to 1.60.1.70009
  data/impl/UnitName.lua
  data/modules.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/enums.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/structures.yaml
  data/schemas/config.yaml
  data/test/UnitName.lua
  wowless/modules/units.lua
Due: luacheck, yamlfmt

gentest: key uiobjectapis scripts by scripttypes across all products
  tools/gentest.lua
Due: luacheck

bump wow_classic to 5.5.4.70032
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.9.70003
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/cvars.yaml
Due: yamlfmt

hierarchy: add generic queries and declaration edits over hierarchy domains
  CMakeLists.txt
  spec/wowless/hierarchy_spec.lua
  wowless/hierarchy.lua
Due: luacheck

bump wowxptr to 12.1.5.70077
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/enums.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
Due: yamlfmt

bump wow_classic_beta to 1.60.1.70124
  data/products/wow_classic_beta/build.yaml
Due: yamlfmt

workflows: run pre-commit autoupdate inline
  .github/workflows/pre-commit-autoupdate.yml
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

pre-commit autoupdate (#909)
  .pre-commit-config.yaml
Due: none

events: register event callbacks per owner
  addon/Wowless/uiobjects.lua
  data/impl.yaml
  data/impl/C_ClassTalents.SwitchToLoadoutByIndex.lua
  data/products/wow/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  wowless/modules/events.lua
Due: luacheck, yamlfmt

addon: drop live flag from event callback registration test
  addon/Wowless/uiobjects.lua
Due: luacheck

events: implement global UnregisterEventCallback
  addon/Wowless/uiobjects.lua
  data/impl.yaml
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_anniversary/docs.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
  wowless/modules/events.lua
Due: luacheck, yamlfmt

addon: test global unregister of a frame's event callback
  addon/Wowless/uiobjects.lua
Due: luacheck

events: unregister frame event callbacks with frame events
  addon/Wowless/uiobjects.lua
  wowless/modules/events.lua
Due: luacheck

events: error on UnregisterEvent of unknown event
  addon/Wowless/generated.lua
  wowless/modules/events.lua
Due: luacheck

events: error on UnregisterEventCallback of unknown event
  addon/Wowless/generated.lua
  wowless/modules/events.lua
Due: luacheck

events: invoke callbacks via funtainer Invoke
  data/modules.yaml
  wowless/modules/events.lua
Due: luacheck, yamlfmt

bump wow_classic_era_ptr to 2.5.6.70006
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/globals.yaml
Due: yamlfmt

bump wow_classic_beta to 1.60.1.70245
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/enums.yaml
  data/products/wow_classic_beta/events.yaml
Due: yamlfmt
