Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, luacheck, addon-chmod

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '2.7.3'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.18.2
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.4
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v17.0.4
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.6
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: yamlfmt
    name: wowless yamlfmt
    entry: lua tools/yamlfmt.lua
    language: system
    types: [yaml]
    files: ^data/
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: local-test
    name: build and test
    entry: sh -c "lua tools/mkninja.lua && ninja -v"
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

CreateFrame test: PingPin stuff
  data/test/CreateFrame.lua
Due: luacheck

StatusBarFillStyle string enum
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/stringenums.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

LoopType string enum
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/stringenums.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

CurveType string enum
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/stringenums.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

move C_DateAndTime tests to addon
  addon/Wowless/generated.lua
  data/impl.yaml
  data/impl/C_DateAndTime.AdjustTimeByDays.lua
  data/impl/C_DateAndTime.AdjustTimeByMinutes.lua
  data/impl/C_DateAndTime.CompareCalendarTime.lua
  data/test.yaml
  data/test/C_DateAndTime.AdjustTimeByDays.lua
  data/test/C_DateAndTime.AdjustTimeByMinutes.lua
  data/test/C_DateAndTime.CompareCalendarTime.lua
  spec/data/impl/C_DateAndTime.AdjustTimeByDays_spec.lua
  spec/data/impl/C_DateAndTime.AdjustTimeByMinutes_spec.lua
  spec/data/impl/C_DateAndTime.CompareCalendarTime_spec.lua
  tools/mkninja.lua
  wowless/util.lua
Due: yamlfmt, luacheck, addon-chmod

move EnumerateFrames test to addon
  data/test.yaml
  data/test/EnumerateFrames.lua
  spec/data/impl/EnumerateFrames_spec.lua
  tools/mkninja.lua
Due: yamlfmt, luacheck

use capital T for test arg
  data/test/C_DateAndTime.AdjustTimeByDays.lua
  data/test/C_DateAndTime.AdjustTimeByMinutes.lua
  data/test/C_DateAndTime.CompareCalendarTime.lua
  data/test/CreateFrame.lua
  data/test/EnumerateFrames.lua
  data/test/GetBuildInfo_10_1.lua
  data/test/GetBuildInfo_1_15_0.lua
  data/test/GetBuildInfo_3_4_2.lua
  data/test/GetClickFrame.lua
  data/test/IsLinuxClient.lua
  data/test/IsMacClient.lua
  data/test/IsTestBuild.lua
  data/test/IsWindowsClient.lua
  data/test/UnitName.lua
  spec/data/test_spec.lua
Due: luacheck

bump wowt to 102.5.53584
  data/products/wowt/build.yaml
Due: yamlfmt

docs: replace api skip_namespaces with skip_docfiles
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

replace uiobject skip with docfile
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/schemas/config.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

skip_docfiles for classic/era
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
Due: yamlfmt

introduce ArchaeologyDigSiteFrame
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

assert all types are known
  data/products/wow/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

schema docs -> doctable
  CMakeLists.txt
  data/schemas/doctable.yaml
  tools/docs.lua
  tools/mkninja.lua
Due: yamlfmt, luacheck

separate per-product docs.yaml
  CMakeLists.txt
  data/products/wow/config.yaml
  data/products/wow/docs.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/config.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/config.yaml
  data/schemas/docs.yaml
  spec/data/yaml_spec.lua
  tools/docs.lua
Due: yamlfmt, luacheck

per-product scrobj table
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/docs.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

docs: script object mapping
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/docs.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

skip modelffx docs
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  data/test/CreateFrame.lua
Due: yamlfmt, luacheck

move into rewriteUIObjects function
  tools/docs.lua
Due: luacheck

docs: skip DebugToggle from configuration
  data/products/wow/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wowt/docs.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

remove notion of debug apis
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/schemas/apis.yaml
  tools/gentest.lua
  tools/prep.lua
Due: yamlfmt, luacheck

disable modelffx test; warnings are different
  data/test/CreateFrame.lua
Due: luacheck

code structure ready
  tools/docs.lua
Due: luacheck

docs: per-product typedefs
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/docs.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

assert CreateWindow returns nil
  data/impl.yaml
  data/impl/CreateWindow.lua
  data/products/wow/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/test.yaml
  data/test/CreateWindow.lua
Due: yamlfmt, luacheck

enforce that nil api ins/outs have no stub/default
  spec/data/apis_spec.lua
Due: luacheck

SimpleWindow is nil
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

omit redundant nilable on nil outputs
  data/products/wow/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  spec/data/apis_spec.lua
  tools/docs.lua
Due: yamlfmt, luacheck

stubnotnil mechanism for apis, fixes #254
  data/products/wow/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/schemas/apis.yaml
  spec/data/apis_spec.lua
  tools/docs.lua
  tools/prep.lua
Due: yamlfmt, luacheck

manually manage sql lookup iterators
  wowapi/loader.lua
Due: luacheck

move event registration to separate file
  CMakeLists.txt
  data/uiobjects/Frame/IsEventRegistered.lua
  data/uiobjects/Frame/RegisterAllEvents.lua
  data/uiobjects/Frame/RegisterEvent.lua
  data/uiobjects/Frame/RegisterUnitEvent.lua
  data/uiobjects/Frame/UnregisterAllEvents.lua
  data/uiobjects/Frame/UnregisterEvent.lua
  wowless/api.lua
  wowless/events.lua
Due: luacheck

GetFramesRegisteredForEvent
  addon/Wowless/test.lua
  data/impl.yaml
  data/impl/GetFramesRegisteredForEvent.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt, luacheck, addon-chmod

events as api framework
  data/impl.yaml
  data/impl/GetFramesRegisteredForEvent.lua
  data/schemas/impl.yaml
  wowapi/loader.lua
Due: yamlfmt, luacheck

RunMacroText_Callback -> RunMacroText
  data/impl.yaml
  data/impl/RunMacroText.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt, luacheck

introduce modules, starting with macrotext
  data/impl.yaml
  data/impl/C_Macro.SetMacroExecuteLineCallback.lua
  data/impl/RunMacroText.lua
  data/schemas/impl.yaml
  spec/data/impl_spec.lua
  tools/prep.lua
  wowless/api.lua
  wowless/runner.lua
Due: yamlfmt, luacheck

events as module
  data/impl.yaml
  data/impl/GetFramesRegisteredForEvent.lua
  wowless/api.lua
  wowless/events.lua
Due: yamlfmt, luacheck

remove events from api toplevel
  data/uiobjects/Frame/IsEventRegistered.lua
  data/uiobjects/Frame/RegisterAllEvents.lua
  data/uiobjects/Frame/RegisterEvent.lua
  data/uiobjects/Frame/RegisterUnitEvent.lua
  data/uiobjects/Frame/UnregisterAllEvents.lua
  data/uiobjects/Frame/UnregisterEvent.lua
  wowless/api.lua
Due: luacheck

introduce wowless/modules directory
  CMakeLists.txt
  wowless/api.lua
  wowless/modules/events.lua
  wowless/modules/macrotext.lua
Due: luacheck

time module
  CMakeLists.txt
  data/impl.yaml
  data/impl/C_Timer.After.lua
  data/impl/C_Timer.NewTicker.lua
  data/impl/C_Timer.NewTimer.lua
  data/impl/GetTime.lua
  data/impl/RequestTimePlayed.lua
  data/impl/SendSystemMessage.lua
  wowless/api.lua
  wowless/loader.lua
  wowless/modules/time.lua
Due: yamlfmt, luacheck

remove time state
  CMakeLists.txt
  data/state/Time.yaml
  tools/mkninja.lua
Due: yamlfmt, luacheck
