Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

cvars
  data/products/wowt/cvars.yaml
Due: yamlfmt

errsv progress
  data/products/wowt/apis.yaml
  data/products/wowt/config.yaml
  data/products/wowt/globals.yaml
  spec/data/globals_spec.lua
Due: luacheck, yamlfmt

start docs agreement
  data/products/wowt/apis.yaml
  data/products/wowt/config.yaml
  data/products/wowt/docs.yaml
Due: yamlfmt

wowt docs enum max value
  tools/docs.lua
Due: luacheck

minimap ping is restricted again
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
Due: yamlfmt

drop dead event
  data/products/wowt/events.yaml
Due: yamlfmt

global api secureonly and env override
  data/products/wowt/apis.yaml
  tools/docs.lua
  tools/gentest.lua
Due: luacheck, yamlfmt

build is test
  data/products/wowt/build.yaml
Due: yamlfmt

fix api aliases
  data/products/wowt/apis.yaml
Due: yamlfmt

VectorGraphics is not a TextureBase
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

factor out AnimatableObject
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

parentkey rawset
  addon/Wowless/uiobjects.lua
  data/modules.yaml
  data/products/wowt/config.yaml
  data/schemas/config.yaml
  wowless/modules/parentkey.lua
Due: luacheck, yamlfmt

table.count
  data/impl.yaml
  data/impl/table.count.lua
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/test.yaml
  data/test/table.count.lua
Due: luacheck, yamlfmt

impl: implement table.count for all products
  data/impl.yaml
  data/impl/table.count.lua
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/test.yaml
  data/test/table.count.lua
Due: luacheck, yamlfmt

uiobjects: add AnimatableObject virtual type to all non-wowt products
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

impl: add docs.yaml lies for table.count type correction
  data/products/wow/docs.yaml
  data/products/wow_anniversary/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

bump wow to 12.0.7.68275
  data/products/wow/build.yaml
Due: yamlfmt

addon: delete broken SetAtlas test
  addon/Wowless/uiobjects.lua
Due: luacheck

bump wow_classic to 5.5.4.68317
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 2.5.6.68184
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_era_ptr/luaobjects.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

some impls
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

fix broken enum UnitTokenType
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

fix UnitTokenType typedef
  data/products/wow_classic_era_ptr/docs.yaml
Due: yamlfmt

more fixes
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/globals.yaml
Due: yamlfmt

fix setalphafromboolean
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

fix RegisterEventCallback docs
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
Due: yamlfmt

tests pass
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

clean in client
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

more fixes
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/structures.yaml
Due: yamlfmt

checkpoint
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
Due: yamlfmt

securecallmethod docs
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
Due: yamlfmt

gametooltip:settext docs
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

GetCurrentEventInfo lie
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
Due: yamlfmt

skip housing purchases
  data/products/wow_classic_era_ptr/config.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 2.5.6.68184 (#708)
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_era_ptr/luaobjects.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

bump to 68301, docs
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

implicit uiparent
  data/products/wowt/apis.yaml
  wowless/runner.lua
Due: luacheck, yamlfmt

loader: do isLoadable check inside doLoadAddon
  wowless/modules/loader.lua
Due: luacheck

move isLoadable check all the way to initAddons
  wowless/modules/loader.lua
Due: luacheck

bump wowxptr to 12.0.7.68367
  data/products/wowxptr/build.yaml
Due: yamlfmt
