Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

prep: move structure codegen into separate h and c
  CMakeLists.txt
  tools/prep.lua
Due: luacheck

prep: per-product names for all generated symbols, separate structures TU
  CMakeLists.txt
  tools/prep.lua
Due: luacheck

uiobject identity test
  addon/Wowless/uiobjects.lua
Due: luacheck

add OnPause scripttype
  addon/Wowless/test.xml
  data/products/wow/uiobjects.yaml
  data/products/wow/xml.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/uiobjects.yaml
  data/products/wowxptr/xml.yaml
  data/scripttypes.yaml
Due: yamlfmt

prep: be explicit about "delegate" uiobject method impls
  tools/prep.lua
Due: luacheck

prep: align uiobject method naming
  tools/prep.lua
Due: luacheck

prep: minor module spec refactor
  tools/prep.lua
Due: luacheck

prep: align uiobject method impldata names
  tools/prep.lua
Due: luacheck

prep: align uiobject method statics generation
  tools/prep.lua
Due: luacheck

prep: single emit call in emit_stub_entry
  tools/prep.lua
Due: luacheck

bump wow_classic to 5.5.4.68077
  data/products/wow_classic/build.yaml
Due: yamlfmt

fix multi-arg GetAttribute on false value
  addon/Wowless/uiobjects.lua
  data/uiobjects/Frame/GetAttribute.lua
Due: luacheck

addon: metatable test on TextureCoordTranslation via lua
  addon/Wowless/uiobjects.lua
Due: luacheck

addon: SetAtlas tests
  addon/Wowless/uiobjects.lua
Due: luacheck

fetch: store namehash to fdid map
  tools/fetch.lua
  tools/tactless.c
Due: luacheck

start messing with casclib
  CMakeLists.txt
  tools/casc.lua
  tools/casclib.c
  vcpkg.json
Due: luacheck

casclib: fix build and userdata metatable bugs
  CMakeLists.txt
  tools/casclib.c
Due: none

casclib: rename casclib.c to .cpp, fix Windows static target
  CMakeLists.txt
  tools/casclib.cpp
Due: none

start messing with casclib (#488)
  CMakeLists.txt
  tools/casc.lua
  tools/casclib.cpp
  vcpkg.json
Due: luacheck

prep: deduplicate c code generation for common lua values
  tools/prep.lua
Due: luacheck

prep: deduplicate c code generation for common lua values (#696)
  tools/prep.lua
Due: luacheck

bump wow_anniversary to 2.5.5.68101
  data/products/wow_anniversary/build.yaml
Due: yamlfmt

prep: deduplicate lua value push logic
  tools/prep.lua
Due: luacheck

prep: deduplicate lua value push logic into push_expr (#697)
  tools/prep.lua
Due: luacheck

tactfull: add tactless proxy server and client
  CMakeLists.txt
  tools/tactfull.lua
  tools/tactfull_curl.c
  tools/tactfull_http.c
  tools/tactfull_server.lua
Due: luacheck

tactfull: rewrite server as pure C, no Lua runtime
  CMakeLists.txt
  tools/tactfull_http.c
  tools/tactfull_server.c
  tools/tactfull_server.lua
Due: luacheck

tactfull: switch from unix socket to TCP localhost for Windows compat
  CMakeLists.txt
  tools/tactfull.lua
  tools/tactfull_curl.c
  tools/tactfull_server.c
Due: luacheck

tactfull: replace hand-rolled HTTP server with libmicrohttpd
  .github/workflows/test.yml
  CMakeLists.txt
  tools/tactfull_server.c
  vcpkg.json
Due: none

tactfull: fix CI for macOS and Windows libmicrohttpd
  .github/workflows/test.yml
  CMakeLists.txt
Due: none

tactfull: decouple idle timeout check from pool sweep
  tools/tactfull_server.c
Due: none

tactfull: server runs until killed, no idle self-termination
  tools/tactfull_server.c
Due: none

tactfull: simplify main loop to sleep 60s between sweeps
  tools/tactfull_server.c
Due: none

tactfull: fix Windows find_library for libmicrohttpd
  CMakeLists.txt
Due: none

tactfull: define WIN32_LEAN_AND_MEAN to avoid winsock double-include
  tools/tactfull_server.c
Due: none

tactfull: check /health before method guard to accept HEAD
  tools/tactfull_server.c
Due: none

vfs: abstract loader file reads behind a vfs module
  CMakeLists.txt
  data/modules.yaml
  wowless.lua
  wowless/modules/loader.lua
  wowless/modules/vfs.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

migrate delayed events from AddTimer to QueueEvent
  data/impl.yaml
  data/impl/RequestTimePlayed.lua
  data/impl/SendSystemMessage.lua
  wowless/modules/time.lua
Due: luacheck, yamlfmt

time: stop creating internal closures
  wowless/modules/time.lua
Due: luacheck

bump wow_classic to 5.5.4.68159
  data/products/wow_classic/build.yaml
  data/products/wow_classic/events.yaml
Due: yamlfmt

gha: use vs2026
  .github/workflows/test.yml
Due: none
