Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

luaobjects: remove tostring_metamethod config, always enable it
  addon/Wowless/asynctests.lua
  addon/Wowless/luaobjects.lua
  data/products/wow/config.yaml
  data/products/wow_anniversary/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
  wowless/luaobject.c
  wowless/modules/luaobjects.lua
  wowless/stubs.cpp
Due: luacheck, yamlfmt

luaobjects: remove tostring_metamethod config, always enable it (#818)
  addon/Wowless/asynctests.lua
  addon/Wowless/luaobjects.lua
  data/products/wow/config.yaml
  data/products/wow_anniversary/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
  wowless/luaobject.c
  wowless/modules/luaobjects.lua
  wowless/stubs.cpp
Due: luacheck, yamlfmt

schema: apply hierarchy construct to xml extends attribute
  data/schemas/xml.yaml
Due: yamlfmt

impl: fix CHAT_MSG_TEXT_EMOTE missing discordInfo arg on wowt
  data/impl.yaml
  data/impl/C_ChatInfo.PerformEmote.lua
Due: luacheck, yamlfmt

schema: apply hierarchy construct to xml extends attribute (#822)
  data/schemas/xml.yaml
Due: yamlfmt

impl: fix CHAT_MSG_TEXT_EMOTE missing discordInfo arg on wowt (#823)
  data/impl.yaml
  data/impl/C_ChatInfo.PerformEmote.lua
Due: luacheck, yamlfmt

schema: forbid xml attribute redeclaration across extends chain
  data/schemas/xml.yaml
Due: yamlfmt

xml: drop attribute-redeclaration fallback now that schema forbids it
  spec/data/xml_spec.lua
  tools/prep.lua
Due: luacheck

schema: forbid xml attribute redeclaration across extends chain (#824)
  data/schemas/xml.yaml
  spec/data/xml_spec.lua
  tools/prep.lua
Due: luacheck, yamlfmt

luaobjects: simplify unknownmethods test to a single state walk
  addon/Wowless/luaobjects.lua
Due: luacheck

luaobjects: add negative method presence tests
  addon/Wowless/luaobjects.lua
  tools/gentest.lua
Due: luacheck

luaobjects: split unknownmethods negative test into index/newindex
  addon/Wowless/luaobjects.lua
Due: luacheck

luaobjects: add negative method presence tests (#815)
  addon/Wowless/luaobjects.lua
  tools/gentest.lua
Due: luacheck

loader: make xml-tag-to-uiobject dispatch explicit via impl.uiobject
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

loader: make xml-tag-to-uiobject dispatch explicit via impl.uiobject (#825)
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

bump wow and wowxptr to 12.0.7.68887
  data/products/wow/build.yaml
  data/products/wowxptr/build.yaml
Due: yamlfmt

bump wowt to 12.1.0.68824
  data/impl/C_ChatInfo.PerformEmote.lua
  data/impl/SendSystemMessage.lua
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/doctable.yaml
Due: luacheck, yamlfmt

loader: give WorldFrame a WORLD frameStrata
  addon/Wowless/test.lua
  data/products/wow/stringenums.yaml
  data/products/wow_anniversary/stringenums.yaml
  data/products/wow_classic/stringenums.yaml
  data/products/wow_classic_era/stringenums.yaml
  data/products/wow_classic_era_ptr/stringenums.yaml
  data/products/wow_classic_ptr/stringenums.yaml
  data/products/wowt/stringenums.yaml
  data/products/wowxptr/stringenums.yaml
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

loader: give WorldFrame a WORLD frameStrata (#826)
  addon/Wowless/test.lua
  data/products/wow/stringenums.yaml
  data/products/wow_anniversary/stringenums.yaml
  data/products/wow_classic/stringenums.yaml
  data/products/wow_classic_era/stringenums.yaml
  data/products/wow_classic_era_ptr/stringenums.yaml
  data/products/wow_classic_ptr/stringenums.yaml
  data/products/wowt/stringenums.yaml
  data/products/wowxptr/stringenums.yaml
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

test: drop redundant per-test WorldFrame guards
  addon/Wowless/test.lua
Due: luacheck

test: drop redundant per-test WorldFrame guards (#828)
  addon/Wowless/test.lua
Due: luacheck

impl: copy default DiscordChatInfo struct from datalua instead of hand-writing it
  data/impl/C_ChatInfo.PerformEmote.lua
  data/impl/SendSystemMessage.lua
  tools/prep.lua
Due: luacheck

impl: copy default DiscordChatInfo struct from datalua instead of hand-writing it (#827)
  data/impl/C_ChatInfo.PerformEmote.lua
  data/impl/SendSystemMessage.lua
  tools/prep.lua
Due: luacheck

schema: derive ref domain registry from data/datafiles.yaml
  data/schemas/build.yaml
  data/schemas/config.yaml
  data/schemas/docs.yaml
  data/schemas/gametypes.yaml
  data/schemas/impl.yaml
  data/schemas/luaobjects.yaml
  data/schemas/modules.yaml
  data/schemas/schematype.yaml
  data/schemas/type.yaml
  data/schemas/uiobjectimpl.yaml
  data/schemas/uiobjects.yaml
  data/schemas/xml.yaml
  wowapi/schema.lua
Due: luacheck, yamlfmt

schema: simplify ref() domain resolution
  wowapi/schema.lua
Due: luacheck

schema: resolve ref() domain once, not per validated value
  wowapi/schema.lua
Due: luacheck

schema: inline resolvedomain into ref()
  wowapi/schema.lua
Due: luacheck

schema: check for unknown ref domain at compile time
  wowapi/schema.lua
Due: luacheck

schema: hard-error on unknown ref domain instead of deferring
  wowapi/schema.lua
Due: luacheck

schema: derive ref domain registry from data/datafiles.yaml (#829)
  data/schemas/build.yaml
  data/schemas/config.yaml
  data/schemas/docs.yaml
  data/schemas/gametypes.yaml
  data/schemas/impl.yaml
  data/schemas/luaobjects.yaml
  data/schemas/modules.yaml
  data/schemas/schematype.yaml
  data/schemas/type.yaml
  data/schemas/uiobjectimpl.yaml
  data/schemas/uiobjects.yaml
  data/schemas/xml.yaml
  wowapi/schema.lua
Due: luacheck, yamlfmt

LayeredRegion IsObjectType SimpleRegion
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

this should work
  addon/Wowless/test.lua
  wowless/runner.lua
Due: luacheck

test: fix copy-paste bug in new metatables test, drop obsolete #569 skip
  addon/Wowless/test.lua
  data/test/getmetatable.lua
Due: luacheck

runner: don't preinstall __metatable protection on strings
  addon/Wowless/test.lua
  data/test/getmetatable.lua
  wowless/runner.lua
Due: luacheck

test: drop redundant metatables test, strengthen getmetatable.lua string case
  addon/Wowless/test.lua
  data/test/getmetatable.lua
Due: luacheck

this should work (#830)
  data/test/getmetatable.lua
  wowless/runner.lua
Due: luacheck

bump wowt to 12.1.0.68914
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/luaobjects.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/doctable.yaml
  tools/autodocs.lua
Due: luacheck, yamlfmt

uiobjects: rename TextureCoordTranslation to TextureCoord
  addon/Wowless/generated.lua
  addon/Wowless/test.xml
  addon/Wowless/uiobjects.lua
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow/xml.yaml
  data/products/wow_anniversary/docs.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
  data/products/wowxptr/xml.yaml
  data/uiobjects/AnimationGroup/CreateAnimation.lua
Due: luacheck, yamlfmt

add objectType
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

adjust test
  addon/Wowless/uiobjects.lua
Due: luacheck
