Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
  language: system

settop before checkstack
  wowapi/cyaml.c
Due: none

accumulate keys
  wowapi/cyaml.c
Due: none

auxsort
  wowapi/cyaml.c
Due: none

printscalar doesnt need idx
  wowapi/cyaml.c
Due: none

tolstring is evil
  wowapi/cyaml.c
Due: none

fixes
  wowapi/cyaml.c
Due: none

yaml: stop quoting "on"
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  wowapi/yaml.lua
Due: luacheck, yamlfmt

hand roll case insensitive cmp
  wowapi/cyaml.c
Due: none

cyaml pprint, replaces lyaml
  CMakeLists.txt
  wowapi/cyaml.c
  wowapi/yaml.lua
Due: luacheck

bump lpeg to 1.1.0
  CMakeLists.txt
Due: none

loader: lift xmlattrlang out of forAddon
  wowless/loader.lua
Due: luacheck

loader: avoid strcat on logs
  wowless/api.lua
  wowless/loader.lua
Due: luacheck

loader: avoid strformat on assert
  wowless/loader.lua
Due: luacheck

prep: uiobject method prep refactor
  tools/prep.lua
Due: luacheck

prep: refactor impl/sql generation
  tools/prep.lua
Due: luacheck

prep: check cvar case insensitivity
  tools/prep.lua
Due: luacheck

bump wow_classic and ptr to 5.5.0.62422
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/cvars.yaml
Due: yamlfmt

FileAsset is FileAsset everywhere
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

bump wow and wowxptr to 11.2.0.62438
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
Due: yamlfmt

cyaml: silence some char sign warnings
  wowapi/cyaml.c
Due: none

lua2yaml tool
  CMakeLists.txt
  tools/lua2yaml.lua
Due: luacheck

prep: writeifchanged redundant with cmake copy_if_different
  tools/prep.lua
Due: luacheck

centralize sql file reading
  CMakeLists.txt
  tools/dblist.lua
  tools/mkninja.lua
  tools/prep.lua
  tools/sqls.lua
Due: luacheck

cmake: remove unneeded stamp dep plumbing in prep
  CMakeLists.txt
  tools/prep.lua
  tools/util.lua
Due: luacheck

dblist: depend on datalua
  tools/dblist.lua
  tools/mkninja.lua
Due: luacheck

migrate dblist invocation from mkninja to cmake
  CMakeLists.txt
  tools/dbdefs.lua
  tools/dblist.lua
  tools/fetch.lua
  tools/mkninja.lua
  tools/sqlite.lua
Due: luacheck

migrate dblist invocation from mkninja to cmake (#446)
  CMakeLists.txt
  tools/dbdefs.lua
  tools/dblist.lua
  tools/fetch.lua
  tools/mkninja.lua
  tools/sqlite.lua
Due: luacheck

bump wowxptr to 11.2.0.62493
  data/products/wowxptr/build.yaml
Due: yamlfmt

invert api vs modules layering
  CMakeLists.txt
  wowless/api.lua
  wowless/modules/env.lua
  wowless/modules/macrotext.lua
  wowless/modules/security.lua
  wowless/modules/time.lua
Due: luacheck

scripts module
  CMakeLists.txt
  wowless/api.lua
  wowless/modules/scripts.lua
Due: luacheck

typecheck/funcheck as modules
  CMakeLists.txt
  spec/data/apis_spec.lua
  spec/data/events_spec.lua
  spec/data/structures_spec.lua
  spec/data/uiobjects_spec.lua
  spec/wowless/modules/funcheck_spec.lua
  spec/wowless/modules/typecheck_spec.lua
  tools/mkninja.lua
  wowapi/loader.lua
  wowapi/uiobjects.lua
  wowless/api.lua
  wowless/modules/addons.lua
  wowless/modules/funcheck.lua
  wowless/modules/typecheck.lua
  wowless/modules/uiobjects.lua
Due: luacheck

move SendEvent to events module
  wowless/api.lua
  wowless/modules/events.lua
Due: luacheck

factor module init out to separate file
  CMakeLists.txt
  wowless/api.lua
  wowless/modules.lua
Due: luacheck

uiobject moduledelegate impls
  data/schemas/uiobjectimpl.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/Frame/IsEventRegistered.lua
  data/uiobjects/Frame/RegisterAllEvents.lua
  data/uiobjects/Frame/RegisterEvent.lua
  data/uiobjects/Frame/RegisterUnitEvent.lua
  data/uiobjects/Frame/UnregisterAllEvents.lua
  data/uiobjects/Frame/UnregisterEvent.lua
  spec/data/uiobjectimpl_spec.lua
  tools/prep.lua
  wowless/modules/events.lua
Due: luacheck, yamlfmt

platform module
  CMakeLists.txt
  data/impl.yaml
  data/impl/IsLinuxClient.lua
  data/impl/IsMacClient.lua
  data/impl/IsWindowsClient.lua
  wowless/api.lua
  wowless/env.lua
  wowless/modules.lua
  wowless/modules/platform.lua
Due: luacheck, yamlfmt

move script impls to scripts module
  data/uiobjectimpl.yaml
  data/uiobjects/ScriptObject/GetScript.lua
  data/uiobjects/ScriptObject/HookScript.lua
  data/uiobjects/ScriptObject/SetScript.lua
  wowless/api.lua
  wowless/modules.lua
  wowless/modules/scripts.lua
Due: luacheck, yamlfmt

module support for api impls
  data/impl.yaml
  data/schemas/impl.yaml
  tools/prep.lua
  wowapi/loader.lua
Due: luacheck, yamlfmt

prep: api impl moduledelegates use module spec
  tools/prep.lua
Due: luacheck

migrate env from framework to module
  data/impl.yaml
  data/impl/C_Texture.GetAtlasInfo.lua
  data/impl/C_Texture.GetAtlasInfo_11_1_5.lua
  data/impl/C_UI.GetUIParent.lua
  data/impl/C_UI.GetWorldFrame.lua
  data/impl/C_UIColor.GetColors.lua
  data/impl/GetChatWindowMessages.lua
  data/schemas/impl.yaml
  wowapi/loader.lua
Due: luacheck, yamlfmt

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
