Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, luacheck, addon-chmod

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '2.7.3'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.20.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v18.1.1
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: yamlfmt
    name: wowless yamlfmt
    entry: lua tools/yamlfmt.lua
    language: system
    types: [yaml]
    files: ^data/
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: local-test
    name: build and test
    entry: sh -c "lua tools/mkninja.lua && ninja -v"
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

bump wow_classic_era to 1.15.3.55917 (#341)
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt

copy wow_classic_ptr over to wow_classic
  data/flavors.yaml
  data/impl.yaml
  data/impl/C_Texture.GetAtlasInfo.lua
  data/impl/C_XMLUtil.GetTemplateInfo.lua
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic/uiobjects.yaml
  data/sql/lookup/C_Texture.GetAtlasInfo.sql
  tools/addons.yaml
Due: yamlfmt, luacheck

bump wow_classic to 4.4.0.56014
  data/products/wow_classic/build.yaml
Due: yamlfmt

docs
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/events.yaml
Due: yamlfmt

clean client
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic/globals.yaml
Due: yamlfmt

additional return on GetBattlegroundInfo
  data/products/wow_classic/apis.yaml
Due: yamlfmt

bump wow_classic to 4.4.0.56014 (#342)
  data/flavors.yaml
  data/impl.yaml
  data/impl/C_Texture.GetAtlasInfo.lua
  data/impl/C_XMLUtil.GetTemplateInfo.lua
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic/uiobjects.yaml
  data/sql/lookup/C_Texture.GetAtlasInfo.sql
  tools/addons.yaml
Due: yamlfmt, luacheck

bump wow_classic_ptr to 4.4.0.56420
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wow_classic_ptr/globals.yaml
Due: yamlfmt

delete cata wow_classic_beta
  CMakeLists.txt
  bin/install-addons.sh
  data/products.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/structures.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_beta/xml.yaml
  tools/mkninja.lua
Due: yamlfmt, luacheck

capsulearg config
  addon/Wowless/test.lua
  data/products/wow/config.yaml
  data/products/wow_beta/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
  wowless/loader.lua
Due: yamlfmt, luacheck, addon-chmod

errsv: cvar name mismatch
  tools/errsv.lua
Due: luacheck

delete cata wow_classic_beta (#343)
  CMakeLists.txt
  bin/install-addons.sh
  data/products.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/structures.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_beta/xml.yaml
  tools/mkninja.lua
Due: yamlfmt, luacheck

bump wow_classic to 4.4.0.56420
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.3.56626
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 1.15.4.56573
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

impl and spec for GetNumSpecializationsForClassID
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

GetClassInfo next-ID quirk
  addon/Wowless/generated.lua
  data/sql/lookup/GetClassInfo.sql
  data/test.yaml
  data/test/GetClassInfo.lua
Due: yamlfmt, luacheck, addon-chmod

loader: simplify capsulearg logic
  wowless/loader.lua
Due: luacheck

begin with an empty secureenv
  wowless/api.lua
  wowless/loader.lua
Due: luacheck

useSecureEnv as xml ctx
  wowless/loader.lua
Due: luacheck

use ctx.useSecureEnv on loadstring
  wowless/loader.lua
Due: luacheck

bootstrap the secureenv
  wowless/env.lua
Due: luacheck

loader: log guard outcomes at top of doLoadAddon
  wowless/loader.lua
Due: luacheck

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

checkpoint forceSecure
  wowless/loader.lua
Due: luacheck

getting somewhere with skipObjects
  wowless/loader.lua
Due: luacheck

env-scoped script cache
  wowless/loader.lua
Due: luacheck

fix env lookups
  wowless/loader.lua
Due: luacheck

useSecureEnv on forceSecure
  wowless/loader.lua
Due: luacheck

insecurely load first if required
  wowless/loader.lua
Due: luacheck

update CreateUIObject, wacky hijinks ensue
  wowless/api.lua
  wowless/loader.lua
Due: luacheck

limit string->uiobject coercion to fonts
  addon/Wowless/generated.lua
  data/test/CreateFrame.lua
  wowless/typecheck.lua
Due: luacheck, addon-chmod

everything but font is an object
  addon/Wowless/generated.lua
  data/uiobjects/UIObject/IsObjectType.lua
Due: luacheck, addon-chmod

CreateUIObject writes to both
  wowless/api.lua
  wowless/loader.lua
Due: luacheck

always set secureenv, loader fix
  wowless/api.lua
  wowless/loader.lua
Due: luacheck

era ptr guild api stubs
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

global strings go into secureenv
  wowless/loader.lua
Due: luacheck
