Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: env/bin/lua tools/yamlfmt.lua
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

stop loading OnlyBetaAndPTR on live clients
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  wowless/loader.lua
Due: yamlfmt

prototype for GameTooltip:SetOwner
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/GameTooltip/SetOwner.lua
Due: yamlfmt

implement C_ClassTalents.GetTraitTreeForSpec
  data/impl.yaml
  data/impl/C_ClassTalents.GetTraitTreeForSpec.lua
  data/sql/lookup/C_ClassTalents.GetTraitTreeForSpec.sql
Due: yamlfmt

WIP
  .devcontainer/docker-compose.yml
  data/products/wow/apis.yaml
  wowless/env.lua
Due: yamlfmt

bump wow_classic_ptr to 3.4.2.49871
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

test uiobject method default/stub types
  spec/data/uiobjects_spec.lua
Due: none

Implement InitializeViewLoadout and ViewLoadout
  .luacheckrc
  data/impl.yaml
  data/impl/C_ClassTalents.InitializeViewLoadout.lua
  data/impl/C_ClassTalents.ViewLoadout.lua
  data/impl/C_Traits.GetNodeInfo.lua
  data/products/wow/apis.yaml
  data/state/Talents.yaml
  wowless/env.lua
Due: yamlfmt

add lotsa indexes for performance
  data/sql/cursor/C_Traits.GetNodeInfo.conditions.sql
  tools/sqlite.lua
  wowless/env.lua
Due: none

Move index creation before data insertion, and only if the table exists
  tools/sqlite.lua
Due: none

Make index names unique
  tools/sqlite.lua
Due: none

Indexes are the bane of my existence ;)
  tools/sqlite.lua
Due: none

Move luacheck to inline instead, and set default exit code to 1 for __wowless.quit()
  .luacheckrc
  wowless/env.lua
Due: none

implement DF ViewLoadout API (#249)
  .devcontainer/docker-compose.yml
  data/impl.yaml
  data/impl/C_ClassTalents.GetTraitTreeForSpec.lua
  data/impl/C_ClassTalents.InitializeViewLoadout.lua
  data/impl/C_ClassTalents.ViewLoadout.lua
  data/impl/C_Traits.GetNodeInfo.lua
  data/products/wow/apis.yaml
  data/sql/cursor/C_Traits.GetNodeInfo.conditions.sql
  data/sql/lookup/C_ClassTalents.GetTraitTreeForSpec.sql
  data/state/Talents.yaml
  tools/sqlite.lua
  wowless/env.lua
Due: yamlfmt

bump wow to 10.1.0.49890
  data/products/wow/build.yaml
Due: yamlfmt

bump wowxptr to 10.1.5.49908
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
Due: yamlfmt

split out runtime dependencies
  .devcontainer/Dockerfile
  CMakeLists.txt
  tools/mkninja.lua
  wowless-scm-0.rockspec
Due: none

wowless.js: more stack so frame_spec passes
  CMakeLists.txt
Due: none

tsort needed in runtime for frame0
  wowless-scm-0.rockspec
Due: none

split out runtime dependencies (#250)
  .devcontainer/Dockerfile
  CMakeLists.txt
  tools/mkninja.lua
  wowless-scm-0.rockspec
Due: none

bump wow_classic_ptr to 3.4.2.49979
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/cvars.yaml
Due: yamlfmt

bump wow to 10.1.0.50000
  data/products/wow/build.yaml
Due: yamlfmt

bump wowxptr to 10.1.5.50130
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
Due: yamlfmt

lsqlite3 hash changed
  CMakeLists.txt
Due: none

bump wow_classic to 3.4.2.50172
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic/uiobjects.yaml
Due: yamlfmt

bump wowxptr to 10.1.5.50232
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
Due: yamlfmt

moo
  addon/Wowless/generated.lua
  addon/Wowless/test.lua
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/uiobjects/ScrollFrame/SetScrollChild.lua
  tools/errsv.lua
  tools/prep.lua
Due: yamlfmt, addon-chmod

50250
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
Due: yamlfmt

loader: nil on missing global attr/keyvalue
  wowless/loader.lua
Due: none

global metatable apis
  data/products/wow_classic/apis.yaml
Due: yamlfmt

add GetGraphicsCVarOffsetForUI stub
  data/products/wow_classic/apis.yaml
Due: yamlfmt

CreateForbiddenFrame; capsule config
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/config.yaml
Due: yamlfmt

config spec: existence check for ns and enums
  data/products/wow_classic_ptr/config.yaml
  spec/data/config_spec.lua
Due: yamlfmt

add back missing capsule apis
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/config.yaml
Due: yamlfmt

add back missing capsule enums
  data/products/wow_classic/config.yaml
  data/products/wow_classic/globals.yaml
Due: yamlfmt

fix addon run
  data/products/wow_classic/config.yaml
Due: yamlfmt

GetPersonalRatedInfo stub
  data/products/wow_classic/apis.yaml
Due: yamlfmt

GetNumBattlegroundTypes stub
  data/products/wow_classic/apis.yaml
Due: yamlfmt

GetCurrencyListSize stub
  data/products/wow_classic/apis.yaml
Due: yamlfmt

GetNumCompanions stub
  data/products/wow_classic/apis.yaml
Due: yamlfmt

GetNumTalentGroups stub
  data/products/wow_classic/apis.yaml
Due: yamlfmt

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  addon-chmod: any of: ^addon/
