Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.0.3'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.20.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v18.1.8
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: mkninja
    name: create build system
    entry: lua tools/mkninja.lua
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: ninja -v
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

SetSize(0, 0) loops
  addon/Wowless/uiobjects.lua
Due: luacheck, addon-chmod

screen dimensions
  .luacheckrc
Due: luacheck

ignore rect checks
  addon/Wowless/uiobjects.lua
Due: luacheck, addon-chmod

early return if wowless
  addon/Wowless/uiobjects.lua
Due: luacheck, addon-chmod

fiveten
  addon/Wowless/uiobjects.lua
Due: luacheck, addon-chmod

bump wow to 11.2.0.63163
  data/products/wow/build.yaml
Due: yamlfmt

ignore rect calls do not resolve
  addon/Wowless/uiobjects.lua
Due: luacheck, addon-chmod

move region size setters to module
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjectimpl.yaml
  wowless/modules/region.lua
Due: luacheck, yamlfmt

start implementing
  wowless/modules/region.lua
Due: luacheck

move region IsRectValid to module
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjectimpl.yaml
  wowless/modules/region.lua
Due: luacheck, yamlfmt

dirty/valid, uiobject fields
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  wowless/modules/region.lua
Due: luacheck, yamlfmt

remove now-unused rect getter hacks from gentest
  tools/gentest.lua
Due: luacheck

move GetScaledRect into region module
  data/uiobjectimpl.yaml
  data/uiobjects/Region/GetScaledRect.lua
  wowless/modules/region.lua
Due: luacheck, yamlfmt

fix GetScaledRect
  wowless/modules/region.lua
Due: luacheck

crash on loop-creating SetParent calls
  wowless/modules/api.lua
Due: luacheck

anchor dag tests that pass in client
  addon/Wowless/uiobjects.lua
Due: luacheck, addon-chmod

protect against anchors to self
  data/uiobjects/Region/SetPoint.lua
Due: luacheck

self anchor xml tests
  addon/Wowless/test.xml
  addon/Wowless/util.lua
Due: luacheck, addon-chmod

SetPoint requires a point
  addon/Wowless/uiobjects.lua
  data/uiobjects/Region/SetPoint.lua
Due: luacheck, addon-chmod

empty xml anchor is TOPLEFT
  addon/Wowless/test.xml
  addon/Wowless/util.lua
  wowless/modules/loader.lua
Due: luacheck, addon-chmod

proper error message on bad point arg to SetPoint
  addon/Wowless/uiobjects.lua
  data/uiobjects/Region/SetPoint.lua
Due: luacheck, addon-chmod

skip anchors with unknown relativeTo
  addon/Wowless/test.xml
  wowless/modules/loader.lua
Due: luacheck, addon-chmod

fix and test
  addon/Wowless/test.xml
  data/uiobjects/Region/SetPoint.lua
Due: luacheck, addon-chmod

moo
  data/uiobjects/Region/SetPoint.lua
Due: luacheck

directly ignore self loops in xml anchor processing
  wowless/modules/loader.lua
Due: luacheck

protect against anchors to self (#474)
  addon/Wowless/test.xml
  data/uiobjects/Region/SetPoint.lua
  wowless/modules/loader.lua
Due: luacheck, addon-chmod

pre-commit autoupdate
  .clang-format
  .pre-commit-config.yaml
Due: none

bump pre-commit version
  .pre-commit-config.yaml
Due: none

question_mark param style
  .sqlfluff
Due: none

s/==/=/g in sql
  data/sql/C_AuctionHouse.GetAuctionItemSubClasses.sql
  data/sql/C_CovenantSanctumUI.GetRenownLevels.sql
  data/sql/C_CovenantSanctumUI.GetRenownRewardsForLevel.sql
  data/sql/C_CreatureInfo.GetClassInfo.sql
  data/sql/C_Item.DoesItemExistByID.sql
  data/sql/C_Item.GetItemClassInfo.sql
  data/sql/C_Item.GetItemSubClassInfo.sql
  data/sql/C_ItemInteraction.GetItemInteractionInfo.sql
  data/sql/C_Map.GetMapInfo.sql
  data/sql/C_Map.GetMapInfo_Vanilla.sql
  data/sql/GetClassInfo.sql
  data/sql/GetInventorySlotInfo.sql
  data/sql/GetNumTalents.sql
  data/sql/GetSpecializationInfo.sql
  data/sql/GetSpecializationInfoByID.sql
  data/sql/GetSpecializationInfoForClassID.sql
  data/sql/GetSpecializationInfoForSpecID.sql
  data/sql/GetTalentInfo_Vanilla.sql
  data/sql/GetTalentPrereqs.sql
  data/sql/GetTalentTabInfo.sql
  data/sql/UnitClass.sql
  data/sql/UnitClassBase.sql
  data/sql/UnitFactionGroup.sql
  data/sql/UnitPowerType.sql
  data/sql/UnitRace.sql
Due: none

fix a syntax violation
  data/sql/GetTalentInfo_Vanilla.sql
Due: none

sqlfluff fix
  data/sql/C_ClassTalents.GetTraitTreeForSpec.sql
  data/sql/C_Covenants.GetCovenantData.soulbinds.sql
  data/sql/C_Covenants.GetCovenantData.sql
  data/sql/C_ScriptedAnimations.GetAllScriptedAnimationEffects.sql
  data/sql/C_SpecializationInfo.GetSpecIDs.sql
  data/sql/C_Traits.GetConfigInfo.sql
  data/sql/C_Traits.GetNodeInfo.conditions.sql
  data/sql/C_Traits.GetNodeInfo.edges.sql
  data/sql/C_Traits.GetNodeInfo.entries.sql
  data/sql/C_Traits.GetNodeInfo.groups.sql
  data/sql/C_Traits.GetNodeInfo.sql
  data/sql/C_Traits.GetTreeNodes.sql
  data/sql/C_UIColor.GetColors.sql
  data/sql/DoEmote.sql
  data/sql/GetNumClasses.sql
  data/sql/GetNumSpecializationsForClassID.sql
  data/sql/GetNumTalentTabs.sql
  data/sql/GetTalentInfo_Vanilla.sql
Due: none

all fixed
  data/sql/C_Texture.GetAtlasInfo.sql
  data/sql/C_Texture.GetAtlasInfo_11_1_5.sql
Due: none

diff indent worked
  .pre-commit-config.yaml
  data/sql/C_Texture.GetAtlasInfo.sql
  data/sql/C_Texture.GetAtlasInfo_11_1_5.sql
  tools/sqls.lua
Due: luacheck

noqa instead of custom hacks
  data/sql/C_Texture.GetAtlasInfo.sql
  data/sql/C_Texture.GetAtlasInfo_11_1_5.sql
  tools/sqls.lua
Due: luacheck

exclude some rules
  .sqlfluff
Due: none

sqlfluff fix pre-commit (#475)
  .pre-commit-config.yaml
  .sqlfluff
  data/sql/C_ClassTalents.GetTraitTreeForSpec.sql
  data/sql/C_Covenants.GetCovenantData.soulbinds.sql
  data/sql/C_Covenants.GetCovenantData.sql
  data/sql/C_ScriptedAnimations.GetAllScriptedAnimationEffects.sql
  data/sql/C_SpecializationInfo.GetSpecIDs.sql
  data/sql/C_Texture.GetAtlasInfo.sql
  data/sql/C_Texture.GetAtlasInfo_11_1_5.sql
  data/sql/C_Traits.GetConfigInfo.sql
  data/sql/C_Traits.GetNodeInfo.conditions.sql
  data/sql/C_Traits.GetNodeInfo.edges.sql
  data/sql/C_Traits.GetNodeInfo.entries.sql
  data/sql/C_Traits.GetNodeInfo.groups.sql
  data/sql/C_Traits.GetNodeInfo.sql
  data/sql/C_Traits.GetTreeNodes.sql
  data/sql/C_UIColor.GetColors.sql
  data/sql/DoEmote.sql
  data/sql/GetNumClasses.sql
  data/sql/GetNumSpecializationsForClassID.sql
  data/sql/GetNumTalentTabs.sql
  data/sql/GetTalentInfo_Vanilla.sql
Due: none

sqlfluff: replace aliasing.unique.table exclusion with noqa
  .sqlfluff
  data/sql/GetTalentPrereqs.sql
Due: none

sqlfluff: fix aliasing.self_alias.column violations
  .sqlfluff
  data/sql/C_CovenantSanctumUI.GetRenownLevels.sql
  data/sql/C_CovenantSanctumUI.GetRenownRewardsForLevel.sql
  data/sql/C_Covenants.GetCovenantData.sql
  data/sql/C_ItemInteraction.GetItemInteractionInfo.sql
  data/sql/C_Map.GetMapInfo.sql
  data/sql/C_ScriptedAnimations.GetAllScriptedAnimationEffects.sql
Due: none

sqlfluff: fix aliasing.expression violations
  .sqlfluff
  data/sql/C_Item.GetItemSubClassInfo.sql
  data/sql/GetSpecializationInfo.sql
  data/sql/GetSpecializationInfoByID.sql
  data/sql/GetSpecializationInfoForClassID.sql
  data/sql/GetSpecializationInfoForSpecID.sql
  data/sql/GetTalentInfo_Vanilla.sql
  data/sql/GetTalentPrereqs.sql
  data/sql/UnitPowerType.sql
Due: none
