Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: build/cmake/yamlfmt
  language: system

docs: enum before stringenum
  tools/docs.lua
Due: luacheck

minimal curve stuff
  data/impl.yaml
  data/impl/C_CurveUtil.CreateCurve.lua
  data/products/wow_beta/apis.yaml
Due: luacheck, yamlfmt

toc: support multiple file filters
  spec/wowless/toc_spec.lua
  wowless/toc.lua
Due: luacheck

stubnothing
  data/products/wow_beta/apis.yaml
Due: yamlfmt

add missing C_UnitAurasPrivate function
  data/products/wow_beta/apis.yaml
Due: yamlfmt

runner: support skipping bindings
  data/products/wow_beta/config.yaml
  data/schemas/config.yaml
  wowless/runner.lua
Due: luacheck, yamlfmt

runner: support skipping bindings
  data/schemas/config.yaml
  wowless/runner.lua
Due: luacheck, yamlfmt

bump wow_beta to 12.0.1.64914 (#498)
  addon/Wowless/test.lua
  data/impl.yaml
  data/impl/C_CurveUtil.CreateCurve.lua
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/config.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/structures.yaml
  data/products/wow_beta/uiobjects.yaml
  data/schemas/doctable.yaml
Due: luacheck, yamlfmt

env: write dumps to io.output
  wowless/env.lua
Due: luacheck

bump wowt to 12.0.0.65028
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 2.5.5.65000
  data/gametypes.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  spec/wowless/toc_spec.lua
  wowless/toc.lua
Due: luacheck, yamlfmt

secureonly apis, fixes #502
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/config.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/config.yaml
  data/schemas/function.yaml
  tools/docs.lua
  tools/gentest.lua
  tools/prep.lua
  wowless/env.lua
  wowless/modules/apiloader.lua
Due: luacheck, yamlfmt

docs: support per-function namespace, fixes #499
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

docs: generalize script object map value
  data/products/wow/docs.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

introduce empty luaobjects configs
  CMakeLists.txt
  data/products/wow/luaobjects.yaml
  data/products/wow_beta/luaobjects.yaml
  data/products/wow_classic/luaobjects.yaml
  data/products/wow_classic_beta/luaobjects.yaml
  data/products/wow_classic_era/luaobjects.yaml
  data/products/wow_classic_era_ptr/luaobjects.yaml
  data/products/wow_classic_ptr/luaobjects.yaml
  data/products/wowt/luaobjects.yaml
  data/products/wowxptr/luaobjects.yaml
  data/schemas/docs.yaml
  data/schemas/luaobjects.yaml
  data/schemas/schematype.yaml
  spec/data/yaml_spec.lua
  tools/yamlfmt.lua
  wowapi/data.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

initial luaobjects files from docs
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/luaobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/luaobjects.yaml
  data/schemas/luaobjects.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

rudimentary luaobject prep and load
  CMakeLists.txt
  data/impl.yaml
  data/impl/C_CurveUtil.CreateCurve.lua
  data/modules.yaml
  data/products/wow_beta/luaobjects.yaml
  data/products/wowt/luaobjects.yaml
  data/schemas/luaobjects.yaml
  tools/prep.lua
  wowless/modules/luaobjects.lua
Due: luacheck, yamlfmt

luaobjects as types
  data/impl/C_CurveUtil.CreateCurve.lua
  data/modules.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/schemas/type.yaml
  spec/wowless/modules/typecheck_spec.lua
  wowless/modules/luaobjects.lua
  wowless/modules/typecheck.lua
Due: luacheck, yamlfmt

luaobject stubs
  data/modules.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  tools/prep.lua
  wowless/modules/gencode.lua
Due: luacheck, yamlfmt

more luaobject types in specs
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/structures.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/structures.yaml
  spec/data/structures_spec.lua
Due: luacheck, yamlfmt

C_CurveUtil.CreateCurve can just be stubbed now
  data/impl.yaml
  data/impl/C_CurveUtil.CreateCurve.lua
  data/products/wow_beta/apis.yaml
  data/products/wowt/apis.yaml
Due: luacheck, yamlfmt

funtainer test independent fields
  addon/Wowless/funtainer.lua
Due: luacheck

luaobjects use newproxy for userdata
  CMakeLists.txt
  addon/Wowless/Wowless.toc
  addon/Wowless/luaobjects.lua
  tools/gentest.lua
  wowless/modules/luaobjects.lua
Due: luacheck

luaobjects flatten objs table to single weak map
  wowless/modules/luaobjects.lua
Due: luacheck

luaobjects readonly and custom fields
  addon/Wowless/luaobjects.lua
  tools/gentest.lua
  wowless/modules/luaobjects.lua
Due: luacheck

luaobjects test metamethods and methods separately
  addon/Wowless/luaobjects.lua
  wowless/modules/luaobjects.lua
Due: luacheck

luaobjects: unique methods per type
  addon/Wowless/luaobjects.lua
  wowless/modules/luaobjects.lua
Due: luacheck

config: rename modules.funtainer to modules.luaobjects
  data/products/wow_beta/config.yaml
  data/products/wowt/config.yaml
  data/schemas/config.yaml
Due: yamlfmt

funtainer: remove unused datalua dependency
  data/modules.yaml
  wowless/modules/funtainer.lua
Due: luacheck, yamlfmt

gentest: use sets for LuaObjects methods
  addon/Wowless/luaobjects.lua
  tools/gentest.lua
Due: luacheck

luaobjects: make tostring_metamethod conditional for all luaobjects
  addon/Wowless/funtainer.lua
  addon/Wowless/luaobjects.lua
  addon/Wowless/test.lua
  wowless/modules/luaobjects.lua
Due: luacheck

funtainer tests: remove generic luaobject tests
  addon/Wowless/funtainer.lua
  addon/Wowless/generated.lua
  addon/Wowless/luaobjects.lua
  data/test/C_Timer.NewTimer.lua
Due: luacheck

prep: generate method maps for luaobjects
  tools/prep.lua
  wowless/modules/luaobjects.lua
Due: luacheck

luaobjects: simplify Coerce contract
  wowless/modules/funtainer.lua
  wowless/modules/luaobjects.lua
  wowless/modules/typecheck.lua
Due: luacheck

luaobjects: refactor Create and Coerce to share code
  wowless/modules/luaobjects.lua
Due: luacheck

luaobjects: rename implModules/implsByType to implmods/impltypes
  wowless/modules/luaobjects.lua
Due: luacheck

luaobjects: simplify impltypes assignment and method lookup
  wowless/modules/luaobjects.lua
Due: luacheck

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
