Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: env/bin/lua tools/yamlfmt.lua
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

forceinsecure stdlib
  data/impl.yaml
  data/impl/forceinsecure.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  wowless/runner.lua
Due: yamlfmt

runner: assert issecure() at end
  wowless/runner.lua
Due: none

newcfunction -> newsecurefunction
  .luacheckrc
  wowapi/loader.lua
  wowapi/uiobjects.lua
  wowless/loader.lua
Due: none

api: remove unnecessary/wrong seterrorhandler call
  wowless/api.lua
Due: none

remove now-unnecessary setfenvs to api.env
  wowless/loader.lua
Due: none

wrap api.CallSafely in securecallfunction
  .luacheckrc
  wowless/api.lua
Due: none

bump wow_classic to 3.4.3.51831
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic/events.yaml
Due: yamlfmt

bump wow to 10.1.7.51886
  data/products/wow/build.yaml
Due: yamlfmt

addon: fix ignore_cvar_value usage
  addon/Wowless/generated.lua
Due: addon-chmod

C_Timer.NewTicker test
  addon/Wowless/api.lua
  addon/Wowless/test.lua
  addon/Wowless/util.lua
Due: addon-chmod

sqlite: index on ID on all tables with one
  tools/sqlite.lua
Due: none

addon: migrate more tests from test.lua to api.lua
  addon/Wowless/api.lua
  addon/Wowless/test.lua
Due: addon-chmod

api: CallSafely uses securecallfunction
  .luacheckrc
  wowless/api.lua
Due: none

addon: basic issecurevariable test
  addon/Wowless/api.lua
  addon/Wowless/util.lua
Due: addon-chmod

addon: more issecurevariable tests
  addon/Wowless/api.lua
Due: addon-chmod

alphabetize issecurevariable tests
  addon/Wowless/api.lua
Due: addon-chmod

addon taint tests
  addon/Wowless/api.lua
Due: addon-chmod

progress but lol
  wowless/loader.lua
  wowless/runner.lua
Due: none

stdlib forceinsecure
  data/impl.yaml
  data/impl/forceinsecure.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

runtests: wrap tests in securecallfunction
  tools/runtests.lua
Due: none

progress
  .luacheckrc
  wowless/api.lua
  wowless/loader.lua
Due: none

api: CallSafely calls must be secure
  .luacheckrc
  wowapi/loader.lua
  wowless/api.lua
Due: none

avoid creating new functions in data/impls
  data/impl/CreateForbiddenFrame.lua
  data/impl/CreateFrame.lua
  data/impl/GetAddOnEnableState.lua
  data/impl/GetChatWindowInfo.lua
  data/impl/IsAddOnLoadOnDemand.lua
  data/impl/IsAddOnLoaded.lua
Due: none

bump wow_classic and wow_classic_ptr to 3.4.3.51943
  data/products/wow_classic/build.yaml
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

temporarily disable broken stylua pre-commit
  .pre-commit-config.yaml
Due: none

addon: test suite registration decoupling
  addon/Wowless/api.lua
  addon/Wowless/generated.lua
  addon/Wowless/init.lua
  addon/Wowless/test.lua
Due: addon-chmod

addon: move uiobject tests to separate file
  addon/Wowless/Wowless.toc
  addon/Wowless/test.lua
  addon/Wowless/uiobjects.lua
  tools/mkninja.lua
Due: addon-chmod

addon: rewrite some frame tests using check
  addon/Wowless/uiobjects.lua
  addon/Wowless/util.lua
Due: addon-chmod

consolidate hooksecurefunc tests
  .luacheckrc
  addon/Wowless/api.lua
  spec/wowless/frame_spec.lua
Due: addon-chmod

migrate frame_spec to addon
  addon/Wowless/uiobjects.lua
  spec/wowless/frame_spec.lua
  tools/mkninja.lua
Due: addon-chmod

scripts must run in the sandbox
  wowless/api.lua
  wowless/loader.lua
Due: none

C_Timer.After is like NewTimer without the return
  data/impl.yaml
  data/impl/C_Timer.After.lua
Due: yamlfmt

assert timer callback types
  wowless/api.lua
  wowless/loader.lua
Due: none

CallSafely=framework, CallSandbox=sandbox
  data/impl/RunMacroText_Callback.lua
  data/uiobjects/ScriptObject/HookScript.lua
  wowless/api.lua
  wowless/runner.lua
Due: none

loader: CallSandbox lua strings
  wowless/loader.lua
Due: none

proposed better settaintmode spot
  wowless/api.lua
  wowless/loader.lua
  wowless/runner.lua
Due: none

bugfix: CallSandbox(ToggleTalentFrame)
  wowless/runner.lua
Due: none

i think this does a better job on loadstr
  wowless/loader.lua
Due: none

bubblewrap
  wowapi/loader.lua
  wowapi/uiobjects.lua
  wowless/util.lua
Due: none

resurrect stylua with pre-commit fix
  .pre-commit-config.yaml
Due: none

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  addon-chmod: any of: ^addon/
