Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: build/cmake/yamlfmt
  language: system

region: transitive dirty bit propagation, fixes #517
  addon/Wowless/test.lua
  addon/Wowless/uiobjects.lua
  wowless/modules/region.lua
Due: luacheck

region: edge from center derivation test #520
  addon/Wowless/uiobjects.lua
Due: luacheck

region: derive edges from center, fixes #520
  addon/Wowless/uiobjects.lua
  wowless/modules/region.lua
Due: luacheck

mainloop: use region.GetRect instead of index method
  data/modules.yaml
  wowless/modules/mainloop.lua
Due: luacheck, yamlfmt

region: eager dirty propagation via reverse anchor pointers
  CMakeLists.txt
  data/modules.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  wowless/modules/dirty.lua
  wowless/modules/points.lua
  wowless/modules/region.lua
Due: luacheck, yamlfmt

LUA_WARNING: remove warnType, simplify warnings #521
  addon/Wowless/generated.lua
  addon/Wowless/init.lua
  addon/Wowless/test.lua
  addon/Wowless/test.xml
  data/schemas/config.yaml
  wowless/modules/api.lua
Due: luacheck, yamlfmt

arraydiff: add LCS-based array diff for LUA_WARNING comparison #521
  CMakeLists.txt
  addon/Wowless/Wowless.toc
  addon/Wowless/arraydiff.lua
  addon/Wowless/test.lua
  spec/addon/arraydiff_spec.lua
Due: luacheck

xml: align anchor scripts with configuration #452
  addon/Wowless/generated.lua
  addon/Wowless/test.xml
  data/products/wow/uiobjects.yaml
  data/products/wow/xml.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wow_beta/xml.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_beta/xml.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/uiobjects.yaml
  data/products/wowxptr/xml.yaml
  tools/gentest.lua
Due: luacheck, yamlfmt

loader: check HasScript before load #452 #521
  addon/Wowless/test.xml
  wowless/modules/loader.lua
Due: luacheck

loader: fire warnings on unknown script elements, #521, fixes #452
  addon/Wowless/test.xml
  addon/Wowless/util.lua
  wowless/modules/loader.lua
  wowless/xml.lua
Due: luacheck

xml: add spec ensuring ScriptType elements are in scripttypes.yaml
  CMakeLists.txt
  spec/data/xml_spec.lua
Due: luacheck

scripttypes: add spec and remove unused entries
  CMakeLists.txt
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_beta/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_beta/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/scripttypes.yaml
  spec/data/scripttypes_spec.lua
Due: luacheck, yamlfmt

test: remove deleted script types from Actor test
  addon/Wowless/test.xml
Due: none

cmake: add __LINE__ preprocessing for test.xml, #521
  CMakeLists.txt
  cmake/preprocess_line.cmake
Due: none

cmake: factor copy_executable script into a separate file
  CMakeLists.txt
  cmake/copy_executable.cmake
Due: none

addon_spec: fix wowless addon directory
  spec/wowless/addon_spec.lua
Due: luacheck

bump wow_classic_era to 1.15.8.65888
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow_classic to 5.5.3.65890
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow and wow_beta to 12.0.1.65893
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
  data/products/wow/structures.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/structures.yaml
  tools/prep.lua
Due: luacheck, yamlfmt

bump wow_anniversary to 2.5.5.65895
  data/products/wow_anniversary/build.yaml
  data/products/wow_anniversary/cvars.yaml
Due: yamlfmt

gencode: honor typecheck warning bit
  data/modules.yaml
  wowless/modules/gencode.lua
Due: luacheck, yamlfmt

env: stick __wowless in secureenv too
  wowless/env.lua
Due: luacheck

prep: reuse stubby for eligible apis
  tools/prep.lua
Due: luacheck

prep: generate C stubs for API typechecking and output pushing
  CMakeLists.txt
  tools/prep.lua
  wowless/modules/apiloader.lua
  wowless/modules/luaobjects.lua
  wowless/modules/uiobjectloader.lua
Due: luacheck

bump wow to 12.0.1.65940
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/events.yaml
Due: yamlfmt

prep: generate C stubs for no-output global APIs
  CMakeLists.txt
  tools/prep.lua
  wowless/modules/apiloader.lua
  wowless/typecheck.h
Due: luacheck

CLAUDE: document C stubs pattern and default-implies-nilable convention
  CLAUDE.md
Due: none

prep: extend C stub eligibility to stubnothing APIs
  tools/prep.lua
Due: luacheck

typecheck: use static inline to fix linker errors
  wowless/typecheck.h
Due: none

typecheck: use static inline to fix linker errors (#524)
  wowless/typecheck.h
Due: none

prep: extend C stubs to APIs returning numbers and strings
  tools/prep.lua
Due: luacheck

prep: extend C stubs to APIs with boolean inputs and outputs
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

prep: extend C stubs to APIs with unit inputs and outputs
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

prep: extend C stubs to APIs with stuboutstrides
  tools/prep.lua
Due: luacheck

prep: replace cstub api entries with minimal apicfg
  tools/prep.lua
Due: luacheck

prep: extend C stubs to APIs with enum outputs
  tools/prep.lua
Due: luacheck

prep: remove unit as a permissible C stub output type
  tools/prep.lua
Due: luacheck

CLAUDE.md: always run tests after modifying code
  CLAUDE.md
Due: none

prep: construct C stub typecheck function name programmatically
  tools/prep.lua
Due: luacheck

prep: refactor C stub output generation to use dispatch tables
  tools/prep.lua
Due: luacheck

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
