Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, luacheck, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: lua tools/yamlfmt.lua
  language: system

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

integrate cascmap into fetch build
  tools/fetch.lua
  tools/mkninja.lua
Due: luacheck

bump wow and wowxptr to 10.2.0.52301
  data/products/wow/build.yaml
  data/products/wowxptr/build.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.0.52409
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/cvars.yaml
Due: yamlfmt

repeated parentKey test
  addon/Wowless/test.xml
Due: addon-chmod

manage zlib through vcpkg
  .gitmodules
  CMakeLists.txt
  vcpkg.json
Due: none

vcpkg libpng
  CMakeLists.txt
  vcpkg.json
Due: none

vcpkg libyaml
  CMakeLists.txt
  vcpkg.json
Due: none

vcpkg expat
  CMakeLists.txt
  vcpkg.json
Due: none

vcpkg sqlite3
  CMakeLists.txt
  vcpkg.json
Due: none

introduce vcpkg (#307)
  .gitmodules
  CMakeLists.txt
  vcpkg.json
Due: none

curl
  CMakeLists.txt
  tools/mkninja.lua
  vcpkg.json
Due: luacheck

start elune port
  CMakeLists.txt
  ports/.vcpkg-root
  ports/elune/portfile.cmake
  ports/elune/vcpkg.json
  tools/mkninja.lua
  vcpkg-configuration.json
  vcpkg.json
Due: luacheck

vcpkg_install_copyright
  ports/elune/portfile.cmake
Due: none

progress, maybe
  CMakeLists.txt
  ports/elune/portfile.cmake
  ports/elune/vcpkg.json
Due: none

it works
  CMakeLists.txt
  ports/elune/portfile.cmake
Due: none

try explicitly turning off BUILD_SHARED_LIBS
  ports/elune/portfile.cmake
  tools/mkninja.lua
Due: luacheck

remove references to EXECUTE_CHAT_LINE
  wowless/runner.lua
Due: luacheck

C_Macro.SetMacroExecuteLinCallback impl everywhere
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

wire up DoEmote
  data/impl.yaml
  data/impl/DoEmote.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt, luacheck

replace print with api.log
  data/impl.yaml
  data/impl/DoEmote.lua
Due: yamlfmt, luacheck

include emote check in runner
  wowless/runner.lua
Due: luacheck

rump sql, send event
  data/impl.yaml
  data/impl/DoEmote.lua
  data/sql/lookup/DoEmote.sql
Due: yamlfmt, luacheck

trivial impl of C_ChatInfo.ReplaceIconAndGroupExpressions
  data/impl.yaml
  data/impl/C_ChatInfo.ReplaceIconAndGroupExpressions.lua
  data/products/wow/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt, luacheck

working emote query
  data/sql/lookup/DoEmote.sql
Due: none

initial emote support (#309)
  data/impl.yaml
  data/impl/C_ChatInfo.ReplaceIconAndGroupExpressions.lua
  data/impl/DoEmote.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/sql/lookup/DoEmote.sql
  wowless/runner.lua
Due: yamlfmt, luacheck

gha: cmake verbose
  .github/workflows/test.yml
Due: none

gha: cmake verbose (#310)
  .github/workflows/test.yml
Due: none

bump wow and wowxptr to 10.2.0.52393
  data/products/wow/build.yaml
  data/products/wowxptr/build.yaml
Due: yamlfmt

wire up to new build system
  CMakeLists.txt
  tools/mkninja.lua
Due: luacheck

build target for db2compare
  CMakeLists.txt
  tools/db2compare.lua
Due: luacheck

db2dump build
  CMakeLists.txt
  tools/db2dump.lua
Due: luacheck

force to wdc4 now
  spec/wowless/db2_spec.lua
  spec/wowless/db2tests.yaml
  wowless/db2.lua
Due: luacheck

use tools.dbc for the wdc3->4 conversion
  CMakeLists.txt
  spec/wowless/db2_spec.lua
  tools/db2compare.lua
  tools/db2dump.lua
Due: luacheck

only process first section
  wowless/db2.lua
Due: luacheck

skip encrypted status section
  wowless/db2.lua
Due: luacheck

fix zerohash check
  wowless/db2.lua
Due: luacheck

fix string offsets when multiple sections
  wowless/db2.lua
Due: luacheck

generalize goodsig chars
  wowless/db2.lua
Due: luacheck

more strict cx checks
  wowless/db2.lua
Due: luacheck

more type=0 checks
  wowless/db2.lua
Due: luacheck

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
