Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: env/bin/lua tools/yamlfmt.lua
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

addon: globalapis support overwritten config
  addon/Wowless/generated.lua
  tools/gentest.lua
Due: addon-chmod

bump wowxptr to 10.2.0.51425
  data/impl/C_XMLUtil.GetTemplateInfo.lua
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/docs.yaml
Due: yamlfmt

ACHIEVEMENT_EARNED does not fire on era
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/events.yaml
Due: yamlfmt

runner: fix mixin handling on event payloads
  wowless/runner.lua
Due: none

disable CONFIRM_BINDER on era
  data/products/wow_classic_era/config.yaml
Due: yamlfmt

GetCurrencyListSize prototypes for era
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

checkpoint era allevents
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/structures.yaml
Due: yamlfmt

update some classic api specs from docs
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

wire up C_Timer impls in classic
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  tools/docs.lua
Due: yamlfmt

docs updates
  data/impl/GetAddOnInfo.lua
  data/impl/GetAddOnMetadata.lua
  data/products/wow/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
Due: yamlfmt

a few extra types
  tools/docs.lua
Due: none

type mapping
  tools/docs.lua
Due: none

uiobjects: require virtuals to be used more than once
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  spec/data/uiobjects_spec.lua
Due: yamlfmt

remap a few types
  tools/docs.lua
Due: none

docs: apply api updates even if impl
  data/impl/GetAddOnInfo.lua
  data/products/wowxptr/apis.yaml
  tools/docs.lua
Due: yamlfmt

implemented api inputs must be named
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  spec/data/apis_spec.lua
Due: yamlfmt

implemented api outputs must be named
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  spec/data/apis_spec.lua
Due: yamlfmt

apis: inputs/outputs either all or none named
  data/products/wow/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  spec/data/apis_spec.lua
Due: yamlfmt

apis: assert in/out names are unique
  spec/data/apis_spec.lua
Due: none

apis: stubbed outputs must be named
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  spec/data/apis_spec.lua
Due: yamlfmt

GetMapArtLayers output is called layerInfo
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

align stub output names with docs
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

docs: rewrite apis with stubs
  data/products/wow/apis.yaml
  data/products/wow/structures.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/structures.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/structures.yaml
  tools/docs.lua
Due: yamlfmt

bump wow_classic_ptr to 3.4.3.51505
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
Due: yamlfmt

bump wow_classic_era to 1.14.4.51535
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow to 10.1.7.51536
  data/products/wow/build.yaml
Due: yamlfmt

bump wowxptr to 10.2.0.51521
  data/impl/GetAddOnInfo.lua
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
Due: yamlfmt

test coverage for TextureCoordTranslation
  addon/Wowless/generated.lua
  addon/Wowless/test.xml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt, addon-chmod

api loader: flatten mkfn a bit
  wowapi/loader.lua
Due: none

api loader: warn on extra input args
  wowapi/loader.lua
Due: none

get/set global table
  wowless/ext.c
Due: none

xml: tag contents as set
  data/products/wow/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  wowless/xml.lua
Due: yamlfmt

scoped modifier can contain scripts
  addon/Wowless/test.xml
  data/products/wow/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
Due: yamlfmt, addon-chmod

fix getfenv and script environments
  addon/Wowless/test.xml
  addon/Wowless/util.lua
  data/impl/getfenv.lua
  wowless/loader.lua
Due: addon-chmod

xml mixin tests
  addon/Wowless/test.xml
Due: addon-chmod

bump wow_classic_ptr to 3.4.3.51572
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

bump wowxptr to 10.2.0.51601
  addon/Wowless/test.lua
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/ParentedObjectBase/ClearParentKey.lua
  data/uiobjects/ParentedObjectBase/SetParentKey.lua
Due: yamlfmt, addon-chmod

addon: remove Line exception
  addon/Wowless/generated.lua
Due: addon-chmod

WorldFrame is not a separate uiobject type
  addon/Wowless/test.lua
  addon/Wowless/test.xml
  data/products/wow/config.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/config.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/uiobjects.yaml
  wowless/api.lua
  wowless/loader.lua
Due: yamlfmt, addon-chmod

prep: stringenum defaults
  tools/prep.lua
Due: none

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  addon-chmod: any of: ^addon/
