Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, luacheck, addon-chmod

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '2.7.3'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.20.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v18.1.1
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: yamlfmt
    name: wowless yamlfmt
    entry: lua tools/yamlfmt.lua
    language: system
    types: [yaml]
    files: ^data/
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: local-test
    name: build and test
    entry: sh -c "lua tools/mkninja.lua && ninja -v"
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

UseSecureEnvironment support (#344)
  data/products/wow_classic_era_ptr/apis.yaml
  wowless/api.lua
  wowless/env.lua
  wowless/loader.lua
Due: yamlfmt, luacheck

bump wow_classic to 4.4.0.56489
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow_classic_ptr to 4.4.1.56574
  data/impl/GetBuildInfo_1_15_0.lua
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/test/GetBuildInfo_1_15_0.lua
Due: yamlfmt, luacheck

mainline GetClassInfo doesn't use >=
  data/impl.yaml
  data/impl/GetClassInfo_Classic.lua
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/sql/lookup/GetClassInfo_Classic.sql
  data/test.yaml
  data/test/GetClassInfo_Classic.lua
Due: yamlfmt, luacheck

bump wow to 11.0.2.56625
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/config.yaml
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

add gametypes to flavors
  data/flavors.yaml
  data/schemas/flavors.yaml
Due: yamlfmt

loader: use gametypes in AllowLoadGameType
  wowless/loader.lua
Due: luacheck

wow api fixes
  data/products/wow/apis.yaml
Due: yamlfmt

C_Traits.GetConfigIDByTreeID can return nothing
  data/products/wow/apis.yaml
Due: yamlfmt

retire wow_beta (again)
  CMakeLists.txt
  data/products.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/config.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/structures.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wow_beta/xml.yaml
  tools/mkninja.lua
Due: yamlfmt, luacheck

retire wow_beta (again) (#345)
  CMakeLists.txt
  data/products.yaml
  data/products/wow/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/config.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/structures.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wow_beta/xml.yaml
  tools/mkninja.lua
Due: yamlfmt, luacheck

bump wow to 11.0.2.56647
  data/products/wow/build.yaml
Due: yamlfmt

copy wowt over from wow (11.0.2.56647)
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

bump wowxptr to 11.0.5.56646
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

wow and wowt work
  data/products/wow/apis.yaml
  data/products/wow/config.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/config.yaml
Due: yamlfmt

wowxptr fixes, aligned with wow fixes
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/config.yaml
Due: yamlfmt

take no-longer-relevant IMPORTANT NOTE off the readme
  README.md
Due: none

rip out addons.yaml and friends
  CMakeLists.txt
  bin/downloadaddon.sh
  data/schemas/addons.yaml
  spec/data/yaml_spec.lua
  tools/addons.yaml
  tools/bumpaddons.lua
  tools/mkninja.lua
Due: yamlfmt, luacheck

rip out addons.yaml and friends (#347)
  CMakeLists.txt
  bin/downloadaddon.sh
  data/schemas/addons.yaml
  spec/data/yaml_spec.lua
  tools/addons.yaml
  tools/bumpaddons.lua
  tools/mkninja.lua
Due: yamlfmt, luacheck

gha: reenable ninja -v all
  .github/workflows/test.yml
Due: none

gha: reenable ninja -v all (#348)
  .github/workflows/test.yml
Due: none

nuke rockspec from orbit
  .devcontainer/Dockerfile
  wowless-scm-0.rockspec
Due: none

mkninja: remove penlight dependency
  .devcontainer/Dockerfile
  tools/mkninja.lua
Due: luacheck

missed xargs argument
  .devcontainer/Dockerfile
Due: none

nuke rockspec from orbit (#349)
  .devcontainer/Dockerfile
  wowless-scm-0.rockspec
Due: none

yamlfmt in cmake
  .pre-commit-config.yaml
  CMakeLists.txt
Due: none

yamlfmt in cmake (#352)
  .pre-commit-config.yaml
  CMakeLists.txt
Due: none

mkninja: remove penlight dependency (#350)
  .devcontainer/Dockerfile
  tools/mkninja.lua
Due: luacheck

mkninja: eliminate lyaml dependency
  .devcontainer/Dockerfile
  tools/mkninja.lua
Due: luacheck

mkninja: eliminate lyaml dependency (#353)
  .devcontainer/Dockerfile
  tools/mkninja.lua
Due: luacheck

devcontainer: remove unused deps
  .devcontainer/Dockerfile
Due: none

devcontainer: remove unused deps (#354)
  .devcontainer/Dockerfile
Due: none

mkninja: remove unused yaml2lua setup
  tools/mkninja.lua
Due: luacheck

mkninja: replace addon.stamp with direct deps
  tools/mkninja.lua
Due: luacheck

mkninja: remove dead addonouts phony
  tools/mkninja.lua
Due: luacheck

whoops, fix yaml2lua breakages
  tools/fetch.lua
  tools/gentest.lua
  tools/mkninja.lua
Due: luacheck

json formatting
  ports/elune/vcpkg.json
  vcpkg-configuration.json
Due: none

bump wow_classic_era_ptr to 1.15.4.56708
  data/products/wow_classic_era_ptr/build.yaml
Due: yamlfmt

bump wow_classic to 4.4.0.56713
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.4.56738
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt
