Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

bump wowt to 12.0.0.65294
  data/products/wowt/build.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 2.5.5.65295
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
Due: yamlfmt

bump wow to 11.2.7.65299
  data/products/wow/build.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.8.65300
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow_classic to 5.5.3.65302
  data/products/wow_classic/build.yaml
Due: yamlfmt

luaobjects: defer type loading until runner invokes LoadTypes
  data/modules.yaml
  wowless/modules/luaobjects.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

funtainer: export C_FunctionContainers.CreateCallback
  data/impl.yaml
  data/modules.yaml
  wowless/modules/funtainer.lua
  wowless/modules/luaobjects.lua
Due: luacheck, yamlfmt

luaobjects: replace create/state contract with construct(obj)
  wowless/modules/funtainer.lua
  wowless/modules/luaobjects.lua
  wowless/modules/time.lua
Due: luacheck

luaobjects: add luarep field and UserData function
  wowless/modules/luaobjects.lua
  wowless/modules/time.lua
Due: luacheck

typecheck: handle host/sandbox conversion for luaobjects
  tools/prep.lua
  wowless/modules/luaobjects.lua
  wowless/modules/time.lua
  wowless/modules/typecheck.lua
Due: luacheck

luaobjects: remove unused IsType function
  wowless/modules/luaobjects.lua
Due: luacheck

luaobjects: remove unused first return from make function
  wowless/modules/luaobjects.lua
Due: luacheck

introduce wow_anniversary product
  CMakeLists.txt
  data/products.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_anniversary/build.yaml
  data/products/wow_anniversary/config.yaml
  data/products/wow_anniversary/cvars.yaml
  data/products/wow_anniversary/docs.yaml
  data/products/wow_anniversary/events.yaml
  data/products/wow_anniversary/globals.yaml
  data/products/wow_anniversary/luaobjects.yaml
  data/products/wow_anniversary/structures.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_anniversary/xml.yaml
Due: yamlfmt

anniversary fixes now that realms are up
  data/products/wow_anniversary/config.yaml
  data/products/wow_anniversary/cvars.yaml
Due: yamlfmt

wow_anniversary: add LuaFunctionContainer luaobject type
  data/products/wow_anniversary/apis.yaml
  data/products/wow_anniversary/docs.yaml
  data/products/wow_anniversary/luaobjects.yaml
Due: yamlfmt

typecheck: validate luaobject type in isout path
  wowless/modules/typecheck.lua
Due: luacheck

luaobjects: assert impl modules provide all methods
  wowless/modules/luaobjects.lua
Due: luacheck

bump wow_anniversary to 2.5.5.65417
  data/products/wow_anniversary/build.yaml
  data/products/wow_anniversary/cvars.yaml
Due: yamlfmt

aliased_in_framexml: value and assert
  addon/Wowless/generated.lua
  data/products/wow/config.yaml
  data/products/wow_anniversary/config.yaml
  data/products/wow_beta/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
Due: luacheck, yamlfmt

remove tilde from generated api tests, fixes #504
  addon/Wowless/generated.lua
  data/products/wow/config.yaml
  data/products/wowxptr/config.yaml
  tools/errsv.lua
Due: luacheck, yamlfmt

generated: slight refactoring of apins test
  addon/Wowless/generated.lua
Due: luacheck

loader: drop unused GuardedAddOn support
  wowless/modules/loader.lua
Due: luacheck

loader: UseSecureEnvironment implies LoadFirst
  wowless/modules/loader.lua
Due: luacheck

bump wow_beta to 12.0.1.65337
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/luaobjects.yaml
  data/products/wow_beta/structures.yaml
  data/products/wow_beta/uiobjects.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

introduce CLAUDE.md
  CLAUDE.md
Due: none

bump wowt to 12.0.0.65390
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/structures.yaml
Due: yamlfmt

add flag schematype for presence-only boolean fields
  data/schemas/doctable.yaml
  data/schemas/schematype.yaml
  spec/wowapi/schema_spec.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

devcontainer: use system luacheck
  .devcontainer/Dockerfile
Due: none

spell it correctly
  .devcontainer/Dockerfile
Due: none

apply stylua formatting to schema_spec.lua
  spec/wowapi/schema_spec.lua
Due: luacheck

Add flag schematype for presence-only boolean fields (#505)
  data/schemas/doctable.yaml
  data/schemas/schematype.yaml
  spec/wowapi/schema_spec.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

gha: pre-commit autoupdate
  .github/workflows/pre-commit-autoupdate.yml
Due: none

make it run on pull_request for now
  .github/workflows/pre-commit-autoupdate.yml
Due: none

Revert "make it run on pull_request for now"
  .github/workflows/pre-commit-autoupdate.yml
Due: none

gha: pre-commit autoupdate (#507)
  .github/workflows/pre-commit-autoupdate.yml
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
  .sqlfluff
  data/sql/C_Traits.GetNodeInfo.conditions.sql
  data/sql/C_Traits.GetNodeInfo.groups.sql
Due: none

sql: fix ambiguous.order_by_limit violations
  .sqlfluff
  data/sql/GetClassInfo_Classic.sql
  data/sql/UnitPowerType.sql
Due: none

add autoconf-archive to ubuntu install list
  .github/workflows/test.yml
Due: none

bump action versions
  .github/workflows/test.yml
Due: none
