Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: env/bin/lua tools/yamlfmt.lua
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

bump wow to 10.0.7.48999
  data/products/wow/build.yaml
Due: yamlfmt

pass SecureCapsuleGet as third addon file parameter
  wowless/loader.lua
Due: none

bump wowt, even more broken
  data/products/wowt/build.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

skip capsule enums
  addon/Wowless/generated.lua
  data/products/wowt/config.yaml
  data/schemas/config.yaml
  tools/gentest.lua
  tools/mkninja.lua
Due: yamlfmt, addon-chmod

skip capsule globalapis
  addon/Wowless/generated.lua
Due: addon-chmod

skip capsule api namespaces
  addon/Wowless/generated.lua
Due: addon-chmod

wowt errsv
  data/products/wowt/apis.yaml
  data/products/wowt/cvars.yaml
Due: yamlfmt

wowt docs
  data/products/wowt/apis.yaml
  data/products/wowt/structures.yaml
Due: yamlfmt

loader: assert stdlibs exist
  wowapi/loader.lua
Due: none

link up pcallwithenv
  data/products/wowt/apis.yaml
Due: yamlfmt

addon: skip capsule symbols
  addon/Wowless/generated.lua
  tools/gentest.lua
  tools/mkninja.lua
Due: addon-chmod

addon: missing capsule schema
  data/schemas/config.yaml
Due: yamlfmt

implement GetFontStringMetatable
  data/impl.yaml
  data/impl/GetFontStringMetatable.lua
  data/products/wowt/apis.yaml
Due: yamlfmt

C_UnitAurasPrivate stubs
  data/products/wowt/apis.yaml
  data/products/wowt/config.yaml
Due: yamlfmt

flesh out stub of C_UnitAurasPrivate.GetPrivateAuraAnchors
  data/products/wowt/apis.yaml
Due: yamlfmt

add C_FunctionContainers.CreateCallback stub
  data/products/wowt/apis.yaml
Due: yamlfmt

define AuraData as an empty struct for now
  data/products/wow/apis.yaml
  data/products/wow/structures.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  tools/docs.lua
Due: yamlfmt

docs, AuraData
  data/products/wowt/apis.yaml
  data/products/wowt/structures.yaml
Due: yamlfmt

GetAllPrivateAuras
  data/products/wowt/apis.yaml
  data/products/wowt/structures.yaml
Due: yamlfmt

introduce PrivateAuraAnchor struct
  data/products/wowt/apis.yaml
  data/products/wowt/structures.yaml
Due: yamlfmt

runner: move slashcmd blacklist to config
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/schemas/config.yaml
  wowless/runner.lua
Due: yamlfmt

skipped slashcmds must exist
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_ptr/config.yaml
  wowless/runner.lua
Due: yamlfmt

trim skipped slashcmds
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
Due: yamlfmt

skip editmode in wowt for now
  data/products/wowt/config.yaml
Due: yamlfmt

override C_LootHistory.GetSortedDropsForEncounter stub
  data/products/wowt/apis.yaml
Due: yamlfmt

skip RAF_REWARD_CLAIM_FAILED event
  data/products/wowt/config.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 10.1.0.48999
  data/products/wow_classic_era_ptr/build.yaml
Due: yamlfmt

bump wowt to 10.1.0.49092 (#239)
  addon/Wowless/generated.lua
  addon/Wowless/util.lua
  data/impl.yaml
  data/impl/GetBuildInfo_10_1.lua
  data/impl/GetFontStringMetatable.lua
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  tools/docs.lua
  tools/errsv.lua
  wowless/loader.lua
Due: yamlfmt, addon-chmod

bump
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/structures.yaml
Due: yamlfmt

GetButtonMetatable, GetFrameMetatable
  data/impl.yaml
  data/impl/GetButtonMetatable.lua
  data/impl/GetFrameMetatable.lua
  data/products/wowt/apis.yaml
Due: yamlfmt

bump wowt to 10.1.0.49190 (#240)
  data/impl.yaml
  data/impl/GetButtonMetatable.lua
  data/impl/GetFrameMetatable.lua
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/structures.yaml
Due: yamlfmt

bump wowt to 10.1.0.49222, fix generated enum test
  addon/Wowless/generated.lua
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
Due: yamlfmt, addon-chmod

speed up tests by pre-luafying yaml
  spec/data/apis_spec.lua
  spec/data/config_spec.lua
  spec/data/impl_spec.lua
  spec/data/structures_spec.lua
  spec/data/uiobjectimpl_spec.lua
  spec/data/uiobjects_spec.lua
  spec/data/yaml_spec.lua
  tools/mkninja.lua
Due: none

remove obsolete checks from api_spec
  spec/data/apis_spec.lua
Due: none

use luafied yaml in wowapi.data
  wowapi/data.lua
Due: none

roll our own test runner
  .busted
  .vscode/settings.json
  tools/mkninja.lua
  tools/runtests.lua
Due: none

remove "expose" bustedism
  spec/wowless/addon_spec.lua
  tools/runtests.lua
Due: none

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  addon-chmod: any of: ^addon/
