Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

bump wow_beta to 12.0.1.65701
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/globals.yaml
Due: yamlfmt

bump wow_classic to 5.5.3.65703
  data/products/wow_classic/build.yaml
Due: yamlfmt

luaobject method identity, fixes #509, adapted from #510
  addon/Wowless/luaobjects.lua
  addon/Wowless/util.lua
  tools/gentest.lua
  tools/prep.lua
  wowless/modules/luaobjects.lua
Due: luacheck

luaobject method prototypes from docs
  data/products/wow/luaobjects.yaml
  data/products/wow/structures.yaml
  data/products/wow_beta/luaobjects.yaml
  data/products/wow_beta/structures.yaml
  data/products/wowt/luaobjects.yaml
  data/products/wowt/structures.yaml
  data/schemas/luaobjects.yaml
  spec/data/structures_spec.lua
  tools/docs.lua
Due: luacheck, yamlfmt

start prepping luaobject methods
  tools/prep.lua
  wowless/modules/luaobjects.lua
Due: luacheck

luaobjects: prep proper stubs
  tools/prep.lua
Due: luacheck

bump wow to 12.0.0.65727
  data/products/wow/build.yaml
Due: yamlfmt

bump wow_classic to 5.5.3.65746
  data/products/wow_classic/build.yaml
Due: yamlfmt

rect test: use screen dims and UIParent scale if available
  addon/Wowless/uiobjects.lua
Due: luacheck

apply changes to new products
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_beta/uiobjects.yaml
Due: yamlfmt

bump wowxptr to 12.0.1.65701
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/luaobjects.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

SetScrollChild manipulates points
  addon/Wowless/uiobjects.lua
  data/uiobjectimpl.yaml
  data/uiobjects/ScrollFrame/SetScrollChild.lua
Due: luacheck, yamlfmt

__wowless.dumpregion, to facilitate rect debug
  wowless/env.lua
Due: luacheck

cleanly runs everywhere
  addon/Wowless/test.xml
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  wowless/modules/region.lua
Due: luacheck, yamlfmt

render: use live rect
  wowless/render.lua
Due: luacheck

Revert "render: use live rect"
  wowless/render.lua
Due: luacheck

direct fontstring type equality checks
  wowless/modules/region.lua
Due: luacheck

region rect state machine, fixes #473
  addon/Wowless/test.xml
  addon/Wowless/uiobjects.lua
  data/modules.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  wowless/modules/points.lua
  wowless/modules/region.lua
Due: luacheck, yamlfmt

any type, use for scrub
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/type.yaml
  wowless/modules/typecheck.lua
Due: luacheck, yamlfmt

secretwrap stub impl
  data/impl.yaml
  data/impl/secretwrap.lua
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
Due: luacheck, yamlfmt

bump wow_beta to 12.0.1.65769
  data/impl/secretwrap.lua
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/globals.yaml
  data/schemas/doctable.yaml
Due: luacheck, yamlfmt

bump wowxptr to 12.0.1.65769
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/globals.yaml
Due: yamlfmt

bump wow_annivesary to 2.5.5.65795
  data/products/wow_anniversary/build.yaml
Due: yamlfmt

ClearPoint does not mark region dirty
  addon/Wowless/uiobjects.lua
  wowless/modules/points.lua
Due: luacheck

ClearAllPoints sets region dirty bit
  addon/Wowless/uiobjects.lua
  wowless/modules/points.lua
Due: luacheck

bump wow to 12.0.1.65848
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/luaobjects.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

region transitively dirty test #517
  addon/Wowless/uiobjects.lua
Due: luacheck

bump wow to 12.0.1.65867
  data/products/wow/build.yaml
  data/products/wow/structures.yaml
Due: yamlfmt

points: cycle check implicit parent in SetPoint/SetAllPoints
  addon/Wowless/uiobjects.lua
  wowless/modules/points.lua
Due: luacheck

document test runner behavior in CLAUDE.md
  CLAUDE.md
Due: none

document test addon structure and writing patterns in CLAUDE.md
  CLAUDE.md
Due: none

region: heartbeat dirty bit clearing test #518
  addon/Wowless/test.lua
Due: luacheck

document GitHub issue conventions in CLAUDE.md
  CLAUDE.md
Due: none

OnUpdate invocation order test #519
  addon/Wowless/test.lua
Due: luacheck

bump wow_beta to 12.0.1.65867
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/structures.yaml
Due: yamlfmt

mainloop: dirty rect recomputation, fixes #518
  addon/Wowless/test.lua
  wowless/modules/mainloop.lua
Due: luacheck

region: heartbeat dirty bit tests for non-visible frames
  addon/Wowless/test.lua
Due: luacheck

region: heartbeat dirty bit test for invisible anchor target #517
  addon/Wowless/test.lua
Due: luacheck

gentest: stage output and copy with executable permissions
  CMakeLists.txt
Due: none

testaddon: copy to build directory with executable permissions
  CMakeLists.txt
Due: none
