Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: build/cmake/yamlfmt
  language: system

uiobjects: rename TextureCoordTranslation to TextureCoord (#831)
  addon/Wowless/generated.lua
  addon/Wowless/test.xml
  addon/Wowless/uiobjects.lua
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow/xml.yaml
  data/products/wow_anniversary/docs.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
  data/products/wowxptr/xml.yaml
  data/uiobjects/AnimationGroup/CreateAnimation.lua
Due: luacheck, yamlfmt

cvars: store yaml values as records with a value field
  addon/Wowless/generated.lua
  data/products/wow/cvars.yaml
  data/products/wow_anniversary/cvars.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wowt/cvars.yaml
  data/products/wowxptr/cvars.yaml
  data/schemas/cvars.yaml
  tools/errsv.lua
  tools/prep.lua
Due: luacheck, yamlfmt

cvars: rename yaml record field from value to default
  addon/Wowless/generated.lua
  data/products/wow/cvars.yaml
  data/products/wow_anniversary/cvars.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wowt/cvars.yaml
  data/products/wowxptr/cvars.yaml
  data/schemas/cvars.yaml
  tools/errsv.lua
  tools/prep.lua
Due: luacheck, yamlfmt

cvars: store yaml values as records with a default field
  addon/Wowless/generated.lua
  data/products/wow/cvars.yaml
  data/products/wow_anniversary/cvars.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wowt/cvars.yaml
  data/products/wowxptr/cvars.yaml
  data/schemas/cvars.yaml
  tools/errsv.lua
  tools/prep.lua
Due: luacheck, yamlfmt

devcontainer foo
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
Due: none

devcontainer: remove problematic lock file for now
  .devcontainer/devcontainer-lock.json
Due: none

cvars: capture nil defaults
  addon/Wowless/generated.lua
  data/products/wow/cvars.yaml
  data/products/wow_anniversary/cvars.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic_era/cvars.yaml
  data/schemas/cvars.yaml
  tools/errsv.lua
Due: luacheck, yamlfmt

cvars: category and help strings
  addon/Wowless/generated.lua
  data/impl/ConsoleGetAllCommands.lua
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow/structures.yaml
  data/products/wow_anniversary/cvars.yaml
  data/products/wow_anniversary/docs.yaml
  data/products/wow_anniversary/structures.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/structures.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/structures.yaml
  data/schemas/cvars.yaml
  data/schemas/docs.yaml
  tools/docs.lua
  tools/errsv.lua
  tools/prep.lua
Due: luacheck, yamlfmt

bump wow_classic_era to 1.15.9.68940
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow_anniversary to 2.5.6.68941
  data/products/wow_anniversary/build.yaml
Due: yamlfmt

cvars: require nonempty GetCVarInfo
  addon/Wowless/generated.lua
  data/products/wow/cvars.yaml
  data/products/wow_anniversary/cvars.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wowt/cvars.yaml
  data/products/wowxptr/cvars.yaml
Due: luacheck, yamlfmt

cvars: match GetCVarInfo
  addon/Wowless/generated.lua
  data/impl.yaml
  data/products/wow/apis.yaml
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_anniversary/cvars.yaml
  data/products/wow_anniversary/docs.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/cvars.yaml
  tools/errsv.lua
  tools/prep.lua
  wowless/modules/cvars.lua
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

start cvar api testing
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_anniversary/docs.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
  data/test.yaml
  data/test/cvars.lua
  wowless/modules/cvars.lua
Due: luacheck, yamlfmt

cvars: key by lower case
  addon/Wowless/generated.lua
  data/products/wow/config.yaml
  data/products/wow/cvars.yaml
  data/products/wow_anniversary/config.yaml
  data/products/wow_anniversary/cvars.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/cvars.yaml
  data/schemas/cvars.yaml
  tools/errsv.lua
  tools/prep.lua
Due: luacheck, yamlfmt

cvars: ConsoleGetAllCommands fields are unreliable
  addon/Wowless/generated.lua
  data/impl/ConsoleGetAllCommands.lua
  data/products/wow/cvars.yaml
  data/products/wow_anniversary/cvars.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wowt/cvars.yaml
  data/products/wowxptr/cvars.yaml
  data/schemas/cvars.yaml
Due: luacheck, yamlfmt

cvars: fix GetCVarBool
  data/test.yaml
  data/test/cvars.lua
  wowless/modules/cvars.lua
Due: luacheck, yamlfmt

cvars: send CVAR_UPDATE as required
  data/modules.yaml
  data/test/cvars.lua
  wowless/modules/cvars.lua
Due: luacheck, yamlfmt

cvars: assert CVAR_UPDATE happens after the update
  data/test/cvars.lua
Due: luacheck

build: add vcpkg overlay port fixing sdl3 build on newer glibc
  CMakeLists.txt
  cmake/vcpkg-overlay-ports/sdl3/fix-freebsd.patch
  cmake/vcpkg-overlay-ports/sdl3/fix-getresuid-gnu-source.patch
  cmake/vcpkg-overlay-ports/sdl3/portfile.cmake
  cmake/vcpkg-overlay-ports/sdl3/usage
  cmake/vcpkg-overlay-ports/sdl3/vcpkg.json
Due: none

build: simplify sdl3 overlay port to a minimal diff over upstream
  cmake/vcpkg-overlay-ports/sdl3/fix-freebsd.patch
  cmake/vcpkg-overlay-ports/sdl3/fix-getresuid-gnu-source.patch
  cmake/vcpkg-overlay-ports/sdl3/portfile.cmake
  cmake/vcpkg-overlay-ports/sdl3/usage
Due: none

build: fix sdl3 vcpkg build failure on newer glibc (getresuid/getresgid) (#832)
  CMakeLists.txt
  cmake/vcpkg-overlay-ports/sdl3/portfile.cmake
  cmake/vcpkg-overlay-ports/sdl3/vcpkg.json
Due: none

loader: extract Lua chunk compilation into a chunks module
  CMakeLists.txt
  data/modules.yaml
  wowless/modules/chunks.lua
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

chunks: caller supplies the taint string, sourced from addon identity
  wowless/modules/chunks.lua
  wowless/modules/loader.lua
Due: luacheck

points: format anchor error pointers per Windows client convention
  addon/Wowless/uiobjects.lua
  data/modules.yaml
  wowless/modules/points.lua
Due: luacheck, yamlfmt

points: format anchor error pointers per Windows client convention (#790)
  addon/Wowless/uiobjects.lua
  data/modules.yaml
  wowless/modules/points.lua
Due: luacheck, yamlfmt

accept windows pointer format on luaobject tostring
  addon/Wowless/luaobjects.lua
Due: luacheck

enums: split into a per-product enums.yaml with a proper schema
  CMakeLists.txt
  data/datafiles.yaml
  data/products/wow/enums.yaml
  data/products/wow/globals.yaml
  data/products/wow_anniversary/enums.yaml
  data/products/wow_anniversary/globals.yaml
  data/products/wow_classic/enums.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic_era/enums.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era_ptr/enums.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_ptr/enums.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wowt/enums.yaml
  data/products/wowt/globals.yaml
  data/products/wowxptr/enums.yaml
  data/products/wowxptr/globals.yaml
  data/schemas/enums.yaml
  spec/data/config_spec.lua
  spec/data/docs_spec.lua
  spec/data/yaml_spec.lua
  tools/autodocs.lua
  tools/docs.lua
  tools/errsv.lua
  tools/gentest.lua
  tools/prep.lua
  wowapi/data.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

enums: split into a per-product enums.yaml with a proper schema (#836)
  CMakeLists.txt
  data/datafiles.yaml
  data/products/wow/enums.yaml
  data/products/wow/globals.yaml
  data/products/wow_anniversary/enums.yaml
  data/products/wow_anniversary/globals.yaml
  data/products/wow_classic/enums.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic_era/enums.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era_ptr/enums.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_ptr/enums.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wowt/enums.yaml
  data/products/wowt/globals.yaml
  data/products/wowxptr/enums.yaml
  data/products/wowxptr/globals.yaml
  data/schemas/enums.yaml
  spec/data/config_spec.lua
  spec/data/docs_spec.lua
  spec/data/yaml_spec.lua
  tools/autodocs.lua
  tools/docs.lua
  tools/errsv.lua
  tools/gentest.lua
  tools/prep.lua
  wowapi/data.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

enumvalue schematype
  data/schemas/enums.yaml
  data/schemas/schematype.yaml
  wowapi/schema.lua
Due: luacheck, yamlfmt

enums: wrap each enum's values in a record
  data/products/wow/enums.yaml
  data/products/wow_anniversary/enums.yaml
  data/products/wow_classic/enums.yaml
  data/products/wow_classic_era/enums.yaml
  data/products/wow_classic_era_ptr/enums.yaml
  data/products/wow_classic_ptr/enums.yaml
  data/products/wowt/enums.yaml
  data/products/wowxptr/enums.yaml
  data/schemas/enums.yaml
  spec/data/config_spec.lua
  spec/data/docs_spec.lua
  tools/docs.lua
  tools/errsv.lua
  tools/gentest.lua
  tools/prep.lua
Due: luacheck, yamlfmt

cvars: mark platform-specific cvars
  addon/Wowless/generated.lua
  data/products/wow/cvars.yaml
  data/products/wow_anniversary/cvars.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wowt/cvars.yaml
  data/products/wowxptr/cvars.yaml
  data/schemas/cvars.yaml
Due: luacheck, yamlfmt

enums: wrap each enum's values in a record (#837)
  data/products/wow/enums.yaml
  data/products/wow_anniversary/enums.yaml
  data/products/wow_classic/enums.yaml
  data/products/wow_classic_era/enums.yaml
  data/products/wow_classic_era_ptr/enums.yaml
  data/products/wow_classic_ptr/enums.yaml
  data/products/wowt/enums.yaml
  data/products/wowxptr/enums.yaml
  data/schemas/enums.yaml
  spec/data/config_spec.lua
  spec/data/docs_spec.lua
  tools/docs.lua
  tools/errsv.lua
  tools/gentest.lua
  tools/prep.lua
Due: luacheck, yamlfmt

loader: thread dir/filename/addonRoot/addonName/loadFile through ctx
  wowless/modules/loader.lua
Due: luacheck

loader: templates are data (ctx + elem), not per-element closures
  wowless/modules/api.lua
  wowless/modules/loader.lua
Due: luacheck

loader: hoist XML interpreter to module scope
  wowless/modules/loader.lua
Due: luacheck

loader: make loadFile/loadXml plain functions of addon identity, drop ctx.loadFile
  wowless/modules/loader.lua
Due: luacheck

loader: thread ctx through the XML interpreter and hoist it to module scope
  wowless/modules/loader.lua
Due: luacheck

templates,uiobjects,api,loader: move XML interpreter and CreateUIObject out of api.lua
  data/impl.yaml
  data/impl/CreateFont.lua
  data/impl/EnumerateFrames.lua
  data/modules.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/AnimationGroup/CreateAnimation.lua
  data/uiobjects/Button/SetFontString.lua
  data/uiobjects/ModelScene/CreateActor.lua
  data/uiobjects/Path/CreateControlPoint.lua
  data/uiobjects/Region/CreateAnimationGroup.lua
  data/uiobjects/ScrollFrame/SetScrollChild.lua
  wowless/modules/api.lua
  wowless/modules/cgencode.lua
  wowless/modules/gencode.lua
  wowless/modules/loader.lua
  wowless/modules/mainloop.lua
  wowless/modules/points.lua
  wowless/modules/templates.lua
  wowless/modules/uiobjects.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

templates,xmleval: split the interpreter/CreateUIObject blob into a new module
  CMakeLists.txt
  data/modules.yaml
  wowless/modules/templates.lua
  wowless/modules/xmleval.lua
Due: luacheck, yamlfmt

api: reexport CreateUIObject/frames/SetParent/ParentSub/GetDebugName
  data/impl.yaml
  data/impl/CreateFont.lua
  data/impl/EnumerateFrames.lua
  data/modules.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/AnimationGroup/CreateAnimation.lua
  data/uiobjects/Button/SetFontString.lua
  data/uiobjects/ModelScene/CreateActor.lua
  data/uiobjects/Path/CreateControlPoint.lua
  data/uiobjects/Region/CreateAnimationGroup.lua
  data/uiobjects/ScrollFrame/SetScrollChild.lua
  wowless/modules/api.lua
  wowless/modules/cgencode.lua
  wowless/modules/gencode.lua
  wowless/modules/mainloop.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
