Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.0.3'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.20.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v18.1.8
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: mkninja
    name: create build system
    entry: lua tools/mkninja.lua
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: ninja -v
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

tedit supports mayreturnnothing lies
  data/products/wow/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

docs: extra_apis test, clean up old impl test
  spec/data/docs_spec.lua
Due: luacheck

docs: test inverted lies against wowless state
  spec/data/docs_spec.lua
  spec/tools/tedit_spec.lua
  tools/tedit.lua
Due: luacheck

tools/yedit
  CMakeLists.txt
  tools/yedit.lua
Due: luacheck

docs: lies are applied, not checked
  tools/docs.lua
Due: luacheck

tedit: support multiple independent changes
  spec/tools/tedit_spec.lua
  tools/tedit.lua
Due: luacheck

docs: import frame attribute methods
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
  spec/data/uiobjects_spec.lua
Due: luacheck, yamlfmt

Button.GetText doc import
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

import ModelScene.CreateActor from docs, very lie, wow
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

prototype for Button.SetFormattedText
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

bump wowxptr to 11.2.0.61703
  data/products/wowxptr/build.yaml
Due: yamlfmt

bump wow_classic_ptr to 5.5.0.61735
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
Due: yamlfmt

ParentedObjectBase.GetParentKey docs/lies
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

TextureBase.GetTexCoord docs/lies
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

docs: replace unitHack with lies
  data/products/wow/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

expose loglevel to api
  spec/data/apis_spec.lua
  spec/data/structures_spec.lua
  spec/data/uiobjects_spec.lua
  wowless/api.lua
  wowless/runner.lua
Due: luacheck

xml: ditch paranoid metatables
  wowless/xml.lua
Due: luacheck

xml: move assert formatting off critical path
  wowless/xml.lua
Due: luacheck

use bubblewrap on timer metaindex
  .luacheckrc
  data/test/C_Timer.NewTimer.lua
  wowless/modules/time.lua
Due: luacheck

remove useless check in macrotext
  wowless/modules/macrotext.lua
Due: luacheck

introduce funcheck.makeCheckInputs
  wowapi/loader.lua
  wowless/funcheck.lua
Due: luacheck

api loader: make composition more explicit
  wowapi/loader.lua
Due: luacheck

use makeCheckInputs in uiobject loader
  wowapi/uiobjects.lua
Due: luacheck

uiobject impls have both or neither ins/outs
  spec/data/uiobjects_spec.lua
  wowapi/uiobjects.lua
Due: luacheck

typecheck: use default if available on nil
  spec/wowless/typecheck_spec.lua
  wowless/typecheck.lua
Due: luacheck

SetDrawLayer prototype with default sublevel
  addon/Wowless/uiobjects.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: luacheck, addon-chmod, yamlfmt

prep: typecheck getter outputs
  tools/prep.lua
  wowapi/uiobjects.lua
Due: luacheck

remove nilable bit on setter fields
  data/schemas/uiobjects.yaml
  tools/prep.lua
Due: luacheck, yamlfmt

smidge more detail in uiobject checks
  wowapi/uiobjects.lua
Due: luacheck

bump wow_classic_ptr and beta to 5.5.0.61767
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/events.yaml
Due: yamlfmt

bump wow_classic to 5.5.0.61767
  data/gametypes.yaml
  data/impl.yaml
  data/impl/GetTalentPrereqs_Wrath.lua
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic/xml.yaml
  spec/wowless/toc_spec.lua
Due: luacheck, yamlfmt

docs support MayReturnNothing everywhere
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

eliminate unused api alias concept
  addon/Wowless/generated.lua
  data/schemas/apis.yaml
  spec/data/apis_spec.lua
  tools/gentest.lua
  wowapi/loader.lua
Due: luacheck, addon-chmod, yamlfmt

add some missing output specs
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

fix up GetTalentPrereqs
  data/impl.yaml
  data/impl/GetTalentPrereqs.lua
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: luacheck, yamlfmt

fix some outstride-related API specs
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

align UnitCastingInfo and UnitChannelInfo
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

GetTalentInfo_Vanilla fixes
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/sql/GetTalentInfo_Vanilla.sql
Due: yamlfmt

require outputs if inputs on apis
  spec/data/apis_spec.lua
Due: luacheck

tighten up api loader rawfns
  wowapi/loader.lua
Due: luacheck
