Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.0.3'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.20.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v18.1.8
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: mkninja
    name: create build system
    entry: lua tools/mkninja.lua
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: ninja -v
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

event payload unique names test
  spec/data/events_spec.lua
  tools/mkninja.lua
Due: luacheck

wowless.lua: remove paranoid require dance
  wowless.lua
Due: luacheck

first cut at using local luals check
  .luacheckrc
  .luarc.json
  meta.lua
  wowless/api.lua
  wowless/profiler.lua
  wowless/render.lua
Due: luacheck

bring wowapi in scope
  .luarc.json
  meta.lua
  wowapi/loader.lua
Due: luacheck

bring tools in scope
  .luarc.json
  tools/db2.lua
  tools/errsv.lua
  tools/mkninja.lua
Due: luacheck

remove bogus path
  .luarc.json
Due: none

onboard data/test
  .luarc.json
  data/test/C_CovenantSanctumUI.GetRenownLevels.lua
  data/test/C_Timer.NewTimer.lua
Due: luacheck

onboard data/impl
  .luarc.json
  data/impl/RunScript.lua
Due: luacheck

bump wow_classic_era to 1.15.6.58912
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow_classic to 4.4.1.59069
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow_classic_ptr to 4.4.2.59121
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
Due: yamlfmt

bump wowxptr to 11.1.0.59095
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

bump wow_classic_ptr to 4.4.2.59185
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

bump wowxptr to 11.1.0.59184
  data/products/wowxptr/build.yaml
Due: yamlfmt

bump wow_classic to 4.4.2.59185
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic/uiobjects.yaml
Due: yamlfmt

fix build hash for wow_classic
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow to 11.0.7.59207
  data/products/wow/build.yaml
Due: yamlfmt

bump wowxptr to 11.1.0.59214
  data/products/wowxptr/build.yaml
Due: yamlfmt

fix bubble wrap
  wowless/util.lua
Due: luacheck

runner: log script
  wowless/runner.lua
Due: luacheck

digging out of a hole, again again
  .github/workflows/test.yml
  README.md
Due: none

digging out of a hole, again again (#388)
  .github/workflows/test.yml
  README.md
Due: none

bump wowxptr to 11.1.0.59347 (unverified)
  data/products/wowxptr/build.yaml
Due: yamlfmt

bump wow to 11.1.0.59679
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/config.yaml
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

bump wowt to 11.1.5.59735 (client verified, broken locally)
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

bump wow_classic to 4.4.2.59734
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.6.59415
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 1.15.7.59856
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

drop obsolete texturekitstatus config
  addon/Wowless/test.lua
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
  data/uiobjects/StatusBar/SetStatusBarTexture.lua
Due: luacheck, addon-chmod, yamlfmt

put LUA_WARNING check behind config
  addon/Wowless/test.lua
Due: luacheck, addon-chmod

Revert "digging out of a hole, again again (#388)"
  .github/workflows/test.yml
  README.md
Due: none

Revert "digging out of a hole, again again (#388)" (#389)
  .github/workflows/test.yml
  README.md
Due: none

introduce wowless.toc
  CMakeLists.txt
  spec/wowless/toc_spec.lua
  tools/mkninja.lua
  wowless/loader.lua
  wowless/toc.lua
Due: luacheck

resolve test
  spec/wowless/toc_spec.lua
Due: luacheck

just expose suffixes
  spec/wowless/toc_spec.lua
  wowless/loader.lua
  wowless/toc.lua
Due: luacheck

bump wow to 11.1.0.59888
  data/products/wow/build.yaml
Due: yamlfmt

use wowless.toc in fetch
  CMakeLists.txt
  tools/fetch.lua
  tools/mkninja.lua
Due: luacheck

unify toc name resolution, fixes #322
  CMakeLists.txt
  spec/wowless/toc_spec.lua
  tools/fetch.lua
  tools/mkninja.lua
  wowless/loader.lua
  wowless/toc.lua
Due: luacheck

toc parse
  wowless/toc.lua
Due: luacheck

toc: eliminate closure on flavor
  spec/wowless/toc_spec.lua
  tools/fetch.lua
  wowless/loader.lua
  wowless/toc.lua
Due: luacheck
