Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

bump wow to 11.2.5.63796
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/config.yaml
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.7.63696
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow_classic to 5.5.1.63698
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wowxptr to 11.2.7.63642
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

bump wow_beta to 12.0.0.63728
  CMakeLists.txt
  bin/install-addons.sh
  data/products.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/config.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/structures.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wow_beta/xml.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

--trackenums hack
  wowless.lua
  wowless/runner.lua
Due: luacheck

schema: ref is a record
  data/schemas/build.yaml
  data/schemas/config.yaml
  data/schemas/docs.yaml
  data/schemas/function.yaml
  data/schemas/gametypes.yaml
  data/schemas/impl.yaml
  data/schemas/modules.yaml
  data/schemas/schematype.yaml
  data/schemas/test.yaml
  data/schemas/type.yaml
  data/schemas/uiobjectimpl.yaml
  data/schemas/uiobjects.yaml
  data/schemas/xml.yaml
  wowapi/schema.lua
Due: luacheck, yamlfmt

schema: negative refs
  data/schemas/docs.yaml
  data/schemas/schematype.yaml
  spec/data/docs_spec.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

bump wow to 11.2.5.63825
  data/products/wow/build.yaml
Due: yamlfmt

stop specifying enum_values_set_in_framexml values
  addon/Wowless/generated.lua
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/schemas/config.yaml
Due: luacheck, yamlfmt

addon config enums_set_in_framexml
  addon/Wowless/generated.lua
  data/products/wow/config.yaml
  data/products/wow/globals.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wowt/config.yaml
  data/products/wowt/globals.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/globals.yaml
  data/schemas/config.yaml
Due: luacheck, yamlfmt

VasError is not a thing in wow/wowt
  data/products/wow/config.yaml
  data/products/wow/globals.yaml
  data/products/wowt/config.yaml
  data/products/wowt/globals.yaml
Due: yamlfmt

nuke some dead battlepay enums
  data/products/wow_classic/config.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/globals.yaml
Due: yamlfmt

C enums have metas, full stop
  spec/data/globals_spec.lua
  tools/prep.lua
Due: luacheck

bump wow to 11.2.5.63834
  data/products/wow/build.yaml
Due: yamlfmt

sync enum foo
  data/products/wow_beta/config.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/globals.yaml
Due: yamlfmt

toc: assert per-file filter processor
  wowless/toc.lua
Due: luacheck

toc: better filter assert message
  wowless/toc.lua
Due: luacheck

toc flags
  wowless/toc.lua
Due: luacheck

closer to reading docs
  data/products/wow_beta/docs.yaml
Due: yamlfmt

closer to reading docs
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/config.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/globals.yaml
Due: yamlfmt

update doctable secret bits
  data/schemas/doctable.yaml
Due: yamlfmt

docs: only write files if all rewrites succeed
  CMakeLists.txt
  tools/docs.lua
Due: luacheck

docs: allow ScriptObject docs to have Tables
  tools/docs.lua
Due: luacheck

docs: ignore_script_object_methods facility
  data/products/wow_beta/docs.yaml
  data/schemas/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

docs run
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/structures.yaml
  data/products/wow_beta/uiobjects.yaml
Due: yamlfmt

remove some extra enums
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/globals.yaml
Due: yamlfmt

C_CombatLogSecure is capsuled
  data/products/wow_beta/config.yaml
Due: yamlfmt

CreateSecureDelegate is capsuled
  data/products/wow_beta/config.yaml
Due: yamlfmt

filter out some extra api lies
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
Due: yamlfmt

bump build
  data/products/wowxptr/build.yaml
Due: yamlfmt

progress without client
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/globals.yaml
  wowless/toc.lua
Due: luacheck, yamlfmt

docs+addon agreement
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

cmake: represent byproduct deps correctly
  CMakeLists.txt
Due: none

cmake: represent byproduct deps correctly (#485)
  CMakeLists.txt
Due: none

LuaValueReference is unknown
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
Due: yamlfmt

LuaValueReference is unknown
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

CreateSecureDelegate stub
  data/impl.yaml
  data/impl/CreateSecureDelegate.lua
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
Due: luacheck, yamlfmt

bump wowxptr to 11.2.7.63853
  data/impl.yaml
  data/impl/CreateSecureDelegate.lua
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
  wowless/toc.lua
Due: luacheck, yamlfmt

docs updates
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
Due: yamlfmt
