Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: build/cmake/yamlfmt
  language: system

GetPoint order test, works in client
  addon/Wowless/uiobjects.lua
Due: luacheck

SetPoint: check for bad relative points
  addon/Wowless/uiobjects.lua
  data/uiobjects/Region/SetPoint.lua
Due: luacheck

SetPoint: maintain point order for GetPoint
  addon/Wowless/uiobjects.lua
  data/uiobjects/Region/SetPoint.lua
Due: luacheck

minor point cleanup
  data/uiobjects/Region/GetPoint.lua
  data/uiobjects/Region/SetPoint.lua
Due: luacheck

SetAllPoints also checks dag
  addon/Wowless/uiobjects.lua
Due: luacheck

fiddle with cmake deps to avoid refetching constantly
  CMakeLists.txt
Due: none

Revert "fiddle with cmake deps to avoid refetching constantly"
  CMakeLists.txt
Due: none

collapsesLayout getter/setter on regions
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

implement and test Region:IsCollapsed
  addon/Wowless/statemachine.lua
  addon/Wowless/uiobjects.lua
  data/modules.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjectimpl.yaml
  wowless/modules/region.lua
Due: luacheck, yamlfmt

SetAllPoints argument test
  addon/Wowless/uiobjects.lua
Due: luacheck

bump wow_classic_ptr to 5.5.1.63226
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/docs.yaml
Due: yamlfmt

move point method impls into new points module
  CMakeLists.txt
  data/modules.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/Region/ClearAllPoints.lua
  data/uiobjects/Region/GetNumPoints.lua
  data/uiobjects/Region/GetPoint.lua
  data/uiobjects/Region/SetAllPoints.lua
  data/uiobjects/Region/SetPoint.lua
  wowless/modules/points.lua
Due: luacheck, yamlfmt

bump wowt to 11.2.5.63286
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  wowless/runner.lua
Due: luacheck, yamlfmt

bump wow to 11.2.0.63305
  data/products/wow/build.yaml
Due: yamlfmt

replace bump vscode task with per-product bump cmake targets
  .vscode/tasks.json
  CMakeLists.txt
Due: none

replace alldocs vscode task with cmake targets
  .vscode/tasks.json
  CMakeLists.txt
Due: none

bump wow_classic_era to 1.15.7.63306
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow_classic to 5.5.1.63364
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

SetPoint: distinguish parent vs screen
  addon/Wowless/uiobjects.lua
  wowless/modules/loader.lua
  wowless/modules/points.lua
Due: luacheck

loader uses points module directly
  data/modules.yaml
  wowless/modules/loader.lua
  wowless/modules/points.lua
Due: luacheck, yamlfmt

uiobject impls can sql, use for SetAtlas
  data/modules.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/uiobjectimpl.yaml
  data/sql.yaml
  data/sql/Texture.SetAtlas.sql
  data/sql/Texture.SetAtlas_11_1_5.sql
  data/uiobjectimpl.yaml
  data/uiobjects/Texture/SetAtlas_11_1_5.lua
  spec/data/sql_spec.lua
  tools/prep.lua
  wowless/modules/atlas.lua
  wowless/modules/uiobjectloader.lua
Due: luacheck, yamlfmt

eliminate unwrapped api impl concept
  wowless/env.lua
  wowless/modules/apiloader.lua
Due: luacheck

SetAtlas: always use elementName
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/sql.yaml
  data/sql/Texture.SetAtlas.sql
  data/sql/Texture.SetAtlas_11_1_5.sql
  data/uiobjectimpl.yaml
  data/uiobjects/Texture/SetAtlas.lua
  data/uiobjects/Texture/SetAtlas_11_1_5.lua
  wowless/modules/atlas.lua
Due: luacheck, yamlfmt

$parent sub only at start of string
  addon/Wowless/uiobjects.lua
  wowless/modules/api.lua
Due: luacheck

test that ParentSub walks past anonymous parents
  addon/Wowless/uiobjects.lua
Due: luacheck

xml anchor relative key $parent tests
  addon/Wowless/test.xml
Due: none

wowless.lua --lite flag
  wowless.lua
Due: luacheck

more relativekey tests
  addon/Wowless/test.xml
Due: none

cmake: add product dependency to docs-* targets
  CMakeLists.txt
Due: none

bump-dbdefs target
  CMakeLists.txt
Due: none

bump wow_classic to 5.5.1.63393
  data/products/wow_classic/build.yaml
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

fix relativekey impl wrt recent tests
  addon/Wowless/test.xml
  wowless/modules/loader.lua
Due: luacheck

parameterize SetPoint selfErr on entrypoint
  wowless/modules/points.lua
Due: luacheck

anchor cycle checking
  addon/Wowless/uiobjects.lua
  wowless/modules/points.lua
Due: luacheck

implement Region:ClearPoint
  addon/Wowless/uiobjects.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjectimpl.yaml
  wowless/modules/points.lua
Due: luacheck, yamlfmt

key points table by point instead of index
  wowless/modules/points.lua
Due: luacheck

docs: ScriptRegion is outnil
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

implement Region:GetPointByName
  addon/Wowless/uiobjects.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjectimpl.yaml
  wowless/modules/points.lua
Due: luacheck, yamlfmt

start scribbling stuff
  data/modules.yaml
  wowless/modules/region.lua
Due: luacheck, yamlfmt

impl some stuff
  wowless/modules/region.lua
Due: luacheck

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
