Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

vo output of C_TalkingHead.GetCurrentLineInfo is a number
  data/products/wow/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

bump wow_beta to 12.0.0.64124
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/structures.yaml
  data/products/wow_beta/uiobjects.yaml
Due: yamlfmt

start messing with casclib
  CMakeLists.txt
  tools/casc.lua
  tools/casclib.c
  vcpkg.json
Due: luacheck

bump wow_classic to 5.5.2.64133
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow to 11.2.5.64154
  data/products/wow/build.yaml
Due: yamlfmt

bump tactless, expose namehash
  tools/tactless.c
Due: none

bump tactless, update namehash
  tools/tactless.c
Due: none

bump tactless, grab root name hashes
  tools/tactless.c
Due: none

produce roothash.lua during fetch
  CMakeLists.txt
  tools/fetch.lua
Due: luacheck

bump wowxptr to 11.2.7.64169
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.8.64130
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow_classic_ptr to 5.5.3.64141
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
Due: yamlfmt

autoconf-archive in docker and linux gha
  .devcontainer/Dockerfile
  .github/workflows/test.yml
Due: none

GetBindingKey stub
  data/products/wow/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

bump wow_beta to 12.0.0.64228
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/structures.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

bump wow to 11.2.5.64270
  data/products/wow/build.yaml
Due: yamlfmt

bump wow_classic to 5.5.2.64271
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.8.64272
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow_classic_ptr to 5.5.3.64308
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
Due: yamlfmt

use WorldFrame dimensions in rect test
  addon/Wowless/uiobjects.lua
Due: luacheck

Region/SetScale tonumber coercion is automatic already
  data/uiobjects/Region/SetScale.lua
Due: luacheck

bump wow_classic_era to 1.15.8.64907
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era/structures.yaml
Due: yamlfmt

bump wow_classic to 5.5.3.64857
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic/uiobjects.yaml
Due: yamlfmt

bump wow_classic_ptr to 5.5.3.64794 (unverified)
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
Due: yamlfmt

bump wow to 11.2.7.64877
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/config.yaml
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

bump wowxptr to 11.2.7.64587 (unverified)
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
Due: yamlfmt

bump wow_beta to 12.0.1.64914
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/structures.yaml
  data/products/wow_beta/uiobjects.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

fix typedef
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
Due: yamlfmt

nuke redundant Frame.SetAlphaFromBoolean
  data/products/wow_beta/uiobjects.yaml
Due: yamlfmt

bump wow to 11.2.7.64978
  data/products/wow/build.yaml
Due: yamlfmt

addon toc interface updates
  addon/Wowless/Wowless.toc
  tools/gentest.lua
Due: luacheck

statusbar module
  CMakeLists.txt
  data/modules.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/StatusBar/GetStatusBarColor.lua
  data/uiobjects/StatusBar/SetStatusBarColor.lua
  wowless/modules/statusbar.lua
Due: luacheck, yamlfmt

move some statusbar methods to module ahead of beta changes
  data/products/wow/uiobjects.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjectimpl.yaml
  wowless/modules/statusbar.lua
Due: luacheck, yamlfmt

treat scrub docs as lies
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
Due: yamlfmt

progress with addon
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/structures.yaml
  data/products/wow_beta/uiobjects.yaml
Due: yamlfmt

pre-commit fix
  data/schemas/doctable.yaml
Due: yamlfmt

weird constants
  data/products/wow_beta/globals.yaml
Due: yamlfmt

global apis errsv
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/config.yaml
  data/products/wow_beta/docs.yaml
Due: yamlfmt

fix status bar fill style type
  data/products/wow_beta/uiobjects.yaml
Due: yamlfmt

ScrollingMessageFrameSecureMixin is a thing
  addon/Wowless/test.lua
Due: luacheck
