Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
  language: system

drop unnecessary docs.skip_apis.StartAttack
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

docs: replace skip_apis with lies
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

docs: consume all lies
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

no need to skip BaseDocumentation
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

GetAddOnMetadata fixes
  addon/Wowless/Wowless.toc
  data/impl/GetAddOnMetadata.lua
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
  data/test.yaml
  data/test/GetAddOnMetadata.lua
Due: luacheck, addon-chmod, yamlfmt

UnitFactionGroup fixes
  data/impl/UnitFactionGroup.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/test.yaml
  data/test/UnitFactionGroup.lua
Due: luacheck, yamlfmt

api.mayreturnnils, use for GetAddOnMetadata
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/function.yaml
  tools/docs.lua
  wowless/funcheck.lua
Due: luacheck, yamlfmt

bump: fix version numbers too
  tools/bump.lua
  tools/tactless.c
Due: luacheck

bump wowxptr to 11.1.0.58819
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/globals.yaml
Due: yamlfmt

bump wow to 11.0.7.58773
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 1.15.6.58797
  data/products/wow_classic_era_ptr/build.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.6.58844
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt

tactless: fix theoretical leak
  tools/tactless.c
Due: none

enforce cmake-format
  .pre-commit-config.yaml
  CMakeLists.txt
Due: none

smaller lua2c targets
  CMakeLists.txt
  tools/file2c.lua
Due: luacheck

cmake: lua2c creates the library
  CMakeLists.txt
Due: none

add lua2c dir to generated list
  CMakeLists.txt
Due: none

cmake: lua2c creates the library (#379)
  CMakeLists.txt
Due: none

file2c: export a module struct
  tools/file2c.lua
Due: luacheck

need to rationalize in cmakelists.txt
  CMakeLists.txt
  tools/lua2c.lua
Due: luacheck

rationalize with lua2c, indeed
  CMakeLists.txt
Due: none

smaller lua2c targets (#378)
  CMakeLists.txt
  tools/file2c.lua
  tools/lua2c.lua
Due: luacheck

mayreturnnils support for uiobject methods
  data/schemas/uiobjects.yaml
  tools/prep.lua
Due: luacheck, yamlfmt

GetBinding outstride
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

GetGraphicsAPIs outstride
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

GetScreenResolutions outstride
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

remove comment field from function schema
  data/schemas/function.yaml
Due: yamlfmt

no impls in lies
  data/products/wow/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  spec/data/docs_spec.lua
  tools/docs.lua
Due: luacheck, yamlfmt

Frame:GetAttribute prototype
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/type.yaml
  wowless/typecheck.lua
Due: luacheck, yamlfmt

globals keys are strings
  data/schemas/globals.yaml
Due: yamlfmt

bump wow_classic_ptr to 4.4.2.58796
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.6.58866
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow to 11.0.7.58867
  data/products/wow/build.yaml
Due: yamlfmt

bump wow_classic_ptr to 4.4.2.58884
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wow_classic_ptr/globals.yaml
Due: yamlfmt

cmake: use add_subdirectory for elune
  CMakeLists.txt
Due: none

gha: vcpkg caching
  .github/workflows/test.yml
Due: none

gha: vcpkg caching (#382)
  .github/workflows/test.yml
Due: none

use new tactless repo
  .gitmodules
  CMakeLists.txt
Due: none

bump wow to 11.0.7.58911
  data/products/wow/build.yaml
Due: yamlfmt

bump wowxptr to 11.1.0.58945
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
