Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
  language: system

hitrectinsets getter/setter, relinset xml, test
  addon/Wowless/test.xml
  data/products/wow/uiobjects.yaml
  data/products/wow/xml.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_beta/xml.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/uiobjects.yaml
  data/products/wowxptr/xml.yaml
Due: addon-chmod, yamlfmt

Get/SetJustify overrides for SimpleHTML
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/uiobjects.yaml
  spec/data/uiobjects_spec.lua
  tools/docs.lua
  tools/gentest.lua
  wowapi/uiobjects.lua
Due: luacheck, yamlfmt

prep: quote stringenum defaults
  tools/prep.lua
Due: luacheck

H stuff
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

fix uiobject loader
  wowapi/uiobjects.lua
Due: luacheck

uiobject method overrides, SimpleHTML justify
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/uiobjects.yaml
  spec/data/uiobjects_spec.lua
  tools/docs.lua
  tools/gentest.lua
  wowapi/uiobjects.lua
Due: luacheck, yamlfmt

gentest fix for previous commit
  tools/gentest.lua
Due: luacheck

bump wowxptr to 11.2.0.62049
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/uiobjects.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

prep: propagate uiobject method instride
  tools/prep.lua
Due: luacheck

funcheck: better attribution on warnings
  wowless/funcheck.lua
Due: luacheck

bump wow_classic_{beta,ptr} to 5.5.0.62071
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

RegisterUnitEvent units are nilable for some reason
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

replace vcpkg x-gha with actions/cache
  .github/workflows/test.yml
Due: none

runner.os
  .github/workflows/test.yml
Due: none

no vcpkg caching with devcontainer
  .github/workflows/test.yml
Due: none

windows hackery
  .github/workflows/test.yml
Due: none

fix windows paths
  .github/workflows/test.yml
Due: none

try using VCPKG_DEFAULT_BINARY_CACHE
  .github/workflows/test.yml
Due: none

mkdir lol
  .github/workflows/test.yml
Due: none

more stuff
  .github/workflows/test.yml
Due: none

restore mkdirs
  .github/workflows/test.yml
Due: none

hack for devcontainer vcpkg cache
  .github/workflows/test.yml
Due: none

remove devcontainer caching, add runid
  .github/workflows/test.yml
Due: none

migrate from vcpkg x-gha to actions/cache (#428)
  .github/workflows/test.yml
Due: none

Frame:GetAttribute addon test #429
  addon/Wowless/uiobjects.lua
Due: luacheck, addon-chmod

more detailed frame attribute test #429
  addon/Wowless/uiobjects.lua
Due: luacheck, addon-chmod

a few more frame attribute tests #429
  addon/Wowless/uiobjects.lua
Due: luacheck, addon-chmod

remove input spec from Frame:GetAttribute #429 #430
  addon/Wowless/uiobjects.lua
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/Frame/GetAttribute.lua
  spec/data/uiobjects_spec.lua
  wowapi/uiobjects.lua
Due: luacheck, addon-chmod, yamlfmt

fix Frame:GetAttribute arg handling, fixes #429
  addon/Wowless/uiobjects.lua
  data/uiobjects/Frame/GetAttribute.lua
Due: luacheck, addon-chmod

docs: generalize taking and checking consumption
  tools/docs.lua
Due: luacheck

docs: uiobject method reassignment
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/docs.yaml
  spec/data/docs_spec.lua
  tools/docs.lua
Due: luacheck, yamlfmt

move GetVertexColor to LayeredRegion
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

stub GetQuestLogSelection to zero to avoid impossible control flow
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

docs: lies in terms of reassignments
  tools/docs.lua
Due: luacheck

docs for GetVertexColor/SetVertexColor
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

SetVertexColor as setter
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/LayeredRegion/SetVertexColor.lua
Due: luacheck, yamlfmt

no such thing as vertex color alpha
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/LayeredRegion/SetVertexColor.lua
Due: luacheck, yamlfmt

ScriptObject method prototypes from docs
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

introduce TextureAsset
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

maybe typecheck
  data/schemas/type.yaml
  wowless/typecheck.lua
Due: luacheck, yamlfmt

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
