Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, luacheck, addon-chmod

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '2.7.3'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.20.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v18.1.1
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: yamlfmt
    name: wowless yamlfmt
    entry: lua tools/yamlfmt.lua
    language: system
    types: [yaml]
    files: ^data/
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: local-test
    name: build and test
    entry: sh -c "lua tools/mkninja.lua && ninja -v"
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

start work on wow_classic_era_ptr 1.15.2.54067
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
Due: yamlfmt

gha: temporarily disable ninja -v all
  .github/workflows/test.yml
Due: none

reattach GetItemQualityColor to a few apis
  data/products/wow/apis.yaml
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

errsv
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/globals.yaml
Due: yamlfmt

docs
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/structures.yaml
Due: yamlfmt

some more fixes
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/docs.yaml
Due: yamlfmt

last fixes
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 1.15.2.54067 (#330)
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_era_ptr/structures.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.2.54262
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era/structures.yaml
Due: yamlfmt

checkpoint errsv
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
Due: yamlfmt

docs
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/structures.yaml
Due: yamlfmt

more errsv
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

errsv uiobjects
  data/products/wow_classic_beta/uiobjects.yaml
Due: yamlfmt

overwritten C_ChatInfo apis
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/config.yaml
Due: yamlfmt

loader: xml color works on statusbars
  wowless/loader.lua
Due: luacheck

UnitPowerBarTimerInfo stubnothing
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

skip ARENA_TEAM_UPDATE, busted
  data/products/wow_classic_beta/config.yaml
Due: yamlfmt

bump wow_classic_beta to 4.4.0.54339 (#331)
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/structures.yaml
  data/products/wow_classic_beta/uiobjects.yaml
Due: yamlfmt

bump wowxptr to 10.2.6.53989
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

errsv
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/globals.yaml
Due: yamlfmt

docs config
  data/products/wowxptr/docs.yaml
Due: yamlfmt

build date
  data/products/wowxptr/build.yaml
Due: yamlfmt

client is clean
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

debug apis
  data/products/wowxptr/apis.yaml
Due: yamlfmt

checkpoint
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/structures.yaml
Due: yamlfmt

C_Item stubs
  data/products/wowxptr/apis.yaml
Due: yamlfmt

bump wowxptr to 10.2.6.53989 (#332)
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

gha: reenable ninja -v all
  .github/workflows/test.yml
Due: none

addon: uiobject getter tests
  tools/gentest.lua
Due: luacheck

gha: reenable ninja -v all (#333)
  .github/workflows/test.yml
Due: none

progress
  addon/Wowless/generated.lua
  tools/gentest.lua
Due: luacheck, addon-chmod

default smoothing is none
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt

default justifyh/v
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt

default slider is vertical
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt

ignore rect-based things for now
  tools/gentest.lua
Due: luacheck

a few more spot fixes
  data/products/wow_classic_era/uiobjects.yaml
  tools/gentest.lua
Due: yamlfmt, luacheck

introduce fieldinitoverrides
  data/products/wow_classic_era/uiobjects.yaml
  data/schemas/uiobjects.yaml
  tools/gentest.lua
  tools/prep.lua
Due: yamlfmt, luacheck

clean in era client
  data/products/wow_classic_era/uiobjects.yaml
  tools/gentest.lua
Due: yamlfmt, luacheck

bump wow_beta to 11.0.0.54311
  CMakeLists.txt
  data/products.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/config.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/structures.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wow_beta/xml.yaml
  tools/mkninja.lua
Due: yamlfmt, luacheck

incorporate docs
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/structures.yaml
Due: yamlfmt
