Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

bump wow_classic_ptr to 5.5.2.63832
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
Due: yamlfmt

more updates, ignore some events
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
Due: yamlfmt

cmake: fix typo
  CMakeLists.txt
Due: none

schema: setof
  data/schemas/config.yaml
  data/schemas/docs.yaml
  data/schemas/families.yaml
  data/schemas/impl.yaml
  data/schemas/modules.yaml
  data/schemas/schematype.yaml
  data/schemas/scripttypes.yaml
  data/schemas/stringenums.yaml
  data/schemas/test.yaml
  data/schemas/uiobjectimpl.yaml
  data/schemas/uiobjects.yaml
  data/schemas/xml.yaml
  spec/wowapi/schema_spec.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

config.addon.aliased_in_framexml must not ref an api
  data/schemas/config.yaml
Due: yamlfmt

config fix, maybe
  data/products/wow_beta/config.yaml
Due: yamlfmt

cvars again
  data/products/wow_beta/cvars.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 1.15.8.63829
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

alignapis pass, updates GetAuctionItemSubClasses for classic
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

alignapis
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

uses new GetAtlasInfo
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

align on empty stub return for GetFonts
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

UnitFactionGroup lie
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
Due: yamlfmt

fix GetAddOnInfo config
  data/products/wow_classic_era_ptr/config.yaml
Due: yamlfmt

b63829 (#486)
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

schema cleanup
  data/schemas/docs.yaml
Due: yamlfmt

docs+addon agree
  data/products/wow_beta/apis.yaml
Due: yamlfmt

bump wow_beta to 12.0.0.63854, docs+addon agree
  CMakeLists.txt
  bin/install-addons.sh
  data/products.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/config.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/structures.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wow_beta/xml.yaml
  data/schemas/docs.yaml
  data/schemas/doctable.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

reactivate talent ui on era ptr
  data/impl.yaml
  data/impl/C_SpecializationInfo.GetTalentInfo.lua
  data/products/wow_classic_era_ptr/apis.yaml
Due: luacheck, yamlfmt

bump wow_classic_era to 1.15.8.63829
  data/impl.yaml
  data/impl/C_Texture.GetAtlasInfo.lua
  data/impl/GetTalentInfo_Vanilla.lua
  data/impl/GetTalentTabInfo.lua
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/sql.yaml
  data/sql/C_SpecializationInfo.GetTalentInfo.sql
  data/sql/C_Texture.GetAtlasInfo.sql
  data/sql/GetTalentTabInfo.sql
Due: luacheck, yamlfmt

align everybody on GetSpecializationInfoForSpecID impl
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

bump wow to 11.2.5.63906
  data/products/wow/build.yaml
Due: yamlfmt

bump wowxptr to 11.2.7.64011
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

bump wow_beta to 12.0.0.63967
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/structures.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

use table indexing to verify different function container objects
  addon/Wowless/test.lua
Due: luacheck

tostring metamethod on timer function containers
  addon/Wowless/generated.lua
  addon/Wowless/test.lua
  data/modules.yaml
  data/products/wow_beta/config.yaml
  data/schemas/config.yaml
  data/test/C_Timer.NewTimer.lua
  wowless/modules/time.lua
Due: luacheck, yamlfmt

clean up ticker newindex error throw
  data/test/C_Timer.NewTimer.lua
  wowless/modules/time.lua
Due: luacheck

Revert "clean up ticker newindex error throw"
  data/test/C_Timer.NewTimer.lua
  wowless/modules/time.lua
Due: luacheck

bump wow_classic_era and ptr to 1.15.8.64057
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era_ptr/build.yaml
Due: yamlfmt

split function containers off from time module
  CMakeLists.txt
  addon/Wowless/test.lua
  data/modules.yaml
  data/products/wow_beta/config.yaml
  data/schemas/config.yaml
  data/test/C_Timer.NewTimer.lua
  wowless/modules/funtainer.lua
  wowless/modules/time.lua
Due: luacheck, yamlfmt

generic funtainer test
  CMakeLists.txt
  addon/Wowless/Wowless.toc
  addon/Wowless/funtainer.lua
  addon/Wowless/generated.lua
  data/test/C_Timer.NewTimer.lua
  wowless/modules/funtainer.lua
  wowless/modules/time.lua
Due: luacheck

tighten bound on max timer length
  addon/Wowless/funtainer.lua
  data/test/C_Timer.NewTimer.lua
  wowless/modules/time.lua
Due: luacheck

wire up C_FunctionContainers.CreateCallback
  data/impl.yaml
  data/products/wow/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/test.yaml
  data/test/C_FunctionContainers.CreateCallback.lua
Due: luacheck, yamlfmt

C_EventUtils.IsEventValid test
  addon/Wowless/generated.lua
  data/test.yaml
  data/test/C_EventUtils.IsEventValid.lua
Due: luacheck, yamlfmt

C_EventUtils.IsCallbackEvent
  data/impl.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/events.yaml
  data/schemas/events.yaml
  data/test.yaml
  data/test/C_EventUtils.IsCallbackEvent.lua
  tools/docs.lua
  tools/gentest.lua
  tools/prep.lua
  wowless/modules/events.lua
Due: luacheck, yamlfmt

funtainer factory test; cancel support
  addon/Wowless/funtainer.lua
  addon/Wowless/generated.lua
  data/test/C_FunctionContainers.CreateCallback.lua
  data/test/C_Timer.NewTimer.lua
  wowless/modules/funtainer.lua
Due: luacheck

funtainer type
  .luacheckrc
  addon/Wowless/funtainer.lua
  addon/Wowless/generated.lua
  data/modules.yaml
  data/products/wow/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/schemas/type.yaml
  data/test/C_FunctionContainers.CreateCallback.lua
  data/test/C_Timer.NewTimer.lua
  spec/wowless/modules/typecheck_spec.lua
  tools/docs.lua
  wowless/modules/funtainer.lua
  wowless/modules/time.lua
  wowless/modules/typecheck.lua
Due: luacheck, yamlfmt

bump wow_classic to 5.5.2.64068
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

docs: move funtainer logic to typedefs
  data/products/wow/docs.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

wow_beta hacks
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
Due: yamlfmt
