Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: env/bin/lua tools/yamlfmt.lua
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

typecheck: remove lowercase uiobject support
  wowless/typecheck.lua
Due: none

docs: use mixed case uiobject names now
  tools/docs.lua
Due: none

ModelSceneFrame types
  data/products/wow/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  tools/docs.lua
Due: yamlfmt

uiobject toTexture bug fix
  wowapi/uiobjects.lua
Due: none

prep: use specDefault for uiobject output stubs
  tools/prep.lua
Due: none

general uiobject output type
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/uiobjects.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/EditBox/GetInputLanguage.lua
Due: yamlfmt

a plausible impl of Region/GetCenter
  data/uiobjects/Region/GetCenter.lua
Due: none

stub ScriptObject/HasScript
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/ScriptObject/HasScript.lua
Due: yamlfmt

declarative stub for FontInstance/GetFont
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/FontInstance/GetFont.lua
Due: yamlfmt

strict number/string output typecheck
  wowless/typecheck.lua
Due: none

uiobject schema: permit outputs beside impl
  data/schemas/uiobjects.yaml
Due: yamlfmt

uiobject loader: slight simplification
  wowapi/uiobjects.lua
Due: none

uiobject method output check/coercion
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/uiobjects/ModelScene/CreateActor.lua
  tools/prep.lua
  wowapi/uiobjects.lua
Due: yamlfmt

uiobject method input check/coercion
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/uiobjects.yaml
  tools/prep.lua
  wowapi/uiobjects.lua
Due: yamlfmt

method spec for ParentedObject/SetParent
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/uiobjects/ParentedObject/SetParent.lua
  data/uiobjects/ScrollFrame/SetScrollChild.lua
Due: yamlfmt

add adibags to addon suite
  tools/addons.yaml
Due: none

slightly better error messages on uiobject type errors
  wowless/typecheck.lua
Due: none

method specs for uiobject creators
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/uiobjects.yaml
  data/uiobjects/AnimationGroup/CreateAnimation.lua
  data/uiobjects/FontInstance/GetFontObject.lua
  data/uiobjects/Frame/CreateFontString.lua
  data/uiobjects/Frame/CreateLine.lua
  data/uiobjects/Frame/CreateMaskTexture.lua
  data/uiobjects/Frame/CreateTexture.lua
  data/uiobjects/Path/CreateControlPoint.lua
  data/uiobjects/Region/CreateAnimationGroup.lua
Due: yamlfmt

api spec for Region/GetPoint
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/type.yaml
  data/schemas/uiobjects.yaml
  data/uiobjects/Region/GetPoint.lua
  tools/prep.lua
  wowapi/uiobjects.lua
  wowless/typecheck.lua
Due: yamlfmt

Button/SetFontString prototype
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/uiobjects/Button/SetFontString.lua
Due: yamlfmt

optimize InheritsFrom slightly
  wowless/api.lua
Due: none

more elaborate profiling
  wowless.lua
  wowless/runner.lua
Due: none

profiler writes a linear summary
  wowless.lua
  wowless/profiler.lua
Due: none

remove some unnecessary asserts in CreateUIObject
  wowless/api.lua
Due: none

bump wow_classic_era to 1.14.3.49821
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow_classic to 3.4.1.49822
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow to 10.1.0.49801
  data/products/wow/build.yaml
Due: yamlfmt

introduce wowxptr at 10.1.5.49824
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
  data/products/wowxptr/xml.yaml
  tools/mkninja.lua
  wowless/util.lua
Due: yamlfmt

uiobject warner bit
  addon/Wowless/generated.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/uiobjects.yaml
  tools/gentest.lua
  tools/prep.lua
  wowapi/uiobjects.lua
  wowless/api.lua
Due: yamlfmt, addon-chmod

config ignore_cvar_value
  addon/Wowless/generated.lua
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
  data/schemas/schematype.yaml
  wowapi/data.lua
  wowapi/schema.lua
Due: yamlfmt, addon-chmod

Add non-VSCode alternative
  .devcontainer/docker-compose.yml
  .env.dist
  .gitignore
  README.md
Due: none

move pre-commit back into Dockerfile
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

hooksecurefunc yields C functions
  addon/Wowless/generated.lua
  data/impl/hooksecurefunc.lua
Due: addon-chmod

make Ferronn's markdown lint happy ;)
  README.md
Due: none

move skipped globals to config
  addon/Wowless/generated.lua
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
Due: yamlfmt, addon-chmod

sort .gitignore and make the readme beautiful to behold
  .gitignore
  README.md
Due: none

Add non-VSCode alternative (#248)
  .devcontainer/docker-compose.yml
  .env.dist
  .gitignore
  README.md
Due: none

separate hooked_globals from skipped
  addon/Wowless/generated.lua
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
Due: yamlfmt, addon-chmod

non-SecureMixin related skips are hooks
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowxptr/config.yaml
Due: yamlfmt

globalenv_in_capsule checks
  addon/Wowless/generated.lua
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/schemas/config.yaml
Due: yamlfmt, addon-chmod

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  addon-chmod: any of: ^addon/
