Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

tools: replace pl.pretty.write with custom table serializer
  CMakeLists.txt
  spec/tools/prettywrite_spec.lua
  tools/gentest.lua
  tools/prep.lua
  tools/prettywrite.lua
  tools/util.lua
  tools/yaml2lua.lua
  wowless/env.lua
  wowless/modules/loader.lua
Due: luacheck

tools: replace pl.pretty.write with custom table serializer (#637)
  CMakeLists.txt
  spec/tools/prettywrite_spec.lua
  tools/gentest.lua
  tools/prep.lua
  tools/prettywrite.lua
  tools/util.lua
  tools/yaml2lua.lua
  wowless/env.lua
  wowless/modules/loader.lua
Due: luacheck

gha: use VCPKG_APPLOCAL_DEPS to copy DLLs on Windows
  .github/workflows/test.yml
  CMakePresets.json
Due: none

gha: use VCPKG_APPLOCAL_DEPS to copy DLLs on Windows (#638)
  .github/workflows/test.yml
  CMakePresets.json
Due: none

gha: fuse build and buildpreset jobs
  .github/workflows/test.yml
Due: none

gha: fix build job for VS generator
  .github/workflows/test.yml
Due: none

gha: fix build target for VS multi-config generator
  .github/workflows/test.yml
Due: none

gha: drop unnecessary --config Release
  .github/workflows/test.yml
Due: none

gha: only run tests on Ninja builds
  .github/workflows/test.yml
Due: none

Revert "gha: only run tests on Ninja builds"
  .github/workflows/test.yml
Due: none

cmake: depend on stamp files instead of byproduct runtime files
  CMakeLists.txt
Due: none

gha: add --config Release for VS multi-config builds
  .github/workflows/test.yml
Due: none

cmake: use generator-conditional deps for byproduct runtime files
  .github/workflows/test.yml
  CMakeLists.txt
Due: none

cmake: drop /fp:fast support on MSVC
  CMakeLists.txt
Due: none

gha: fuse build and buildpreset jobs (#639)
  .github/workflows/test.yml
  CMakeLists.txt
Due: none

stubs: use C++ templates to eliminate per-type arrayof generated functions
  CMakeLists.txt
  tools/prep.lua
  wowless/stubs.cpp
  wowless/typecheck.h
Due: luacheck

cmake: disable C++ exceptions via compiler flag check
  CMakeLists.txt
Due: none

cmake: remove duplicate toolsprettywrite dep from runtests
  CMakeLists.txt
Due: none

stubs: first-pass C++ modernization
  CMakeLists.txt
  tools/prep.lua
  wowless/modules/ctypecheck.cpp
  wowless/stubs.cpp
  wowless/typecheck.h
Due: luacheck

stubs: first-pass C++ modernization (#642)
  CMakeLists.txt
  tools/prep.lua
  wowless/modules/ctypecheck.cpp
  wowless/stubs.cpp
  wowless/typecheck.h
Due: luacheck

uiobjects: move type identity to C, lightuserdata at [0]
  CMakeLists.txt
  data/modules.yaml
  tools/prep.lua
  wowless/modules/api.lua
  wowless/modules/loader.lua
  wowless/modules/region.lua
  wowless/modules/scripts.lua
  wowless/modules/uiobjectloader.lua
  wowless/modules/uiobjects.lua
  wowless/modules/uiobjecttypes.lua
  wowless/modules/uiobjmodel.lua
  wowless/uiobject.h
  wowless/wowless.cpp
Due: luacheck, yamlfmt

luamain: fix package.loaders restriction
  tools/luamain.c
Due: none

luamain: fix package.loaders restriction (#644)
  tools/luamain.c
Due: none

ext: add newstate() to run wowless in an isolated Lua state
  CMakeLists.txt
  wowless.lua
  wowless/ext.c
Due: luacheck

ext: fix stylua and clang-format formatting
  wowless.lua
  wowless/ext.c
Due: luacheck

ext: share setup_preloads via luamain_setup_preloads
  tools/luamain.c
  tools/luamain.h
  wowless/ext.c
Due: none

runner: replace withglobaltable with newstate isolation
  spec/wowless/addon_spec.lua
  wowless.lua
  wowless/ext.c
  wowless/runner.lua
Due: luacheck

runner: modules do not escape runner.run
  wowless/runner.lua
Due: luacheck

luamain: add luamain_newstate() and ext.newstate()
  CMakeLists.txt
  tools/luamain.c
  tools/luamain.h
  wowless/ext.c
Due: none

runner: replace withglobaltable with newstate isolation
  spec/wowless/addon_spec.lua
  wowless.lua
  wowless/runner.lua
Due: luacheck

ext,runner: isolate wowless runner in a fresh Lua state
  spec/wowless/addon_spec.lua
  tools/luamain.c
  tools/luamain.h
  wowless.lua
  wowless/ext.c
  wowless/runner.lua
Due: luacheck

runner: shrink ext.newstate chunk to one line
  wowless/runner.lua
Due: luacheck

ext: extract primtable into its own module with tests
  CMakeLists.txt
  spec/wowless/primtable_spec.lua
  wowless/ext.c
  wowless/primtable.c
  wowless/primtable.h
Due: luacheck

primtable: add primitive cross-state value copy and C test
  CMakeLists.txt
  tests/primtable_test.c
  wowless/primtable.c
  wowless/primtable.h
Due: none

xstate: rename from primtable, hide table copy, apply key rules uniformly
  CMakeLists.txt
  tests/xstate_test.c
  wowless/primtable.c
  wowless/primtable.h
  wowless/xstate.c
  wowless/xstate.h
Due: none

uiobjects: replace newproxy identity token with C full userdata
  CMakeLists.txt
  wowless/modules/api.lua
  wowless/modules/cgencode.lua
  wowless/modules/uiobjects.lua
  wowless/typecheck.h
  wowless/uiobject.c
Due: luacheck

uiobjects: fix clang-format style in uiobject.c
  wowless/uiobject.c
Due: none

uiobjects: address PR review comments
  wowless/modules/uiobjects.lua
  wowless/uiobject.c
Due: luacheck

uiobjects: drop unnecessary rawget in UserData
  wowless/modules/uiobjects.lua
Due: luacheck
