Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

gentest: drop islua check on stdlibs
  addon/Wowless/generated.lua
  tools/gentest.lua
Due: luacheck

cmake: use a job pool on wowless runs
  CMakeLists.txt
Due: none

generated: remove misleading apins check
  addon/Wowless/generated.lua
Due: luacheck

manually manage math.huge and math.pi
  addon/Wowless/generated.lua
  data/impl.yaml
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  wowless/env.lua
  wowless/modules/env.lua
Due: luacheck, yamlfmt

stop using luassert during runner
  spec/wowless/addon_spec.lua
  tools/runtests.lua
Due: luacheck

generated: stdlib cfg no longer needed
  addon/Wowless/generated.lua
  tools/gentest.lua
Due: luacheck

generated: streamline mkftests
  addon/Wowless/generated.lua
Due: luacheck

generated: checkNotCFunc -> checkAliasOrLuaFunc
  addon/Wowless/generated.lua
Due: luacheck

bump wow to 12.0.0.65512
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/config.yaml
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/luaobjects.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

generated: rewrite cfunc uniqueness testing
  addon/Wowless/generated.lua
  data/products/wow/config.yaml
  data/products/wow_anniversary/config.yaml
  data/products/wow_beta/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
Due: luacheck, yamlfmt

luaobject cfunc uniqueness testing
  addon/Wowless/generated.lua
  addon/Wowless/luaobjects.lua
Due: luacheck

luaobjects: fix inherited method identity
  .gitignore
  addon/Wowless/generated.lua
  addon/Wowless/luaobjects.lua
  tools/gentest.lua
  tools/prep.lua
  wowless/modules/luaobjects.lua
Due: luacheck

Address review feedback
  .gitignore
  addon/Wowless/luaobjects.lua
  tools/gentest.lua
  tools/prep.lua
  wowless/modules/luaobjects.lua
Due: luacheck

bump wow_beta to 12.0.1.65448 (unverified)
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/structures.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

bump wow_anniversary to 2.5.5.65463
  data/products/wow_anniversary/build.yaml
Due: yamlfmt

bump wow to 12.0.0.65535
  data/products/wow/build.yaml
Due: yamlfmt

THETAINT, fixes #431
  data/uiobjects/Frame/GetAttribute.lua
  spec/wowless/bubblewrap_spec.lua
  wowless/bubblewrap.c
Due: luacheck

restricted events return false on insecure registration
  addon/Wowless/generated.lua
  data/products/wow/events.yaml
  data/products/wow_beta/events.yaml
  data/products/wowt/events.yaml
  data/schemas/events.yaml
  tools/docs.lua
  tools/gentest.lua
  tools/prep.lua
  wowless/modules/events.lua
Due: luacheck, yamlfmt

proper error message on unregisterable events
  addon/Wowless/generated.lua
  wowless/modules/events.lua
Due: luacheck

bump wow_anniversary to 2.5.5.65534
  data/products/wow_anniversary/build.yaml
Due: yamlfmt

bump wow to 12.0.0.65560
  data/products/wow/build.yaml
Due: yamlfmt

Frame/RegisterEventCallback stub and test
  addon/Wowless/generated.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/uiobjectimpl.yaml
  wowless/modules/events.lua
Due: luacheck, yamlfmt

FrameEventCallbackType is funtainer
  addon/Wowless/uiobjects.lua
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
Due: luacheck, yamlfmt

bump wowt to 12.0.0.65614
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

bump wow_beta to 12.0.1.65617
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/cvars.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_beta/luaobjects.yaml
  data/products/wow_beta/structures.yaml
  data/products/wow_beta/uiobjects.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

bump wow to 12.0.0.65655
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

docs: event lies
  data/schemas/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

noscript events
  addon/Wowless/generated.lua
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/schemas/events.yaml
  tools/docs.lua
  tools/gentest.lua
  tools/prep.lua
  wowless/modules/events.lua
Due: luacheck, yamlfmt

docs: better event noscript condition
  data/products/wow/docs.yaml
  data/products/wow_beta/docs.yaml
  data/products/wowt/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

implement and test RegisterEventCallbackGlobal
  addon/Wowless/generated.lua
  data/impl.yaml
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  wowless/modules/events.lua
Due: luacheck, yamlfmt

invoke event callbacks
  data/modules.yaml
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  wowless/modules/events.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

vcpkg: no sdl3 default features
  vcpkg.json
Due: none

vcpkg: no sdl3 default features (#514)
  vcpkg.json
Due: none

schema: use flag as much as possible #497
  data/schemas/config.yaml
  data/schemas/docs.yaml
  data/schemas/doctable.yaml
  data/schemas/events.yaml
  data/schemas/function.yaml
  data/schemas/luaobjects.yaml
  data/schemas/schematype.yaml
  data/schemas/sql.yaml
  data/schemas/structures.yaml
  data/schemas/uiobjects.yaml
  data/schemas/xml.yaml
Due: yamlfmt

strike now-unneeded deps on linux builds
  .devcontainer/Dockerfile
  .github/workflows/test.yml
Due: none

strike now-unneeded deps on linux builds (#516)
  .devcontainer/Dockerfile
  .github/workflows/test.yml
Due: none

remove stale linux deps
  .github/workflows/test.yml
Due: none

bump cmake version
  .github/workflows/test.yml
Due: none

env: expose printf and traceback in __wowless
  wowless/env.lua
Due: luacheck

bump wow to 12.0.0.65699
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
Due: yamlfmt
