Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
  language: system

stub fontstring
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/MessageFrame/GetFontStringByID.lua
  tools/prep.lua
Due: luacheck, yamlfmt

Get/SetNormalFontObject prototypes
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

docs prototype for CreateFontString
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

SimpleMaskTexture is MaskTexture
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
  tools/prep.lua
  wowless/loader.lua
Due: luacheck, yamlfmt

docs: prefer stringenum to typedef
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

fix GetDebugName parent key computation
  data/uiobjects/ParentedObjectBase/GetParentKey.lua
  wowless/api.lua
Due: luacheck

docs/prototype for TextureBase:SetAtlas
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  data/stringenums.yaml
Due: yamlfmt

fix assert depth in addon checks
  addon/Wowless/util.lua
Due: luacheck, addon-chmod

bump wow_classic_beta to 5.5.0.61411
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
Due: yamlfmt

bump wowt to 11.1.7.61406
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  tools/errsv.lua
Due: luacheck, yamlfmt

addon: lift checkStateMachine to top level
  addon/Wowless/Wowless.toc
  addon/Wowless/statemachine.lua
  addon/Wowless/test.lua
  tools/mkninja.lua
Due: luacheck, addon-chmod

checkStateMachine tests
  addon/Wowless/statemachine.lua
  spec/addon/statemachine_spec.lua
  tools/mkninja.lua
Due: luacheck, addon-chmod

checkStateMachine transitivity test
  spec/addon/statemachine_spec.lua
Due: luacheck

bump wow_classic_beta to 5.5.0.61496
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/globals.yaml
Due: yamlfmt

ItemClass api implementations
  data/impl.yaml
  data/impl/C_AuctionHouse.GetAuctionItemSubClasses.lua
  data/impl/C_Item.GetItemClassInfo.lua
  data/impl/C_Item.GetItemSubClassInfo.lua
  data/impl/GetAuctionItemSubClasses.lua
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
  data/sql.yaml
  data/sql/C_AuctionHouse.GetAuctionItemSubClasses.sql
  data/sql/C_Item.GetItemClassInfo.sql
  data/sql/C_Item.GetItemSubClassInfo.sql
Due: luacheck, yamlfmt

gha: disable full runs, cdn fetches failing
  .github/workflows/test.yml
Due: none

bump wowt to 11.1.7.61491 (client not verified)
  data/products/wowt/build.yaml
Due: yamlfmt

bump wow to 11.1.7.61491
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

statemachine: extensive sanity checking
  addon/Wowless/statemachine.lua
  addon/Wowless/test.lua
  spec/addon/statemachine_spec.lua
Due: luacheck, addon-chmod

mess around with some vscode tasks
  .vscode/tasks.json
Due: none

support explicit uiobject method closure
  data/schemas/uiobjectimpl.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/Button/Click.lua
  tools/prep.lua
  wowapi/uiobjects.lua
Due: luacheck, yamlfmt

checkpoint more uiobject method closures
  data/uiobjectimpl.yaml
  data/uiobjects/Animation/GetRegionParent.lua
  data/uiobjects/Animation/GetTarget.lua
  data/uiobjects/AnimationGroup/CreateAnimation.lua
  data/uiobjects/AnimationGroup/GetAnimations.lua
  data/uiobjects/Button/Disable.lua
  data/uiobjects/Button/Enable.lua
  data/uiobjects/Button/GetText.lua
  data/uiobjects/Button/IsEnabled.lua
  data/uiobjects/Button/RegisterForClicks.lua
  data/uiobjects/Button/SetButtonState.lua
  data/uiobjects/Button/SetDisabledAtlas.lua
  data/uiobjects/Button/SetDisabledTexture.lua
  data/uiobjects/Button/SetEnabled.lua
  data/uiobjects/Button/SetFontString.lua
  data/uiobjects/Button/SetFormattedText.lua
  data/uiobjects/Button/SetHighlightAtlas.lua
  data/uiobjects/Button/SetHighlightTexture.lua
  data/uiobjects/Button/SetNormalAtlas.lua
  data/uiobjects/Button/SetNormalTexture.lua
  data/uiobjects/Button/SetPushedAtlas.lua
  data/uiobjects/Button/SetPushedTexture.lua
  data/uiobjects/Button/SetText.lua
  wowapi/uiobjects.lua
Due: luacheck, yamlfmt

checkpoint more uiobject method closures
  data/uiobjectimpl.yaml
  data/uiobjects/CheckButton/SetChecked.lua
  data/uiobjects/CheckButton/SetCheckedTexture.lua
  data/uiobjects/EditBox/Disable.lua
  data/uiobjects/EditBox/Enable.lua
  data/uiobjects/EditBox/Insert.lua
  data/uiobjects/FontInstance/GetFontObject.lua
  data/uiobjects/FontString/SetText.lua
  data/uiobjects/ForbiddenMixin/SetForbidden.lua
  data/uiobjects/Frame/CreateFontString.lua
  data/uiobjects/Frame/CreateLine.lua
  data/uiobjects/Frame/CreateMaskTexture.lua
  data/uiobjects/Frame/CreateTexture.lua
  data/uiobjects/Frame/GetAttribute.lua
  data/uiobjects/Frame/GetChildren.lua
  data/uiobjects/Frame/GetEffectiveAlpha.lua
  data/uiobjects/Frame/GetNumChildren.lua
  data/uiobjects/Frame/GetNumRegions.lua
  data/uiobjects/Frame/GetRegions.lua
  data/uiobjects/Frame/IsEventRegistered.lua
  data/uiobjects/Frame/RegisterAllEvents.lua
  data/uiobjects/Frame/RegisterEvent.lua
  data/uiobjects/Frame/RegisterUnitEvent.lua
  data/uiobjects/Frame/SetAttribute.lua
  data/uiobjects/Frame/SetAttributeNoHandler.lua
  data/uiobjects/Frame/SetFrameLevel.lua
  data/uiobjects/Frame/SetResizeBounds.lua
  data/uiobjects/Frame/UnregisterAllEvents.lua
  data/uiobjects/Frame/UnregisterEvent.lua
Due: luacheck, yamlfmt

checkpoint more uiobject method closures
  data/uiobjectimpl.yaml
  data/uiobjects/GameTooltip/IsOwned.lua
  data/uiobjects/GameTooltip/SetOwner.lua
  data/uiobjects/LayeredRegion/SetVertexColor.lua
  data/uiobjects/MessageFrame/AddMessage.lua
  data/uiobjects/ModelScene/CreateActor.lua
  data/uiobjects/MouseMixin/EnableMouse.lua
  data/uiobjects/MouseMixin/IsMouseEnabled.lua
  data/uiobjects/ParentedObject/GetDebugName.lua
  data/uiobjects/ParentedObject/SetParent.lua
  data/uiobjects/ParentedObjectBase/ClearParentKey.lua
  data/uiobjects/ParentedObjectBase/GetParentKey.lua
  data/uiobjects/ParentedObjectBase/SetParentKey.lua
  data/uiobjects/Path/CreateControlPoint.lua
  data/uiobjects/Path/GetControlPoints.lua
  data/uiobjects/Region/ClearAllPoints.lua
  data/uiobjects/Region/CreateAnimationGroup.lua
  data/uiobjects/Region/GetAnimationGroups.lua
  data/uiobjects/Region/GetCenter.lua
  data/uiobjects/Region/GetEffectiveScale.lua
  data/uiobjects/Region/GetNumPoints.lua
  data/uiobjects/Region/GetPoint.lua
  data/uiobjects/Region/GetRight.lua
  data/uiobjects/Region/GetScaledRect.lua
  data/uiobjects/Region/GetTop.lua
  data/uiobjects/Region/Hide.lua
  data/uiobjects/Region/IsProtected.lua
  data/uiobjects/Region/IsVisible.lua
  data/uiobjects/Region/SetAllPoints.lua
  data/uiobjects/Region/SetAlpha.lua
  data/uiobjects/Region/SetPoint.lua
  data/uiobjects/Region/SetScale.lua
  data/uiobjects/Region/SetShown.lua
  data/uiobjects/Region/Show.lua
Due: luacheck, yamlfmt

checkpoint more uiobject method closures
  data/uiobjectimpl.yaml
  data/uiobjects/ScriptObject/GetScript.lua
  data/uiobjects/ScriptObject/HookScript.lua
  data/uiobjects/ScriptObject/SetScript.lua
  data/uiobjects/ScrollFrame/SetScrollChild.lua
  data/uiobjects/Slider/Disable.lua
  data/uiobjects/Slider/Enable.lua
  data/uiobjects/StatusBar/GetStatusBarColor.lua
  data/uiobjects/StatusBar/SetStatusBarColor.lua
  data/uiobjects/StatusBar/SetStatusBarTexture.lua
  data/uiobjects/Texture/GetTexture.lua
  data/uiobjects/Texture/SetAtlas.lua
  data/uiobjects/Texture/SetColorTexture.lua
  data/uiobjects/Texture/SetTexCoord.lua
  data/uiobjects/Texture/SetTexture.lua
  data/uiobjects/UIObject/GetObjectType.lua
  data/uiobjects/UIObject/IsObjectType.lua
Due: luacheck, yamlfmt

retire non-closure uiobject methods
  data/schemas/uiobjectimpl.yaml
  data/uiobjectimpl.yaml
  tools/prep.lua
  wowapi/uiobjects.lua
Due: luacheck, yamlfmt

use same mechanism for uiobject constructor hlist
  tools/prep.lua
  wowapi/uiobjects.lua
Due: luacheck

remove now unnecessary luacheck stanza for uiobject methods
  .luacheckrc
Due: luacheck

typecheck: more sensible error messages on isout boolean
  wowless/typecheck.lua
Due: luacheck

support explicit global api closure
  data/impl.yaml
  data/impl/DoEmote.lua
  data/schemas/impl.yaml
  tools/prep.lua
  wowapi/loader.lua
Due: luacheck, yamlfmt

checkpoint more global api closures
  data/impl.yaml
  data/impl/C_AuctionHouse.GetAuctionItemSubClasses.lua
  data/impl/C_ChatInfo.ReplaceIconAndGroupExpressions.lua
  data/impl/C_ClassTalents.GetActiveConfigID.lua
  data/impl/C_ClassTalents.GetTraitTreeForSpec.lua
  data/impl/C_ClassTalents.InitializeViewLoadout.lua
  data/impl/C_ClassTalents.ViewLoadout.lua
  data/impl/C_CovenantSanctumUI.GetRenownLevels.lua
  data/impl/C_CovenantSanctumUI.GetRenownRewardsForLevel.lua
  data/impl/C_Covenants.GetCovenantData.lua
  data/impl/C_CreatureInfo.GetClassInfo.lua
  data/impl/C_Item.DoesItemExistByID.lua
  data/impl/C_Item.GetItemClassInfo.lua
  data/impl/C_Item.GetItemSubClassInfo.lua
  data/impl/C_ItemInteraction.GetItemInteractionInfo.lua
  data/impl/C_Map.GetMapInfo.lua
  data/impl/C_Map.GetMapInfo_Vanilla.lua
  data/impl/C_ScriptedAnimations.GetAllScriptedAnimationEffects.lua
  data/impl/C_SpecializationInfo.GetSpecIDs.lua
  data/impl/C_Texture.GetAtlasInfo.lua
  data/impl/C_Texture.GetAtlasInfo_11_1_5.lua
  data/impl/C_Traits.GetConfigInfo.lua
  data/impl/C_Traits.GetNodeInfo.lua
  data/impl/C_Traits.GetTreeNodes.lua
  data/impl/C_UI.GetUIParent.lua
  data/impl/C_UI.GetWorldFrame.lua
  data/impl/C_UIColor.GetColors.lua
  data/impl/C_XMLUtil.GetTemplateInfo_10_2.lua
Due: luacheck, yamlfmt

checkpoint more global api closures
  data/impl.yaml
  data/impl/ClassicExpansionAtLeast.lua
  data/impl/ConsoleGetAllCommands.lua
  data/impl/CreateFont.lua
  data/impl/CreateForbiddenFrame.lua
  data/impl/CreateFrame.lua
  data/impl/CreateWindow.lua
  data/impl/EnumerateFrames.lua
  data/impl/FillLocalizedClassList.lua
  data/impl/GetAddOnEnableState.lua
  data/impl/GetAddOnInfo.lua
  data/impl/GetAddOnMetadata.lua
  data/impl/GetAuctionItemSubClasses.lua
  data/impl/GetBuildInfo_10_1.lua
  data/impl/GetBuildInfo_1_15_0.lua
  data/impl/GetBuildInfo_3_4_2.lua
  data/impl/GetButtonMetatable.lua
  data/impl/GetChatWindowInfo.lua
  data/impl/GetChatWindowMessages.lua
  data/impl/GetClassInfo.lua
  data/impl/GetClassInfo_Classic.lua
  data/impl/GetClickFrame.lua
  data/impl/GetFontStringMetatable.lua
  data/impl/GetFrameMetatable.lua
  data/impl/GetInventorySlotInfo.lua
  data/impl/GetItemQualityColor.lua
  data/impl/GetNumAddOns.lua
  data/impl/GetNumClasses.lua
  data/impl/GetNumSpecializationsForClassID.lua
  data/impl/GetNumTalentTabs.lua
  data/impl/GetNumTalents.lua
  data/impl/GetSpecializationInfo.lua
  data/impl/GetSpecializationInfoByID.lua
  data/impl/GetSpecializationInfoForClassID.lua
  data/impl/GetSpecializationInfoForSpecID.lua
  data/impl/GetTalentInfo_Vanilla.lua
  data/impl/GetTalentPrereqs_Vanilla.lua
  data/impl/GetTalentPrereqs_Wrath.lua
  data/impl/GetTalentTabInfo.lua
  wowapi/loader.lua
Due: luacheck, yamlfmt

checkpoint more global api closures
  data/impl.yaml
  data/impl/IsAddOnLoadOnDemand.lua
  data/impl/IsAddOnLoaded.lua
  data/impl/IsDebugBuild.lua
  data/impl/IsGMClient.lua
  data/impl/IsLinuxClient.lua
  data/impl/IsMacClient.lua
  data/impl/IsPublicBuild.lua
  data/impl/IsTestBuild.lua
  data/impl/IsWindowsClient.lua
  data/impl/LoadAddOn.lua
  data/impl/RequestTimePlayed.lua
  data/impl/RunScript.lua
  data/impl/SecureCmdOptionParse.lua
  data/impl/SendSystemMessage.lua
  data/impl/SetPortraitTexture.lua
  data/impl/UnitClass.lua
  data/impl/UnitClassBase.lua
  data/impl/UnitExists.lua
  data/impl/UnitFactionGroup.lua
  data/impl/UnitGUID.lua
  data/impl/UnitIsPlayer.lua
  data/impl/UnitIsUnit.lua
  data/impl/UnitLevel.lua
  data/impl/UnitName.lua
  data/impl/UnitPowerType.lua
  data/impl/UnitRace.lua
  data/impl/UnitSex.lua
  data/impl/string.join.lua
  data/impl/string.split.lua
  data/impl/string.trim.lua
Due: luacheck, yamlfmt

remove some needless wrappers
  data/impl/CreateForbiddenFrame.lua
  data/impl/CreateFrame.lua
  data/impl/string.join.lua
  data/impl/string.split.lua
  data/impl/string.trim.lua
Due: luacheck

use api closures for modules
  tools/prep.lua
  wowless/modules/env.lua
Due: luacheck

retire non-closure global apis
  data/impl.yaml
  data/schemas/impl.yaml
  tools/prep.lua
  wowapi/loader.lua
Due: luacheck, yamlfmt

bubblewrap returns cfuncs already
  wowapi/loader.lua
  wowapi/uiobjects.lua
  wowless/modules/env.lua
Due: luacheck

prep: keep specials associated with impls
  tools/prep.lua
  wowapi/loader.lua
Due: luacheck

avoid recursion in IsVisible
  data/uiobjects/Region/IsVisible.lua
Due: luacheck

elune overrides standard, fixes #411
  data/impl/RunScript.lua
  data/test/issecurevariable.lua
  tools/luamain.c
  wowapi/loader.lua
  wowapi/uiobjects.lua
  wowless/loader.lua
  wowless/runner.lua
Due: luacheck

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
