Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
  language: system

bump wow_classic_era to 1.15.4.56760
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 1.15.4.56760
  data/products/wow_classic_era_ptr/build.yaml
Due: yamlfmt

bump wowxptr to 11.0.5.56749
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/globals.yaml
Due: yamlfmt

bump era/era_ptr to 1.15.4.56817
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era_ptr/build.yaml
Due: yamlfmt

bump elune to head
  CMakeLists.txt
Due: none

introduce subcommands
  bin/run.sh
  tools/mkninja.lua
  wowless.lua
Due: luacheck

Update Init Command in devcontainer.json to check for .env so it does not fail.
  .devcontainer/devcontainer.json
Due: none

Update Init Command in devcontainer.json (#355)
  .devcontainer/devcontainer.json
Due: none

bump wow_classic_era and ptr to 1.15.4.56857
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era_ptr/build.yaml
Due: yamlfmt

bump wow/wowt to 11.0.2.56819
  data/products/wow/build.yaml
  data/products/wowt/build.yaml
Due: yamlfmt

bump wowxptr to 11.0.5.56865, modulo statusbar issue
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
Due: yamlfmt

config.runtime.texturekitstatus
  addon/Wowless/test.lua
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
  data/uiobjects/StatusBar/SetStatusBarTexture.lua
Due: luacheck, addon-chmod, yamlfmt

tools/rewrite: dofile products.lua
  tools/rewrite.lua
Due: luacheck

bump wow_classic to 4.4.1.57294
  data/impl.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic/uiobjects.yaml
Due: yamlfmt

re-wire up C_Macro.RunMacroText to implementation
  data/impl.yaml
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

bump wow_classic_era and ptr to 1.15.4.57134
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era_ptr/build.yaml
Due: yamlfmt

bump wowxptr to 11.0.5.57171
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
Due: yamlfmt

bump wow to 11.0.5.57388
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/config.yaml
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

bump wowt to 11.0.7.57361
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

C_BattleNet.InstallHighResTextures docs wrong
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
Due: yamlfmt

fix SetItemRef and PTRFEEDBACK
  data/products/wowt/apis.yaml
  data/products/wowt/config.yaml
Due: yamlfmt

C_DelvesUI.GetDelvesMinRequiredLevel stubnotnil
  data/products/wowt/apis.yaml
Due: yamlfmt

bump wowt to 11.0.7.57361 (#356)
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

dependabot: gha, vcpkg, tactkeys
  .github/dependabot.yml
Due: none

fix dependabot submodule config
  .github/dependabot.yml
Due: none

fix dependabot submodule config (#362)
  .github/dependabot.yml
Due: none

dependabot: switch gitsubmodule to denylist
  .github/dependabot.yml
Due: none

elune as git submodule
  .gitmodules
  CMakeLists.txt
Due: none

remove CENTER from JustifyVertical, fixes #329
  data/stringenums.yaml
Due: yamlfmt

cmake: fix byproducts for tactkeys
  CMakeLists.txt
Due: none

cmake: fix byproducts for listfile
  CMakeLists.txt
Due: none

cmake: fix byproducts for dataluas
  CMakeLists.txt
Due: none

mkninja: trim some redundant deps
  tools/mkninja.lua
Due: luacheck

dblist: depend on yaml lua
  CMakeLists.txt
  tools/dblist.lua
  tools/mkninja.lua
Due: luacheck

dbdefs: depend on yaml lua
  CMakeLists.txt
  tools/dbdefs.lua
  tools/mkninja.lua
Due: luacheck

drop tools/proto.lua
  tools/proto.lua
Due: luacheck

cmake: remove unnecessary CMAKE_NINJA_OUTPUT_PATH_PREFIX reference
  CMakeLists.txt
Due: none

prep: depend on yaml lua
  CMakeLists.txt
  tools/prep.lua
Due: luacheck

Revert "prep: depend on yaml lua"
  CMakeLists.txt
  tools/prep.lua
Due: luacheck

bump wow_classic to 4.4.1.57359
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
Due: yamlfmt

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
