Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

time: separate ticker state from funtainer
  addon/Wowless/asynctests.lua
  wowless/modules/time.lua
Due: luacheck

runner: add some short frames
  wowless/runner.lua
Due: luacheck

runner: run exponential frames before short frames
  wowless/runner.lua
Due: luacheck

luaobjects: pre-flatten method inheritance in prep instead of createMethods
  CMakeLists.txt
  tools/prep.lua
  wowless/modules/luaobjects.lua
  wowless/stubs.cpp
Due: luacheck

luaobjects: pre-flatten method inheritance in prep instead of createMethods (#700)
  CMakeLists.txt
  tools/prep.lua
  wowless/modules/luaobjects.lua
  wowless/stubs.cpp
Due: luacheck

luaobjects: share a single metatable across all types
  wowless/modules/luaobjects.lua
Due: luacheck

luaobjects: remove typename param from CreateProxy, read typeid from obj[1]
  tools/prep.lua
  wowless/modules/cgencode.lua
  wowless/modules/luaobjects.lua
  wowless/modules/time.lua
  wowless/modules/typecheck.lua
  wowless/typecheck.h
Due: luacheck

luaobjects: migrate metatable construction to C
  wowless/luaobject.c
  wowless/modules/luaobjects.lua
  wowless/stubs.cpp
Due: luacheck

luaobjects: migrate metatable construction to C
  wowless/luaobject.c
  wowless/stubs.cpp
Due: none

luaobjects: call register_mt directly from C
  wowless/luaobject.c
  wowless/luaobject.h
  wowless/stubs.cpp
Due: none

luaobjects: rename register_mt to make_mt, leave storage to caller
  wowless/luaobject.c
  wowless/luaobject.h
  wowless/stubs.cpp
Due: none

luaobjects: fix __tostring format on Windows
  wowless/luaobject.c
Due: none

luaobjects: migrate metatable construction to C (#699)
  wowless/luaobject.c
  wowless/luaobject.h
  wowless/modules/luaobjects.lua
  wowless/stubs.cpp
Due: luacheck

luaobjects: migrate new to C
  wowless/luaobject.c
  wowless/modules/luaobjects.lua
Due: luacheck

luaobjects: migrate new to C (#701)
  wowless/luaobject.c
  wowless/modules/luaobjects.lua
Due: luacheck

bump wowxptr to 12.0.7.68182 (unverified)
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
Due: yamlfmt

bump wow to 12.0.7.68235
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/config.yaml
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/luaobjects.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

typecheck: remove lua typecheck module and all associated tests
  CMakeLists.txt
  data/modules.yaml
  spec/data/apis_spec.lua
  spec/data/events_spec.lua
  spec/data/luaobjects_spec.lua
  spec/data/structures_spec.lua
  spec/data/uiobjects_spec.lua
  spec/wowless/modules/typecheck_spec.lua
  wowless/modules/typecheck.lua
Due: luacheck, yamlfmt

typecheck: remove lua typecheck module and all associated tests (#702)
  CMakeLists.txt
  data/modules.yaml
  spec/data/apis_spec.lua
  spec/data/events_spec.lua
  spec/data/luaobjects_spec.lua
  spec/data/structures_spec.lua
  spec/data/uiobjects_spec.lua
  spec/wowless/modules/typecheck_spec.lua
  wowless/modules/typecheck.lua
Due: luacheck, yamlfmt

luaobjects: remove dead IsType and UserData exports
  wowless/luaobject.c
  wowless/modules/luaobjects.lua
Due: luacheck

uiobjectloader: refactor method loading to use two-level C structures
  tools/prep.lua
  wowless/modules/uiobjectloader.lua
  wowless/stubs.cpp
  wowless/stubs.h
Due: luacheck

prep: abstract extra_first_input in emit_implstub_body
  tools/prep.lua
Due: luacheck

prep: replace eligible_uimethods with two-level uimethodimpls
  tools/prep.lua
Due: luacheck

cmake: remove hardcoded STATIC from library rules, support shared builds
  CMakeLists.txt
Due: none

bump wow to 12.0.7.68256
  data/products/wow/build.yaml
Due: yamlfmt

security: migrate to C implementation
  CMakeLists.txt
  wowless/modules/security.c
  wowless/modules/security.lua
Due: luacheck

Revert "security: migrate to C implementation"
  CMakeLists.txt
  wowless/modules/security.c
  wowless/modules/security.lua
Due: luacheck

Reapply "security: migrate to C implementation"
  CMakeLists.txt
  wowless/modules/security.c
  wowless/modules/security.lua
Due: luacheck

bump wowt to 12.1.0.68209
  data/products/wowt/build.yaml
Due: yamlfmt

runner: drop UIParent size hack
  wowless/runner.lua
Due: luacheck

toc: make room for per-file metadata
  spec/wowless/toc_spec.lua
  tools/fetch.lua
  wowless/modules/loader.lua
  wowless/toc.lua
Due: luacheck

toc: honor AllowLoadEnvironment=global
  spec/wowless/toc_spec.lua
  wowless/modules/loader.lua
  wowless/toc.lua
Due: luacheck

loader: fix load environment filter
  wowless/modules/loader.lua
Due: luacheck

loader: honor LoadIntoEnvironment=secure
  wowless/modules/loader.lua
  wowless/toc.lua
Due: luacheck

toc: allow LoadIntoEnvironment=global
  wowless/toc.lua
Due: luacheck

doctable fixes
  data/schemas/doctable.yaml
Due: yamlfmt

some uiobject hacks
  addon/Wowless/generated.lua
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
Due: luacheck, yamlfmt

copy wowxptr over to wowt
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/luaobjects.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

docs
  addon/Wowless/test.lua
  data/impl.yaml
  data/impl/SendSystemMessage.lua
  data/products/wowt/apis.yaml
  data/products/wowt/config.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/luaobjects.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/config.yaml
  data/schemas/luaobjects.yaml
Due: luacheck, yamlfmt
