Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
  language: system

api loader: code cleanup
  wowapi/loader.lua
Due: luacheck

loader: use newcfuction
  wowapi/loader.lua
Due: luacheck

disable tinspect
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
Due: yamlfmt

stop incorrect usage of debug.newsecurefunction
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/test/getfenv.lua
  wowapi/loader.lua
Due: luacheck, yamlfmt

bump wow to 11.1.0.60189
  data/products/wow/build.yaml
Due: yamlfmt

bump wowt to 11.1.5.60179
  data/products/wowt/build.yaml
Due: yamlfmt

bump wow_classic to 4.4.2.60192
  data/products/wow_classic/build.yaml
  data/products/wow_classic/cvars.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.7.60191
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt

test that insecure securemixins are just mixins
  addon/Wowless/test.xml
Due: addon-chmod

client securemixin tests via ScrollingMessageFrame
  addon/Wowless/test.lua
Due: luacheck, addon-chmod

clean up some nonsense left behind in previous commit
  addon/Wowless/test.lua
Due: luacheck, addon-chmod

a few more securemixin metatable tests
  addon/Wowless/test.lua
Due: luacheck, addon-chmod

more thorough securemixin mt tests
  addon/Wowless/test.lua
Due: luacheck, addon-chmod

another little test cleanup
  addon/Wowless/test.lua
Due: luacheck, addon-chmod

implement securemixin wrapping, fixes #402
  addon/Wowless/test.lua
  addon/Wowless/test.xml
  wowless/loader.lua
Due: luacheck, addon-chmod

do not use newsecurefunction in uiobjects
  wowapi/uiobjects.lua
Due: luacheck

fix getfenv again
  wowless/modules/env.lua
Due: luacheck

bump wow to 11.1.0.60228
  data/products/wow/build.yaml
Due: yamlfmt

bump wowt to 11.1.5.60253
  data/products/wowt/build.yaml
Due: yamlfmt

bump wow to 11.1.0.60257
  data/products/wow/build.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.7.60249
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

SimpleCheckout forbidden frame test
  addon/Wowless/test.lua
Due: luacheck, addon-chmod

bubble wrap
  .luacheckrc
  wowapi/loader.lua
  wowless/modules/env.lua
  wowless/util.lua
Due: luacheck

reenable tableinspect
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
Due: yamlfmt

api: use host IsVisible in CreateUIObject
  wowless/api.lua
Due: luacheck

api spec for GetChildren, avoid luarep
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/Frame/GetChildren.lua
Due: luacheck, yamlfmt

api spec for GetRegions, avoid luarep
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/Frame/GetRegions.lua
Due: luacheck, yamlfmt

api spec for GetAnimationGroups, avoid luarep
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/Region/GetAnimationGroups.lua
Due: luacheck, yamlfmt

bump wow_classic_era to 1.15.7.60277
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

avoid GetChildren/GetRegions in host code, they return luarep
  data/uiobjects/Frame/GetNumChildren.lua
  data/uiobjects/Frame/GetNumRegions.lua
  data/uiobjects/Frame/SetFrameLevel.lua
Due: luacheck

GameTooltip:IsOwned prototype, drop luarep
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/GameTooltip/IsOwned.lua
Due: luacheck, yamlfmt

loader: avoid :GetParent() in navigate
  wowless/loader.lua
Due: luacheck

loader: use host AddMaskTexture
  wowless/loader.lua
Due: luacheck

uiobject method src file in stacktraces
  tools/prep.lua
  wowapi/uiobjects.lua
Due: luacheck

move bubblewrap to separate file
  CMakeLists.txt
  wowapi/loader.lua
  wowless/bubblewrap.lua
  wowless/util.lua
Due: luacheck

datetime module
  CMakeLists.txt
  data/impl.yaml
  data/impl/C_DateAndTime.AdjustTimeByDays.lua
  data/impl/C_DateAndTime.AdjustTimeByMinutes.lua
  data/impl/C_DateAndTime.CompareCalendarTime.lua
  wowless/api.lua
  wowless/modules/datetime.lua
  wowless/util.lua
Due: luacheck, yamlfmt

start new sandbox
  CMakeLists.txt
  spec/wowless/sandbox_spec.lua
  tools/mkninja.lua
  wowless/sandbox.c
Due: luacheck

pass numbers and strings through
  spec/wowless/sandbox_spec.lua
  wowless/sandbox.c
Due: luacheck

gc
  wowless/sandbox.c
Due: none

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
