Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.0.3'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.20.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v18.1.8
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: mkninja
    name: create build system
    entry: lua tools/mkninja.lua
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: ninja -v
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

auction house and edit mode skips for era
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
Due: yamlfmt

remove remaining skip_docfiles usage
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
Due: yamlfmt

docs: remove skip_docfiles config
  data/schemas/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

docs: process enums
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/docs.yaml
  spec/data/docs_spec.lua
  tools/docs.lua
Due: luacheck, yamlfmt

docs: takelieor
  tools/docs.lua
Due: luacheck

fix docs
  data/products/wowt/docs.yaml
  data/products/wowt/globals.yaml
Due: yamlfmt

move GetAddOnInfo to addons module
  data/impl.yaml
  data/impl/GetAddOnInfo.lua
  wowless/modules/addons.lua
Due: luacheck, yamlfmt

hacky last bit thing for GetAddOnInfo
  data/modules.yaml
  data/products/wowt/config.yaml
  data/schemas/config.yaml
  wowless/modules/addons.lua
Due: luacheck, yamlfmt

progress
  data/products/wowt/apis.yaml
  data/products/wowt/config.yaml
Due: yamlfmt

another socket fix
  data/products/wowt/apis.yaml
Due: yamlfmt

bump wowt to 11.2.5.62687
  data/impl.yaml
  data/impl/GetSpecializationInfo.lua
  data/modules.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/config.yaml
  data/schemas/doctable.yaml
  wowless/modules/addons.lua
Due: luacheck, yamlfmt

bump wow to 11.2.0.62748
  data/products/wow/build.yaml
Due: yamlfmt

clean up config_spec a bit
  data/schemas/config.yaml
  spec/data/config_spec.lua
Due: luacheck, yamlfmt

config.addon.enum_values_set_in_framexml, fixes #454
  addon/Wowless/generated.lua
  data/products/wow_classic/config.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wowt/config.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/globals.yaml
  data/schemas/config.yaml
  spec/data/config_spec.lua
Due: luacheck, addon-chmod, yamlfmt

platform: mac hack
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/schemas/function.yaml
  tools/gentest.lua
Due: luacheck, yamlfmt

docs: propagate platform
  tools/docs.lua
Due: luacheck

bump wowt to 11.2.5.62785
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

bump wow to 11.2.0.62801
  data/products/wow/build.yaml
Due: yamlfmt

move dbdefs invocation to cmake
  CMakeLists.txt
  tools/dbdefs.lua
  tools/mkninja.lua
Due: luacheck

fixes
  tools/db2dump.lua
  tools/sqlite.lua
Due: luacheck

move dbdefs invocation to cmake (#455)
  CMakeLists.txt
  tools/db2dump.lua
  tools/dbdefs.lua
  tools/mkninja.lua
  tools/sqlite.lua
Due: luacheck

move fetch execution to cmake
  CMakeLists.txt
  tools/fetch.lua
  tools/mkninja.lua
Due: luacheck

move fetch execution to cmake (#456)
  CMakeLists.txt
  tools/fetch.lua
  tools/mkninja.lua
Due: luacheck

generate sqlite3 databases from cmake
  CMakeLists.txt
  tools/mkninja.lua
  tools/sqlite.lua
  wowless/modules/sqlitedb.lua
Due: luacheck

generate sqlite3 databases from cmake (#457)
  CMakeLists.txt
  tools/mkninja.lua
  tools/sqlite.lua
  wowless/modules/sqlitedb.lua
Due: luacheck

extracts are under build/cmake now
  wowless.lua
Due: luacheck

remove addon chmod from gentest and pre-commit
  .pre-commit-config.yaml
  tools/gentest.lua
Due: luacheck

remove executable bit from addon and specs
  addon/Wowless/Wowless.toc
  addon/Wowless/evenmoreintrinsic.xml
  addon/Wowless/framework.lua
  addon/Wowless/generated.lua
  addon/Wowless/init.lua
  addon/Wowless/statemachine.lua
  addon/Wowless/test.lua
  addon/Wowless/test.xml
  addon/Wowless/uiobjects.lua
  addon/Wowless/util.lua
  addon/WowlessTracker/WowlessTracker.toc
  addon/WowlessTracker/tracker.lua
  spec/addon/framework_spec.lua
Due: luacheck, addon-chmod

gentest: drop dryrun flag
  tools/gentest.lua
Due: luacheck

gentest: require arguments
  tools/gentest.lua
  tools/mkninja.lua
Due: luacheck

run gentest from cmake
  CMakeLists.txt
  tools/gentest.lua
Due: luacheck

gentest: use yaml directly, rely on depfile
  CMakeLists.txt
  tools/gentest.lua
  tools/mkninja.lua
Due: luacheck

gentest: build system specifies output file
  tools/gentest.lua
  tools/mkninja.lua
Due: luacheck

no longer need fine grained deps
  CMakeLists.txt
Due: none

use from cmake
  CMakeLists.txt
  spec/wowless/addon_spec.lua
  tools/mkninja.lua
Due: luacheck

fix whoops
  CMakeLists.txt
Due: none

migrate gentest invocation to cmake (#458)
  CMakeLists.txt
  spec/wowless/addon_spec.lua
  tools/mkninja.lua
Due: luacheck

use stamps for gentest progress
  CMakeLists.txt
  tools/mkninja.lua
Due: luacheck

invoke tests from cmake
  CMakeLists.txt
  tools/mkninja.lua
  tools/runtests.lua
Due: luacheck

mkninja: fix typo in run addon dep
  tools/mkninja.lua
Due: luacheck
