Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: build/cmake/yamlfmt
  language: system

bump wowt to 12.0.5.66591
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

errorhandler: add error delivery tests
  data/test.yaml
  data/test/errorhandler.lua
Due: luacheck, yamlfmt

encodingutil: add usage errors and improve Base64 tests
  data/test/C_EncodingUtil.Base64.lua
  wowless/modules/encodingutil.c
Due: luacheck

MoveAndSteerStart: add impl with ADDON_ACTION_FORBIDDEN
  data/impl.yaml
  data/impl/MoveAndSteerStart.lua
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/test.yaml
  data/test/MoveAndSteerStart.lua
Due: luacheck, yamlfmt

protected: declarative support for ADDON_ACTION_FORBIDDEN apis
  addon/Wowless/generated.lua
  data/impl.yaml
  data/impl/MoveAndSteerStart.lua
  data/modules.yaml
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/schemas/function.yaml
  data/test.yaml
  data/test/MoveAndSteerStart.lua
  tools/gentest.lua
  tools/prep.lua
  wowless/modules/cgencode.lua
  wowless/typecheck.h
Due: luacheck, yamlfmt

apis: mark nullary bindings.xml apis as protected
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

eventqueue: extract event queue module from errorhandler
  CMakeLists.txt
  data/modules.yaml
  wowless/modules/errorhandler.lua
  wowless/modules/eventqueue.lua
  wowless/modules/mainloop.lua
Due: luacheck, yamlfmt

environment metafield test
  data/test.yaml
  data/test/environmentmetafield.lua
Due: luacheck, yamlfmt

bump wwo to 12.0.1.66666
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

typecheck: add is/isnilable predicates, support usage in c stubs
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

typecheck: remove (void) casts, use unnamed params instead
  wowless/typecheck.h
Due: none

typecheck: restore param names for cl.exe compatibility
  wowless/typecheck.h
Due: none

prep: refactor inputcheck pattern for instride and eligible_impls
  tools/prep.lua
Due: luacheck

typecheck: add is/isnilable predicates, support usage in C stubs (#573)
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

prep: generate stubs for all luaobjects, stringenums, and uiobjects
  tools/prep.lua
Due: luacheck

prep: properly escape usage strings and unify cstring
  tools/prep.lua
Due: luacheck

drop special font logic from IsObjectType
  wowless/modules/uiobjecttypes.lua
Due: luacheck

setfontobjectbyname test
  addon/Wowless/uiobjects.lua
Due: luacheck

getmetatable tests
  data/test.yaml
  data/test/getmetatable.lua
Due: luacheck, yamlfmt

more SetFontObject tests
  addon/Wowless/uiobjects.lua
Due: luacheck

Get*Metatable tests
  data/test.yaml
  data/test/GetButtonMetatable.lua
  data/test/GetFontStringMetatable.lua
  data/test/GetFrameMetatable.lua
Due: luacheck, yamlfmt

tests and fixes for GetClickFrame
  data/impl/GetClickFrame.lua
  data/test/GetClickFrame.lua
Due: luacheck

assert WorldFrame has the usual Frame mt
  addon/Wowless/test.lua
Due: luacheck

bump wow to 12.0.1.66709
  data/products/wow/build.yaml
Due: yamlfmt

loader: add declarative structure impl for XML data elements
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_beta/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  tools/prep.lua
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

more precise toc metadata tests #581
  addon/Wowless/Wowless.toc
  data/test/GetAddOnMetadata.lua
Due: luacheck

toc: parse returns table with attrs and files
  spec/wowless/toc_spec.lua
  tools/fetch.lua
  wowless/modules/loader.lua
  wowless/toc.lua
Due: luacheck

toc: parse Interface field as number on toc table
  data/test/GetAddOnMetadata.lua
  spec/wowless/toc_spec.lua
  wowless/toc.lua
Due: luacheck

addons: implement GetAddOnInterfaceVersion
  data/impl.yaml
  data/modules.yaml
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/test.yaml
  data/test/GetAddOnInterfaceVersion.lua
  wowless/modules/addons.lua
Due: luacheck, yamlfmt

addons: remove wrong comment from GetAddOnInterfaceVersion
  wowless/modules/addons.lua
Due: luacheck

toc: parse SavedVariables into array fields
  data/test/GetAddOnMetadata.lua
  spec/wowless/toc_spec.lua
  wowless/modules/loader.lua
  wowless/toc.lua
Due: luacheck

toc: parse SavedVariables into array fields (#583)
  data/test/GetAddOnMetadata.lua
  spec/wowless/toc_spec.lua
  wowless/modules/loader.lua
  wowless/toc.lua
Due: luacheck

toc: initialize deps and optionaldeps as empty arrays
  data/test/GetAddOnMetadata.lua
  spec/wowless/toc_spec.lua
  wowless/modules/loader.lua
  wowless/toc.lua
Due: luacheck

toc: fix GetAddOnMetadata returning nil for parsed array fields, closes #581
  data/test/GetAddOnMetadata.lua
Due: luacheck

bump wowt to 12.0.5.66741
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

bump wow_anniversary to 2.5.5.66765
  data/products/wow_anniversary/build.yaml
Due: yamlfmt

bump wow to 12.0.1.66838
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

runner: add --dotfile flag for addon dependency graph
  wowless.lua
  wowless/modules/loader.lua
  wowless/runner.lua
Due: luacheck

bump wow_classic to 5.5.3.66839
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.8.67156
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
