Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
  language: system

use gametypes in toc processing
  CMakeLists.txt
  spec/wowless/toc_spec.lua
  tools/fetch.lua
  wowless/loader.lua
  wowless/toc.lua
Due: luacheck

drop flavor
  CMakeLists.txt
  data/flavors.yaml
  data/products/wow/build.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wowt/build.yaml
  data/products/wowxptr/build.yaml
  data/schemas/build.yaml
  data/schemas/flavors.yaml
  data/schemas/schematype.yaml
  spec/data/yaml_spec.lua
  wowapi/data.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

replace flavor with gametype and family (#409)
  CMakeLists.txt
  data/families.yaml
  data/flavors.yaml
  data/gametypes.yaml
  data/products/wow/build.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wowt/build.yaml
  data/products/wowxptr/build.yaml
  data/schemas/build.yaml
  data/schemas/families.yaml
  data/schemas/flavors.yaml
  data/schemas/gametypes.yaml
  data/schemas/schematype.yaml
  data/test/C_DateAndTime.AdjustTimeByDays.lua
  data/test/C_DateAndTime.AdjustTimeByMinutes.lua
  spec/data/families_spec.lua
  spec/data/gametypes_spec.lua
  spec/data/yaml_spec.lua
  spec/wowless/toc_spec.lua
  tools/fetch.lua
  tools/mkninja.lua
  wowapi/data.lua
  wowapi/schema.lua
  wowless/loader.lua
  wowless/modules/datetime.lua
  wowless/toc.lua
Due: luacheck, yamlfmt

fix GetTalentTabInfo
  data/impl.yaml
  data/impl/GetTalentTabInfo.lua
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: luacheck, yamlfmt

stuboutstrides=0 for GetMouseOverUnits
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/uiobjects.yaml
  spec/data/uiobjects_spec.lua
  tools/prep.lua
Due: luacheck, yamlfmt

GetAverageItemLevel api prototype
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

classic paper doll specs
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

docs: propagate uiobject stuboutstrides
  tools/docs.lua
Due: luacheck

stub GetLatestAppearance category everywhere
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

GetNumTalentPoints api prototype
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

SetPoint: toupper its FramePoint arg
  data/uiobjects/Region/SetPoint.lua
Due: luacheck

GetNumGlyphs/GetGlyphInfo prototypes for classic
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

load per-addon bindings
  wowless/loader.lua
Due: luacheck

mists uses retail GetAtlasInfo
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

GetExtraBarIndex prototype
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

align a bunch of function prototypes
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

rewrite: align
  tools/rewrite.lua
Due: luacheck

propagate more prototypes
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/structures.yaml
Due: yamlfmt

align everybody on GetExtraBarIndex prototype
  data/products/wow/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

C_Scenario stubs
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

fix GetQuestLogTitle api prototype
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

align HasExtraActionBar
  data/products/wow/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

align GetNumAutoQuestPopUps
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

update alignments
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

align UnitPowerBarTimerInfo
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

align UnitPowerBarTimerInfo
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

align GetBattlegroundInfo
  data/products/wow/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

align GetBattlegroundInfo
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

align GetSpellBonusDamage
  data/products/wow/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

align GetSpellBonusDamage
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

missing C_ToyBox
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

align C_PetJournal.GetNumPetsNeedingFanfare
  data/products/wow/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

align C_PetJournal.GetNumPetsNeedingFanfare
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

C_Heirloom
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

align GetLatestAppearance
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

prototype for GetNumUnspentTalents
  data/products/wow/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

prototype for GetNumUnspentTalents
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

GetMouseOverUnits stuboutstride = 0
  data/products/wow_classic_beta/uiobjects.yaml
Due: yamlfmt

GetScenariosChoiceOrder prototype
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

align GetScenariosChoiceOrder
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
