Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
  language: system

FontInstance SetJustify method specs from docs
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

little nit fix in EnumerateFrames
  data/impl/EnumerateFrames.lua
Due: luacheck

render: remove reference to vertexColorA
  wowless/render.lua
Due: luacheck

rewrite Cooldown texture method specs
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow/xml.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_beta/xml.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
  data/products/wowxptr/xml.yaml
  wowless/loader.lua
Due: luacheck, yamlfmt

all uiobject setters have api specs, fixes #416
  spec/data/uiobjects_spec.lua
  tools/prep.lua
Due: luacheck

nilable check on setter args
  spec/data/uiobjects_spec.lua
Due: luacheck

broken getter nilability test #434
  spec/data/uiobjects_spec.lua
Due: luacheck

SetTexture returns true
  data/uiobjects/Texture/SetTexture.lua
Due: luacheck

inputs with defaults need not be explicitly nilable
  data/products/wow/apis.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/uiobjects.yaml
  spec/data/apis_spec.lua
  spec/data/uiobjects_spec.lua
  tools/docs.lua
Due: luacheck, yamlfmt

docs: assertTaken, use for output stubs
  tools/docs.lua
Due: luacheck

permissive bit on inputs with default
  data/schemas/uiobjects.yaml
  spec/data/uiobjects_spec.lua
  tools/docs.lua
  wowless/typecheck.lua
Due: luacheck, yamlfmt

TextureBase.SetAtlas filterMode is permissive
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

bump wow_classic to 5.5.0.62071
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wowxptr to 11.2.0.62136
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
Due: yamlfmt

manualinputs bit, fixes #430
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/uiobjects.yaml
  spec/data/uiobjects_spec.lua
Due: luacheck, yamlfmt

docs: propagate manualinputs
  tools/docs.lua
Due: luacheck

load uiobject impls using the right _G
  wowapi/uiobjects.lua
Due: luacheck

SetPoint: reuse FramePoint for asserting validity
  data/uiobjects/Region/SetPoint.lua
Due: luacheck

schema: remove unused enumset concept
  data/schemas/schematype.yaml
  spec/wowapi/schema_spec.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

schema: compile schemas, saves about 15% on data/yaml_spec
  wowapi/schema.lua
Due: luacheck

schema: avoid pcall internally, saves 40%
  wowapi/schema.lua
Due: luacheck

schema: oneofs match exactly once, costs 40%
  spec/wowapi/schema_spec.lua
  wowapi/schema.lua
Due: luacheck

luassert: always set TableFormatLevel to -1
  spec/wowless/addon_spec.lua
  tools/runtests.lua
Due: luacheck

schema: error testing
  spec/wowapi/schema_spec.lua
  wowapi/schema.lua
Due: luacheck

luamodule style impls, use for Mixin
  data/impl.yaml
  data/impl/Mixin.lua
  data/schemas/impl.yaml
  spec/data/impl_spec.lua
  spec/data/yaml_spec.lua
  tools/prep.lua
Due: luacheck, yamlfmt

some api spec alignment
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

propagate impls where prototypes match
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

use GetNumSpecializationsForClassID impl everywhere
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
Due: yamlfmt

schema: rewrite compiler to only cache top-level schemas
  wowapi/schema.lua
Due: luacheck

tools/schema cmdline validation tool
  CMakeLists.txt
  tools/schema.lua
Due: luacheck

schema: introduce tagged unions
  data/schemas/schematype.yaml
  spec/wowapi/schema_spec.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

schema: replace sql type with taggedunion
  data/schemas/sql.yaml
Due: yamlfmt

uiobject method impls are tagged unions
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/uiobjects.yaml
  spec/data/uiobjects_spec.lua
  tools/prep.lua
Due: luacheck, yamlfmt

impl taggedunion
  data/impl.yaml
  data/schemas/impl.yaml
  spec/data/impl_spec.lua
  spec/data/sql_spec.lua
  tools/dblist.lua
  tools/prep.lua
Due: luacheck, yamlfmt

docs: fix stringenum type output
  tools/docs.lua
Due: luacheck

taggedunion for doctable literals
  data/schemas/doctable.yaml
Due: yamlfmt

taggedunion-ify xml yaml
  data/products/wow/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_beta/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  wowless/loader.lua
  wowless/xml.lua
Due: luacheck, yamlfmt

schema: replace any schema with any tag
  CMakeLists.txt
  data/schemas/any.yaml
  data/schemas/docs.yaml
  data/schemas/doctable.yaml
  data/schemas/events.yaml
  data/schemas/function.yaml
  data/schemas/globals.yaml
  data/schemas/schematype.yaml
  data/schemas/structures.yaml
  data/schemas/uiobjects.yaml
  tools/docs.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

oneof is dead, long live taggedunion
  data/schemas/schematype.yaml
  spec/wowapi/schema_spec.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
