Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

uiobjects: replace newproxy with C userdata for type-safe uiobjects #523
  CMakeLists.txt
  tools/prep.lua
  wowless/modules/api.lua
  wowless/modules/loader.lua
  wowless/modules/uiobjecttypes.lua
  wowless/typecheck.h
  wowless/uiobject.c
Due: luacheck

prep: use lua_pushliteral for compile-time constant strings in C stubs
  tools/prep.lua
Due: luacheck

luaobjects: implement luaobject creation in C for output stubs #523
  tools/prep.lua
  wowless/luaobject.c
  wowless/luaobject.h
  wowless/modules/luaobjects.lua
  wowless/typecheck.h
Due: luacheck

prep,loader: generate and use xmlhandlers for UIObject types (phases 3+4) -- issue #532
  CMakeLists.txt
  tools/prep.lua
  wowless/modules/loader.lua
Due: luacheck

style: require /* on its own line for multiline block comments
  CLAUDE.md
  wowless/luaobject.c
  wowless/uiobject.c
Due: none

bump wow to 12.0.1.66066
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
  data/products/wow/structures.yaml
Due: yamlfmt

prep: restructure cstubs to populate fns/securefns directly #523
  tools/prep.lua
  wowless/modules/apiloader.lua
Due: luacheck

prep: move wowless_load_stubs to wowless/stubs.c #523
  CMakeLists.txt
  tools/prep.lua
  wowless/stubs.c
  wowless/stubs.h
Due: luacheck

prep: remove cstub entries from apis table instead of marking them #523
  tools/prep.lua
  wowless/modules/apiloader.lua
Due: luacheck

prep: drop namespaces array, use sorted(ns_entries) directly #523
  tools/prep.lua
Due: luacheck

prep: restructure cstubs to populate fns/securefns directly #523 (#535)
  CMakeLists.txt
  tools/prep.lua
  wowless/modules/apiloader.lua
  wowless/stubs.c
  wowless/stubs.h
Due: luacheck

prep: simplify cstub entries tables and emit loop #523
  tools/prep.lua
Due: luacheck

stubs: skip non-secure ns table if empty instead of pre-computing secureonly #523
  tools/prep.lua
  wowless/stubs.c
  wowless/stubs.h
Due: luacheck

cstubs: pass cgencode module as upvalue for uiobject typechecking #523
  CMakeLists.txt
  data/modules.yaml
  wowless/modules/api.lua
  wowless/modules/apiloader.lua
  wowless/modules/cgencode.lua
  wowless/modules/uiobjecttypes.lua
  wowless/stubs.c
  wowless/typecheck.h
  wowless/uiobject.c
Due: luacheck, yamlfmt

cstubs: pass cgencode module as upvalue for luaobject typechecking #523
  CMakeLists.txt
  data/modules.yaml
  tools/prep.lua
  wowless/luaobject.c
  wowless/modules/cgencode.lua
  wowless/modules/luaobjects.lua
  wowless/typecheck.h
Due: luacheck, yamlfmt

cstubs: support luaobject output types #523
  tools/prep.lua
  wowless/modules/cgencode.lua
  wowless/typecheck.h
Due: luacheck

cstubs: support uiobject output types #523
  data/modules.yaml
  tools/prep.lua
  wowless/modules/cgencode.lua
  wowless/typecheck.h
Due: luacheck, yamlfmt

prep: stop emitting xmlraw
  tools/prep.lua
Due: luacheck

prep: support FileAsset in C stub input/output
  tools/prep.lua
Due: luacheck

prep: make is_eligible hard-error on unsupported types
  tools/prep.lua
Due: luacheck

prep: support stringenum in C stub input/output
  tools/prep.lua
  wowless/modules/cgencode.lua
  wowless/typecheck.h
Due: luacheck

cstubs: apply lua_absindex discipline to luaobject and uiobject checkers
  wowless/typecheck.h
Due: none

CLAUDE: update C stubs section to reflect current implementation
  CLAUDE.md
Due: none

apiloader: replace stdlib special case with nobubblewrap
  tools/prep.lua
  wowless/modules/apiloader.lua
Due: luacheck

bump wow to 12.0.1.66102
  data/products/wow/build.yaml
Due: yamlfmt

prep: delegate impl now wraps with debug.newcfunction and sets nobubblewrap
  tools/prep.lua
Due: luacheck

impl: add nobubblewrap support to luadelegate, apply to mixin functions
  data/impl.yaml
  data/schemas/impl.yaml
  tools/prep.lua
Due: luacheck, yamlfmt

prep: fix C stubs instride handling
  tools/prep.lua
Due: luacheck

prep: clean up C stubs input checking
  tools/prep.lua
Due: luacheck

runner: move api/uiobject loading before withglobaltable, drop setfenv workarounds
  wowless/modules/apiloader.lua
  wowless/modules/uiobjectloader.lua
  wowless/runner.lua
Due: luacheck

stubs: collect global/ns arrays into wowless_stubs_spec, pass as light userdata upvalue
  tools/prep.lua
  wowless/stubs.c
  wowless/stubs.h
Due: luacheck

clang-format: require braces on all conditionals and loops
  .clang-format
  wowless/ext.c
Due: none

prep: inline stubs arrays as compound literals into wowless_stubs_spec
  tools/prep.lua
Due: luacheck

stubs: load impl-eligible APIs in C stub layer
  tools/prep.lua
  wowless/bubblewrap.c
  wowless/bubblewrap.h
  wowless/modules/apiloader.lua
  wowless/stubs.c
  wowless/stubs.h
Due: luacheck

prep: inline impl/mods/impldata as compound literals, use numeric lengths
  tools/prep.lua
Due: luacheck

stubs: load impl-eligible APIs in C stub layer (#536)
  tools/prep.lua
  wowless/bubblewrap.c
  wowless/bubblewrap.h
  wowless/modules/apiloader.lua
  wowless/stubs.c
  wowless/stubs.h
Due: luacheck

Replace FetchContent git dependencies with git submodules (#538)
  .gitmodules
  CMakeLists.txt
Due: none

vendor: replace lpeg FetchContent with git submodule (#539)
  .gitmodules
  CMakeLists.txt
Due: none

bump vendor/vstruct to 2.2, add vstruct.ast.Number to build (#546)
  CMakeLists.txt
Due: none

Per-product binary targets (#548)
  CMakeLists.txt
  bin/run.sh
Due: none
