Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

spec: table-driven test conversions across the suite (#879)
  spec/addon/util_spec.lua
  spec/tools/prettywrite_spec.lua
  spec/wowapi/schema_spec.lua
  spec/wowless/modules/xml_spec.lua
  spec/wowless/util_spec.lua
Due: luacheck

gentest,addon: test every XML tag whose impl instantiates a Frame-derived uiobject
  addon/Wowless/generated.lua
  tools/gentest.lua
Due: luacheck

xmlcontainment,spec: test Ui's own XML containment relation
  CMakeLists.txt
  spec/tools/xmlcontainment_spec.lua
  spec/wowless/modules/xml_containment_spec.lua
  tools/xmlcontainment.lua
Due: luacheck

xml: scope real containment-rejection warnings to Ui via a schema flag
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  tools/prep.lua
  wowless/modules/xml.lua
Due: luacheck, yamlfmt

xmlcontainment,xml: table-driven legalChildren spec; root call doesn't name Ui
  spec/tools/xmlcontainment_spec.lua
  wowless/modules/xml.lua
Due: luacheck

wowless: unify the two containment-relation implementations
  CMakeLists.txt
  tools/prep.lua
  tools/xmlcontainment.lua
  wowless/xmlutil.lua
Due: luacheck

spec: fold xml_containment_spec.lua into xml_spec.lua
  CMakeLists.txt
  spec/wowless/modules/xml_containment_spec.lua
  spec/wowless/modules/xml_spec.lua
Due: luacheck

xmlcontainment,spec: test Ui's own XML containment relation (#877)
  CMakeLists.txt
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  spec/tools/xmlcontainment_spec.lua
  spec/wowless/modules/xml_spec.lua
  tools/prep.lua
  tools/xmlcontainment.lua
  wowless/modules/xml.lua
  wowless/xmlutil.lua
Due: luacheck, yamlfmt

api,xmleval,addon: defer all LUA_WARNING throwers, drop ExpectedNextFrame
  addon/Wowless/evenmoreintrinsic2.xml
  addon/Wowless/init.lua
  addon/Wowless/test.xml
  data/modules.yaml
  tools/generatexmltest.lua
  wowless/modules/api.lua
  wowless/modules/xmleval.lua
Due: luacheck, yamlfmt

Revert "api,xmleval,addon: defer all LUA_WARNING throwers, drop ExpectedNextFrame"
  addon/Wowless/evenmoreintrinsic2.xml
  addon/Wowless/init.lua
  addon/Wowless/test.xml
  data/modules.yaml
  tools/generatexmltest.lua
  wowless/modules/api.lua
  wowless/modules/xmleval.lua
Due: luacheck, yamlfmt

api,xmleval,xml,errorhandler,mainloop: route all LUA_WARNING through a dedicated queue
  CMakeLists.txt
  data/modules.yaml
  spec/wowless/modules/xml_spec.lua
  wowless/modules/api.lua
  wowless/modules/errorhandler.lua
  wowless/modules/mainloop.lua
  wowless/modules/warningqueue.lua
  wowless/modules/xml.lua
  wowless/modules/xmleval.lua
  wowless/modules/xmlwarningqueue.lua
Due: luacheck, yamlfmt

api,xmleval,xml,errorhandler,mainloop: route all LUA_WARNING through a dedicated queue (#884)
  CMakeLists.txt
  data/modules.yaml
  spec/wowless/modules/xml_spec.lua
  wowless/modules/api.lua
  wowless/modules/errorhandler.lua
  wowless/modules/mainloop.lua
  wowless/modules/warningqueue.lua
  wowless/modules/xml.lua
  wowless/modules/xmleval.lua
  wowless/modules/xmlwarningqueue.lua
Due: luacheck, yamlfmt

addon,generatexmltest: rename ExpectedNextFrame to ExpectedXmlWarnings
  addon/Wowless/evenmoreintrinsic2.xml
  addon/Wowless/init.lua
  addon/Wowless/test.xml
  tools/generatexmltest.lua
Due: luacheck

addon,generatexmltest: rename ExpectedNextFrame to ExpectedXmlWarnings (#885)
  addon/Wowless/evenmoreintrinsic2.xml
  addon/Wowless/init.lua
  addon/Wowless/test.xml
  tools/generatexmltest.lua
Due: luacheck

warningqueue: cap LUA_WARNING delivery at 100 per frame
  CMakeLists.txt
  spec/wowless/modules/warningqueue_spec.lua
  wowless/modules/warningqueue.lua
Due: luacheck

warningqueue: cap LUA_WARNING delivery at 100 per frame (#886)
  CMakeLists.txt
  spec/wowless/modules/warningqueue_spec.lua
  wowless/modules/warningqueue.lua
Due: luacheck

addon: follow #885's ExpectedNextFrame rename in PR #883's containment block
  addon/Wowless/test.xml
Due: none

gentest,addon: test every XML tag rejected as a child of Ui
  CMakeLists.txt
  addon/Wowless/test.xml
  tools/gentest.lua
Due: luacheck

gentest,cmake,addon: page Ui containment candidates across generated WowlessBatchN addons
  CMakeLists.txt
  addon/Wowless/asynctests.lua
  addon/Wowless/test.xml
  tools/gentest.lua
Due: luacheck

gentest,addon: test every XML tag rejected as a child of Ui (#883)
  CMakeLists.txt
  addon/Wowless/asynctests.lua
  addon/Wowless/test.xml
  tools/gentest.lua
Due: luacheck

visibility: cache region visibility as a bit instead of walking parents
  wowless/modules/uiobjects.lua
  wowless/modules/visibility.lua
  wowless/modules/xmleval.lua
Due: luacheck

bump wow_classic to 5.5.4.69383
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow to 12.1.0.69404
  data/products/wow/build.yaml
Due: yamlfmt

FontAlphabet stringenum
  data/products/wow/docs.yaml
  data/products/wow/stringenums.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow/xml.yaml
  data/products/wow_anniversary/docs.yaml
  data/products/wow_anniversary/stringenums.yaml
  data/products/wow_anniversary/structures.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/stringenums.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/stringenums.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/stringenums.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/stringenums.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/stringenums.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/stringenums.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
  data/products/wowxptr/xml.yaml
Due: yamlfmt

gentoc,toc: generate Wowless.toc with a multi-product Interface list
  CMakeLists.txt
  addon/Wowless/Wowless.toc
  data/test/GetAddOnInterfaceVersion.lua
  spec/wowless/toc_spec.lua
  tools/gentoc.lua
  wowless/modules/addons.lua
  wowless/toc.lua
Due: luacheck

bump wow and wowt to 12.1.0.69497
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
Due: yamlfmt

CLAUDE.md: document build/test gotchas, spec conventions, XML and workflow notes
  CLAUDE.md
Due: none

CLAUDE.md: address review feedback on extracts caching and UI.xsd framing
  CLAUDE.md
Due: none

CLAUDE.md: document build/test gotchas, spec conventions, XML and workflow notes (#889)
  CLAUDE.md
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

bump wow_classic_era to 1.15.9.69547
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/globals.yaml
Due: yamlfmt

bump wow_anniversary to 2.5.6.69546
  data/products/wow_anniversary/build.yaml
  data/products/wow_anniversary/globals.yaml
Due: yamlfmt

bump wow_classic to 5.5.4.69585
  data/products/wow_classic/build.yaml
  data/products/wow_classic/cvars.yaml
Due: yamlfmt

bump wow and wowt to 12.1.0.69587
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.0.69722
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow_anniversary to 2.5.6.69795
  data/products/wow_anniversary/build.yaml
Due: yamlfmt

bump wow to 12.1.0.69814
  data/products/wow/build.yaml
  data/products/wow/structures.yaml
Due: yamlfmt

v12.1.5
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/enums.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/luaobjects.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/doctable.yaml
  tools/autodocs.lua
  tools/docs.lua
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck, yamlfmt

autodocs: fix more docs-build failures automatically
  tools/autodocs.lua
  tools/docs.lua
Due: luacheck
