Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: env/bin/lua tools/yamlfmt.lua
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

gha: bootstrap
  .github/workflows/test.yml
Due: none

.busted and .luacheckrc are lua files
  .vscode/settings.json
Due: none

.vscode: fix include path
  .vscode/c_cpp_properties.json
Due: none

.vscode: stop auto-adding file associations
  .vscode/settings.json
Due: none

generated dbs have .sqlite3 extension
  tools/mkninja.lua
  tools/sqlite.lua
  wowless/loader.lua
Due: none

factor dbd parsing into separate step
  tools/dbdefs.lua
  tools/mkninja.lua
  tools/sqlite.lua
Due: none

copytable support
  tools/db2dump.lua
  wowless/db2.lua
Due: none

copy table: multiple copies
  wowless/db2.lua
Due: none

ids are optional
  wowless/db2.lua
Due: none

add db2compare tool
  tools/db2compare.lua
  tools/mkninja.lua
Due: none

i4tou4
  wowless/db2.lua
Due: none

progress on storage type 2
  wowless/db2.lua
Due: none

support inline id fields
  wowless/db2.lua
Due: none

storage 2 default is in fsi.cx1
  wowless/db2.lua
Due: none

ignore relationship for now; fix fs3
  wowless/db2.lua
Due: none

eliminate struct field_structure usage
  wowless/db2.lua
Due: none

make tools/db2dump.lua easier to use
  tools/db2dump.lua
Due: none

read from the first byte with content
  wowless/db2.lua
Due: none

do bit munging always
  wowless/db2.lua
Due: none

remove 32-bit restriction on storage type 0
  wowless/db2.lua
Due: none

compute common offsets
  wowless/db2.lua
Due: none

common data lookups
  wowless/db2.lua
Due: none

fix common data off-by-one
  wowless/db2.lua
Due: none

only parse on storage type ~= 2
  wowless/db2.lua
Due: none

fill zeroes past the end of the buffer
  wowless/db2.lua
Due: none

parse WDC4 by rewriting magic for now
  tools/dbc.lua
  tools/fetch.lua
  tools/sqlite.lua
Due: none

bump wow to 10.0.7.48892
  data/products/wow/build.yaml
  data/products/wow/structures.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 10.0.7.48892
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/structures.yaml
Due: yamlfmt

move UpdateVisible to api
  .luacheckrc
  data/uiobjects/ParentedObject/SetParent.lua
  data/uiobjects/Region/SetShown.lua
  wowapi/uiobjects.lua
  wowless/api.lua
Due: none

share shown/scale/alpha across region and actor
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

api.SetParent calls api.UpdateVisible
  data/uiobjects/ParentedObject/SetParent.lua
  wowless/api.lua
Due: none

api.SetScript accepts hostrep
  data/uiobjects/ScriptObject/SetScript.lua
  wowless/api.lua
  wowless/loader.lua
Due: none

api.SetParent takes hostrep
  data/uiobjects/Button/SetFontString.lua
  data/uiobjects/ParentedObject/SetParent.lua
  wowless/api.lua
  wowless/loader.lua
Due: none

texture fields are hostrep
  data/uiobjects/CheckButton/SetChecked.lua
  tools/prep.lua
  wowapi/uiobjects.lua
  wowless/api.lua
Due: none

remove build uiobject env
  .luacheckrc
  data/uiobjects/ScrollFrame/SetScrollChild.lua
  data/uiobjects/Texture/GetTexture.lua
  wowapi/uiobjects.lua
Due: none

sync with client
  addon/Wowless/generated.lua
  addon/Wowless/util.lua
  data/impl.yaml
  data/impl/GetBuildInfo_10_1.lua
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  tools/docs.lua
  tools/errsv.lua
Due: yamlfmt, addon-chmod

introduce uiAddon type
  data/impl.yaml
  data/impl/GetAddOnEnableState.lua
  data/impl/GetAddOnInfo.lua
  data/impl/GetAddOnMetadata.lua
  data/impl/IsAddOnLoadOnDemand.lua
  data/impl/IsAddOnLoaded.lua
  data/impl/LoadAddOn.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/schemas/type.yaml
  wowapi/loader.lua
Due: yamlfmt

GetAddOnMetadata hacks
  data/products/wowt/apis.yaml
  tools/docs.lua
Due: yamlfmt

bump wow to 10.0.7.48966
  data/products/wow/build.yaml
Due: yamlfmt

addon: get overwritten apis from config
  addon/Wowless/generated.lua
  data/products/wow/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wowt/config.yaml
  data/schemas/config.yaml
  tools/gentest.lua
Due: yamlfmt, addon-chmod

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  addon-chmod: any of: ^addon/
