Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
  language: system

drop alias libraries in cmake
  CMakeLists.txt
Due: none

drop alias libraries in cmake (#424)
  CMakeLists.txt
Due: none

bump wowxptr to 11.2.0.61871
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

bump wow_classic{,_beta,_ptr} to 5.5.0.61916
  data/products/wow/apis.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

mixin lies
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

mixin impls
  data/impl.yaml
  data/impl/CreateFromMixins.lua
  data/impl/Mixin.lua
  data/products/wowxptr/apis.yaml
Due: luacheck, yamlfmt

funcheck: declarative tests
  spec/wowless/funcheck_spec.lua
Due: luacheck

GetAddOnMetadata: replace mayreturnnils with lies
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

so long, mayreturnnils
  data/schemas/function.yaml
  data/schemas/uiobjects.yaml
  tools/docs.lua
  tools/prep.lua
  wowless/funcheck.lua
Due: luacheck, yamlfmt

funcheck: instride handling
  spec/wowless/funcheck_spec.lua
  wowless/funcheck.lua
Due: luacheck

bump wowxptr to 11.2.0.61871 (#425)
  data/impl.yaml
  data/impl/CreateFromMixins.lua
  data/impl/Mixin.lua
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/doctable.yaml
Due: luacheck, yamlfmt

typecheck: coercion on arrays
  spec/wowless/typecheck_spec.lua
  wowless/typecheck.lua
Due: luacheck

typecheck: isout on nested structures
  data/impl.yaml
  data/impl/C_Texture.GetAtlasInfo.lua
  data/impl/C_Texture.GetAtlasInfo_11_1_5.lua
  data/impl/C_UIColor.GetColors.lua
  wowless/typecheck.lua
Due: luacheck, yamlfmt

typecheck: undo array element coercion but keep isout
  spec/wowless/typecheck_spec.lua
  wowless/typecheck.lua
Due: luacheck

support secure transfer events
  data/products/wow/apis.yaml
  data/products/wow/config.yaml
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow/structures.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/structures.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/config.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/structures.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/structures.yaml
Due: yamlfmt

only skip PARTY_INVITE_CANCEL in era runners
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/events.yaml
Due: yamlfmt

remove INVENTORY_SEARCH_UPDATE from event denylist
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/events.yaml
Due: yamlfmt

remove unused events.never_sent from docs.yaml
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

payload/config for SUBSCRIPTION_CHANGED_KICK_IMMINENT
  data/products/wow/config.yaml
  data/products/wow/events.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wowt/config.yaml
  data/products/wowt/events.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/events.yaml
Due: yamlfmt

payload/config for VAS_QUEUE_STATUS_UPDATE
  data/products/wow/config.yaml
  data/products/wow/events.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wowt/config.yaml
  data/products/wowt/events.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/events.yaml
Due: yamlfmt

payload for VAS_CHARACTER_QUEUE_STATUS_UPDATE
  data/products/wow/events.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wowt/events.yaml
  data/products/wowxptr/events.yaml
Due: yamlfmt

event payloads are now required
  data/schemas/events.yaml
  spec/data/events_spec.lua
  spec/data/structures_spec.lua
  tools/gentest.lua
  tools/prep.lua
  tools/rewrite.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

docs: import event payload stride
  data/products/wow/events.yaml
  data/products/wowt/events.yaml
  data/products/wowxptr/events.yaml
  data/schemas/events.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

vscode alldocs task
  .vscode/tasks.json
Due: none

docs: event payload defaults
  data/products/wow/events.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wowt/events.yaml
  data/products/wowxptr/events.yaml
  data/schemas/events.yaml
  spec/data/events_spec.lua
  tools/docs.lua
Due: luacheck, yamlfmt

rename prepped event stub field to "stub"
  tools/prep.lua
  wowless/runner.lua
Due: luacheck

vscode bump task
  .vscode/tasks.json
Due: none

bump wow and wowt to 11.1.7.61967
  data/products/wow/build.yaml
  data/products/wowt/build.yaml
Due: yamlfmt

bump wowxptr to 11.2.0.61981
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
Due: yamlfmt

tighten up SendEvent happy path
  wowless/api.lua
Due: luacheck

check event payloads
  data/impl/SendSystemMessage.lua
  tools/prep.lua
  wowless/api.lua
Due: luacheck

bump wow_classic_ptr/beta to 5.5.0.62044
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

bump wow_classic to 5.5.0.62044
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
Due: yamlfmt

check SendEvent payloads
  tools/prep.lua
  wowless/api.lua
Due: luacheck

send containsBindings value on ADDON_LOADED
  wowless/api.lua
  wowless/loader.lua
Due: luacheck

fixup LUA_WARNING, send_warntype
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/schemas/config.yaml
  wowless/api.lua
Due: luacheck, yamlfmt

fixup LOOT_OPENED, send_isfromitem
  data/products/wow/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
  wowless/api.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

fixup CHAT_MSG_TEXT_EMOTE
  data/impl/DoEmote.lua
  wowless/api.lua
Due: luacheck

fixup CHAT_MSG_SYSTEM
  data/impl/SendSystemMessage.lua
  wowless/api.lua
Due: luacheck

hack for nilable directsql
  wowapi/loader.lua
Due: luacheck

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
