Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: env/bin/lua tools/yamlfmt.lua
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

remove reference to SetGradientAlpha
  wowless/loader.lua
Due: none

cmake: add wowless.profiler
  CMakeLists.txt
Due: none

WorldFrame fixes
  addon/Wowless/test.lua
  addon/Wowless/test.xml
  wowless/api.lua
Due: addon-chmod

missing event in wow_classic
  data/products/wow_classic/events.yaml
Due: yamlfmt

stop providing SecureCapsuleGet to insecure addons
  addon/Wowless/test.lua
  wowless/loader.lua
Due: addon-chmod

start sandbox
  CMakeLists.txt
  wowless/sandbox.c
Due: none

sandbox_create
  wowless/api.lua
  wowless/sandbox.c
Due: none

start sandbox userdata
  wowless/sandbox.c
Due: none

sandbox import
  wowless/env.lua
  wowless/sandbox.c
Due: none

replace recursion with stack usage
  wowless/sandbox.c
Due: none

remove sandbox struct for now
  wowless/sandbox.c
Due: none

bump wow_classic_ptr to 3.4.3.51666
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

bump wow_classic to 3.4.3.51666
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic/events.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic/structures.yaml
  data/products/wow_classic/uiobjects.yaml
Due: yamlfmt

bump wowxptr to 10.2.0.51685
  addon/Wowless/generated.lua
  data/impl.yaml
  data/impl/C_Macro.SetMacroExecuteLineCallback.lua
  data/impl/RunMacroText_Callback.lua
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
  wowless/runner.lua
Due: yamlfmt, addon-chmod

wrap macroExecuteLineCallback in CallSafely
  data/impl/RunMacroText_Callback.lua
  wowless/runner.lua
Due: none

bump wow_classic and wow_classic_ptr to 3.4.3.51739
  data/products/wow_classic/build.yaml
  data/products/wow_classic_ptr/build.yaml
Due: yamlfmt

addon: stop skipping minimap
  addon/Wowless/generated.lua
  data/products/wow/config.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/config.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt, addon-chmod

start apis2c
  tools/apis2c.lua
Due: none

checkpoint
  tools/apis2c.lua
Due: none

table literals
  tools/apis2c.lua
Due: none

generalize skip
  tools/apis2c.lua
Due: none

compile the code
  CMakeLists.txt
  tools/apis2c.lua
Due: none

make it a proper module
  tools/apis2c.lua
Due: none

build for all products
  CMakeLists.txt
  tools/apis2c.lua
Due: none

fold into wowlesslib
  CMakeLists.txt
Due: none

apply
  tools/apis2c.lua
  wowapi/loader.lua
Due: none

wow it works
  tools/apis2c.lua
Due: none

start processing namespaced
  tools/apis2c.lua
  tools/luamain.lua
Due: none

luamain: print errors on stderr
  tools/luamain.lua
Due: none

function hack
  tools/apis2c.lua
Due: none

closer to namespace apis
  tools/apis2c.lua
Due: none

generate C API tables
  tools/apis2c.lua
Due: none

it uses namespaced apis
  wowapi/loader.lua
Due: none

output enums
  CMakeLists.txt
  tools/apis2c.lua
Due: none

apply default if present
  tools/apis2c.lua
Due: none

docs: write input default enum values
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  spec/data/apis_spec.lua
  tools/docs.lua
Due: yamlfmt

docs: map WOWGUID_NULL to nilable
  data/products/wowxptr/apis.yaml
  spec/data/apis_spec.lua
  tools/docs.lua
Due: yamlfmt

correct input default handling
  tools/apis2c.lua
Due: none

use argcheck for everything for now
  tools/apis2c.lua
Due: none

input enum check as number
  tools/apis2c.lua
Due: none

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  addon-chmod: any of: ^addon/
