Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, luacheck, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: lua tools/yamlfmt.lua
  language: system

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

Is*Client api specs and test
  addon/Wowless/api.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt, luacheck, addon-chmod

start platform api specification
  addon/Wowless/generated.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/schemas/apis.yaml
  tools/gentest.lua
Due: yamlfmt, luacheck, addon-chmod

timers return function containers
  addon/Wowless/api.lua
  addon/Wowless/test.lua
  wowless/loader.lua
Due: luacheck, addon-chmod

introduce platform concept
  CMakeLists.txt
  addon/Wowless/api.lua
  data/impl.yaml
  data/impl/IsLinuxClient.lua
  data/impl/IsMacClient.lua
  data/impl/IsWindowsClient.lua
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  wowless/api.lua
  wowless/env.lua
Due: yamlfmt, luacheck, addon-chmod

cascmap binary
  CMakeLists.txt
  tools/cascmap.lua
Due: luacheck

first cut at cmap-driven fetch
  CMakeLists.txt
  tools/fetch.lua
Due: luacheck

use casc blte
  CMakeLists.txt
  tools/fetch.lua
Due: luacheck

bump wowxptr to 10.2.0.52068
  data/products/wowxptr/build.yaml
  data/products/wowxptr/events.yaml
Due: yamlfmt

bump wow to 10.2.0.52068
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/config.yaml
  data/products/wow/cvars.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

add .vs to gitignore
  .gitignore
Due: none

running tests from cmake
  CMakeLists.txt
  tools/mkninja.lua
Due: luacheck

cmake: rename test binary to runtests
  CMakeLists.txt
  tools/mkninja.lua
Due: luacheck

use working directory
  CMakeLists.txt
Due: none

enable some tests
  CMakeLists.txt
Due: none

fix formatting
  CMakeLists.txt
Due: none

make runtests strict, internally cache build.data
  CMakeLists.txt
  tools/runtests.lua
Due: luacheck

cmake: default private linkage
  CMakeLists.txt
Due: none

imagemagick png requires zlib
  CMakeLists.txt
Due: none

cmake: default private linkage (#300)
  CMakeLists.txt
Due: none

cmake: strict errsv
  CMakeLists.txt
Due: none

cmake: pull wowapi.schema out of wowlesslib
  CMakeLists.txt
Due: none

cmake: make docs strict, remove runtests hack
  CMakeLists.txt
  tools/runtests.lua
Due: luacheck

all lua binaries are strict
  CMakeLists.txt
  tools/luamain.lua
Due: luacheck

remove yamlluas
  tools/mkninja.lua
Due: luacheck

bump wow and wowxptr to 10.2.0.52095
  addon/Wowless/uiobjects.lua
  data/products/wow/build.yaml
  data/products/wowxptr/build.yaml
  data/uiobjects/ParentedObjectBase/SetParentKey.lua
Due: yamlfmt, luacheck, addon-chmod

cmake: reorder lua main libraries to avoid warnings
  CMakeLists.txt
Due: none

Revert "cmake: reorder lua main libraries to avoid warnings"
  CMakeLists.txt
Due: none

Revert "cmake: reorder lua main libraries to avoid warnings" (#301)
  CMakeLists.txt
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

pre-commit autoupdate (#302)
  .pre-commit-config.yaml
Due: none

remove luabitop, functionality provided by elune
  CMakeLists.txt
Due: none

Revert "Revert "cmake: reorder lua main libraries to avoid warnings" (#301)"
  CMakeLists.txt
Due: none

bump wowt to 10.2.0.52038 (unchecked)
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/events.yaml
Due: yamlfmt

bump wow to 10.2.0.52106
  data/products/wow/build.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 1.15.0.52124
  addon/Wowless/generated.lua
  data/impl.yaml
  data/impl/GetBuildInfo_1_15_0.lua
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
Due: yamlfmt, luacheck, addon-chmod

incorporate docs
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/structures.yaml
Due: yamlfmt

fix enum
  data/products/wow_classic_era_ptr/globals.yaml
Due: yamlfmt

down to uiobject client errors
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

working on uiobjects
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

remove duplicate uiobject methods
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
