Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
  language: system

impl: delegates
  data/impl.yaml
  data/impl/string.join.lua
  data/impl/string.split.lua
  data/impl/string.trim.lua
  data/schemas/impl.yaml
  spec/data/impl_spec.lua
  tools/prep.lua
Due: luacheck, yamlfmt

directsql impls
  data/impl.yaml
  data/impl/C_CreatureInfo.GetClassInfo.lua
  data/impl/C_Map.GetMapInfo.lua
  data/impl/C_Map.GetMapInfo_Vanilla.lua
  data/impl/GetClassInfo.lua
  data/impl/GetClassInfo_Classic.lua
  data/impl/GetInventorySlotInfo.lua
  data/impl/GetNumClasses.lua
  data/impl/GetNumSpecializationsForClassID.lua
  data/impl/GetSpecializationInfoByID.lua
  data/schemas/impl.yaml
  spec/data/impl_spec.lua
  spec/data/sql_spec.lua
  tools/dblist.lua
  tools/prep.lua
Due: luacheck, yamlfmt

rudimentary module dependency injection
  wowless/api.lua
  wowless/modules/cvars.lua
  wowless/modules/datetime.lua
  wowless/modules/events.lua
Due: luacheck

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

moo
  .sqlfluff
Due: none

maybe fix devcontainer deps
  .devcontainer/Dockerfile
Due: none

no need to support sandbox print
  wowless/runner.lua
Due: luacheck

maybe fix devcontainer deps (#419)
  .devcontainer/Dockerfile
Due: none

preloads having preloads
  CMakeLists.txt
  tools/lua2c.h
  tools/lua2c.lua
  tools/luamain.c
Due: luacheck

wat
  CMakeLists.txt
  deps.json
  tools/luamain.c
  wowless/toc.lua
  wowless/typecheck.lua
Due: luacheck

bump wow to 11.1.7.61159
  data/products/wow/build.yaml
Due: yamlfmt

bump wow_classic_ptr to 5.5.0.61496
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/xml.yaml
Due: yamlfmt

loader: fdid only used as signed tag, change to just tag
  wowless/loader.lua
Due: luacheck

found the print dependency, doh
  wowless/runner.lua
Due: luacheck

loader: fix addon maybeAdd guard to check lower case
  wowless/loader.lua
Due: luacheck

farewell ManifestInterfaceTOCData, welcome ui-toc-list.txt
  tools/dblist.lua
  tools/fetch.lua
  wowless/loader.lua
Due: luacheck

just warn on missing colors, 11.2 makes this worse
  wowless/loader.lua
Due: luacheck

toc: case-insensitive AllowLoad values
  wowless/toc.lua
Due: luacheck

bump wow_classic_era to 1.15.7.61582
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wowt to 11.1.7.61609
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
Due: yamlfmt

bump wowxptr to 11.2.0.61476
  data/impl.yaml
  data/impl/C_SpecializationInfo.GetSpecializationInfo.lua
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/events.yaml
  data/products/wowxptr/globals.yaml
  data/products/wowxptr/structures.yaml
  data/products/wowxptr/uiobjects.yaml
Due: luacheck, yamlfmt

bump wow to 11.1.7.61609
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
Due: yamlfmt

bump wowxptr to 11.2.0.61624
  data/products/wowxptr/build.yaml
  data/products/wowxptr/cvars.yaml
  data/products/wowxptr/globals.yaml
Due: yamlfmt

statemachine: bfs to find paths, fixes #417
  addon/Wowless/statemachine.lua
  spec/addon/statemachine_spec.lua
Due: luacheck, addon-chmod

funcheck: fix outstride checks
  spec/wowless/funcheck_spec.lua
  tools/mkninja.lua
  wowless/funcheck.lua
Due: luacheck

start a frame event registration statemachine test
  addon/Wowless/test.lua
  wowless/modules/events.lua
Due: luacheck, addon-chmod

RegisterAllEvents is independent of per-event regs
  addon/Wowless/test.lua
  wowless/modules/events.lua
Due: luacheck, addon-chmod

RegisterEvent spec from docs
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

Frame:UnregisterEvent return value
  addon/Wowless/test.lua
  wowless/modules/events.lua
Due: luacheck, addon-chmod

UnregisterEvent spec from docs
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

test: delete obsolete hack transitions
  addon/Wowless/test.lua
Due: luacheck, addon-chmod

RegisterUnitEvent spec from docs
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

bump wow_classic_ptr and beta to 5.5.0.61632
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/cvars.yaml
Due: yamlfmt

introduce tedit
  CMakeLists.txt
  spec/tools/tedit_spec.lua
  tools/mkninja.lua
  tools/tedit.lua
Due: luacheck

tedit: deepcopies and root test
  spec/tools/tedit_spec.lua
  tools/tedit.lua
Due: luacheck

docs: tedit-based uiobject method lies
  CMakeLists.txt
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

more specific SetAtlas lies
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

docs: separate extra apis from other lies
  data/products/wow/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

docs: tedit-based api lies
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
  data/schemas/docs.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
