Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
  language: system

open elune libs
  spec/wowless/sandbox_spec.lua
  wowless/sandbox.c
Due: luacheck

save/restore taint mode also
  .luacheckrc
  wowless/bubblewrap.lua
Due: luacheck

hacked up modulespecs
  wowless/api.lua
  wowless/modules/cvars.lua
  wowless/modules/datetime.lua
  wowless/modules/events.lua
Due: luacheck

small cleanup on CallSafely/CallSandbox
  wowless/api.lua
  wowless/loader.lua
Due: luacheck

more precise host checks in Call*
  .luacheckrc
  wowless/api.lua
Due: luacheck

sandbox mode
  wowless/api.lua
Due: luacheck

progress but broken
  wowapi/uiobjects.lua
  wowless/bubblewrap.lua
Due: luacheck

bubble wrap at sandbox
  wowapi/uiobjects.lua
  wowless/bubblewrap.lua
Due: luacheck

rawfns
  wowapi/loader.lua
  wowless/env.lua
Due: luacheck

sandbox dance on xml scripts
  wowless/loader.lua
Due: luacheck

SetAtlas workaround
  data/uiobjects/Button/SetDisabledAtlas.lua
  data/uiobjects/Button/SetHighlightAtlas.lua
  data/uiobjects/Button/SetNormalAtlas.lua
  data/uiobjects/Button/SetPushedAtlas.lua
Due: luacheck

fix setid call
  wowless/api.lua
Due: luacheck

fix SetID call in CreateUIObject
  wowless/api.lua
Due: luacheck

timer callbacks run in the sandbox
  wowless/modules/time.lua
Due: luacheck

runner: call UIParent:SetSize correctly
  wowless/runner.lua
Due: luacheck

runner userdata on macrotext
  wowless/runner.lua
Due: luacheck

bump wowt to 11.1.5.60428 (unverified)
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/events.yaml
Due: yamlfmt

bump wow to 11.1.5.60428
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
  data/products/wow/docs.yaml
  data/products/wow/events.yaml
  data/products/wow/globals.yaml
  data/products/wow/structures.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

button SetAtlas calls through host object
  data/uiobjects/Button/SetDisabledAtlas.lua
  data/uiobjects/Button/SetHighlightAtlas.lua
  data/uiobjects/Button/SetNormalAtlas.lua
  data/uiobjects/Button/SetPushedAtlas.lua
Due: luacheck

runner: macrotext script on host object
  wowless/runner.lua
Due: luacheck

omg it works
  addon/Wowless/api.lua
  wowless/loader.lua
Due: luacheck, addon-chmod

use CallSandbox for script loading
  wowless/api.lua
  wowless/loader.lua
Due: luacheck

bubblewrap: a first attempt at taint control (#406)
  .luacheckrc
  CMakeLists.txt
  addon/Wowless/api.lua
  data/products/wow/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  wowapi/loader.lua
  wowapi/uiobjects.lua
  wowless/api.lua
  wowless/bubblewrap.lua
  wowless/env.lua
  wowless/loader.lua
  wowless/modules/env.lua
Due: luacheck, addon-chmod, yamlfmt

addon: T.match
  addon/Wowless/generated.lua
  addon/Wowless/util.lua
  data/test/GetBuildInfo_10_1.lua
  data/test/GetBuildInfo_1_15_0.lua
  data/test/GetBuildInfo_3_4_2.lua
Due: luacheck, addon-chmod

tests: replace most checks with match
  data/test/CreateFrame.lua
  data/test/CreateWindow.lua
  data/test/GetAddOnMetadata.lua
  data/test/GetClassInfo.lua
  data/test/GetClassInfo_Classic.lua
  data/test/GetClickFrame.lua
  data/test/GetCurrentEnvironment.lua
  data/test/GetGlobalEnvironment.lua
  data/test/IsInGlobalEnvironment.lua
  data/test/IsTestBuild.lua
  data/test/SwapToGlobalEnvironment.lua
  data/test/UnitName.lua
Due: luacheck

bump wow to 11.1.5.60490
  data/products/wow/build.yaml
  data/products/wow/cvars.yaml
Due: yamlfmt

bump wow_classic_beta to 5.5.0.60481
  CMakeLists.txt
  bin/install-addons.sh
  data/products.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/structures.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_beta/xml.yaml
  tools/mkninja.lua
Due: luacheck, yamlfmt

client and docs clean
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

progress
  data/flavors.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  spec/wowless/toc_spec.lua
Due: luacheck, yamlfmt

docs: skip stdlib for now
  tools/docs.lua
Due: luacheck

GetNumGuildPerks prototype for all products
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

fetch: fix Bindings.xml fetching
  tools/fetch.lua
Due: luacheck

remove dead Interface/FrameXML loading
  wowless/loader.lua
Due: luacheck

remove now-unused flavor.dir
  data/flavors.yaml
  data/schemas/flavors.yaml
Due: yamlfmt

introduce families and gametypes
  CMakeLists.txt
  data/families.yaml
  data/gametypes.yaml
  data/schemas/families.yaml
  data/schemas/gametypes.yaml
  data/schemas/schematype.yaml
  spec/data/yaml_spec.lua
  wowapi/data.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

per-product gametypes
  data/products/wow/build.yaml
  data/products/wow_classic/build.yaml
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wowt/build.yaml
  data/products/wowxptr/build.yaml
  data/schemas/build.yaml
Due: yamlfmt

use gametype in datetime checks
  data/test/C_DateAndTime.AdjustTimeByDays.lua
  data/test/C_DateAndTime.AdjustTimeByMinutes.lua
  wowless/modules/datetime.lua
Due: luacheck

some family/gametype tests
  spec/data/families_spec.lua
  spec/data/gametypes_spec.lua
  tools/mkninja.lua
Due: luacheck

remove flavors_spec
  spec/data/flavors_spec.lua
  tools/mkninja.lua
Due: luacheck

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
