Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: build/cmake/yamlfmt
  language: system

api spec for C_PetJournal.GetPetModelSceneInfoBySpeciesID
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

toc: improve file filter handling, support bootstrap
  spec/wowless/toc_spec.lua
  wowless/toc.lua
Due: luacheck

toc: lowercase gametype matching
  wowless/toc.lua
Due: luacheck

table.count implementation
  data/impl.yaml
  data/impl/table.count.lua
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_anniversary/docs.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
  data/test.yaml
  data/test/table.count.lua
Due: luacheck, yamlfmt

loader: move isLoadable check to initialization
  wowless/modules/loader.lua
Due: luacheck

drop unhelpful dotfile support
  wowless.lua
  wowless/runner.lua
Due: luacheck

move GlobalStrings from loader to env
  data/modules.yaml
  wowless/env.lua
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

loader loads both framexml and non-framexml addons at startup
  wowless/modules/loader.lua
  wowless/runner.lua
Due: luacheck

loader: stop re-exporting addonData
  wowless/modules/loader.lua
Due: luacheck

loader: fix loadfirst condition
  wowless/modules/loader.lua
Due: luacheck

addons: use signed bit for secure info return
  wowless/modules/addons.lua
Due: luacheck

loader: skip API-level LoadAddOn behavior internally
  wowless/modules/loader.lua
Due: luacheck

loader: cache load-related attrs in toc
  wowless/modules/loader.lua
Due: luacheck

loader: rename toc to addon
  wowless/modules/loader.lua
Due: luacheck

bump to 68412
  data/impl/SendSystemMessage.lua
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/schemas/doctable.yaml
Due: luacheck, yamlfmt

LoadIntoEnvironment=global on secure addons
  wowless/modules/loader.lua
Due: luacheck

add missing OnHorizontalScroll script type
  addon/Wowless/test.xml
  data/products/wow/uiobjects.yaml
  data/products/wow/xml.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/uiobjects.yaml
  data/products/wowxptr/xml.yaml
  data/scripttypes.yaml
Due: yamlfmt

fix missing FlipBook xml config
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
Due: yamlfmt

add missing OnMinMaxChanged script type
  addon/Wowless/test.xml
  data/products/wow/uiobjects.yaml
  data/products/wow/xml.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/uiobjects.yaml
  data/products/wowxptr/xml.yaml
  data/scripttypes.yaml
Due: yamlfmt

xml mixin tag support
  data/products/wowt/xml.yaml
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

table.create returns a table, duh
  data/products/wow/apis.yaml
  data/products/wow/docs.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_anniversary/docs.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/apis.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

supremely minimal hackup of forbidden+mixin
  data/products/wowt/xml.yaml
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

loader: super hack for forbidden scripts
  wowless/modules/loader.lua
Due: luacheck

give everything a forbiddenrep
  wowless/modules/api.lua
  wowless/modules/loader.lua
  wowless/runner.lua
Due: luacheck

apply to xml keyvalue too
  wowless/modules/loader.lua
Due: luacheck

bump wowt to 12.1.0.68412 (still broken internally)
  addon/Wowless/generated.lua
  addon/Wowless/test.lua
  addon/Wowless/uiobjects.lua
  data/impl.yaml
  data/impl/SendSystemMessage.lua
  data/modules.yaml
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/config.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/luaobjects.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowt/xml.yaml
  data/schemas/config.yaml
  data/schemas/doctable.yaml
  data/schemas/luaobjects.yaml
  spec/data/globals_spec.lua
  tools/docs.lua
  tools/gentest.lua
  wowless/modules/api.lua
  wowless/modules/loader.lua
  wowless/modules/parentkey.lua
  wowless/runner.lua
  wowless/toc.lua
Due: luacheck, yamlfmt

remove nil case from enum tests
  spec/data/globals_spec.lua
Due: luacheck

enummetafix configuration
  data/products/wowt/config.yaml
  data/schemas/config.yaml
  spec/data/globals_spec.lua
  tools/docs.lua
Due: luacheck, yamlfmt

implicitgodframes configuration
  data/products/wowt/config.yaml
  data/schemas/config.yaml
  wowless/runner.lua
Due: luacheck, yamlfmt

remove CreateFrame("WorldFrame") test that crashes wowt
  addon/Wowless/test.lua
Due: luacheck

loader: bind method= scripts after full template composition #714
  addon/Wowless/test.xml
  wowless/modules/api.lua
  wowless/modules/loader.lua
Due: luacheck

test: verify a frame's own scripts bind before its children load
  addon/Wowless/test.xml
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
  .sqlfluff
  CLAUDE.md
  README.md
Due: none

enum: derive meta enums at build time instead of scraping them
  CMakeLists.txt
  data/products/wow/globals.yaml
  data/products/wow_anniversary/globals.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wowt/globals.yaml
  data/products/wowxptr/globals.yaml
  spec/data/globals_spec.lua
  spec/tools/enum_spec.lua
  tools/docs.lua
  tools/enum.lua
  tools/gentest.lua
  tools/prep.lua
Due: luacheck, yamlfmt

enum: fix meta derivation to account for enummetafix
  spec/tools/enum_spec.lua
  tools/enum.lua
  tools/gentest.lua
  tools/prep.lua
Due: luacheck

enum: format NumValues as hex string for stringly metafix enums
  spec/tools/enum_spec.lua
  tools/enum.lua
Due: luacheck

enum: rewrite computeMeta to a single min/max/count pass
  spec/tools/enum_spec.lua
  tools/enum.lua
  tools/gentest.lua
  tools/prep.lua
Due: luacheck

apparently C_UnitAurasPrivate.RemovePrivateAuraUpdateCallback is a thing
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
