Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

templates: revert to its original untouched form
  data/modules.yaml
  wowless/modules/api.lua
  wowless/modules/loader.lua
  wowless/modules/templates.lua
  wowless/modules/xmleval.lua
Due: luacheck, yamlfmt

templates,xmleval,uiobjects,api,loader: give the XML interpreter and object creation an honest home
  CMakeLists.txt
  data/modules.yaml
  wowless/modules/api.lua
  wowless/modules/loader.lua
  wowless/modules/points.lua
  wowless/modules/uiobjects.lua
  wowless/modules/xmleval.lua
Due: luacheck, yamlfmt

xmleval: templates are data, not per-element closures
  wowless/modules/xmleval.lua
Due: luacheck

xmleval: drop the phases string-keyed table
  wowless/modules/xmleval.lua
Due: luacheck

xmleval: move implicit fontstring/texture anchor hacks out of initKids
  wowless/modules/xmleval.lua
Due: luacheck

xml diamond inheritance test
  addon/Wowless/test.xml
Due: none

objtypes do not have templates anymore
  wowless/modules/xmleval.lua
Due: luacheck

xmleval: dedupe objname resolution in CreateUIObject
  wowless/modules/xmleval.lua
Due: luacheck

xmleval: dedupe objname resolution in CreateUIObject (#845)
  wowless/modules/xmleval.lua
Due: luacheck

addon: test whether Create*() uiobject APIs accept multiple templates
  CMakeLists.txt
  addon/Wowless/Wowless.toc
  addon/Wowless/apitemplates.xml
  addon/Wowless/templates.lua
  addon/Wowless/test.xml
Due: luacheck

addon: use real templates for the AnimationGroup/Animation/ControlPoint template tests
  addon/Wowless/apitemplates.xml
  addon/Wowless/templates.lua
Due: luacheck

xml,addon: recognize Animation as a top-level virtual template; fix CreateAnimationGroup test arg order
  addon/Wowless/apitemplates.xml
  addon/Wowless/templates.lua
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
Due: luacheck, yamlfmt

addon: use native attributes instead of KeyValues to test AnimationGroup/Animation templates
  addon/Wowless/apitemplates.xml
  addon/Wowless/templates.lua
Due: luacheck

addon: test whether Create*() uiobject APIs accept multiple templates (#844)
  CMakeLists.txt
  addon/Wowless/Wowless.toc
  addon/Wowless/apitemplates.xml
  addon/Wowless/templates.lua
  addon/Wowless/test.xml
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
Due: luacheck, yamlfmt

ci: scope the vcpkg cache key by generator, not just OS
  .github/workflows/test.yml
Due: none

ci: scope the vcpkg cache key by generator, not just OS (#846)
  .github/workflows/test.yml
Due: none

addon: add missing single-template coverage for CreateTexture/CreateFontString/CreateLine/CreateMaskTexture
  addon/Wowless/templates.lua
Due: luacheck

addon: use a Texture-tagged template for CreateMaskTexture's single-template test
  addon/Wowless/apitemplates.xml
Due: none

addon: add missing single-template coverage to CreateTexture/CreateFontString/CreateLine/CreateMaskTexture (#847)
  addon/Wowless/apitemplates.xml
  addon/Wowless/templates.lua
Due: luacheck

api: CreateChildUIObject looks up templateName as a single literal name
  addon/Wowless/templates.lua
  wowless/modules/api.lua
Due: luacheck

api: CreateChildUIObject looks up templateName as a single literal name (#848)
  addon/Wowless/templates.lua
  wowless/modules/api.lua
Due: luacheck

uiobjects: thread name/templateName through CreateAnimationGroup and CreateAnimation
  addon/Wowless/templates.lua
  data/uiobjects/AnimationGroup/CreateAnimation.lua
  data/uiobjects/Region/CreateAnimationGroup.lua
Due: luacheck

uiobjects: thread name/templateName through CreateAnimationGroup and CreateAnimation (#849)
  addon/Wowless/templates.lua
  data/uiobjects/AnimationGroup/CreateAnimation.lua
  data/uiobjects/Region/CreateAnimationGroup.lua
Due: luacheck

CreateControlPoint template arg test
  addon/Wowless/apitemplates.xml
  addon/Wowless/templates.lua
  data/uiobjects/Path/CreateControlPoint.lua
Due: luacheck

clean up apitemplates test
  addon/Wowless/apitemplates.xml
  addon/Wowless/templates.lua
Due: luacheck

api,gencode,cgencode,mainloop: remove blast-radius-limiting re-exports
  data/impl.yaml
  data/impl/CreateFont.lua
  data/impl/EnumerateFrames.lua
  data/modules.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/Button/SetFontString.lua
  data/uiobjects/ModelScene/CreateActor.lua
  data/uiobjects/ScrollFrame/SetScrollChild.lua
  wowless/modules/api.lua
  wowless/modules/cgencode.lua
  wowless/modules/gencode.lua
  wowless/modules/mainloop.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

api,gencode,cgencode,mainloop: remove blast-radius-limiting re-exports (#852)
  data/impl.yaml
  data/impl/CreateFont.lua
  data/impl/EnumerateFrames.lua
  data/modules.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/Button/SetFontString.lua
  data/uiobjects/ModelScene/CreateActor.lua
  data/uiobjects/ScrollFrame/SetScrollChild.lua
  wowless/modules/api.lua
  wowless/modules/cgencode.lua
  wowless/modules/gencode.lua
  wowless/modules/mainloop.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

uiobjects: fold CreateActor onto the shared CreateChildUIObject helper
  data/uiobjectimpl.yaml
  data/uiobjects/ModelScene/CreateActor.lua
Due: luacheck, yamlfmt

uiobjects: fold CreateActor onto the shared CreateChildUIObject helper (#853)
  data/uiobjectimpl.yaml
  data/uiobjects/ModelScene/CreateActor.lua
Due: luacheck, yamlfmt

bump wow_classic to 5.5.4.69078
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow to 12.0.7.68974
  data/products/wow/build.yaml
Due: yamlfmt

xmleval,xml: emit real LUA_WARNING for anchor resolution failures
  addon/Wowless/test.xml
  wowless/modules/xml.lua
  wowless/modules/xmleval.lua
Due: luacheck

test.xml: avoid restructuring anchor tests for LUA_WARNING expectations
  addon/Wowless/test.xml
Due: none

test.xml: drop XML comments, format the new Scripts multi-line
  addon/Wowless/test.xml
Due: none

test.xml: correct the reasoning in the capture-actual comment
  addon/Wowless/test.xml
Due: none

test.xml: verify the shared-list anchor warning's text for real
  addon/Wowless/test.xml
Due: none

xmleval: tighten anchor warning early-returns
  wowless/modules/xmleval.lua
Due: luacheck

xml: call SendEvent directly for unrecognized-XML warnings
  data/modules.yaml
  spec/wowless/modules/xml_spec.lua
  wowless/modules/xml.lua
  wowless/modules/xmleval.lua
Due: luacheck, yamlfmt
