Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

uiobjects: give animations their own ordered list
  addon/Wowless/uiobjects.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/AnimationGroup/GetAnimations.lua
  wowless/modules/api.lua
Due: luacheck, yamlfmt

uiobjects: exercise animation reordering via cross-frame reparenting
  addon/Wowless/uiobjects.lua
Due: luacheck

uiobjects: check the SetParent(nil) error message on Animation
  addon/Wowless/uiobjects.lua
Due: luacheck

uiobjects: give animations their own ordered list (#799)
  addon/Wowless/uiobjects.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/AnimationGroup/GetAnimations.lua
  wowless/modules/api.lua
Due: luacheck, yamlfmt

uiobjects: give control points their own ordered list
  addon/Wowless/uiobjects.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/Path/CreateControlPoint.lua
  data/uiobjects/Path/GetControlPoints.lua
  wowless/modules/api.lua
Due: luacheck, yamlfmt

uiobjects: label control point order test objects for readable failures
  addon/Wowless/uiobjects.lua
Due: luacheck

uiobjects: defer control point ordering, keep this change purely structural
  addon/Wowless/uiobjects.lua
  data/uiobjects/Path/CreateControlPoint.lua
  data/uiobjects/Path/GetControlPoints.lua
Due: luacheck

uiobjects: give control points their own ordered list (#800)
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/Path/GetControlPoints.lua
  wowless/modules/api.lua
Due: luacheck, yamlfmt

uiobjects: give actors their own ordered list
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  wowless/modules/api.lua
Due: luacheck, yamlfmt

uiobjects: give actors their own ordered list (#802)
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  wowless/modules/api.lua
Due: luacheck, yamlfmt

uiobjects: move the children field from ParentedObjectBase to Frame
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/Frame/GetChildren.lua
  data/uiobjects/Frame/GetNumChildren.lua
  data/uiobjects/Frame/SetFrameLevel.lua
  wowless/modules/visibility.lua
Due: luacheck, yamlfmt

visibility: simplify DoUpdateVisible, no guards needed
  wowless/modules/visibility.lua
Due: luacheck

loader: don't parent Font objects created via inline XML declarations
  wowless/modules/loader.lua
Due: luacheck

uiobjects: move the children field from ParentedObjectBase to Frame (#805)
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/Frame/GetChildren.lua
  data/uiobjects/Frame/GetNumChildren.lua
  data/uiobjects/Frame/SetFrameLevel.lua
  wowless/modules/loader.lua
  wowless/modules/visibility.lua
Due: luacheck, yamlfmt

loader: intrinsics are not new uiobject types -- issue #655
  wowless/modules/api.lua
  wowless/modules/loader.lua
  wowless/modules/uiobjecttypes.lua
Due: luacheck

intrinsics: extract into its own module
  CMakeLists.txt
  data/modules.yaml
  wowless/modules/api.lua
  wowless/modules/intrinsics.lua
  wowless/modules/loader.lua
  wowless/modules/uiobjecttypes.lua
Due: luacheck, yamlfmt

loader: intrinsics are not new uiobject types (#655) (#658)
  CMakeLists.txt
  data/modules.yaml
  wowless/modules/api.lua
  wowless/modules/intrinsics.lua
  wowless/modules/loader.lua
  wowless/modules/uiobjecttypes.lua
Due: luacheck, yamlfmt

bump wowxptr to 12.0.7.68774
  data/products/wowxptr/build.yaml
Due: yamlfmt

bump wow_anniversary to 2.5.6.68775
  data/products/wow_anniversary/build.yaml
Due: yamlfmt

api: cache DoSetParent's child-field lookup per type
  wowless/modules/api.lua
Due: luacheck

api: precompute DoSetParent's child field for every type
  wowless/modules/api.lua
  wowless/modules/uiobjecttypes.lua
Due: luacheck

api: move DoSetParent's child field computation into uiobjectloader
  wowless/modules/api.lua
  wowless/modules/uiobjectloader.lua
  wowless/modules/uiobjecttypes.lua
Due: luacheck

bump wow_classic to 5.5.4.68806
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
Due: yamlfmt

schema: add hierarchy construct for self-referential domains
  data/schemas/luaobjects.yaml
  data/schemas/schematype.yaml
  data/schemas/uiobjects.yaml
  spec/data/luaobjects_spec.lua
  spec/data/schema_coverage_spec.lua
  spec/data/uiobjects_spec.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

schema: drop hierarchy's redundant explicit mapof wrapper
  data/schemas/luaobjects.yaml
  data/schemas/schematype.yaml
  data/schemas/uiobjects.yaml
  spec/data/schema_coverage_spec.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

schema: extract record's field-map shape into a named record schema
  CMakeLists.txt
  data/schemas/luaobjects.yaml
  data/schemas/record.yaml
  data/schemas/schematype.yaml
  data/schemas/uiobjects.yaml
  spec/data/schema_coverage_spec.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

schema: add hierarchy construct for self-referential domains (#810)
  CMakeLists.txt
  data/schemas/luaobjects.yaml
  data/schemas/record.yaml
  data/schemas/schematype.yaml
  data/schemas/uiobjects.yaml
  spec/data/luaobjects_spec.lua
  spec/data/schema_coverage_spec.lua
  spec/data/uiobjects_spec.lua
  wowapi/schema.lua
Due: luacheck, yamlfmt

uiobjects: declare DoSetParent's child field in the yaml, not code
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/uiobjects.yaml
  spec/data/uiobjects_spec.lua
  tools/prep.lua
  wowless/modules/api.lua
  wowless/modules/uiobjectloader.lua
  wowless/modules/uiobjecttypes.lua
Due: luacheck, yamlfmt

uiobjects_spec: drop redundant "children only used by frames" check
  spec/data/uiobjects_spec.lua
Due: luacheck

uiobjects: declare DoSetParent's child field in the yaml, not code (#812)
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/uiobjects.yaml
  spec/data/uiobjects_spec.lua
  tools/prep.lua
  wowless/modules/api.lua
  wowless/modules/uiobjectloader.lua
  wowless/modules/uiobjecttypes.lua
Due: luacheck, yamlfmt

start autodocs era
  CMakeLists.txt
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/luaobjects.yaml
  tools/autodocs.lua
Due: luacheck, yamlfmt

checkpoint
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/luaobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  tools/autodocs.lua
Due: luacheck, yamlfmt

checkpoint
  data/products/wow_classic_era/docs.yaml
  tools/autodocs.lua
Due: luacheck, yamlfmt

checkpoint
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/globals.yaml
  tools/autodocs.lua
Due: luacheck, yamlfmt

checkpoint
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/events.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era/luaobjects.yaml
  data/products/wow_classic_era/structures.yaml
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt

cvars
  data/products/wow_classic_era/cvars.yaml
Due: yamlfmt

tostring_metamethod
  data/products/wow_classic_era/config.yaml
Due: yamlfmt

checkpoint
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/config.yaml
  tools/errsv.lua
Due: luacheck, yamlfmt

checkpoint
  data/products/wow_classic_era/config.yaml
Due: yamlfmt
