Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: build/cmake/yamlfmt
  language: system

xml,xmleval: emit real LUA_WARNING for unrecognized XML
  addon/Wowless/test.xml
  wowless/modules/xml.lua
  wowless/modules/xmleval.lua
Due: luacheck

xml,xmleval: pass the normalized warning path in, don't recompute it
  wowless/modules/xml.lua
  wowless/modules/xmleval.lua
Due: luacheck

xmleval,init: queue anchor LUA_WARNINGs, don't fire them inline
  addon/Wowless/init.lua
  addon/Wowless/test.xml
  data/modules.yaml
  wowless/modules/xmleval.lua
Due: luacheck, yamlfmt

xmleval,xml: emit real LUA_WARNING for anchor resolution failures
  addon/Wowless/init.lua
  addon/Wowless/test.xml
  data/modules.yaml
  wowless/modules/xml.lua
  wowless/modules/xmleval.lua
Due: luacheck, yamlfmt

xml: call SendEvent directly for unrecognized-XML warnings
  data/modules.yaml
  spec/wowless/modules/xml_spec.lua
  wowless/modules/xml.lua
  wowless/modules/xmleval.lua
Due: luacheck, yamlfmt

xml: queue unrecognized-XML LUA_WARNINGs, don't fire them inline
  addon/Wowless/test.xml
  data/modules.yaml
  spec/wowless/modules/xml_spec.lua
  wowless/modules/xml.lua
Due: luacheck, yamlfmt

xml,xmleval: emit real LUA_WARNING for unrecognized XML
  addon/Wowless/test.xml
  data/modules.yaml
  spec/wowless/modules/xml_spec.lua
  wowless/modules/xml.lua
  wowless/modules/xmleval.lua
Due: luacheck, yamlfmt

runner: synthesize WorldFrame under implicitgodframes, like UIParent
  wowless/runner.lua
Due: luacheck

data: add ColorAlphaTexture/ColorAlphaThumbTexture XML tags
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
Due: yamlfmt

data,xmleval,gentest: recognize ForbiddenAspects/ForbiddenAspect
  data/products/wowt/xml.yaml
  tools/gentest.lua
  wowless/modules/xmleval.lua
Due: luacheck, yamlfmt

data: add ArchaeologyDigSiteFrame XML tag across the classic family
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
Due: yamlfmt

data: don't invent ArchaeologyDigSiteFrame where it doesn't exist
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
Due: yamlfmt

data: properly model ArchaeologyDigSiteFrame for the era/anniversary family
  data/products/wow_anniversary/docs.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
Due: yamlfmt

data: alias ArchaeologyDigSiteFrame's tag to Frame where it isn't real
  data/products/wow_anniversary/docs.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
Due: yamlfmt

data: alias ArchaeologyDigSiteFrame's tag to Frame where it isn't real
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
Due: yamlfmt

xml,test: emit and expect the AnimationGroup.looping nonsense LUA_WARNING
  addon/Wowless/test.xml
  wowless/modules/xml.lua
Due: luacheck

bump wow_classic_era to 1.15.9.69109
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

bump wow_anniversary to 2.5.6.69110
  data/products/wow_anniversary/build.yaml
Due: yamlfmt

bump wowt to 12.1.0.69111
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/enums.yaml
  data/products/wowt/luaobjects.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

bump wow_classic to 5.5.4.69155
  data/products/wow_classic/build.yaml
Due: yamlfmt

xml,gentest: report invalid-value warnings at the last region's line
  tools/gentest.lua
  wowless/modules/xml.lua
Due: luacheck

xml,xmleval,data: drive nonsense-value LUA_WARNINGs from a schema flag
  CMakeLists.txt
  addon/Wowless/init.lua
  addon/Wowless/test.xml
  cmake/preprocess_line.cmake
  tools/gentest.lua
  wowless/modules/xml.lua
  wowless/modules/xmleval.lua
Due: luacheck

xml,gentest,data: drive nonsense-value LUA_WARNINGs from a schema flag
  addon/Wowless/test.xml
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  tools/gentest.lua
  tools/prep.lua
  wowless/modules/xml.lua
Due: luacheck, yamlfmt

xml,gentest,data: drive nonsense-value LUA_WARNINGs from a schema flag
  CMakeLists.txt
  addon/Wowless/init.lua
  addon/Wowless/test.xml
  cmake/preprocess_line.cmake
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  tools/gentest.lua
  tools/prep.lua
  wowless/modules/xml.lua
  wowless/modules/xmleval.lua
Due: luacheck, yamlfmt

data,gentest: drop retail's stale OnTooltip* script tags, verify per-product
  CMakeLists.txt
  data/products/wow/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  tools/generatexmltest.lua
  tools/gentest.lua
Due: luacheck, yamlfmt

data,gentest: make scripttypes per-product like every other domain
  CMakeLists.txt
  data/datafiles.yaml
  data/products/wow/scripttypes.yaml
  data/products/wow_anniversary/scripttypes.yaml
  data/products/wow_classic/scripttypes.yaml
  data/products/wow_classic_era/scripttypes.yaml
  data/products/wow_classic_era_ptr/scripttypes.yaml
  data/products/wow_classic_ptr/scripttypes.yaml
  data/products/wowt/scripttypes.yaml
  data/products/wowxptr/scripttypes.yaml
  spec/data/scripttypes_spec.lua
  spec/data/xml_spec.lua
  tools/generatexmltest.lua
  tools/gentest.lua
Due: luacheck, yamlfmt

data,gentest: make scripttypes per-product, drop retail's stale OnTooltip* tags
  CMakeLists.txt
  data/datafiles.yaml
  data/products/wow/scripttypes.yaml
  data/products/wow/xml.yaml
  data/products/wow_anniversary/scripttypes.yaml
  data/products/wow_classic/scripttypes.yaml
  data/products/wow_classic_era/scripttypes.yaml
  data/products/wow_classic_era_ptr/scripttypes.yaml
  data/products/wow_classic_ptr/scripttypes.yaml
  data/products/wowt/scripttypes.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/scripttypes.yaml
  data/products/wowxptr/xml.yaml
  spec/data/scripttypes_spec.lua
  spec/data/xml_spec.lua
  tools/generatexmltest.lua
  tools/gentest.lua
Due: luacheck, yamlfmt

addon: enforce lua warnings, fixes #521
  addon/Wowless/test.lua
Due: luacheck

bump wowt to 12.1.0.69189
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/events.yaml
  wowless/toc.lua
Due: luacheck, yamlfmt

xmleval,generatexmltest: only prefix "Frame " on Unknown script element for Frame-derived types
  tools/generatexmltest.lua
  wowless/modules/xmleval.lua
Due: luacheck

xmleval,generatexmltest: add runtime.bareScriptWarning config bit for wowt
  data/products/wowt/config.yaml
  data/schemas/config.yaml
  tools/generatexmltest.lua
  wowless/modules/xmleval.lua
Due: luacheck, yamlfmt

xmleval,generatexmltest: only prefix "Frame " on Unknown script element for non-Frame types (#868)
  data/products/wowt/config.yaml
  data/schemas/config.yaml
  tools/generatexmltest.lua
  wowless/modules/xmleval.lua
Due: luacheck, yamlfmt

config: warn on CreateFrame('VectorGraphics') on wowt
  data/products/wowt/config.yaml
Due: yamlfmt

config: warn on CreateFrame('VectorGraphics') on wowt (#869)
  data/products/wowt/config.yaml
Due: yamlfmt

test: probe VectorGraphics as a Layer child XML tag
  addon/Wowless/test.xml
Due: none

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
