Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

prep: extend C stubs to APIs with unknown inputs
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

prep: extend C stubs to APIs with instride inputs
  tools/prep.lua
Due: luacheck

prep: extend C stubs to APIs with unknown outputs
  tools/prep.lua
Due: luacheck

prep: use pcall dispatch on coutdefaults for C stub output eligibility
  tools/prep.lua
Due: luacheck

globals: add meta tests for MinValue, MaxValue, and NumValues
  data/products/wow/globals.yaml
  data/products/wow_anniversary/globals.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wowt/globals.yaml
  data/products/wowxptr/globals.yaml
  spec/data/globals_spec.lua
Due: luacheck, yamlfmt

globals: add NumValues meta test and fix enum data to match
  data/products/wow/globals.yaml
  data/products/wow_anniversary/globals.yaml
  data/products/wow_beta/globals.yaml
  data/products/wow_classic/globals.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_era/globals.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wowt/globals.yaml
  data/products/wowxptr/globals.yaml
  spec/data/globals_spec.lua
Due: luacheck, yamlfmt

globals: add MinValue meta test and fix BattlepayProductGroupFlags
  data/products/wow/globals.yaml
  data/products/wow_beta/globals.yaml
  data/products/wowt/globals.yaml
  data/products/wowxptr/globals.yaml
  spec/data/globals_spec.lua
Due: luacheck, yamlfmt

Revert "strike now-unneeded deps on linux builds (#516)"
  .devcontainer/Dockerfile
  .github/workflows/test.yml
Due: none

globals: add MaxValue meta test and fix VasError
  data/products/wow_classic_beta/globals.yaml
  spec/data/globals_spec.lua
Due: luacheck, yamlfmt

prep: support enum inputs in C stub generation
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

prep: support nil type outputs in C stub generation
  tools/prep.lua
Due: luacheck

prep: use lua_pushlstring for string outputs in C stub generation
  tools/prep.lua
Due: luacheck

prep: support arrayof type outputs in C stub generation
  tools/prep.lua
Due: luacheck

prep: support table inputs and outputs in C stub generation
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

Revert "prep: support table inputs and outputs in C stub generation"
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

prep: refactor table output to share more code
  tools/prep.lua
Due: luacheck

prep: support structure type outputs in C stub generation
  tools/prep.lua
Due: luacheck

prep: support structure type outputs in C stub generation (#530)
  tools/prep.lua
Due: luacheck

prep: support mixin structures in C stub outputs
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

prep: support oneornil as a C stub output type
  tools/prep.lua
Due: luacheck

bump wow and wow_beta to 12.0.1.66017
  data/products/wow/apis.yaml
  data/products/wow/build.yaml
  data/products/wow/docs.yaml
  data/products/wow_beta/apis.yaml
  data/products/wow_beta/build.yaml
  data/products/wow_beta/docs.yaml
  data/products/wow_beta/events.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

bump wow_classic and wow_classic_ptr to 5.5.3.65988
  data/products/wow_classic/build.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/cvars.yaml
Due: yamlfmt

bump wow_classic_era to 1.15.8.65989
  data/products/wow_classic_era/build.yaml
Due: yamlfmt

CLAUDE.md: add claude label instruction for PRs
  CLAUDE.md
Due: none

prep: factor struct input checks into per-struct helper functions
  tools/prep.lua
Due: luacheck

prep: use dispatch for cinputemitters instead of emit_input_check
  tools/prep.lua
Due: luacheck

prep: use cinputtypes dispatch at struct emit sites instead of cinputemitters
  tools/prep.lua
Due: luacheck

prep: unify struct check naming under stubcheck prefix to eliminate emit branches
  tools/prep.lua
Due: luacheck

prep: normalize idx with lua_absindex in struct helpers, use -1 for field checks
  tools/prep.lua
Due: luacheck

prep: inline emit_struct_helper since it is only called once
  tools/prep.lua
Due: luacheck

prep: fold collect_struct into cinputtypes.structure handler
  tools/prep.lua
Due: luacheck

bump wow to 12.0.1.66044
  data/products/wow/build.yaml
Due: yamlfmt

prep: add arrayof support for C stub input typechecking -- issue #523
  tools/prep.lua
Due: luacheck

prep: add uiAddon support for C stub input typechecking -- issue #523
  tools/prep.lua
Due: luacheck

prep: add function support for C stub input typechecking -- #523
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

prep: emit xmlimpls into data.lua, use in loader #532
  tools/prep.lua
  wowless/modules/loader.lua
Due: luacheck

luaobjects: replace newproxy with C userdata for type-safe luaobjects #523
  CMakeLists.txt
  tools/prep.lua
  wowless/luaobject.c
  wowless/modules/luaobjects.lua
  wowless/typecheck.h
Due: luacheck

prep: emit xmlflat into data.lua; xml: use datalua.xmlflat #532
  tools/prep.lua
  wowless/xml.lua
Due: luacheck
