Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, luacheck, addon-chmod

yamlfmt:
  name: wowless yamlfmt
  entry: lua tools/yamlfmt.lua
  language: system

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

loader: case-insensitive AllowLoad check
  wowless/loader.lua
Due: luacheck

checkpoint: C_AddOns impls
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

checkpoint: stub out auto quest popups
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

override GetNetStats docs
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/docs.yaml
  data/schemas/docs.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

docs: skip_apis support
  data/schemas/docs.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

skip guild cmds that error without a msg
  data/products/wow_classic_beta/config.yaml
Due: yamlfmt

checkpoint: arch stubs
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

checkpoint: auctionui stubs
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

skip TRADE_SKILL_SHOW
  data/products/wow_classic_beta/config.yaml
Due: yamlfmt

addons: remove AdiBags for now, inf loop via BtWLoadouts dep
  tools/addons.yaml
Due: none

hooked globals, mkninja fix
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/config.yaml
  tools/mkninja.lua
Due: yamlfmt, luacheck

mkninja: add missing gentest dep
  tools/mkninja.lua
Due: luacheck

loader: check for wow_beta agent too
  wowless/loader.lua
Due: luacheck

introduce wow_classic_beta 4.4.0.53750 (#323)
  CMakeLists.txt
  bin/install-addons.sh
  data/flavors.yaml
  data/products.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/config.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/structures.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_beta/xml.yaml
  tools/mkninja.lua
Due: yamlfmt, luacheck

introduce stride
  data/products/wow/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/schemas/apis.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

remove instride for now
  data/schemas/apis.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

remove GetNetStats from denylist, broken
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/docs.yaml
Due: yamlfmt

assert sane outstride values
  spec/data/apis_spec.lua
Due: luacheck

introduce stuboutstrides
  data/products/wow_classic_beta/apis.yaml
  data/schemas/apis.yaml
  spec/data/apis_spec.lua
Due: yamlfmt, luacheck

introduce stride (#324)
  data/products/wow/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/schemas/apis.yaml
  spec/data/apis_spec.lua
  tools/docs.lua
Due: yamlfmt, luacheck

prep: support outstride
  tools/prep.lua
Due: luacheck

docs runs clean again
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

docs: propagate api stuboutstrides
  tools/docs.lua
Due: luacheck

fix beta GetNetStats stuboutstrides
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

typecheck: treat boolean like lua_toboolean
  wowless/typecheck.lua
Due: luacheck

config allowlist
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/docs.yaml
  tools/docs.lua
Due: yamlfmt, luacheck

docs: sanity check uiobject_methods config
  spec/data/docs_spec.lua
  tools/mkninja.lua
Due: luacheck

docs: start processing script objects (#325)
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
  data/schemas/docs.yaml
  spec/data/docs_spec.lua
  tools/docs.lua
  tools/mkninja.lua
Due: yamlfmt, luacheck

+SimpleButtonStateToken stringenum
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
  data/stringenums.yaml
  data/uiobjects/Button/SetButtonState.lua
Due: yamlfmt, luacheck

i/o spec on Button:Set*Atlas
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

i/o spec on Animation:GetRegionParent
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

i/o spec on AnimationGroup:CreateAnimation
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/docs.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

docs: ScriptObject is UIObject, not a structure
  data/products/wow/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowt/docs.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

uiobject method outstride in schema
  data/schemas/uiobjects.yaml
  spec/data/uiobjects_spec.lua
  tools/docs.lua
Due: yamlfmt, luacheck

api loader: assert exact number of impl returns
  data/impl/GetSpecializationInfoForClassID.lua
  data/impl/SecureCmdOptionParse.lua
  data/impl/UnitName.lua
  wowapi/loader.lua
  wowless/loader.lua
Due: luacheck

remove unused protection bit on apis
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
  data/schemas/apis.yaml
Due: yamlfmt

point IsEventValid at events module
  data/impl.yaml
  data/impl/C_EventUtils.IsEventValid.lua
Due: yamlfmt, luacheck

start explicit deps json
  testdeps.json
Due: none

pre-commit pretty-format-json
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/c_cpp_properties.json
  .vscode/settings.json
Due: none

pre-commit pretty-format-json (#326)
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/c_cpp_properties.json
  .vscode/settings.json
Due: none

Path conditions:
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
