Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: build/cmake/yamlfmt
  language: system

gentest: extend template tests to all field-implemented xml attributes
  tools/gentest.lua
Due: luacheck

xml: separate substitution-group membership from type inheritance in containment
  CMakeLists.txt
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  spec/wowless/xml_spec.lua
  tools/gentest.lua
  tools/prep.lua
Due: luacheck, yamlfmt

xml: move containment regression spec to spec/wowless/modules
  CMakeLists.txt
  spec/wowless/modules/xml_spec.lua
Due: luacheck

xml: separate substitution-group membership from type inheritance in containment (#779)
  CMakeLists.txt
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  spec/wowless/modules/xml_spec.lua
  tools/gentest.lua
  tools/prep.lua
Due: luacheck, yamlfmt

bump wowt to 12.1.0.68675
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/events.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

gentest: derive template-test XML placement from the containment graph
  tools/gentest.lua
Due: luacheck

xml: type slider.orientation, animation.smoothing, animationgroup.looping, frame.framestrata as stringenum
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  tools/gentest.lua
Due: luacheck, yamlfmt

gentest: extract XML containment placement logic into tools/xmlcontainment.lua
  CMakeLists.txt
  spec/tools/xmlcontainment_spec.lua
  tools/gentest.lua
  tools/xmlcontainment.lua
Due: luacheck

gentest: narrow tools/xmlcontainment.lua to just the containment computation
  spec/tools/xmlcontainment_spec.lua
  tools/gentest.lua
  tools/xmlcontainment.lua
Due: luacheck

xml: revert animation.smoothing and frame.framestrata back to string
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
Due: yamlfmt

xml: type slider.orientation and animationgroup.looping as stringenum (#777)
  CMakeLists.txt
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  spec/tools/xmlcontainment_spec.lua
  tools/gentest.lua
  tools/xmlcontainment.lua
Due: luacheck, yamlfmt

xml_spec: assert field-impl attribute types match uiobject field types
  spec/data/xml_spec.lua
Due: luacheck

xml_spec: assert field-impl attribute types match uiobject field types (#785)
  spec/data/xml_spec.lua
Due: luacheck

xml_spec: assert the framestrata/smoothing type exceptions are still mismatched
  spec/data/xml_spec.lua
Due: luacheck

xml_spec: assert the framestrata/smoothing exceptions are still mismatched (#786)
  spec/data/xml_spec.lua
Due: luacheck

xml: model Animation.smoothing's OUT_IN as an alias for IN_OUT
  data/products/wow/stringenums.yaml
  data/products/wow/xml.yaml
  data/products/wow_anniversary/stringenums.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/stringenums.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/stringenums.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/stringenums.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/stringenums.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/stringenums.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/stringenums.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/stringenums.yaml
  spec/data/stringenums_spec.lua
  tools/gentest.lua
  tools/prep.lua
  wowless/modules/xml.lua
  wowless/typecheck.h
Due: luacheck, yamlfmt

uiobjects: model Frame.frameStrata PARENT/BLIZZARD real-client behavior
  addon/Wowless/test.xml
  addon/Wowless/uiobjects.lua
  data/products/wow/uiobjects.yaml
  data/products/wow/xml.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/uiobjects.yaml
  data/products/wowxptr/xml.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/Frame/SetFrameStrata.lua
  spec/data/xml_spec.lua
Due: luacheck, yamlfmt

xml_spec: drop the smoothing type-mismatch exception
  spec/data/xml_spec.lua
Due: luacheck

uiobjects: fix PARENT resolution to be XML-only, per real-client confirmation
  addon/Wowless/test.xml
  addon/Wowless/uiobjects.lua
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/uiobjects/Frame/SetFrameStrata.lua
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

config: add cvar_platforms to mark platform-specific cvars
  addon/Wowless/generated.lua
  data/products/wow/config.yaml
  data/products/wow_anniversary/config.yaml
  data/products/wow_classic/config.yaml
  data/products/wow_classic_era/config.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_ptr/config.yaml
  data/products/wowt/config.yaml
  data/products/wowxptr/config.yaml
  data/schemas/config.yaml
Due: luacheck, yamlfmt

points: format anchor error pointers per Windows client convention
  addon/Wowless/uiobjects.lua
  data/modules.yaml
  wowless/modules/points.lua
Due: luacheck, yamlfmt

cvars: store yaml values as records with a value field
  addon/Wowless/generated.lua
  data/products/wow/cvars.yaml
  data/products/wow_anniversary/cvars.yaml
  data/products/wow_classic/cvars.yaml
  data/products/wow_classic_era/cvars.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wowt/cvars.yaml
  data/products/wowxptr/cvars.yaml
  data/schemas/cvars.yaml
  tools/errsv.lua
  tools/prep.lua
Due: luacheck, yamlfmt

uiobjects: remove PARENT from FrameStrata, per real-client confirmation
  addon/Wowless/test.xml
  addon/Wowless/uiobjects.lua
  data/products/wow/stringenums.yaml
  data/products/wow/xml.yaml
  data/products/wow_anniversary/stringenums.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/stringenums.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/stringenums.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/stringenums.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/stringenums.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/stringenums.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/stringenums.yaml
  data/products/wowxptr/xml.yaml
  data/uiobjects/Frame/SetFrameStrata.lua
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

uiobjects: model Frame.frameStrata as parent-inherited, per real-client confirmation
  addon/Wowless/test.xml
  addon/Wowless/uiobjects.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/Frame/SetFrameStrata.lua
  wowless/modules/api.lua
Due: luacheck, yamlfmt

bump wowt to 12.1.0.68745
  data/products/wowt/build.yaml
Due: yamlfmt

bump wow_classic to 5.5.4.68716
  data/products/wow_classic/apis.yaml
  data/products/wow_classic/build.yaml
Due: yamlfmt

bump wow_anniversary to 2.5.6.68749
  data/products/wow_anniversary/build.yaml
  data/products/wow_anniversary/cvars.yaml
Due: yamlfmt

uiobjects: add test distinguishing shared vs separate frame/region child lists
  addon/Wowless/uiobjects.lua
Due: luacheck

uiobjects: simplify SetFrameStrata's valid-member check
  data/uiobjects/Frame/SetFrameStrata.lua
Due: luacheck

uiobjects: label children/regions test objects for readable failures
  addon/Wowless/uiobjects.lua
Due: luacheck

uiobjects: derive FrameStrata validity from stringenum data, add WORLD
  addon/Wowless/test.lua
  addon/Wowless/uiobjects.lua
  data/products/wow/stringenums.yaml
  data/products/wow_anniversary/stringenums.yaml
  data/products/wow_classic/stringenums.yaml
  data/products/wow_classic_era/stringenums.yaml
  data/products/wow_classic_era_ptr/stringenums.yaml
  data/products/wow_classic_ptr/stringenums.yaml
  data/products/wowt/stringenums.yaml
  data/products/wowxptr/stringenums.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/Frame/SetFrameStrata.lua
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

uiobjects: split frame children and regions into separate ordered lists
  addon/Wowless/test.lua
  addon/Wowless/uiobjects.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/Frame/GetChildren.lua
  data/uiobjects/Frame/GetNumChildren.lua
  data/uiobjects/Frame/GetNumRegions.lua
  data/uiobjects/Frame/GetRegions.lua
  data/uiobjects/Frame/SetFrameLevel.lua
  wowless/modules/api.lua
  wowless/modules/visibility.lua
  wowless/render.lua
Due: luacheck, yamlfmt

visibility: fire region OnShow/OnHide before frame children, recursively
  addon/Wowless/test.lua
  wowless/modules/visibility.lua
Due: luacheck

test: describe OnShow ordering test without naming an internal function
  addon/Wowless/test.lua
Due: luacheck

uiobjects: give animation groups their own ordered list
  addon/Wowless/uiobjects.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/Frame/GetChildren.lua
  data/uiobjects/Frame/GetNumChildren.lua
  data/uiobjects/Frame/SetFrameLevel.lua
  data/uiobjects/Region/CreateAnimationGroup.lua
  wowless/modules/api.lua
Due: luacheck, yamlfmt

uiobjects: split frame children, regions, and animation groups into separate ordered lists (#793)
  addon/Wowless/test.lua
  addon/Wowless/uiobjects.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/Frame/GetNumRegions.lua
  data/uiobjects/Frame/GetRegions.lua
  data/uiobjects/Region/CreateAnimationGroup.lua
  wowless/modules/api.lua
  wowless/modules/visibility.lua
  wowless/render.lua
Due: luacheck, yamlfmt

uiobjects: move the regions field from ParentedObjectBase to Frame
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  wowless/modules/visibility.lua
Due: luacheck, yamlfmt

uiobjects: move the regions field from ParentedObjectBase to Frame (#796)
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  wowless/modules/visibility.lua
Due: luacheck, yamlfmt

uiobjects: give animations and control points their own ordered lists
  addon/Wowless/uiobjects.lua
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
  data/uiobjects/AnimationGroup/GetAnimations.lua
  data/uiobjects/Path/GetControlPoints.lua
  wowless/modules/api.lua
Due: luacheck, yamlfmt

uiobjects: fix real-client mismatches found in the animation/control point tests
  addon/Wowless/uiobjects.lua
  data/uiobjects/Path/CreateControlPoint.lua
  wowless/modules/api.lua
Due: luacheck

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
