Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

introduce unsupported api concept
  addon/Wowless/generated.lua
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/schemas/function.yaml
  spec/data/apis_spec.lua
  tools/gentest.lua
  tools/prep.lua
Due: luacheck, yamlfmt

mark unsupported talent APIs in mop
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
Due: yamlfmt

events: replace funcheck-based echecks with prep-generated C
  data/modules.yaml
  tools/prep.lua
  wowless/modules/events.lua
Due: luacheck, yamlfmt

prep: drop is_impl_eligible filter
  tools/prep.lua
Due: luacheck

events: replace funcheck-based echecks with prep-generated C (#689)
  data/modules.yaml
  tools/prep.lua
  wowless/modules/events.lua
Due: luacheck, yamlfmt

prep: drop specDefault and any supporting code
  tools/prep.lua
  wowless/runner.lua
Due: luacheck

prep: drop specDefault and any supporting code (#690)
  tools/prep.lua
  wowless/runner.lua
Due: luacheck

luaL_error does not support %q
  wowless/typecheck.h
Due: none

drop broken allevents flag
  wowless.lua
  wowless/runner.lua
Due: luacheck

prep: slightly refactor event handling
  tools/prep.lua
Due: luacheck

prep: nullary is a flag
  tools/prep.lua
Due: luacheck

prep: fix event checks to properly have access to cgencode
  tools/prep.lua
  wowless/modules/events.lua
  wowless/runner.lua
  wowless/stubs.cpp
  wowless/stubs.h
Due: luacheck

prep: simplify api eligible table population
  tools/prep.lua
Due: luacheck

prep: remove redundant dispatch
  tools/prep.lua
Due: luacheck

prep: move api processing into one loop
  tools/prep.lua
Due: luacheck

bump wow_classic to 5.5.4.68016
  data/products/wow_classic/build.yaml
Due: yamlfmt

prep: simplify uiobjectimpl none
  tools/prep.lua
Due: luacheck

prep: dispatchify uiobject method c output
  tools/prep.lua
Due: luacheck

prep: clean up securenly specs
  tools/prep.lua
Due: luacheck

prep: load uiobject cstub host impls from C
  tools/prep.lua
  wowless/modules/uiobjectloader.lua
  wowless/stubs.cpp
  wowless/stubs.h
Due: luacheck

prep: load uiobject cstub host impls from C (#691)
  tools/prep.lua
  wowless/modules/uiobjectloader.lua
  wowless/stubs.cpp
  wowless/stubs.h
Due: luacheck

bump wow_classic to 5.5.4.68042
  data/products/wow_classic/build.yaml
Due: yamlfmt

uiobjectloader: light cleanup
  wowless/modules/uiobjectloader.lua
Due: luacheck

stubs: factor load_impl_data from load_entry, use in uiobject method stubs
  data/modules.yaml
  wowless/modules/uiobjectloader.lua
  wowless/stubs.cpp
Due: luacheck, yamlfmt

stubs: factor load_impl_data from load_entry, use in uiobject method stubs (#692)
  data/modules.yaml
  wowless/modules/uiobjectloader.lua
  wowless/stubs.cpp
Due: luacheck, yamlfmt

uiobjectloader: convert uiobjectimpl lua methods to C impl stubs
  tools/prep.lua
  wowless/stubs.cpp
  wowless/stubs.h
Due: luacheck

wow_classic_era: accept unknown type for SetTexture wrap mode args
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt

uiobjectloader: convert uiobjectimpl lua methods to C impl stubs (#684)
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  tools/prep.lua
  wowless/stubs.cpp
  wowless/stubs.h
Due: luacheck, yamlfmt

prep: support permissive bit in C input type checks
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  tools/prep.lua
Due: luacheck, yamlfmt

prep: support permissive bit in C input type checks (#693)
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  tools/prep.lua
Due: luacheck, yamlfmt

prep: migrate settexture uiobjectimpl to cstub
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

uiobjectloader: remove non-cstub method path
  data/modules.yaml
  wowless/modules/uiobjectloader.lua
Due: luacheck, yamlfmt

funcheck: remove dead module
  CMakeLists.txt
  data/modules.yaml
  spec/wowless/modules/funcheck_spec.lua
  wowless/modules/funcheck.lua
Due: luacheck, yamlfmt

gencode: trim unused functionality
  data/modules.yaml
  wowless/modules/gencode.lua
Due: luacheck, yamlfmt

prep: remove uiobject non-cstub path
  tools/prep.lua
Due: luacheck

xml fontstring default points
  addon/Wowless/test.xml
  wowless/modules/loader.lua
Due: luacheck

prep: respect manualinputs flag
  tools/prep.lua
Due: luacheck

prep: uiobject method input default hack
  tools/prep.lua
Due: luacheck

cmake: set hidden visibility preset for all targets
  CMakeLists.txt
Due: none

cmake: set hidden visibility preset for all targets (#694)
  CMakeLists.txt
Due: none
