Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: build/cmake/yamlfmt
  language: system

debug: use elune debugstack, remove wowless.debug
  CMakeLists.txt
  data/impl.yaml
  elune/liblua/ldblib.c
  wowless/debug.c
  wowless/env.lua
  wowless/modules/errors.lua
  wowless/modules/uiobjects.lua
Due: luacheck, yamlfmt

wow_classic_beta: stub C_Bank.FetchPurchasedBankTabData as empty
  data/products/wow_classic_beta/apis.yaml
Due: yamlfmt

data: add C_AccountServices apis
  data/products/wow/apis.yaml
  data/products/wow_anniversary/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
  data/products/wowxptr/apis.yaml
Due: yamlfmt

loader: load non-framexml addons in case-insensitive name order
  CMakeLists.txt
  addon/Wowless/test.lua
  addon/WowlessLoadOrderA/WowlessLoadOrderA.lua
  addon/WowlessLoadOrderC/WowlessLoadOrderC.lua
  addon/WowlessLoadOrderb/WowlessLoadOrderb.lua
  tools/gentoc.lua
  wowless/modules/loader.lua
Due: luacheck

bump wow_classic_beta to 1.60.1.70291
  data/impl.yaml
  data/impl/import.lua
  data/products/wow_classic_beta/apis.yaml
  data/products/wow_classic_beta/build.yaml
  data/products/wow_classic_beta/cvars.yaml
  data/products/wow_classic_beta/docs.yaml
  data/products/wow_classic_beta/enums.yaml
  data/products/wow_classic_beta/events.yaml
  data/products/wow_classic_beta/globals.yaml
  data/products/wow_classic_beta/structures.yaml
Due: luacheck, yamlfmt

data: replace excludedgametypes with boolean-valued gametypes
  CMakeLists.txt
  data/datafiles.yaml
  data/products/wow/excludedgametypes.yaml
  data/products/wow/gametypes.yaml
  data/products/wow_anniversary/excludedgametypes.yaml
  data/products/wow_anniversary/gametypes.yaml
  data/products/wow_classic/excludedgametypes.yaml
  data/products/wow_classic/gametypes.yaml
  data/products/wow_classic_beta/excludedgametypes.yaml
  data/products/wow_classic_beta/gametypes.yaml
  data/products/wow_classic_era/excludedgametypes.yaml
  data/products/wow_classic_era/gametypes.yaml
  data/products/wow_classic_era_ptr/excludedgametypes.yaml
  data/products/wow_classic_era_ptr/gametypes.yaml
  data/products/wow_classic_ptr/excludedgametypes.yaml
  data/products/wow_classic_ptr/gametypes.yaml
  data/products/wowt/excludedgametypes.yaml
  data/products/wowt/gametypes.yaml
  data/products/wowxptr/excludedgametypes.yaml
  data/products/wowxptr/gametypes.yaml
  data/schemas/excludedgametypes.yaml
  data/schemas/gametypes.yaml
  spec/data/yaml_spec.lua
  spec/wowless/toc_spec.lua
  tools/errsv.lua
  tools/fetch.lua
  tools/gentest.lua
  tools/gentoc.lua
  tools/prep.lua
  wowless/modules/loader.lua
  wowless/toc.lua
Due: luacheck, yamlfmt

gentest: assert bcc and wowlabs are unknown gametypes everywhere
  tools/gentest.lua
  tools/gentoc.lua
Due: luacheck

toc: prefer dash over underscore toc suffixes
  CMakeLists.txt
  addon/Wowless/test.lua
  tools/gentoc.lua
  wowless/toc.lua
Due: luacheck

toc: use the gametype alias as a toc suffix
  CMakeLists.txt
  addon/Wowless/test.lua
  spec/wowless/toc_spec.lua
  tools/gentoc.lua
  wowless/toc.lua
Due: luacheck

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
