Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, addon-chmod

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '2.6.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.17.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.13
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.11.0
  hooks:
  - id: markdownlint
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.8.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: local
  hooks:
  - id: yamlfmt
    name: wowless yamlfmt
    entry: env/bin/lua tools/yamlfmt.lua
    language: system
    types: [yaml]
    files: ^data/
  - id: luacheck
    name: luacheck
    entry: env/bin/luacheck
    language: system
    types: [lua]
  - id: addon-chmod
    name: addon execute bits
    entry: chmod 755
    language: system
    files: ^addon/
  - id: local-test
    name: build and test
    entry: sh -c "env/bin/lua tools/mkninja.lua && ninja"
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

Revert "install our own expat"
  CMakeLists.txt
  tools/mkninja.lua
Due: none

build our own expat, again
  CMakeLists.txt
  tools/mkninja.lua
Due: none

build our own expat, again (#245)
  CMakeLists.txt
  tools/mkninja.lua
Due: none

bake runtime C modules in directly
  .vscode/c_cpp_properties.json
  CMakeLists.txt
  bin/run.sh
  main.c
  tools/mkninja.lua
Due: none

use system zlib
  CMakeLists.txt
Due: none

add -ffast-math to link options instead
  CMakeLists.txt
Due: none

use system yaml for now
  CMakeLists.txt
Due: none

run tests first, verbosely
  .github/workflows/test.yml
Due: none

pre-commit verbose ninja
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

disable nan tests
  addon/Wowless/test.lua
Due: addon-chmod

bake runtime C modules in directly (#246)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .vscode/c_cpp_properties.json
  CMakeLists.txt
  addon/Wowless/test.lua
  bin/run.sh
  main.c
  tools/mkninja.lua
Due: addon-chmod

remove nan tests completely, #crtfastmath
  addon/Wowless/test.lua
Due: addon-chmod

rename build.cmake.ext back to wowless.ext
  data/impl/debugstack.lua
  main.c
  wowless/api.lua
  wowless/ext.c
Due: none

mkninja: mkninja uses console pool
  tools/mkninja.lua
Due: none

cmake: remove unnecessary variable sets
  CMakeLists.txt
Due: none

add emscripten to devcontainer
  .devcontainer/devcontainer.json
Due: none

cmake: no readline, add summary
  CMakeLists.txt
Due: none

local libyaml and zlib
  CMakeLists.txt
Due: none

cmake: include fixes for zlib
  CMakeLists.txt
Due: none

add wowless.js target
  CMakeLists.txt
  tools/mkninja.lua
Due: none

add wowless.js target (#247)
  CMakeLists.txt
  tools/mkninja.lua
Due: none

bump wow/wowt to 10.1.0.49474
  data/products/wow/build.yaml
  data/products/wow/structures.yaml
  data/products/wowt/build.yaml
  data/products/wowt/structures.yaml
Due: yamlfmt

more types
  tools/docs.lua
Due: none

docs: types from script objects
  tools/docs.lua
Due: none

fetch: grab xsd files
  tools/fetch.lua
Due: none

FramePoint is a type
  data/products/wow/structures.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wowt/structures.yaml
  data/schemas/type.yaml
  tools/docs.lua
  tools/prep.lua
Due: yamlfmt

bump wow_classic_ptr to 3.4.2.49563
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/globals.yaml
Due: yamlfmt

Cooldown:GetCooldownTimes
  data/products/wow/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

bump wow_classic_era_ptr to 10.1.5.49516
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/config.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/events.yaml
  data/products/wow_classic_era_ptr/globals.yaml
  data/products/wow_classic_era_ptr/structures.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
Due: yamlfmt

fixup 10.1.5 GetAddOnMetadata
  data/products/wow_classic_era_ptr/apis.yaml
Due: yamlfmt

introduce typecheck
  spec/wowless/typecheck_spec.lua
  tools/mkninja.lua
  wowapi/loader.lua
  wowless/typecheck.lua
Due: none

typecheck: recursive on arrays
  spec/wowless/typecheck_spec.lua
  wowless/typecheck.lua
Due: none

api loader: use typecheck for output checking
  wowapi/loader.lua
  wowless/typecheck.lua
Due: none

IsAddOnLoaded returns two values
  data/products/wow/apis.yaml
  data/products/wow_classic/apis.yaml
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
Due: yamlfmt

add a few more missing output parameters
  data/products/wow/apis.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_ptr/apis.yaml
  data/products/wowt/apis.yaml
Due: yamlfmt

api loader: error on too many outputs
  wowapi/loader.lua
Due: none

typecheck structures
  data/impl/C_Console.GetAllCommands.lua
  data/impl/C_ScriptedAnimations.GetAllScriptedAnimationEffects.lua
  data/impl/C_XMLUtil.GetTemplateInfo.lua
  spec/wowless/typecheck_spec.lua
  tools/prep.lua
  wowless/typecheck.lua
Due: none

typecheck: framepoint values
  spec/wowless/typecheck_spec.lua
  wowless/typecheck.lua
Due: none

uiobjects: start using typecheck
  wowapi/uiobjects.lua
  wowless/typecheck.lua
Due: none

typecheck: assert fonts are fontinstances
  wowless/typecheck.lua
Due: none
