Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, addon-chmod, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

addon-chmod:
  name: addon execute bits
  entry: chmod 755
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: sh -c 'ninja build/cmake/yamlfmt && build/cmake/yamlfmt "$@"' --
  language: system

migrate runtests invocation to cmake (#459)
  CMakeLists.txt
  tools/mkninja.lua
  tools/runtests.lua
Due: luacheck

mkninja: stop tracking schemadbs
  tools/mkninja.lua
Due: luacheck

migrate wowless invocation to cmake
  .vscode/tasks.json
  CMakeLists.txt
  tools/mkninja.lua
  wowless.lua
Due: luacheck

migrate wowless invocation to cmake (#460)
  .vscode/tasks.json
  CMakeLists.txt
  tools/mkninja.lua
  wowless.lua
Due: luacheck

add proper spec deps to test target
  CMakeLists.txt
Due: none

migrate frame0 to cmake
  CMakeLists.txt
  tools/mkninja.lua
  tools/render.lua
  wowless.lua
  wowless/runner.lua
Due: luacheck

migrate frame0 to cmake (#461)
  CMakeLists.txt
  tools/mkninja.lua
  tools/render.lua
  wowless.lua
  wowless/runner.lua
Due: luacheck

force _GNU_SOURCE only where necessary
  CMakeLists.txt
  tools/mkninja.lua
Due: luacheck

retire mkninja, fixes #351
  .gitignore
  .pre-commit-config.yaml
  .vscode/tasks.json
  CMakeLists.txt
  CMakePresets.json
  README.md
  bin/run.sh
  tools/mkninja.lua
Due: luacheck

retire mkninja, fixes #351 (#462)
  .gitignore
  .pre-commit-config.yaml
  .vscode/tasks.json
  CMakeLists.txt
  CMakePresets.json
  README.md
  bin/run.sh
  tools/mkninja.lua
Due: luacheck

remove old policy, irrelevant without ninja prefix
  CMakeLists.txt
Due: none

build all in pre-commit
  .pre-commit-config.yaml
Due: none

gha: build/test with preset
  .github/workflows/test.yml
Due: none

sdlplay
  CMakeLists.txt
  tools/sdlplay.c
  vcpkg.json
Due: none

enable png support for sdl3-image
  vcpkg.json
Due: none

bump wow_classic_era to 1.15.7.62797
  data/products/wow_classic_era/apis.yaml
  data/products/wow_classic_era/build.yaml
  tools/docs.lua
Due: luacheck, yamlfmt

bump wow_classic_ptr to 5.5.1.62856
  data/products/wow_classic_ptr/apis.yaml
  data/products/wow_classic_ptr/build.yaml
  data/products/wow_classic_ptr/cvars.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/events.yaml
  data/products/wow_classic_ptr/globals.yaml
  data/products/wow_classic_ptr/structures.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/schemas/doctable.yaml
Due: yamlfmt

bump wow to 11.2.0.62876
  data/products/wow/build.yaml
Due: yamlfmt

fix wow_classic_ptr doc spec
  data/products/wow_classic_ptr/docs.yaml
Due: yamlfmt

avoid sdl3-image for now
  CMakeLists.txt
  tools/sdlplay.c
  vcpkg.json
Due: none

start sdlrender
  CMakeLists.txt
  tools/sdl.c
  tools/sdlrender.lua
Due: luacheck

can load everything i think
  tools/sdl.c
  tools/sdlrender.lua
Due: luacheck

rewrite
  tools/sdl.c
  tools/sdlrender.lua
Due: luacheck

should work but no
  tools/sdl.c
  tools/sdlrender.lua
Due: luacheck

needed present too
  tools/sdl.c
  tools/sdlrender.lua
Due: luacheck

disable default features for sdl3
  vcpkg.json
Due: none

blendmodes
  tools/sdl.c
  tools/sdlrender.lua
Due: luacheck

more blend mode foo
  tools/sdl.c
  tools/sdlrender.lua
Due: luacheck

render geometry
  tools/sdl.c
  tools/sdlrender.lua
Due: luacheck

skip all the sdl stuff on linux for now
  CMakeLists.txt
  vcpkg.json
Due: none

remove sdlplay.c
  CMakeLists.txt
  tools/sdlplay.c
Due: none

texcoords
  tools/sdlrender.lua
Due: luacheck

geometry indices
  tools/sdl.c
  tools/sdlrender.lua
Due: luacheck

skip blend modes for now
  tools/sdlrender.lua
Due: luacheck

introduce an SDL renderer
  CMakeLists.txt
  tools/sdl.c
  tools/sdlrender.lua
  vcpkg.json
Due: luacheck

render vertex colors
  CMakeLists.txt
  tools/sdlrender.lua
Due: luacheck

bump wow_classic_era to 1.15.7.62915
  data/products/wow_classic_era/build.yaml
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt

bump wowt to 11.2.5.62940
  data/products/wowt/apis.yaml
  data/products/wowt/build.yaml
  data/products/wowt/cvars.yaml
  data/products/wowt/globals.yaml
  data/products/wowt/structures.yaml
  data/products/wowt/uiobjects.yaml
Due: yamlfmt

bump wow to 11.2.0.62958
  data/products/wow/build.yaml
  data/products/wow/uiobjects.yaml
Due: yamlfmt

bump wow_classic to 5.5.0.62959
  data/products/wow_classic/build.yaml
  data/products/wow_classic/uiobjects.yaml
Due: yamlfmt

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  addon-chmod: any of: ^addon/
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
