Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

generatexmltest: source fillStyle's default from uiobject field config
  tools/generatexmltest.lua
Due: luacheck

uiobjects: honor drawLayer/templateName in Frame:CreateFontString
  addon/Wowless/test.xml
  data/uiobjectimpl.yaml
  data/uiobjects/Frame/CreateFontString.lua
Due: luacheck, yamlfmt

uiobjects: honor drawLayer/templateName in Frame:CreateFontString (#752)
  addon/Wowless/test.xml
  data/uiobjectimpl.yaml
  data/uiobjects/Frame/CreateFontString.lua
Due: luacheck, yamlfmt

xml: forbid method attribute impls that are trivial setters
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  spec/data/xml_spec.lua
Due: luacheck, yamlfmt

xml_spec: nest per-element checks under describe blocks
  spec/data/xml_spec.lua
Due: luacheck

xml: forbid method attribute impls that are trivial setters (#754)
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  spec/data/xml_spec.lua
Due: luacheck, yamlfmt

uiobjects: add AnimatableObject virtual type to all non-wowt products
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

uiobjects: update SimpleAnimatableObjectAPI to AnimatableObject in all non-wowt docs
  data/products/wow/docs.yaml
  data/products/wow_anniversary/docs.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wowxptr/docs.yaml
Due: yamlfmt

uiobjects: add AnimatableObject virtual type to all non-wowt products (#707)
  data/products/wow/docs.yaml
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/docs.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/docs.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/docs.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/docs.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/docs.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowxptr/docs.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

luaobjects: attach host metatable to host rep table
  wowless/modules/luaobjects.lua
Due: luacheck

time: manipulate funtainer through methods
  data/modules.yaml
  wowless/modules/time.lua
Due: luacheck, yamlfmt

xml: assert method attribute impls resolve to real implementations
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  spec/data/xml_spec.lua
Due: luacheck, yamlfmt

xml: assert method attribute impls resolve to real implementations (#759)
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  spec/data/xml_spec.lua
Due: luacheck, yamlfmt

xml: assert every used scripttype is a ScriptType in xml.yaml
  spec/data/xml_spec.lua
Due: luacheck

xml: assert every used scripttype is a ScriptType in xml.yaml (#761)
  spec/data/xml_spec.lua
Due: luacheck

LUA_WARNINGs go to ScriptErrorsFrame, not UIParent
  addon/Wowless/init.lua
  addon/Wowless/test.lua
Due: luacheck

uiobjects: give CreateUIObject layer/sublevel params, unify layered-region creators
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/Frame/CreateFontString.lua
  data/uiobjects/Frame/CreateLine.lua
  data/uiobjects/Frame/CreateMaskTexture.lua
  data/uiobjects/Frame/CreateTexture.lua
  wowless/modules/api.lua
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

test: add debuglocals output parser
  data/test.yaml
  data/test/debuglocals.lua
Due: luacheck, yamlfmt

test: add debuglocals output parser (#764)
  data/test.yaml
  data/test/debuglocals.lua
Due: luacheck, yamlfmt

uiobjects: guard CreateUIObject's layer/sublevel on SetDrawLayer existing
  wowless/modules/api.lua
Due: luacheck

uiobjects: give CreateUIObject layer/sublevel params, unify layered-region creators (#763)
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/uiobjectimpl.yaml
  data/uiobjects/Frame/CreateFontString.lua
  data/uiobjects/Frame/CreateLine.lua
  data/uiobjects/Frame/CreateMaskTexture.lua
  data/uiobjects/Frame/CreateTexture.lua
  wowless/modules/api.lua
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

gentest: add per-product template test framework for XML attribute coercion
  CMakeLists.txt
  addon/Wowless/generated.lua
  tools/generatexmltest.lua
  tools/gentest.lua
Due: luacheck

generatexmltest: keep the JustifyHorizontal test as-is for now
  tools/generatexmltest.lua
Due: luacheck

gentest: factor uiobjectapis's field/method computation out of ptablemap
  tools/gentest.lua
Due: luacheck

gentest: indent generated templates.xml with newlines
  tools/gentest.lua
Due: luacheck

gentest: add a guaranteed-nonsense negative candidate
  tools/gentest.lua
Due: luacheck

gentest: add per-product template test framework for XML attribute coercion (#767)
  CMakeLists.txt
  addon/Wowless/generated.lua
  tools/gentest.lua
Due: luacheck

uiobjects: implement stubbed scalar getter/setter pairs with field storage
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

era fixes
  data/products/wow_classic_era/uiobjects.yaml
Due: yamlfmt

uiobjects: propagate era init-value/impl fixes to all products
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

uiobjects: fix Cooldown.countdownAbbrevThreshold init value
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

uiobjects: implement stubbed scalar getter/setter pairs with field storage (#769)
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

uiobjects: implement stubbed enum getter/setter pairs with field storage
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

uiobjects: fix ModelScene.lightType init value
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

test: tolerate unspaced '=' in debuglocals dumps
  data/test/debuglocals.lua
Due: luacheck

test: tolerate unspaced '=' in debuglocals dumps (#771)
  data/test/debuglocals.lua
Due: luacheck

uiobjects: implement stubbed enum getter/setter pairs with field storage (#770)
  data/products/wow/uiobjects.yaml
  data/products/wow_anniversary/uiobjects.yaml
  data/products/wow_classic/uiobjects.yaml
  data/products/wow_classic_era/uiobjects.yaml
  data/products/wow_classic_era_ptr/uiobjects.yaml
  data/products/wow_classic_ptr/uiobjects.yaml
  data/products/wowt/uiobjects.yaml
  data/products/wowxptr/uiobjects.yaml
Due: yamlfmt

xml: support enum-typed XML attributes, wire up FontString.scaleAnimationMode
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  tools/gentest.lua
  wowless/modules/xml.lua
Due: luacheck, yamlfmt

xml: support enum-typed XML attributes, wire up FontString.scaleAnimationMode (#774)
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  tools/gentest.lua
  wowless/modules/xml.lua
Due: luacheck, yamlfmt
