Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

luacheck:
  name: luacheck
  entry: luacheck
  language: system

yamlfmt:
  name: wowless yamlfmt
  entry: build/cmake/yamlfmt
  language: system

bump wow_anniversary and wow_classic_era_ptr to 2.5.5.67157
  data/products/wow_anniversary/build.yaml
  data/products/wow_classic_era_ptr/apis.yaml
  data/products/wow_classic_era_ptr/build.yaml
  data/products/wow_classic_era_ptr/cvars.yaml
  data/products/wow_classic_era_ptr/events.yaml
Due: yamlfmt

bump wow_classic to 5.5.3.67158
  data/products/wow_classic/build.yaml
Due: yamlfmt

pre-commit: fix markdownlint Ruby installation failure
  .pre-commit-config.yaml
Due: none

pre-commit: fix markdownlint Ruby installation failure (#610)
  .pre-commit-config.yaml
Due: none

stubs: add luaobject output support for impl stubs
  tools/prep.lua
  wowless/modules/cgencode.lua
  wowless/typecheck.h
Due: luacheck

tools: fix stylua formatting
  tools/prep.lua
Due: luacheck

stubs: add luaobject output support for impl stubs (#609)
  tools/prep.lua
  wowless/modules/cgencode.lua
  wowless/typecheck.h
Due: luacheck

stubs: add uiobject output support for impl stubs
  tools/prep.lua
  wowless/modules/cgencode.lua
  wowless/typecheck.h
Due: luacheck

stubs: add uiobject output support for impl stubs (#611)
  tools/prep.lua
  wowless/modules/cgencode.lua
  wowless/typecheck.h
Due: luacheck

data/test: add ClassicTalents invariant tests
  data/test.yaml
  data/test/ClassicTalents.lua
Due: luacheck, yamlfmt

stubs: add oneornil output support for impl stubs
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

stubs: add oneornil output support for impl stubs (#612)
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

stubs: add outstride output support for impl stubs
  tools/prep.lua
Due: luacheck

prep: fix enum dispatch in impl stub output generation
  tools/prep.lua
Due: luacheck

uiobjects: move type identity to C, lightuserdata at [0]
  CMakeLists.txt
  data/modules.yaml
  tools/prep.lua
  wowless/modules/api.lua
  wowless/modules/loader.lua
  wowless/modules/region.lua
  wowless/modules/scripts.lua
  wowless/modules/uiobjectloader.lua
  wowless/modules/uiobjects.lua
  wowless/modules/uiobjecttypes.lua
  wowless/modules/uiobjmodel.lua
  wowless/uiobject.c
  wowless/uiobject.h
Due: luacheck, yamlfmt

prep: add outstride output support for impl stubs
  tools/prep.lua
Due: luacheck

stubs: add any and unknown impl-side functions to typecheck.h and prep.lua
  tools/prep.lua
  wowless/typecheck.h
Due: luacheck

stubs: add unknown to impl_input_types and impl_output_types
  tools/prep.lua
Due: luacheck

prep: handle instride in impl C-wrapping
  tools/prep.lua
Due: luacheck

stubs: add luaobject to impl_input_types
  tools/prep.lua
  wowless/modules/cgencode.lua
  wowless/typecheck.h
Due: luacheck

stubs: add structure to impl_input_types
  tools/prep.lua
Due: luacheck

stubs: add arrayof to impl_input_types
  tools/prep.lua
Due: luacheck

prep: generate stubcheck functions for all structures
  tools/prep.lua
Due: luacheck

stubs: add structure to impl_output_types
  tools/prep.lua
Due: luacheck

stubs: add arrayof to impl_output_types
  tools/prep.lua
Due: luacheck

stubs: use stub checks for arrayof impl output
  tools/prep.lua
Due: luacheck

util: fix readfile filesystem cache on Windows
  wowless/util.lua
Due: luacheck

cmake: set CMAKE_BUILD_TYPE=Release in default preset
  CMakePresets.json
Due: none

windows: fix userdata tostring pattern to accept no-0x-prefix format
  addon/Wowless/luaobjects.lua
Due: luacheck

windows: fix luaobject __tostring to always produce 0x-prefixed lowercase address
  wowless/modules/luaobjects.lua
Due: luacheck

util: also normalize backslashes in readfile path resolve
  wowless/util.lua
Due: luacheck

windows: fix three platform-specific runtime failures
  tools/yaml2lua.lua
  wowapi/data.lua
  wowless/modules/api.lua
Due: luacheck

gha: add buildpreset job
  .github/workflows/test.yml
Due: none

gha: add buildpreset job (#572)
  .github/workflows/test.yml
  CMakePresets.json
  addon/Wowless/luaobjects.lua
  tools/yaml2lua.lua
  wowapi/data.lua
  wowless/modules/api.lua
  wowless/modules/luaobjects.lua
  wowless/util.lua
Due: luacheck

docs: scope no-period rule to localized commit messages
  CLAUDE.md
Due: none

cmake: drop -O3 and -DNDEBUG from CMAKE_C_FLAGS, implied by Release build type
  CMakePresets.json
Due: none

cmake: drop redundant -O3 and -DNDEBUG from CMAKE_C_FLAGS (#635)
  CMakePresets.json
Due: none

cmake: move fast-math flag into cmake/fast_math.cmake helper
  CMakeLists.txt
  CMakePresets.json
  cmake/fast_math.cmake
Due: none

cmake: inline fast-math flag check into CMakeLists.txt
  CMakeLists.txt
  cmake/fast_math.cmake
Due: none

cmake: inline cross-platform fast-math flag check (#636)
  CMakeLists.txt
  CMakePresets.json
Due: none

Path conditions:
  luacheck: any of: (\.lua|^.luacheckrc)$
  yamlfmt: any of: ^data/ and \.(yaml|yml)$
