Repository wowless/wowless: changes, and which pre-commit hooks are due for each by the changed paths.
All: luacheck, yamlfmt

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: '3.2.1'
  hooks:
  - id: editorconfig-checker
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v2.1.0
  hooks:
  - id: stylua-github
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.6
  hooks:
  - id: clang-format
    types: [c]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args:
    - --shell=bash
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.4.1
  hooks:
  - id: sqlfluff-fix
  - id: sqlfluff-lint
- repo: local
  hooks:
  - id: luacheck
    name: luacheck
    entry: luacheck
    language: system
    types: [file]
    files: (\.lua|^.luacheckrc)$
  - id: cmake-configure
    name: create build system
    entry: cmake --preset default
    language: system
    pass_filenames: false
  - id: build-yamlfmt
    name: build yamlfmt
    entry: cmake --build --preset default --target yamlfmt
    language: system
    pass_filenames: false
  - id: yamlfmt
    name: wowless yamlfmt
    entry: build/cmake/yamlfmt
    language: system
    types: [yaml]
    files: ^data/
  - id: test
    name: build and test
    entry: cmake --build --preset default --target all test
    language: system
    pass_filenames: false
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

filter glue addons in isLoadable
  wowless/modules/loader.lua
Due: luacheck

loader: compute addon loadability upfront
  wowless/modules/loader.lua
Due: luacheck

loader/addons: move addon loading code into addons module
  data/impl.yaml
  data/impl/LoadAddOn.lua
  data/modules.yaml
  wowless/modules/addons.lua
  wowless/modules/loader.lua
  wowless/runner.lua
Due: luacheck, yamlfmt

loader: doLoadAddon takes the addon table
  wowless/modules/loader.lua
Due: luacheck

loader: do all addon resolution up front
  wowless/modules/loader.lua
Due: luacheck

loader: doLoadAddon requires loadable addon
  wowless/modules/loader.lua
Due: luacheck

loader: initial load just iterates on loadables
  wowless/modules/loader.lua
  wowless/runner.lua
Due: luacheck

loader: skip xml completely on forceSecure
  wowless/modules/loader.lua
Due: luacheck

loader: drop forceSecure arg to forAddon call
  wowless/modules/loader.lua
Due: luacheck

loader: bootstrap
  wowless/modules/loader.lua
Due: luacheck

loader: skip bootstrapped files on regular load
  wowless/modules/loader.lua
Due: luacheck

loader: bootstrap gets its own env
  wowless/modules/loader.lua
Due: luacheck

loader: codegen method/field XML attribute application
  tools/prep.lua
  wowless/modules/loader.lua
Due: luacheck

data: xml attribute impls must resolve on their uiobject type
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  spec/data/xml_spec.lua
Due: luacheck, yamlfmt

data: model AnimationGroup per UI.xsd
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
Due: yamlfmt

loader: assert xml attribute methods exist
  wowless/modules/loader.lua
Due: luacheck

prep: validate xml attr impls, emit guard-free appliers
  tools/prep.lua
Due: luacheck

loader: add declarative structure impl for XML data elements
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  tools/prep.lua
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

bump wow to 12.0.7.68453
  data/products/wow/build.yaml
Due: yamlfmt

addon: incorporate elune's scripttest into wowless testing
  .luacheckrc
  CMakeLists.txt
  addon/EluneTest/EluneTest.toc
  addon/EluneTest/case.lua
  spec/wowless/addon_spec.lua
  wowless/modules/loader.lua
  wowless/runner.lua
Due: luacheck

addon: incorporate elune's scripttest into wowless testing (#721)
  .luacheckrc
  CMakeLists.txt
  addon/EluneTest/EluneTest.toc
  addon/EluneTest/case.lua
  spec/wowless/addon_spec.lua
  wowless/modules/loader.lua
  wowless/runner.lua
Due: luacheck

bump wow_anniversary to 2.5.6.68502
  data/products/wow_anniversary/apis.yaml
  data/products/wow_anniversary/build.yaml
  data/products/wow_anniversary/config.yaml
  data/products/wow_anniversary/cvars.yaml
  data/products/wow_anniversary/docs.yaml
  data/products/wow_anniversary/events.yaml
  data/products/wow_anniversary/globals.yaml
  data/products/wow_anniversary/luaobjects.yaml
  data/products/wow_anniversary/structures.yaml
  data/products/wow_anniversary/uiobjects.yaml
Due: yamlfmt

errorhandler: use the name field for "*:" substitution, add tests
  data/modules.yaml
  data/test.yaml
  data/test/errorhandler.lua
  wowless/modules/errorhandler.lua
Due: luacheck, yamlfmt

errorhandler: replicate elune's "*:" object-name substitution
  data/modules.yaml
  spec/wowless/addon_spec.lua
  wowless/modules/errorhandler.lua
Due: luacheck, yamlfmt

errorhandler: fall back to type name for unnamed objects in "*:" substitution
  data/modules.yaml
  data/test/errorhandler.lua
  wowless/modules/errorhandler.lua
Due: luacheck, yamlfmt

errorhandler: replicate elune's "*:" object-name substitution
  data/modules.yaml
  data/test.yaml
  data/test/errorhandler.lua
  spec/wowless/addon_spec.lua
  wowless/modules/errorhandler.lua
Due: luacheck, yamlfmt

loader: remove merge_child, revert Size/Offset/Insets to ad-hoc handlers
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

getfenv: disable bubblewrap taint isolation, closes remaining elune gaps
  data/impl.yaml
  spec/wowless/addon_spec.lua
Due: luacheck, yamlfmt

getfenv: disable bubblewrap taint isolation, closes remaining elune gaps (#725)
  data/impl.yaml
  spec/wowless/addon_spec.lua
Due: luacheck, yamlfmt

loader: give Shadow its own XML handler instead of a ctx-scope flag
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

loader: give Shadow its own XML handler instead of a ctx-scope flag (#727)
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

testaddon: generate actor script test XML from data/scripttypes.yaml
  CMakeLists.txt
  addon/Wowless/test.xml
  tools/generatexmltest.lua
Due: luacheck

testaddon: generate XML test content from Lua data at build time (#728)
  CMakeLists.txt
  addon/Wowless/test.xml
  tools/generatexmltest.lua
Due: luacheck

generatedxmltest: generate from lua table
  tools/generatexmltest.lua
Due: luacheck

testaddon: generate FontString justifyH test from stringenums.yaml
  addon/Wowless/test.xml
  tools/generatexmltest.lua
Due: luacheck

generatexmltest: keep statically-known tags out of generator functions
  tools/generatexmltest.lua
Due: luacheck

loader: generate the Bindings XML element handlers
  CMakeLists.txt
  data/products/wow/xml.yaml
  data/products/wow_anniversary/xml.yaml
  data/products/wow_classic/xml.yaml
  data/products/wow_classic_era/xml.yaml
  data/products/wow_classic_era_ptr/xml.yaml
  data/products/wow_classic_ptr/xml.yaml
  data/products/wowt/xml.yaml
  data/products/wowxptr/xml.yaml
  data/schemas/xml.yaml
  tools/prep.lua
  wowless/modules/loader.lua
Due: luacheck, yamlfmt

generatexmltest: revert actor change, inline FontString generation
  tools/generatexmltest.lua
Due: luacheck
